/******************************************************
   *Variables START
******************************************************/
/******************************************************
   *category section start
******************************************************/
.www-form-filters {
  border-top: 3px solid #dedede;
}
.www-form-filters .www-form-filters-row {
  border-bottom: 1px solid #dedede;
}
.www-form-filters .www-form-filters-row:after {
  content: '';
  display: block;
  position: relative;
  clear: both;
}
.www-form-filters label {
  width: 125px;
  padding-left: 11px;
  display: block;
  float: left;
  padding-top: 10px;
  cursor: auto;
}
.www-form-filters .www-checkbox-radio-list {
  width: 900px;
  float: left;
  list-style: none;
  padding: 0;
  margin: 0;
}
.www-form-filters .www-checkbox-radio-list li {
  float: left;
  min-width: 90px;
  padding: 10px 0;
  margin-bottom: 10px;
  padding-bottom: 0;
}
.www-form-filters .www-checkbox-radio-list li .www-checkbox-radio-custom {
  position: relative;
  display: block;
  cursor: pointer;
}
.www-form-filters .www-checkbox-radio-list li .www-checkbox-radio-custom .www-checkbox-radio-title {
  color: #005aa0;
  cursor: pointer;
}
.www-form-filters .www-checkbox-radio-list li .www-checkbox-radio-custom input {
  zoom: 1;
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  position: absolute;
}
.www-form-filters .www-checkbox-radio-list li .www-checkbox-radio-custom input:checked + .www-checkbox-radio-title {
  color: #c41411;
}
.www-form-filters .www-checkbox-radio-list li.www-input-lists {
  padding-top: 8px;
  margin-bottom: 8px;
  white-space: nowrap;
}
.www-form-filters .www-checkbox-radio-list.www-checkbox-radio-list-wide li {
  width: 150px;
}
.www-form-filters .www-checkbox-radio-list .www-input-filter {
  border: 1px solid #dedede;
  height: 22px;
  width: 42px;
  display: inline-block;
  padding: 5px;
  margin-right: 8px;
}
.www-form-filters .www-checkbox-radio-list .www-input-filter + input {
  margin-left: 8px;
  margin-right: 0;
}
.www-form-filters .www-checkbox-radio-list .www-input-filter:focus {
  outline: 0;
}
.www-form-filters .www-input-button {
  background: #f2f2f2;
  border: 1px solid #dedede;
  height: 22px;
  width: 42px;
}
.www-top-heading-bar-left {
  margin: 0;
  padding: 0;
  float: left;
}
.www-top-heading-bar-left ul {
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
}
.www-top-heading-bar-left ul li {
  float: left;
}
.www-top-heading-bar-left ul li a {
  text-decoration: none;
  color: #666666;
  padding: 15px 20px;
  display: block;
  position: relative;
}
.www-top-heading-bar-left ul li a:hover {
  background-color: #c41411;
  color: #fff;
}
.www-top-heading-bar-left ul li a span {
  margin-left: 5px;
  float: right;
  position: absolute;
  right: 5px;
  top: 22px;
  height: 5px;
  line-height: 0px;
  width: 8px;
}
.www-top-heading-bar-left ul li.active a {
  background-color: #c41411;
  color: #fff;
}
.www-top-heading-bar-right {
  margin: 0;
  padding: 0;
  float: right;
}
.www-top-heading-bar-right p {
  margin: 0;
  padding: 15px 20px 0 0;
  display: inline-block;
  color: #666666;
}
.www-top-heading-bar-right p .active-page {
  color: #c41411;
}
/*--- topbar end ---*/
/*--- products and pagination start ---*/
.www-bottom-category-products-section .www-four-products-row {
  float: left;
  width: 100%;
  margin-bottom: 10px;
}
.www-bottom-category-products-section .www-four-products-row .www-single-product {
  width: 240px;
  padding: 20px;
  border: 1px solid #dedede;
  margin-right: 6px;
}
.www-bottom-category-products-section .www-four-products-row .www-single-product .www-single-product-image {
  width: 100%;
  height: 200px ;
  background-color: #e5e5e5;
}
.www-bottom-category-products-section .www-four-products-row .www-single-product .www-single-product-image img {
  width: 100%;
}
.www-bottom-category-products-section .www-four-products-row .www-single-product h2 {
  color: #c41411;
  font-size: 20px;
  margin: 20px 0 30px;
  line-height: normal;
}
.www-bottom-category-products-section .www-four-products-row .www-single-product h2 span {
  color: #999999;
  font-size: 14px;
  margin-left: 1px;
  margin-right: 1px;
  font-weight: normal;
}
.www-bottom-category-products-section .www-four-products-row .www-single-product p {
  margin: 0;
  font-size: 12px;
  color: #666666;
}
.www-bottom-category-products-section .www-four-products-row .www-single-product p span {
  display: block;
  margin-top: 3px;
}
.www-bottom-category-products-section .www-four-products-row .www-single-product:hover {
  border-color: #c41411;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
}
.www-bottom-category-products-section .www-four-products-row .www-single-product .www-plus-text {
  font-family: 'Verdana';
  font-size: 20px;
}
.www-bottom-category-products-section .www-four-products-row .www-last-product {
  float: right;
  margin-right: 0;
}
.www-bottom-category-products-section .www-category-pagination {
  float: right;
}
.www-bottom-category-products-section .www-category-pagination .sui-pagination ul li a,
.www-bottom-category-products-section .www-category-pagination .sui-pagination ul li span {
  margin-left: 3px;
  margin-right: 3px;
  padding: 10px 17px;
  border-color: #dedede;
  background-color: #f7f7f7;
  color: #666666;
}
.www-bottom-category-products-section .www-category-pagination .sui-pagination ul li span {
  background: transparent;
}
.www-bottom-category-products-section .www-category-pagination .sui-pagination ul li a:hover {
  background: transparent;
  border-color: #fff;
  color: #c41411;
}
.www-bottom-category-products-section .www-category-pagination .sui-pagination ul li.active a {
  background: transparent;
  border-color: #fff;
  color: #c41411;
}
.www-bottom-category-products-section .www-category-pagination .sui-pagination ul li.prev a {
  background: transparent;
}
.www-bottom-category-products-section .www-category-pagination .sui-pagination ul li.prev a:hover {
  border-color: #dedede;
}
.www-bottom-category-products-section .www-category-pagination .sui-pagination ul li.dotted span {
  border: 0;
}
.www-bottom-category-products-section .www-category-pagination .www-total-no-of-pages {
  margin-right: 10px;
  margin-left: 24px;
}
.www-bottom-category-products-section .www-category-pagination div {
  vertical-align: middle;
}
.www-bottom-category-products-section .www-category-pagination div .page-confirm {
  background-color: #f7f7f7;
  color: #666666;
  border-color: #dedede;
  font-size: 12px;
  line-height: 18px;
  padding: 8px 12px;
}
.www-bottom-category-products-section .www-category-pagination div .page-confirm:hover,
.www-bottom-category-products-section .www-category-pagination div .page-confirm:focus,
.www-bottom-category-products-section .www-category-pagination div .page-confirm:active {
  background-color: #c41411;
  border-color: #c41411;
}
.www-bottom-category-products-section .www-category-pagination .www-simple-input-text-field {
  border-radius: 0;
  box-shadow: none;
  padding: 8px;
  height: 37px;
  width: 38px;
  text-align: center;
  margin-left: 2px;
  margin-right: 5px;
}
.www-bottom-category-products-section .www-category-pagination .www-simple-input-text-field:focus {
  border-color: #c41411;
  outline: none;
}
/*--- products and pagination end ---*/
/******************************************************
   *category section end
******************************************************/
