@import "../../common/css/variable";
@import "../../common/css/lesshat";

/******************************************************
   *category section start
******************************************************/

.www-form-filters{
  border-top:3px solid @CartBtnBorder;

  .www-form-filters-row {
    border-bottom:1px solid @CartBtnBorder;
    &:after {
      content: '';
      display: block;
      position: relative;
      clear: both;
    }
  }
  label{
    width: 125px;
    padding-left: 11px;
    display: block;
    float: left;
    padding-top: 10px;
    cursor: auto;
  }
  .www-checkbox-radio-list{
    width: 900px;
    float: left;
    list-style: none;
    padding: 0;
    margin: 0;



    li{
      float: left;
      width: 90px;
      padding: 10px 0;
      margin-bottom: 10px;
      padding-bottom: 0;

      .www-checkbox-radio-custom{
        position: relative;
        display: block;
        cursor: pointer;

        .www-checkbox-radio-title{
          color: @filtersTextColor;
          cursor: pointer;
        }

          input{
            opacity: 0;
            height: 100%;
            width: 100%;
            z-index: 1;
            top: 0;
            left: 0;
            position: absolute;

            &:checked{
              & + .www-checkbox-radio-title{
                color: @baseColor;
              }
            }
          }
      }
    }

    &.www-checkbox-radio-list-wide{
        li{
          width: 150px;
        }
    }
  }
}


.www-top-heading-bar-left{
  margin: 0;
  padding: 0;
  float: left;

  ul{
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;

    li{

      float: left;
      a{
        text-decoration: none;
        color:@baseTextColor;
        padding: 15px 20px;
        display: block;
        position: relative;

        &:hover{
          background-color: @baseColor;
          color: @white;
        }
        span{
          margin-left: 5px;
          float: right;
          position: absolute;
          right:5px;
          top: 22px;
          height: 5px;
          line-height: 0px;
          width: 8px;
        }
      }
      &.active a{
        background-color: @baseColor;
        color: @white;
      }
    }
  }
}
.www-top-heading-bar-right{
  margin: 0;
  padding: 0;
  float: right;

  p{
    margin: 0;
    padding:15px 20px 0 0;
    display: inline-block;
    color:@baseTextColor;

    .active-page{
      color:@baseColor;
    }
  }
}
/*--- topbar end ---*/

/*--- products and pagination start ---*/
.www-bottom-category-products-section{

  .www-four-products-row{
    float: left;
    width: 100%;
    margin-bottom: 10px;

    .www-single-product{
      width: 240px;
      padding: 20px;
      border: 1px solid @CartBtnBorder;
      margin-right: 6px;

      .www-single-product-image{
        width: 100%;
        height:200px ;
        background-color:#e5e5e5;

        img{
          width: 100%;
        }
      }

      h2{
        color:@baseColor;
        font-size:@baseFontXLarge;
        margin:20px 0 30px;
        line-height: normal;

        span{
          color:@footerCopyrightTextColor;
          font-size: @baseFontLarge;
          margin-left: 1px;
          margin-right: 1px;
          font-weight: normal;
        }
      }

      p{
        margin: 0;
        font-size: @baseFont;
        color:@baseTextColor;

        span{
          display: block;
          margin-top:3px;
        }
      }
      &:hover{
        border-color: @baseColor;
        cursor: pointer;
        .box-shadow(0px 0px 4px 0px rgba(0, 0, 0, 0.4));
      }
      .www-plus-text{
        font-family: @fontFamilyVeradna;
        font-size: @baseFontXLarge;
      }
    }

    .www-last-product{
      float: right;
      margin-right: 0;
    }
  }

  .www-category-pagination{
    float: right;

    .sui-pagination

    ul

    li{

      a, span{
        margin-left: 3px;
        margin-right: 3px;
        padding: 10px 17px;
        border-color: @CartBtnBorder;
        background-color: @sideBarHover;
        color:@baseTextColor;
      }
      span{
        background: @backgroundColorTransparent;
      }
      a:hover{
        background: @backgroundColorTransparent;
        border-color:@white;
        color: @baseColor;
      }

      &.active{
        a {
          background: @backgroundColorTransparent;
          border-color:@white;
          color: @baseColor;
        }
      }
      &.prev{
        a {
          background: @backgroundColorTransparent;

          &:hover{
            border-color: @CartBtnBorder;
          }
        }
      }
      &.dotted span{
        border: 0;
      }

    }
    .www-total-no-of-pages{
      margin-right:10px;
      margin-left: 24px;
    }

    div{
      vertical-align: middle;
      .page-confirm{
        background-color:@subFooterBG;
        color:@baseTextColor;
        border-color: @CartBtnBorder;
        font-size: 12px;
        line-height: 18px;
        padding: 8px 12px;

        &:hover, &:focus, &:active{
          background-color:@baseColor;
          border-color: @baseColor;
        }
      }
    }
    .www-simple-input-text-field{
      border-radius: 0;
      box-shadow: none;
      padding: 8px;
      height: 37px;
      width: 38px;
      text-align: center;
      margin-left: 2px;
      margin-right: 5px;
      &:focus{
        border-color:@baseColor;
        outline: none;
      }
    }
  }
}
/*--- products and pagination end ---*/

/******************************************************
   *category section end
******************************************************/


/*------ variable css--------*/
@backgroundColorTransparent:transparent;


/*------ global css--------*/




