@import "../../common/css/variable";
@import "../../common/css/lesshat";

/*feedback start*/
.www-feedback-outr{
  margin-top:20px ;
  padding: 10px;
  margin-bottom: 40px;

  .www-feedback-white-inner-portion{
    background-color: @white;
    padding: 15px 40px 30px;
    .border-radius(12px);

    .www-feedback-top-textarea{
        display: inline-block;
        padding-bottom: 15px;
        border-bottom: 1px solid @avgBorderColor;
        .www-feedback-form{
          display: inline-block;
          margin-bottom: 0;

          label{
            color: @baseTextColorDark;
            margin: 0;
            font-size: @baseFont;
            line-height: normal;
            vertical-align: top;
            text-align: left;
            width: auto;
            padding-left: 8px;
          }

          textarea{
            width: 1000px;
            height: 142px;
            margin-left:25px;
            border:1px solid @darkBorderColor;
            padding: 10px;
            font-family: @fontFamilyVeradna;
            resize: none;
            border-radius: 0;
            .box-shadow(none);
          }

          .btn-primary{
            margin-top: 0px;
            padding:8px 19px;
            border-radius: 0;
            background-color: @baseColor;
            border-color:@baseColor ;
            &:hover{
              background-color: @baseColor;
              border-color:@baseColor ;
            }
          }
          .margin-bottom{
            margin-bottom: 0;
          }
        }
    }

    .www-customer-service{
        margin-top: 13px;
        display: inline-block;
        width: 100%;
        padding-left: 8px;
      span{
        font-size: @baseFontLarge;
        color: @baseTextColorDark;
        width: 270px;
        padding-right: 5px;
        display: inline-block;
        }

      .www-second-span{
        width: 240px;
        float: none;
      }
    }

    .www-bright-heading{
      font-size: 18px;
      color: @baseTextColorDark;
      margin-top: 0;
      font-weight: bold;
      border-bottom: 1px solid @darkBorderColor;
      padding-bottom: 8px;
      padding-left: 20px;
      line-height: 18px;
    }

  }
  a{
    color: @filtersTextColor;
    text-decoration: underline;
  }
}
.www-feeback-outr-height{
  min-height: 390px;
}
.www-feedback-header{
  h3{
    font-size: 24px;
    font-weight: normal;
    color: #333333;
    margin-bottom: 0;
    padding-top: 21px;
  }
}
/*feedback end*/

