@import "../../common/css/variable";
@import "../../common/css/lesshat";

.header-base-color .bar-title {
    color: #fff;
    font-size: 1.796875rem;
    font-weight: 400;
    margin: 1.890625rem 0;
    padding-left: 3.390625rem;
    width: 95%;
}
#top {
  background: #fff;
  .top-bar {
    padding-top: 112/@baseRem;
    padding-left: 73/@baseRem;
    font-size: 80/@baseRem;
    color: @baseColorDark;
    span {
      font-size: 50/@baseRem;
      + span {
        font-size: 1.925rem;
    color: #666666;
    padding-top: 0.9rem;
      }
    }
  }
  .divider {
        margin-top: 4.296875rem;
    border: 2px solid #d7d7d7;
    padding: 1.3rem 0;
    background: #f3f5f7;
    margin-bottom: 1.9921875rem;
    border-left: 0px solid;
    border-right: 0px solid;
  }
  ul {
    list-style: none;
    padding: 0;
    li {
      font-size: 1.825rem;
      padding-top: 27/@baseRem;
      padding-bottom: 21/@baseRem;
      border-bottom: 2px solid #d7d7d7;
      padding-left: 50/@baseRem;

      color: #666666;
      &:first-child {
        color: #222222;
        font-size: 46/@baseRem;
        padding-bottom: 50/@baseRem;
        border-bottom: 2px solid #d7d7d7;
        padding-left: 50/@baseRem;
        span {
          color: #999999;
          padding-right: 57/@baseRem;
          font-size: 1.725rem;
        }
      }
      span.amount {
        font-size: 1.725rem;
        color: #c41411;
        padding-top: 36/@baseRem;
        padding-right: 57/@baseRem;
        padding-bottom:2rem;
      }
      span.center-block{
         font-size: 1.725rem;
         padding-top: 1rem;
      }

    }

  }
}