/******************************************************
   *Variables START
******************************************************/
.header-base-color ~ .content {
  padding-top: 2.33rem;
}
.www-products-container {
  background: #fff;
  margin: 0;
  padding: .5rem;
  border-bottom: 1px solid #e8e8e8;
  border-top: 1px solid #e8e8e8;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0.25rem;
}
.www-products-container .www-block-title {
  font-weight: normal;
  font-size: 0.42rem;
  margin-top: 0;
  margin-bottom: 0.4rem;
}
.www-products-container .www-custom-row {
  border-top: 0.15rem solid #f7f7f7;
}
.www-products-container .www-custom-row.www-border-small {
  border-top-width: 2px;
}
.www-products-container .www-product-col h2 {
  font-weight: bold;
  font-size: 0.4rem;
  margin-top: 0.3rem;
  margin-bottom: 0;
}
.www-products-container .www-product-col h3 {
  font-size: 0.36rem;
  margin-top: 0;
  color: #999999;
  font-weight: 400;
  margin-bottom: 0;
}
.www-products-container .www-product-col + .www-product-col {
  border-left: 0.15rem solid #f7f7f7;
  margin-left: 2%;
}
.www-products-container .www-product-col:nth-child(1) {
  padding-right: 0.15rem;
}
.www-products-container .www-product-col:nth-child(1) h2 {
  color: #c41411;
}
.www-products-container .www-product-col:nth-child(2) h2 {
  color: #39af6f;
}
.www-products-container .www-product-col:nth-child(3) h2 {
  color: #2eafdf;
}
.www-products-container .www-product-col .www-product-title {
  color: #333333;
  font-size: 0.41rem;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0.45rem;
  min-height: 1.22rem;
}
.www-products-container .www-product-col .www-product-price {
  font-size: 0.4rem;
  color: #c41411;
  font-weight: normal;
  margin: 0;
}
.www-products-container .www-large-products {
  border-top: 0.1rem solid #f7f7f7;
}
.www-products-container .www-large-products .www-product-col {
  padding: 0.2rem;
}
.www-products-container .www-large-products .www-product-col:nth-child(1) {
  padding-left: 0;
  padding-right: 0.55rem;
}
.www-products-container .www-large-products .www-product-col + .www-product-col {
  border-left: 0.1rem solid #f7f7f7;
  position: relative;
}
.www-products-container .www-large-products .www-product-col + .www-product-col .new-sticker {
  position: absolute;
  top: 0;
  left: 0;
  width: 1rem;
}
.www-products-container.www-products-container-flat .text-left {
  text-align: left;
}
.www-products-container.www-products-container-flat .www-product-col h2 {
  font-weight: 400;
  color: #333333;
}
.www-products-container.www-products-container-flat .www-product-col h3.margin-bottom {
  margin-bottom: 60px;
}
.www-products-container.www-products-container-flat .www-product-col + .www-product-col {
  border-left: 0;
}
.www-products-container hr {
  border-top: 0.15rem solid #f7f7f7;
  margin: 0 -0.5rem;
}
.www-products-container hr.www-meduim {
  border-top-width: 0.1rem;
}
#top .buttons-tab a.button {
  font-size: 0.7rem;
  padding: 0.88rem 0rem 0;
  display: inline-block;
  height: auto;
  color: #666666;
  border-color: #d7d7d7;
  font-weight: normal;
}
#top .buttons-tab a.button.active {
  color: #c41411;
  border-color: #c41411;
  font-weight: normal;
  background-color: #fff;
}
#top ul {
  padding: 0;
  list-style-type: none;
  line-height: 0.46rem;
  margin: 0 -0.5rem;
}
#top ul li {
  font-size: 0.7rem;
  color: #666666;
  border-bottom: 1px solid #d7d7d7;
  padding: 0.4rem 0.5rem;
}
#top ul li span {
  color: #c41411;
  font-size: 0.7rem;
  padding-top: 0.18rem;
}
#top ul li span + span {
  font-size: 0.7rem;
  color: #666666;
  padding: 0;
  margin-top: 0.6rem;
}
.user-bottom-fixed-btn {
  background: #f7f7f7;
  color: #fff;
  font-size: 0.7rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  text-align: center;
  min-height: 1.86rem;
  line-height: 1.86rem;
}
.user-bottom-fixed-btn a {
  color: #222222;
  font-size: 0.7rem;
}
