@import "../../common/css/variable";
@import "../../common/css/lesshat";
#top {
  background: #fff;
  .top-bar {
    padding-top: 112/@baseRem;
    padding-left: 73/@baseRem;
    font-size: 80/@baseRem;
    color: @baseColorDark;
    span {
      font-size: 50/@baseRem;
      + span {
        font-size: 36/@baseRem;
        color: #666666;
      }
    }
  }
  .divider {
    margin-top: 110/@baseRem;
    border: 2px solid #d7d7d7;
    padding: 10/@baseRem 0;
    background: #f3f5f7;
    margin-bottom: 51/@baseRem;
  }
  ul {
    list-style: none;
    padding: 0;
    li {
      font-size: 42/@baseRem;
      padding-top: 27/@baseRem;
      padding-bottom: 21/@baseRem;
      border-bottom: 2px solid #d7d7d7;
      padding-left: 50/@baseRem;

      color: #666666;
      &:first-child {
        color: #222222;
        font-size: 46/@baseRem;
        padding-bottom: 50/@baseRem;
        border-bottom: 2px solid #d7d7d7;
        padding-left: 50/@baseRem;
        span {
          color: #999999;
          padding-right: 57/@baseRem;
          font-size: 36/@baseRem;
        }
      }
      span.amount {
        font-size: 1.40625rem;
        color: #c41411;
        padding-top: 36/@baseRem;
        padding-right: 57/@baseRem;
        padding-bottom:2rem;
      }

    }

  }
}