/******************************************************
   *Variables START
******************************************************/
#top {
  background: #fff;
  padding-top: 2.33rem;
}
#top .top-bar {
  padding-top: 1.82rem;
  padding-left: 0.73rem;
  font-size: 0.8rem;
  color: #b0120f;
}
#top .top-bar span {
  font-size: 0.7rem;
}
#top .top-bar span + span {
  font-size: 0.7rem;
  color: #666666;
  padding-top: 0.5rem;
}
#top .divider {
  margin-top: 1.1rem;
  border: 0.02rem solid #d7d7d7;
  padding: 0.1rem 0;
  background: #f3f5f7;
  margin-bottom: 0.51rem;
}
#top ul {
  list-style: none;
  padding: 0;
}
#top ul li {
  font-size: 0.7rem;
  padding-top: 0.27rem;
  padding-bottom: 0.21rem;
  border-bottom: 2px solid #d7d7d7;
  padding-left: 0.5rem;
  color: #666666;
}
#top ul li:first-child {
  color: #222222;
  font-size: 0.7rem;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #d7d7d7;
  padding-left: 0.5rem;
}
#top ul li:first-child span {
  color: #999999;
  padding-right: 0.57rem;
  font-size: 0.7rem;
}
#top ul li span.amount {
  font-size: 0.7rem;
  color: #c41411;
  padding-top: 0.36rem;
  padding-right: 0.57rem;
  padding-bottom: 2rem;
}
