@import "../../common/css/variable";
@import "../../common/css/lesshat";


.header-base-color .bar-title {
    color: #fff;
    font-size: 1.796875rem;
    font-weight: 400;
    //margin: 1.890625rem 0;
    //padding-left: 3.390625rem;
    width: 95%;
}
.content{
  padding-top: 135/@baseRem;
}

#top{
  ul.first-row{
    list-style-type: none;
    background:#fff;
    margin:0;
    padding:0;
    li{
      padding-top: 49/@baseRem;
      padding-left: 40/@baseRem;
      padding-right: 40/@baseRem;
   &:first-child{
     color:#222222;
     font-size: 46/@baseRem;
   }
      &:nth-child(2){
        color:#999999;
        font-size: 40/@baseRem;
      }
      .btn{
        display: block;
        text-align: center;
        background: @baseColorDark;
        color:#fff;
         width:100%;
        padding:115/@baseRem 0;
        font-size: 39.77/@baseRem;

      }
      &:last-child{
        padding-bottom:115/@baseRem;
      }
    }
  }
  .divider{
    border:2px solid #d7d7d7;
    padding:25/@baseRem 0;
    background: #f3f5f7;
    border-left:0;
    border-right:0;
  }
  ul.first-row.second-row{
    padding: 0;
    border-bottom:2px solid #d7d7d7;
    li{
      font-size: 36/@baseRem;
      padding-left: 40/@baseRem;
      color:#999999;
      &:first-child{
        border-bottom: 2px solid #d7d7d7;
        padding-bottom: 47/@baseRem;
        font-size: 46/@baseRem;
        color:#222222;
     }
    }
  }
}