@import "../../common/css/variable";
@import "../../common/css/lesshat";

.content{
  padding-top: 135/@baseRem;
}

.header-base-color .bar-title {
   color: #fff;
    font-size: 1.796875rem;
    font-weight: 400;
    width: 98%;
    padding: 0;
   .right-side-link{
    font-size: 1.925rem;
    line-height: 2.734375rem;
   }
}

.list-block{
  margin-top: 0;

  .item-inner{
    align-items: flex-start;
    font-size: 40/@baseRem;
    padding: 47/@baseRem 50/@baseRem;
    border-bottom: 2px solid @borderColorExtra;

    input,textarea,select{
      font-size: 40/@baseRem;
      color: @fontDarkColor;
    }
    .item-input{
      margin: 2/@baseRem 0;
    }
    .item-title{
      color: @baseTextColor;
      width: 216/@baseRem;
    }
    .user-select-input{
      position: relative;

      span{
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        height: 100%;
        color: @footerTextColor;
        font-size: 45/@baseRem;
      }
    }
  }
  .item-content{
    padding: 0;
  }
}

.user-address-checkbox-row{
  border-top:2px solid @tradeBorderColor;
  border-bottom:2px solid @tradeBorderColor;
  padding: 50/@baseRem;
  font-size: 40/@baseRem;
  color: @baseTextColor;
  margin-bottom: 50/@baseRem;
  background: @white;

  label.label-checkbox{
    input:checked ~ *{
      color: @baseColor;
    }
    i{
      width: 68/@baseRem;
      height: 68/@baseRem;
      .border-radius(50%);
      border: 2px solid ;

      &:after{
        background-size: 30/@baseRem 3.45rem !important;
        top: 0;
        margin: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
      }
    }
    .item-inner{
      margin-left: 35/@baseRem;
    }
  
  }
  
}
.user-label-switch{
    width: 80%;
    border-radius: .8rem;
    height: 3.4375rem;
    display: inline;
    color: #333333;
    margin-top: 1%;
  }
.product-detail-color {
    color: #cccccc;
        font-size: 1.9rem;
}

.popup {
    top: auto;
    height: auto;
    bottom: 0;
    padding-bottom: 1.5625rem;
    
     .content-block {
    padding-top: 0.78125rem;
    padding-left: 1.796875rem;
    padding-right: 1.796875rem;
     p {
    font-size: 1.796875rem;
    color: #222;
    padding-bottom: 0.390625rem;
    margin-top: 0.1953125rem;
}
ul {
    padding: 0;
    list-style: none;
    li {
    font-size: 1.5625rem;
    color: #666666;
    padding-top: 1.953125rem;
    padding-bottom: 1.953125rem;
    border-bottom: 1px solid #d7d7d7;
}
}
li:last-child{
    border-bottom: 0px;
}
}
.content-block-border{
    padding:0;
    margin:0;
    
    ul{
        li.popup-vat-area{
            padding-left:40/@baseRem;
        span.area-padding-rhgt{
            padding-right:60/@baseRem;
        }
        }

    }
}



a {
    text-align: center;
    width: 100%;
    display: inline-block;
    color: #c41411;
    border-top: 1px solid #d7d7d7;
    font-size: 1.9rem;
    padding-top: 2.34375rem;
}
.back-to-prev-btn{
    background-color: #c41411;
    //padding-top:1.34375rem;
    //padding-bottom: 1.34375rem;
    font-size: 1.5625rem;
    width: 100%;
    display: inline-block;
    text-align: center;
    .icon {
    font-size: 2.734375rem;
    line-height: 5.140625rem;
    color: #fff;
    margin-left: 22/@baseRem;
}
        p.popup-top-class{
            text-align: center;
    display: inline-block;
    color: #fff;
    font-size: 1.940625rem;
    margin-left: -5%;
    padding-top: 1.0rem;
        }
    
}
}
.popup-area{
    top: 27.117188rem;
}
.modal-overlay, .popup-overlay, .preloader-indicator-overlay {
    background: rgba(17, 17, 17, 0.5);
}

.list-block .item-inner input, .list-block .item-inner textarea, .list-block .item-inner select{
  font-size:1.9rem;
}