@import "../../common/css/variable";
@import "../../common/css/lesshat";

.header-base-color .bar-title {
    color: #fff;
    font-size: 1.796875rem;
    font-weight: 400;
    margin: 1.890625rem 0;
    padding-left: 3.390625rem;
    width: 92%;
   
}

.content{
  padding-top: 135/@baseRem;
  background: @white;
}

.user-bottom-fixed-btn{
  background: @baseColor;
  color: @white;
  font-size: 50/@baseRem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  text-align: center;

  a{
    display: block;
    color: @white;
    padding:36/@baseRem 50/@baseRem;
     font-size: 50/@baseRem;
  }

  ~ .content{
    padding-bottom: 147/@baseRem;
  }
}
.user-address-empty{
  font-size: 46/@baseRem;
  color: @fontLightColor;
  padding-top: 147/@baseRem;
  line-height: 72/@baseRem;

  a{
    display: block;
    font-size: 36/@baseRem;
    color: @baseAnchorColor;
  }
}

