@import "../../common/css/variable";
@import "../../common/css/lesshat";


.header-base-color .back-to-prev-btn .icon{
  line-height: 336/@baseRem;
}
.header-base-color 
{
  ~ .content{
      padding-top: 357/@baseRem;
}
.bar-title{
  padding: 0;
  font-size: 80/@baseRem;
}
}
.content{
  padding-top: 135/@baseRem;
  background: @white;
}

.user-bottom-fixed-btn{
  background: @baseColor;
  color: @white;
  font-size: 80/@baseRem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  text-align: center;

  a{
    display: block;
    color: @white;
    padding:60/@baseRem 50/@baseRem;
    font-size: 80/@baseRem;
  }

  ~ .content{
    padding-bottom: 147/@baseRem;
  }
}
.user-address-empty{
  font-size: 80/@baseRem;
  color: @fontLightColor;
  padding-top: 147/@baseRem;
  line-height: 72/@baseRem;

  a{
    display: block;
    font-size: 80/@baseRem;
    color: @baseAnchorColor;
    padding-top:60/@baseRem;
  }
}

