/******************************************************
   *Variables START
******************************************************/
.header-base-color .bar-title {
  color: #fff;
  font-size: 1.796875rem;
  font-weight: 400;
  margin: 1.890625rem 0;
  padding-left: 3.390625rem;
  width: 92%;
}
.content {
  padding-top: 5.2734375rem;
  background: #fff;
}
.user-bottom-fixed-btn {
  background: #c41411;
  color: #fff;
  font-size: 1.953125rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  text-align: center;
}
.user-bottom-fixed-btn a {
  display: block;
  color: #fff;
  padding: 1.40625rem 1.953125rem;
  font-size: 1.953125rem;
}
.user-bottom-fixed-btn ~ .content {
  padding-bottom: 5.7421875rem;
}
.user-address-empty {
  font-size: 1.796875rem;
  color: #999999;
  padding-top: 5.7421875rem;
  line-height: 2.8125rem;
}
.user-address-empty a {
  display: block;
  font-size: 1.40625rem;
  color: #005aa0;
}
