@import "../../common/css/variable";
@import "../../common/css/lesshat";



.header-base-color .back-to-prev-btn .icon{
  line-height: 336/@baseRem;
}
.header-base-color 
{
  ~ .content{
      padding-top: 357/@baseRem;
}
}



.list-block{
  margin-top: 0/@baseRem;
  margin-bottom: 130/@baseRem;

  .item-inner{
    align-items: flex-start;
    font-size: 70/@baseRem;
    padding: 47/@baseRem 50/@baseRem;
    border-bottom: 2px solid @borderColorExtra;

    input,textarea,select{
      font-size: 70/@baseRem;
      color: @fontDarkColor;
      
    }
    .item-input{
      margin: 4px 0;
    }
    .item-title{
      color: @baseTextColor;
      margin:90/@baseRem 0;
      font-size: 70/@baseRem;

    }
    .user-select-input{
      position: relative;

      span{
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        height: 100%;
        color: @footerTextColor;
        font-size: 70/@baseRem;
      }
    }
  }
  .item-content{
    padding: 0;
  }
}

.user-address-checkbox-row{
  border-top:2px solid @tradeBorderColor;
  border-bottom:2px solid @tradeBorderColor;
  padding: 50/@baseRem;
  font-size: 70/@baseRem;
  color: @baseTextColor;
  margin-bottom: 50/@baseRem;
  background: @white;

  label.label-checkbox{
    input:checked ~ *{
      color: @baseColor;
    }
    i{
      width: 68/@baseRem;
      height: 68/@baseRem;
      .border-radius(50%);
      border: 2px solid ;

      &:after{
        background-size: 30/@baseRem 3.45rem !important;
        top: 0;
        margin: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
      }
    }
    .item-inner{
      margin-left: 35/@baseRem;
    }
  
  }
  
}
.user-label-switch{
    width: 80%;
    border-radius: 80/@baseRem;
    height: 243/@baseRem;
    display: inline;
    color: #333333;
    

    .order-spec-text-changed-area{
    margin-top: 4%;
    display: inline-block;
   
    }
     
  }
.product-detail-color {
    color: #cccccc;
    font-size: 80/@baseRem;
     margin-top: 4%;
      display: inline-block;
}

.popup {
    top: auto;
    height: auto;
    bottom: 0;
    padding-bottom: 1.5625rem;
    
     .content-block {
    padding-top: 78/@baseRem;
    padding-left: 1.7/@baseRem;
    padding-right: 1.7/@baseRem;
     p {
    font-size: 70/@baseRem;
    color: #222;
    padding-bottom: 39/@baseRem;
    margin-top: 19/@baseRem;
}
ul {
    padding: 0;
    list-style: none;
    li {
    font-size: 70/@baseRem;
    color: #666666;
    padding-top: 90/@baseRem;
    padding-bottom: 90/@baseRem;
    border-bottom: 1px solid #d7d7d7;
}
}
li:last-child{
    border-bottom: 0px;
}
}
.content-block-border{
    padding:0;
    margin:0;
    
    ul{
        li.popup-vat-area{
            padding-left:40/@baseRem;
        span.area-padding-rhgt{
            padding-right:60/@baseRem;
        }
        }

    }
}



a {
    text-align: center;
    width: 100%;
    display: inline-block;
    color: #c41411;
    border-top: 1px solid #d7d7d7;
    font-size: 110/@baseRem;
    padding-top: 134/@baseRem;
}
.back-to-prev-btn{
    background-color: #c41411;
    padding-top:134/@baseRem;
    padding-bottom: 134/@baseRem;
    font-size: 70/@baseRem;
    width: 100%;
    display: inline-block;
    text-align: center;
    .icon {
    font-size: 73/@baseRem;
    line-height: 40/@baseRem;
    color: #fff;
    margin-left: 22/@baseRem;
}
        p.popup-top-class{
        //margin: 0;
        text-align: center;
        display: inline-block;
        color:#fff;
        //font-size:42/@baseRem;
        //margin-left:-1%;
        }
    
}
}
.popup-area{
    top: 40%;
}
.modal-overlay, .popup-overlay, .preloader-indicator-overlay {
    background: rgba(17, 17, 17, 0.5);
}


@media screen and (min-width:769px) and (max-width:1024){
  .user-label-switch{
    margin-top:3%;
  }
}