//Import all variables
@import "../../common/css/variable";
@import "../../common/css/lesshat";

.header-base-color .bar-title {
    color: #fff;
    font-size: 1.796875rem;
    font-weight: 400;
    /* margin: 1.890625rem 0; */
    padding-left: 0rem;
    width: 100%;
    text-align: center;
    display: inline-block
   
}
.content{
  background: #f3f5f7;
}
.content-block{
  padding: 151/@baseRem 50/@baseRem;
  margin: 0;

  input[type=text]{
    font-size: 40/@baseRem;
    border: 2px solid @borderColorExtra;
    .border-radius(4px);
    padding: 35/@baseRem 24/@baseRem;
    vertical-align: top;
    .calc(width,~'100% - 14.921875rem');
    background: @white;

    .placeholder(@footerTextColor);
  }
  input[type=submit]{
    font-size: 40/@baseRem;
    .border-radius(4px);
    padding: 31/@baseRem 24/@baseRem;
    vertical-align: top;
    background: @baseColor;
    color: @white;
    border: 2px solid @baseColor;
    width: 332/@baseRem;
    margin-left: 50/@baseRem;
  }
}

.user-exchange-link{
  display: inline-block;
  vertical-align: middle;
  color: @fontMediumDark;
  font-size: 40/@baseRem;
  margin-top: 100/@baseRem;

  img{
    vertical-align: middle;
    width: 48/@baseRem;
  }
}

.user-activation-msg{
  background: fadeout(#000,20%);
  color: @white;
  font-size: 42/@baseRem;
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 0;
  padding: 92/@baseRem 50/@baseRem;
  .border-radius(4px);
  right: 0;
  margin: 0 auto;
  width: 688/@baseRem;
  text-align: center;
  .calc(top,~'50% - 4.84375rem');
}