//Import all variables
@import "../../common/css/variable";
@import "../../common/css/lesshat";

.header-base-color .back-to-prev-btn .icon{
  line-height: 336/@baseRem;
}

.header-base-color 
{
  ~ .content{
      padding-top: 357/@baseRem;
}
}
.content{
  background: #f3f5f7;
}
.content-block{
  padding: 151/@baseRem 50/@baseRem;
  margin: 0;

form{
  text-align: center;
  input[type=text]{
    font-size: 70/@baseRem;
    border: 2px solid @borderColorExtra;
    .border-radius(4px);
    padding:60/@baseRem 24/@baseRem;
    vertical-align: top;
    //.calc(width,~'100% - 14.921875rem');
     width: 60%;

    background: @white;

    .placeholder(@footerTextColor);
  }
  input[type=submit]{
    font-size: 70/@baseRem;
    .border-radius(4px);
    padding: 50/@baseRem 24/@baseRem;
    vertical-align: top;
    background: @baseColor;
    color: @white;
    border: 2px solid @baseColor;
    width: 632/@baseRem;
    margin-left: 50/@baseRem;
  }
}
}

.user-exchange-link{
  display: inline-block;
  vertical-align: middle;
  color: @fontMediumDark;
  font-size: 70/@baseRem;
  margin-top: 100/@baseRem;
  position: relative;
  left:-230/@baseRem;

  img{
    vertical-align: middle;
    width: 48/@baseRem;
  }
}

.user-activation-msg{
  background: fadeout(#000,20%);
  color: @white;
  font-size: 42/@baseRem;
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 0;
  padding: 92/@baseRem 50/@baseRem;
  .border-radius(4px);
  right: 0;
  margin: 0 auto;
  width: 688/@baseRem;
  text-align: center;
  .calc(top,~'50% - 4.84375rem');
}

@media screen and (min-width:320px)  and (max-width:765px)
{
  .user-exchange-link{
    left:0;
  }
}