@import "../../common/css/variable";
@import "../../common/css/lesshat";

.header-base-color {
  .bar-title{
    color: #fff;
    font-size: 1.796875rem;
    font-weight: 400;
   // margin: 1.890625rem 0;
    padding-left: 0rem;
  }
  .right-side-link{
    font-size: 1.796875rem;
    line-height: 3.1rem;
  }
}

.user-goods-products-container{
  background: @white;
  margin: 0;
  padding: .5rem;
  border-bottom: 1px solid @borderColor;
  border-top: 1px solid @borderColor;
  margin-top: 0;
  padding-top:0;
  padding-bottom: 0/@baseRem;

  .user-goods-block-title{
    font-weight: normal;
    font-size: 42/@baseRem;
    margin-top: 0;
    margin-bottom: 40/@baseRem;
  }
  .user-goods-custom-row{
    border-top: 15/@baseRem solid @borderColorLight;

    &.www-border-small{
      border-top-width: 2px;
    }
  }

  .user-goods-product-col{
    h2{
      font-weight: bold;
      font-size: 40/@baseRem;
      margin-top: 30/@baseRem;
      margin-bottom: 0;
    }
    h3{
      font-size: 36/@baseRem;
      margin-top: 0;
      color: @fontLightColor;
      font-weight: 400;
      margin-bottom: 0;
    }

    & + .user-goods-product-col{
      border-left: 15/@baseRem solid @borderColorLight;
      margin-left:2%;
    }

    &:nth-child(1){
      padding-right: 15/@baseRem;
      h2{
        color: @baseColor;
      }
    }
    &:nth-child(2){
      h2{
        color: @baseGreenColor;
      }
    }
    &:nth-child(3){
      h2{
        color: @baseBlueColor;
      }
    }

    .user-goods-product-title{
     color: #333333;
    font-size: 1.5015625rem;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 1.7578125rem;
    min-height: 4.765625rem;
    line-height: 2.1rem;
    }
    .user-goods-product-price{
      font-size: 40/@baseRem;
      color: @baseColor;
      font-weight: normal;
      margin: 1rem 0;
    }
  }

  .user-goods-large-products{
    border-top: 10/@baseRem solid @borderColorLight;

    .user-goods-product-col{
      padding: 20/@baseRem;

      &:nth-child(1){
        padding-left: 0;
        padding-right: 55/@baseRem;
      }

      & + .user-goods-product-col {
        border-left: 10/@baseRem solid @borderColorLight;
        position: relative;
        .user-new-sticker{
          position: absolute;
          top:0;
          left:0;
          width:100/@baseRem;
        }
      }
    }
  }

  &.www-products-container-flat{
    .text-left{
      text-align: left;
    }


    .user-goods-product-col{
      h2{
        font-weight: 400;
        color: @fontDarkColor;
      }
      h3.margin-bottom{
        margin-bottom: 60px;
      }

      & + .www-product-col{
        border-left: 0;
      }

    }
  }

  hr{
    border-top: 15/@baseRem solid @borderColorLight;
    margin: 0 -.5rem;

    &.www-meduim{
      border-top-width: 10/@baseRem;
    }
  }
}
.buttons-tab{

  a.button{
    font-size: 46/@baseRem;
    padding: 44/@baseRem 30/@baseRem ;
    display: inline-block;
    height: auto;
    color: @baseTextColor;
    border-color: @tradeBorderColor;
    font-weight: normal;

    &.active{
      color: @baseColor;
      border-color: @baseColor;
      font-weight: normal;
      background-color:#fff;
    }
  }
}

