@import "../../common/css/variable";
@import "../../common/css/lesshat";


.content{
    .trade-recharge-number-main{
        border-bottom: 2px solid #d7d7d7;
   .trade-recharge-number{
       text-align: center;
       padding-top:75/@baseRem;
       padding-bottom: 75/@baseRem;
       span{
           font-size:72/@baseRem;
           color:#cccccc;
           
       }
      
   }
   .trade-recharge-imges{
       text-align: center;
        padding-top:75/@baseRem;
       padding-bottom: 75/@baseRem;
       img{
           width:80/@baseRem;
           height:80/@baseRem;
           float: right;
           margin-right:50/@baseRem;

       }
   }
    }
    .trade-custom-css{
border-top:12/@baseRem solid #f7f7f7;
border-bottom: 1px solid #f7f7f7;


    .trade-recharge-number-main-1{
        border-top:1px solid #d7d7d7;
            background-color: #fff;
        .trade-recharge-yen5{
            text-align: center;
            padding:80/@baseRem;
            span{
                font-size:48/@baseRem;
                color:#cccccc;
            }

        }
        .trade-recharge-yen10{
            border-left:5/@baseRem solid #f7f7f7;
            
            text-align: center;
            padding:80/@baseRem;
            span{
                font-size:48/@baseRem;
                color:#cccccc;
            }

        }
        .trade-recharge-yen20{
             border-left:5/@baseRem solid #f7f7f7;
            
            text-align: center;
            padding:80/@baseRem;
            span{
                font-size:48/@baseRem;
                color:#333333;
            }

        }
    }
    }
    .trade-recharge-total{
        border-top:5/@baseRem solid #f7f7f7;
            background-color: #fff;
        
       .trade-recharge-yen30 {
           text-align: center;
            padding:80/@baseRem;
           span{
                font-size:48/@baseRem;
                color:#333333;
           }

        }
        .trade-recharge-yen50 {
           text-align: center;
            border-left:5/@baseRem solid #f7f7f7;
            //border-top:5/@baseRem solid #c41411;
            padding:80/@baseRem;
            
           span{
                font-size:48/@baseRem;
                color:#333333;
           }
           

        }
        .active{
               border:2px solid #c41411;
               span{
                   color:#c41411;

               }
           }
        .trade-recharge-yen100 {
           text-align: center;
            padding:80/@baseRem;
            border-left:5/@baseRem solid #f7f7f7;
           
           span{
                font-size:48/@baseRem;
                color:#333333;
           }

        }
    }
}

.main-bar{
    height: auto;
    background: #fff;
    border-top: 2px solid #ededed;
    width:100%;
    
    .www-custom-width{
            width: 70%;
    float: left;
   
    .tab-label-mobile-recharge{
           padding: 0;
    list-style: none;
    float: right;
    text-align: right;
    width: 45%;
       li{
           color:#c41411;
           font-size:42/@baseRem;
           padding:10/@baseRem;
           float:left;
       } 

    
    }
    }
    .external-fourth {
    
    background-color: #ce0000;
    height: 5.46875rem;
    width: 30%;
    
    float: right;
    .tab-label-buy-now {
    color: #fff;
    font-size: 1.953125rem;
    vertical-align: middle;
    padding: 1.09375rem 0px 0 0rem;
    float: left;
    width: 100%;
    text-align: center;

}
    }
}


/* -----------------------------------------------
 * Mobile Recharge-2 Start
 * --------------------------------------------- */

.content{
.trade-recharge-number-main{
    .trade-recharge-number-changed{
 span.trade-mobile-recharge-number{
           color:#333;
           font-size:72/@baseRem;
               position: absolute;
               left:2%;
       }
       label{
           font-size:30/@baseRem;
           color:#666666;
               position: absolute;
    left: 3%;
    top: 12.6%;
       }
    }
}
}


/* -----------------------------------------------
 * Mobile Recharge-2 Ended
 * --------------------------------------------- */

/* -----------------------------------------------
 * Water Electricity_gas Started
 * --------------------------------------------- */
.content{

    .trade-recharge-number-main-1{
        background-color: #fff;
        .trade-recharge-yen5{
            text-align:center;
            padding-top:75/@baseRem;
            
            img{
                width:148/@baseRem;
                height:139/@baseRem;
            }
            span{
                font-size:36/@baseRem;
                padding-bottom: 50/@baseRem;
                color:#333333;
                width: 100%;
                display: inline-block;
                margin-top:62/@baseRem;
            }
        }
        .trade-recharge-yen10{
                border-left: 0.1953125rem solid #f7f7f7;
                text-align:center;
            padding-top:60/@baseRem;
             img{
               width:102/@baseRem;
               height:157/@baseRem;
            }
            span{
                font-size:36/@baseRem;
                padding-bottom: 50/@baseRem;
                color:#333333;
                width: 100%;
                display: inline-block;
                margin-top:62/@baseRem;
            }

        }
         .trade-recharge-yen20{
                border-left: 0.1953125rem solid #f7f7f7;
                text-align:center;
            padding-top:70/@baseRem;
             img{
               width:88/@baseRem;
               height:148/@baseRem;
            }
            span{
                font-size:36/@baseRem;
                padding-bottom: 50/@baseRem;
                color:#333333;
                width: 100%;
                display: inline-block;
                margin-top:62/@baseRem;
            }

        }
    }
}



 /* -----------------------------------------------
 * water_electricity_gas Ended
 * --------------------------------------------- */


  /* -----------------------------------------------
 * Water started
 * --------------------------------------------- */
.content{
    .trade-address-checkbox-row.trade-top-row {
    //margin-top: 1.953125rem;
    padding: 1.171875rem 1.953125rem;
}
.trade-address-checkbox-row {
    
   border-bottom: 5/@baseRem solid #ededed;
    padding: 1.953125rem;
    font-size: 1.5625rem;
    color: #666666;
    //margin-bottom: 1.953125rem;
    background: #fff;
}
.label-switch {
    width:34%;
    border-radius: .8rem;
    height: 3.4375rem;
    display: inline;
    color:#999999;
}
.product-detail-color {
    color: #cccccc;
}
.order-spec-text-changed {
    color:#999;
        margin-left: 5%;
}
img{
    width:60/@baseRem;
    height:60/@baseRem;
}

}
.trade-bottom-fixed-btn {
    background: #dedede;
    color: #fff;
    font-size: 1.953125rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    text-align: center;
    a {
    display: block;
    color: #cccccc;
    padding: 1.40625rem 1.953125rem;
}
}

 /* -----------------------------------------------
 * Water Ended
 * --------------------------------------------- */


 /* -----------------------------------------------
 * Water-2 Start
 * --------------------------------------------- */


.trade-bottom-fixed-btn {
    background: #c41411;
    color: #fff;
    font-size: 1.953125rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    text-align: center;
    a {
    display: block;
    color: #fff;
    padding: 1.40625rem 1.953125rem;
}
}

 /* -----------------------------------------------
 * Water-2 Ended
 * --------------------------------------------- */