//Import all variables
@import "../../common/css/variable";
@import "../../common/css/lesshat";

.content{
  .user-address-checkbox-row{
    border-top:50/@baseRem solid #f3f5f7;
    background-color: #fff;
    border-bottom:50/@baseRem solid #f3f5f7;
    .user-single-text{
      border-top:2px solid #d7d7d7;
      width:100%;
      display: inline-block;
      .myprofile-head{
        padding-top:2.125rem;
        padding-bottom: 2.125rem;
        display: inline-block;
        text-align: left;
        font-size:40/@baseRem;
        padding-left:50/@baseRem;
        color:#333333;
        // width: 50%;

      }
      .user-label-switch{

        display: inline-block;
        text-align: center;
        padding-top:20/@baseRem;
        padding-bottom: 30/@baseRem;
        padding-right:30/@baseRem;
        width: 25%;


        img{
          width:167/@baseRem;
          height:167/@baseRem;
        }
      }
      .profile_second{
        .user-label-text{
          display: inline-block;
          text-align: right;
          padding-top:80/@baseRem;
          padding-bottom: 80/@baseRem;

          font-size:40/@baseRem;
          padding-right:25/@baseRem;
        }

        a.product-detail-color{
          .icon{
            color:#cccccc;
            padding-top:80/@baseRem;
            padding-bottom: 80/@baseRem;
            padding-right: 32/@baseRem;
            font-size:40/@baseRem;
          }
        }
        .user-profile-text{
          position: absolute;
          right: 7%;
        }
      }

    }
    .user-single-second-brdr{
      border-bottom: 2px solid #d7d7d7;
    }
  }
  .user-profile-checkbox-row{
    border-top:0;
  }
  .divider {
    border: 2px solid #d7d7d7;
    padding: 0.9765625rem 0;
    background: #f3f5f7;
    border-left: 0;
    border-right: 0;
  }
  .divider-2{
    border-bottom:0;
  }
  span.pull-right{
    padding:55/@baseRem 0;
    color:#666666;
    font-size: 40/@baseRem;
    position: relative;
    img{
      width: 140/@baseRem;
      vertical-align: middle;
    }
    span.icon{
      color:#cccccc;
      font-size: 30/@baseRem;
      position: absolute;
      right: 3%;
      top: 36%;
    }
  }
  .border-top-0{
    border:0 !important;
  }
  span.first-row{
    padding:0.9rem 0;
  }
}


.user-bottom-fixed-btn {
  background: #c41411;
  color: #fff;
  font-size: 1.953125rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  text-align: center;
  a {
    display: block;
    color: #fff;
    padding: 1.40625rem 1.953125rem;
  }
}


#picker-name{
  border: 0;
  text-align: right;
}
.picker-center-highlight:before,.picker-center-highlight:after{
  height: 2px;
  background: #33b5e5;
}
/* -----------------------------------------------
*my-profile-modify nickname Start
* --------------------------------------------- */
.content{
  .profile-address-checkbox-row{
    border-top:0;
    border-bottom: 2px solid #d7d7d7;

    .user-single-text-new{
      border-top:0;
    }
  }
  .profile-4-20{
    margin-top:56/@baseRem;
    padding-left:55/@baseRem;
    float: left;
    font-size:30/@baseRem;
    color:#999999;
  }

}

.product-detail-dots {
  position: relative;
  top: 1.6625rem;
  right: 1.6796875rem;
  span.icon{
    color:#fff;
    font-size:36/@baseRem;
  }
}

/* -----------------------------------------------
* my-profile-modify nickname Ended
* --------------------------------------------- */


/* -----------------------------------------------
* my-profile-modify Gender Start
* --------------------------------------------- */
.content{
  .product-detail-color-new{
   // padding-top:100/@baseRem;
    //float: left;
    padding-right:55/@baseRem;
    //padding-bottom: 90/@baseRem;
    display: inline-block;
    img{
      width:40/@baseRem;
      height:27/@baseRem;
    }
  }
}

/* -----------------------------------------------
* my-profile-modify Gender Ended
* --------------------------------------------- */


/* -----------------------------------------------
* My Profile Changed Password Start
* --------------------------------------------- */
.content{
  .sso-form{
    .sso-list-block{
      margin:0;
      padding:48/@baseRem;
      ul{
        background-color: transparent;
        li.sso-margin-bottom{
          margin-bottom: 2.0703125rem;

          .sso-text{
            height: 3.125rem;
            color: #333333;
            border-radius: 3px;
            border: 1px solid #dedede;
            background-color: #fff;
            padding-left: 30/@baseRem;



          }
          .input-large{
            width: 50%;
            margin-right: 5%;
            float: left;

          }
          img{
            width: 45%;
            height: 3.125rem;
            float: left;
          }
          .medium {
            border: 1px solid #cccccc;
            padding-top: 0.9765625rem;
            padding-bottom: 1.09375rem;
            display: inline-block;
            height: 3.16914062rem;
            vertical-align: middle;
            color: #333;
            border-radius: 3px;
            width: 45%;
            text-align: center;
            margin-bottom: 0.390625rem;
            background-color:#fff;
          }
        }
      }
    }
  }
}

/* -----------------------------------------------
* My Profile Changed Password Ended
* --------------------------------------------- */



/*------------------------------------
*My Profile Changed Password-2
*-------------------------------*/

.user-scan-pass{
  position: relative;
  margin-top: 52/@baseRem;
  margin-left: 50/@baseRem;
  margin-right: 50/@baseRem;

  input{
    width:100%;
    height:150/@baseRem;
    border:1px solid #dedede;
    .placeholder(#cccccc);
    padding-left: 50/@baseRem;
    font-size: 44/@baseRem;
    border-radius: 4/@baseRem;
  }
  .sso-pass-eye{
    position: absolute;
    right: 50/@baseRem;
    top: 55/@baseRem;
    width:68/@baseRem;
  }
}