/******************************************************
   *Variables START
******************************************************/
.content .user-address-checkbox-row {
  border-top: 1.953125rem solid #f3f5f7;
  background-color: #fff;
  border-bottom: 1.953125rem solid #f3f5f7;
}
.content .user-address-checkbox-row .user-single-text {
  border-top: 2px solid #d7d7d7;
  width: 100%;
  display: inline-block;
}
.content .user-address-checkbox-row .user-single-text .myprofile-head {
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
  display: inline-block;
  text-align: left;
  font-size: 1.5625rem;
  padding-left: 1.953125rem;
}
.content .user-address-checkbox-row .user-single-text .user-label-switch {
  display: inline-block;
  text-align: center;
  padding-top: 0.78125rem;
  padding-bottom: 1.171875rem;
  padding-right: 1.171875rem;
  width: 25%;
}
.content .user-address-checkbox-row .user-single-text .user-label-switch img {
  width: 6.5234375rem;
  height: 6.5234375rem;
}
.content .user-address-checkbox-row .user-single-text .profile_second .user-label-text {
  display: inline-block;
  text-align: right;
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
  font-size: 1.5625rem;
  padding-right: 0.9765625rem;
}
.content .user-address-checkbox-row .user-single-text .profile_second a.product-detail-color .icon {
  color: #cccccc;
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
  padding-right: 1.25rem;
  font-size: 1.5625rem;
}
.content .user-address-checkbox-row .user-single-text .profile_second .user-profile-text {
  position: absolute;
  right: 7%;
}
.content .user-address-checkbox-row .user-single-second-brdr {
  border-bottom: 2px solid #d7d7d7;
}
.content .user-profile-checkbox-row {
  border-top: 0;
}
.user-bottom-fixed-btn {
  background: #c41411;
  color: #fff;
  font-size: 1.953125rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  text-align: center;
}
.user-bottom-fixed-btn a {
  display: block;
  color: #fff;
  padding: 1.40625rem 1.953125rem;
}
/* -----------------------------------------------
 *my-profile-modify nickname Start
 * --------------------------------------------- */
.content .profile-address-checkbox-row {
  border-top: 0;
  border-bottom: 2px solid #d7d7d7;
}
.content .profile-address-checkbox-row .user-single-text-new {
  border-top: 0;
}
.content .profile-4-20 {
  margin-top: 2.1875rem;
  padding-left: 2.1484375rem;
  float: left;
  font-size: 1.171875rem;
  color: #999999;
}
.product-detail-dots {
  position: relative;
  top: 1.6625rem;
  right: 1.6796875rem;
}
.product-detail-dots span.icon {
  color: #fff;
  font-size: 1.40625rem;
}
/* -----------------------------------------------
 * my-profile-modify nickname Ended
 * --------------------------------------------- */
/* -----------------------------------------------
 * my-profile-modify Gender Start
 * --------------------------------------------- */
.content .product-detail-color-new {
  padding-top: 3.90625rem;
  padding-right: 2.1484375rem;
  padding-bottom: 3.515625rem;
}
.content .product-detail-color-new img {
  width: 1.5625rem;
  height: 1.0546875rem;
}
/* -----------------------------------------------
 * my-profile-modify Gender Ended
 * --------------------------------------------- */
/* -----------------------------------------------
 * My Profile Changed Password Start
 * --------------------------------------------- */
.content .sso-form .sso-list-block {
  margin: 0;
  padding: 1.875rem;
}
.content .sso-form .sso-list-block ul {
  background-color: transparent;
}
.content .sso-form .sso-list-block ul li.sso-margin-bottom {
  margin-bottom: 2.0703125rem;
}
.content .sso-form .sso-list-block ul li.sso-margin-bottom .sso-text {
  height: 3.125rem;
  color: #333333;
  border-radius: 3px;
  border: 1px solid #dedede;
  background-color: #fff;
  padding-left: 1.171875rem;
}
.content .sso-form .sso-list-block ul li.sso-margin-bottom .input-large {
  width: 50%;
  margin-right: 5%;
  float: left;
}
.content .sso-form .sso-list-block ul li.sso-margin-bottom img {
  width: 45%;
  height: 3.125rem;
  float: left;
}
.content .sso-form .sso-list-block ul li.sso-margin-bottom .medium {
  border: 1px solid #cccccc;
  padding-top: 0.9765625rem;
  padding-bottom: 1.09375rem;
  display: inline-block;
  height: 3.16914062rem;
  vertical-align: middle;
  color: #333;
  border-radius: 3px;
  width: 45%;
  text-align: center;
  margin-bottom: 0.390625rem;
  background-color: #fff;
}
/* -----------------------------------------------
 * My Profile Changed Password Ended
 * --------------------------------------------- */
