/******************************************************
   *Variables START
******************************************************/
.user-page .user-bar {
  background: #fff;
  height: auto;
  border-bottom: 1px solid #dedede;
}
.user-page .user-icon {
  font-size: 3rem;
  color: #666666;
  position: absolute;
  top: 2rem;
}
.user-page .user-content {
  padding-top: 4.609375rem;
}
.user-page .user-content-block {
  margin: 3.6328125rem 0;
  padding: 0rem;
  margin-bottom: 0;
  background: #fff;
}
.user-page .user-buttons-tab {
  width: 100%;
  text-align: center;
  display: inline-block;
}
.user-page .user-buttons-tab:after {
  background-color: unset;
}
.user-page a {
  padding: 1.6796875rem 1.953125rem;
  color: #666666;
  font-size: 1.640625rem;
  display: inline-block;
}
.user-page a.active {
  color: #c41411;
  border-bottom: 4px solid #c41411;
}
.user-page .user-form {
  border-top: 1px solid #dedede;
}
.user-page .user-content-second {
  padding-top: 4.8046875rem;
}
.user-page .list-block ul:before {
  background-color: unset;
}
.user-page .list-block .item-inner:after {
  background-color: unset;
}
.user-page .tabs .tab .user-title {
  font-size: 1.796875rem;
  width: 99%;
  margin-top: 2.03125rem;
}
.user-page .tabs .tab .user-margin-bottom {
  margin-bottom: 2.0703125rem;
}
.user-page .tabs .tab .user-list-block {
  padding-top: 3.6640625rem;
  padding-left: 0.5859375rem;
  padding-right: 0.5859375rem;
}
.user-page .tabs .tab .user-list-block ul {
  padding: 0.5859375rem;
}
.user-page .tabs .tab .user-text {
  height: 5.859375rem;
  color: #333333;
  border-radius: 3px;
  border: 1px solid #dedede;
  padding-left: 1.953125rem;
  font-size: 1.5625rem;
}
.user-page .tabs .tab .user-button {
  text-align: center;
  width: 100%;
  background-color: #dedede;
  color: #cccccc;
  font-size: 1.5625rem;
}
.user-page .tabs .tab .user-incorrect {
  text-align: center;
  width: 100%;
  background-color: #333333;
  color: #e0e0e0;
  margin-bottom: 0.9765625rem;
  display: none;
  margin-top: 20px;
}
.user-page .tabs .tab .user-captcha-image {
  width: 45%;
  height: 5.859375rem;
}
.user-page .tabs .tab .user-enable {
  background-color: #c41411;
  color: #fff;
}
.user-page .tabs .tab .user-pass-eye {
  position: absolute;
  top: 39%;
  right: 4%;
  width: 2.65625rem;
  height: 1.6015625rem;
}
.user-page .tabs .tab .input-large {
  width: 49%;
  margin-right: 2.0703125rem;
  float: left;
}
.user-page .tabs .tab .medium {
  border: 1px solid #cccccc;
  padding-top: 1.6rem;
  padding-bottom: 1.09375rem;
  display: inline-block;
  height: 5.859375rem;
  vertical-align: middle;
  color: #333;
  border-radius: 3px;
  width: 45%;
  text-align: center;
  margin-bottom: 0.390625rem;
  font-size: 1.5625rem;
}
.user-page .tabs .tab .auto-login {
  font-size: 1.40625rem;
}
.user-page .tabs .tab .user-condition {
  color: #c41411;
  font-size: 1.40625rem;
  padding: 2.109375rem 0rem 0rem 0rem;
}
.user-page .tabs .tab .input-error {
  width: 1.5625rem;
  height: 1.17578125rem;
}
.user-page .tabs .tab .user-customer {
  text-align: right;
  padding: 1.6796875rem 1.953125rem;
  color: #666666;
  font-size: 1.640625rem;
  height: 23.7890625rem;
  width: 100%;
}
.user-page input[type="checkbox"]:checked :before {
  background: #3d404e;
}
.user-page input[type="checkbox"]:checked :after {
  background-color: #c41411;
}
.user-page .user-text ::-webkit-input-placeholder {
  color: #cccccc;
}
.user-page .list-block ul:after {
  background-color: transparent;
}
.popup-create {
  top: 10%;
  width: 90%;
  height: 74%;
  left: 5%;
  background-color: #f7f7f7;
}
.popup-create p {
  text-align: center;
  font-size: 1.640625rem;
  color: #333333;
}
.popup-create .content-block {
  width: 90%;
  float: left;
  margin: 0;
  background-color: #fff;
  padding: 1.953125rem;
  margin-left: 5%;
}
.popup-create .content-block span {
  font-size: 1.171875rem;
  color: #666666;
  line-height: 1.953125rem;
  margin-bottom: 10px;
  float: left;
}
.popup-create a.close-popup {
  font-size: 1.171875rem;
  color: #666666;
  border: 2px solid #dedede;
  border-radius: 5px;
  position: relative;
  top: 3%;
  width: 50%;
  float: left;
  left: 25%;
  padding: 1.3671875rem 1.3671875rem;
  margin-bottom: 0.5859375rem;
}
.popup a {
  text-align: center;
  width: 100%;
  display: inline-block;
  color: #c41411;
  border-top: 1px solid #d7d7d7;
  font-size: 1.5625rem;
  padding-top: 2.34375rem;
}
.popup .content-block .modal-overlay,
.popup-overlay,
.preloader-indicator-overlay {
  background: rgba(17, 17, 17, 0.5);
}
.list-block input[type=number] {
  -moz-appearance: textfield;
}
.user-condition-ret-password {
  color: #666666!important;
}
