@import "../../common/css/variable";

//Import all variables

.user-page{
  .sso-bar {
    background:@baseColorLogin;
    height: auto;
    border-bottom: 1px solid #dedede;
  }
  .user-icon
  {
    font-size: 3rem;
    color:@baseTextColor;
    position: absolute;
    top: 51.2/@baseRem;
  }



  .user-content
  {
    padding-top:118/@baseRem;

  }
  .user-content-block
  {
    padding:0rem;
    margin:93/@baseRem 0;
    padding: 0rem;
    //margin: 3.6328125rem 0;
    margin-bottom: 0;
   // height: calc(100vh - 3.6328125rem );
    background:#fff;

  }

  .user-buttons-tab
  {
    width: 100%;
    text-align: center;
    display: inline-block;
  }
  .user-buttons-tab:after {
    background-color: unset;
  }
  a {
    padding:43/@baseRem 50/@baseRem;
    color:@baseTextColor;
    font-size: 42/@baseRem;
    display: inline-block;
    &.active
    {
      color:@baseColor;
      border-bottom: 4px solid @baseColor;
    }
  }
  .user-form
  {
    border-top:1px solid #dedede;

  }

.user-item-content {
    box-sizing: border-box;
    padding-left: .75rem;
    min-height: 2.2rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.user-item-inner {
    padding-right: .75rem;
    position: relative;
    width: 100%;
    padding-top: .4rem;
    padding-bottom: .35rem;
    min-height: 2.2rem;
    overflow: hidden;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.user-item-input {
    width: 100%;
    margin-top: -0.4rem;
    margin-bottom: -0.35rem;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    -ms-flex: 0 1 auto;
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
}
  .sso-content-second
  {
    padding-top:123/@baseRem;

  }
  .list-block ul:before
  {
    background-color: unset;
  }
  .list-block .item-inner:after
  {
    background-color: unset;
  }
  .tabs{

    .tab{


      .user-title
      {
        font-size: 46/@baseRem;
        width:99%;
        margin-top:52/@baseRem;
      }
      .user-margin-bottom
      {
        margin-bottom: 53/@baseRem;
      }

      .user-list-block
      {
        padding-top:145/@baseRem;
        padding-left: 15/@baseRem;
        padding-right: 15/@baseRem;

        ul{
          padding:15/@baseRem;
        }
      }

      .user-text
      {
        height: 150/@baseRem;
        color:@baseColorPlacholderWrite;
        border-radius:3px;
        border:1px solid #dedede;
        padding-left:50/@baseRem;
        font-size: 40/@baseRem;

      }
      .user-button
      {
        text-align: center;
        width: 100%;
        background-color: #dedede;
        color:@baseColorPlaceholderText;
        font-size: 40/@baseRem;
      }
      .user-incorrect
      {
        text-align: center;
        width: 100%;
        background-color: @baseColorPlacholderWrite;
        color:#e0e0e0;
        margin-bottom: 25/@baseRem;
        display: none;
        margin-top: 20px;
      }
      .user-captcha-image{
        width:45%;
        height: 150/@baseRem;
      }
      .user-enable
      {
        background-color: @baseColor;
        color:#fff;
      }
      .user-pass-eye
      {
        position: absolute;
        top: 39%;
        right: 4%;
        width:68/@baseRem;
        height:41/@baseRem;
      }
      .input-large
      {
        width: 49%;
        margin-right:53/@baseRem;
        float: left;
      }
      .medium
      {
        border: 1px solid #cccccc;
        padding-top:1.6rem;
        padding-bottom: 28/@baseRem;
        display: inline-block;
        height:150/@baseRem;
        vertical-align: middle;
        color: #333;
        border-radius: 3px;
        width:45%;
        text-align: center;
        margin-bottom: 10/@baseRem;
        font-size: 40/@baseRem;

      }
      .auto-login
      {
        font-size: 36/@baseRem;
      }
      .sso-condition
      {
        color:@baseColor;
        font-size: 36/@baseRem;
        padding:54/@baseRem 0/@baseRem 0/@baseRem 0/@baseRem;


      }
      .input-error
      {
        width:40/@baseRem;
        height: 30.1/@baseRem;
      }
      .sso-customer
      {
        text-align:right;
        padding:43/@baseRem 50/@baseRem;
        color:@baseTextColor;
        font-size: 42/@baseRem;
        height:609/@baseRem;
        width: 100%;

      }

    }

  }
  input[type="checkbox"]:checked :before {
    background: #3d404e;

  }
  input[type="checkbox"]:checked :after {
    background-color:@baseColor;
  }
  .user-text ::-webkit-input-placeholder {
    color: @baseColorPlaceholderText;
  }

  .list-block ul:after{
    background-color: transparent;
  }


}

.popup-create{
  top: 10%;
    width: 90%;
    height: 74%;
    left: 5%;
    background-color: #f7f7f7;
     p{
      text-align: center;
      font-size:42/@baseRem;
      color:#333333;
    }
  .content-block{
    width:90%;
    float: left;
    margin: 0;
    background-color:#fff;
    padding:50/@baseRem;
    margin-left:5%;
   
   span{
     font-size:30/@baseRem;
     color:#666666;
     line-height: 50/@baseRem;
     margin-bottom: 10px;
     float: left;
     
   } 
  }
  a.close-popup{
    font-size: 30/@baseRem;
    color: #666666;
    border: 2px solid #dedede;
    border-radius: 5px;
    position: relative;
    top: 3%;
    width: 50%;
    float: left;
    left: 25%;
    padding: 35/@baseRem 35/@baseRem;
    margin-bottom: 15/@baseRem;

    }
     
}
.popup a {
    text-align: center;
    width: 100%;
    display: inline-block;
    color: #c41411;
    border-top: 1px solid #d7d7d7;
    font-size: 1.5625rem;
    padding-top: 2.34375rem;
}
.popup .content-block .modal-overlay, .popup-overlay, .preloader-indicator-overlay {
    background: rgba(17, 17, 17, 0.5);
}

.list-block input[type=number] {
    -moz-appearance:textfield;
}
  
.sso-condition-ret-password{
  color:#666666!important;
}

