@import "variable";
@import "lesshat";

/******************************************************
   *Normalizing CSS START
******************************************************/
* {
  box-sizing: border-box;
}

body, html {
  font-family: ~'Arial, "Microsoft Yahei", STXihei, sans-serif;';
  padding: 0;
  margin: 0;
  font-size:@baseFont;
}

ul {
  margin: 0;
}

a {
  text-decoration: none;
  outline: 0;
  border: 0;

  &:hover {
    text-decoration: none;
  }

  img {
    border: 0;
    vertical-align: middle;
  }
}

p {
  margin: 0 0 10px 0;
  padding: 0;
}

/******************************************************
   *Normalizing CSS END
******************************************************/

/******************************************************
   *Helper Classes CSS START
******************************************************/

.border-right {
  border-right: 1px solid @imageBorderColor;
}

.border-bottom {
  border-bottom: 1px solid @imageBorderColor;
}

.border {
  border: 1px solid @imageBorderColor;
}

.center-block {
  display: block;
  margin: 0 auto;
}

.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;

  & > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
  }
}

.img-max-100 {
  max-width: 100%;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.margin-zero{
  margin: 0;
}


.container {
  width: 1200px;
  margin: 0 auto;
}

.column {
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}

.float-right {
  float: right;
}

.row {
  margin: 0 -10px;

  &:after {
    content: '';
    display: block;
    position: relative;
    clear: both;
  }
}

.clear-fix {
  &:after {
    content: '';
    display: block;
    position: relative;
    clear: both;
  }
}

.row-img {
  margin: 0 -3px;
}

.width-100 {
  width: 100%;
}

.cart-icon {
  background-image: url("../images/spirit_icons.png");
  background-position: -14px 124px;
  width: 21px;
  height: 18px;
  display: inline-block;
}

.red-arrow-down {
  width: 14px;
  height: 15px;
  display: inline-block;
  vertical-align: middle;
  color: @white;
  font-family: 'sui-icon';
  speak: none;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: @baseColorDark;
  .border-radius(2px);
  line-height: 10px;
  text-align: center;

  &:before{
    content: "\e6c4";
  }
}

.row-img {
  margin: 0 -2px 0 -1px;
}

.column-img {
  float: left;
  padding-left: 1px;
  padding-right: 2px;
  width: 25%;
}

.box-icon {
  width: 66px;
  height: 66px;
  display: inline-block;
  background-image: url("../images/spirit_icons.png");
}

.truck-icon {
  background-position: 124px 74px;
}

.brush-icon {
  background-position: 358px 74px;
}

.seven-icon {
  background-position: 272px 74px;
}

.hands-icon {
  background-position: 195px 74px;
}

.margin-bottom-0 {
  margin-bottom: 0px;
}
.margin-top-0 {
  margin-top: 0px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-right {
  margin-right: 10px;
}
.margin-bottom {
  margin-bottom:0px;
}

.grey-bg{
  background-color:@sideBarHover;
}
.grey-dark-bg{
  background-color:@primaryColor;
}

.sui-form .height-auto[type="text"]{
  height: auto;
}
/******************************************************
   *Helper Classes CSS End
******************************************************/

/******************************************************
   *Helper Element CSS START
******************************************************/

/**
   *Input Group START
**/
.input-group {
  position: relative;
  display: block;
  border-collapse: separate;
  border: 2px solid @baseColorDark;

  .clear-fix;
}

.input-group .form-control {
  position: relative;
  z-index: 2;
  float: left;
  width: 452px;
  margin-bottom: 0;
  height: 32px;
  border: 0;
  outline: 0;
  padding: 7px 10px;
  max-width: 452px;
  display: block;

}

.input-group-btn {
  position: relative;
  font-size: 0;
  width: 81px;
  white-space: nowrap;
  vertical-align: middle;
  display: block;
  float: left;


  .btn {
    z-index: 2;
    margin-left: -1px;
    width: 82px;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 32px;
    border: 0;
    background: @baseColorDark;
    color: #fff;
  }

}
.input-styled{
  background-color: transparent;
}


/**
   *Input Group End
**/
.simple-input-text-field{
  border-radius: 0;
  box-shadow: none;
  padding: 8px;
  height: auto;
}

.custom-breadcrumb{
  padding: 0;
  margin-bottom: 15px;
  margin-top: 20px;

  li{
    a{
      font-size: 16px;
      color: @baseTextColor;
    }
    & + li:before {
      content: ">";
      color: @baseTextColor;
    }
  }
  &>.active {
    color: @baseTextColor;
  }
}

.back-to-top {
  height: 36px;
  width: 36px;
  background: url("../images/spirit_icons.png");
  display: inline-block;
  position: fixed;
  right: 20px;
  bottom: 48%;
  background-position: 44px 78px;
  .transition( height 0.2s);
  .calc(~'bottom',~'50% - 18px');

  &:hover{
    height: 70px;
    background-position: 44px 155px;
  }
}


.padding-bottom-zero{padding-bottom: 0}

.vertical-align-top{ vertical-align: top}

.padding-left-zero{
  padding-left: 0;
}
.border-right-zero{
  border-right: 0;
}

.text-color-darkgrey{
  color: @baseTextColor;
}
.text-color-lightgrey{
  color: @footerCopyrightTextColor;
}
/******************************************************
   *Helper Element CSS END
******************************************************/


.checked-icon{
  background-position:106px -10px;
  background-image: url("../../../static/common/images/spirit_icons.png");
  width: 44px;
  height: 44px;
}

