@import "variable";
@import "lesshat";

/******************************************************
   *Styling For IE START
******************************************************/
html[data-browser='8'],html[data-browser='9']{
  .side-bar {

    > ul {

      > li {

        > a {
          line-height: 14px;
        }
      }
    }
  }
  .cart-column {
    .cart-btn {

      &:hover {
        border-color: @CartBtnBorder !important;
      }
    }
  }
  .www-popular-scene-title{
    span{
      display: inline-block;
      background: #000;
      line-height: 25px;
      padding: 5px 10px;
      .opacity(0.8);
    }
  }
  .sui-icon.icon-sort-down{
    display: inline-block;

    &:after{
      display: none;
    }
    &:before{
      display: none;
    }
  }
  .sui-icon.icon-sort-up{
    display: inline-block;

    &:after{
        display: none;
    }
    &:before{
      display: none;
    }
  }
  .item-top-heading-bar-left ul li.active a span.icon-sort-up{
    top:22px;
  }
  .side-bar.transformed-mega-menu:hover h5 span.icon-sort-up{
    line-height: 0;
  }
  .item-form-filters .item-form-filters-row .item-filter-btn-set .item-more-btn span.icon-sort-up {
    line-height: 24px;
  }
  .item-top-heading-bar-left ul li a span.icon-sort-up {
    display: none;
  }
  .transformed-mega-menu,.item-top-heading-bar-left ul li{
    .icon-sort-down.sui-icon{
      background: url("../images/all-arrows.png");
      height: 8px;
      width: 8px;
      background-position:8px -11px;
    }
    .sui-icon.icon-sort-up{
      background: url("../images/all-arrows.png");
      height: 8px;
      width: 8px;
      background-position:8px -0px;
    }

  }
  .item-top-heading-bar-left ul li.active a span.icon-sort-up {
    display: inline-block;
  }
  .item-top-heading-bar-left ul li{
    .icon-sort-down.sui-icon{
      background: url("../images/all-arrows.png");
      height: 8px;
      width: 8px;
      background-position:8px -18px;
    }
    a:hover{
      .icon-sort-down.sui-icon{
        background: url("../images/all-arrows.png");
        height: 8px;
        width: 8px;
        background-position:8px -0px;
      }
    }
  }
  .item-form-filters .item-form-filters-row .item-filter-btn-set .item-more-btn{
    span{
      background: url("../images/all-arrows.png");
      height: 27px;
      width: 27px;
      background-position:0 59px;
      border:0;
    }
    &:hover,&.active{
      span{
        background-position:0 0;
      }
    }
  }

}
/******************************************************
   *Styling For IE END
******************************************************/



/******************************************************
   *Styling For IE 10 and greater START
******************************************************/
html[data-browser='11'],html[data-browser='10']{
  .side-bar {
    > ul {

      > li {

        > a {
          line-height: 14px;
        }
      }
    }
  }
}
/******************************************************
   *Styling For IE 10 and greater END
******************************************************/