//Import all variables
@import "../../common/css/variable";
@import "../../common/css/lesshat";

#top{
  ul.utilities-list-click-able{
    list-style: none;
    padding:0;
    margin: 0;

    > li{
      border-bottom: 1px solid #dedede;
      padding: 50/@baseRem 0 50/@baseRem;
      background: #fff;

      a{

        font-size: 40/@baseRem;
        color: #333333;
        display: block;
        margin-left: 50/@baseRem;

        span{
          color:#a6a6a6;
          margin-right:50/@baseRem;
          font-weight: bold;
        }
      }

      ul.inner-menus{
        list-style:none;
        background: #f7f7f7;
        margin: 0;
        padding:0;
        display: none;
        li{
          padding: 50/@baseRem 0 50/@baseRem;
          border-bottom: 1px solid #dedede;
        }

      }

     &.active{
        padding-bottom: 0;

        a{
          padding-bottom: 50/@baseRem;
          display: block;
        }
        ul{
          display: block;
        }
      }

    }


  }
}
