/******************************************************
   *Variables START
******************************************************/
#top ul.utilities-list-click-able {
  list-style: none;
  padding: 0;
  margin: 0;
}
#top ul.utilities-list-click-able li {
  border-bottom: 1px solid #dedede;
  padding: 50px 0 50px;
  background: #fff;
}
#top ul.utilities-list-click-able li a {
  font-size: 1.5625rem;
  color: #333333;
  display: block;
  margin-left: 50px;
}
#top ul.utilities-list-click-able li a span {
  color: #a6a6a6;
  margin-right: 50px;
  font-weight: bold;
}
#top ul.utilities-list-click-able ul.inner-menus {
  list-style: none;
  background: #f7f7f7;
  padding: 0;
}
