@import "../../common/css/variable";
@import "../../common/css/lesshat";



.header-base-color {
  .bar-title{
    color: #fff;
    font-size: 1.796875rem;
    font-weight: 400;
    margin: 1.890625rem 0;
    //padding-left: 0rem;
  }
  .right-side-link{
    font-size: 1.796875rem;
    line-height: 2.1rem;
  }
}
.content{
    .utilities-main{
        border-bottom: 2px solid #c41411;
        .utilities-img{
            padding:62/@baseRem;
            text-align:center;
            img{
                width:150/@baseRem;
                height:180/@baseRem;
            }
        }
        .utilities-txt{
            padding:102/@baseRem;
            text-align:center;
            span{
                font-size:48/@baseRem;
                line-height: 6rem;
                color:#666666;
            }
        }
    }
}