/******************************************************
   *Variables START
******************************************************/
.header-base-color .bar-title {
  color: #fff;
  font-size: 1.796875rem;
  font-weight: 400;
  margin: 1.890625rem 0;
}
.header-base-color .right-side-link {
  font-size: 1.796875rem;
  line-height: 2.1rem;
}
.content .utilities-main {
  border-bottom: 2px solid #c41411;
}
.content .utilities-main .utilities-img {
  padding: 2.421875rem;
  text-align: center;
}
.content .utilities-main .utilities-img img {
  width: 5.859375rem;
  height: 7.03125rem;
}
.content .utilities-main .utilities-txt {
  padding: 3.984375rem;
  text-align: center;
}
.content .utilities-main .utilities-txt span {
  font-size: 1.875rem;
  line-height: 6rem;
  color: #666666;
}
