@import "../../common/css/variable";
@import "../../common/css/lesshat";


.content{
    .utilities-main{
        border-bottom: 2px solid #c41411;
        .utilities-img{
            padding:62/@baseRem;
            text-align:center;
            img{
                width:150/@baseRem;
                height:180/@baseRem;
            }
        }
        .utilities-txt{
            padding:102/@baseRem;
            text-align:center;
            span{
                font-size:48/@baseRem;
                
                color:#666666;
            }
        }
    }
}