/******************************************************
   *Variables START
******************************************************/
.content .utilities-recharge-number-main {
  border-bottom: 2px solid #d7d7d7;
}
.content .utilities-recharge-number-main .utilities-recharge-number {
  text-align: center;
  padding-top: 2.9296875rem;
  padding-bottom: 2.9296875rem;
}
.content .utilities-recharge-number-main .utilities-recharge-number span {
  font-size: 2.8125rem;
  color: #cccccc;
}
.content .utilities-recharge-number-main .utilities-recharge-number .utilities-input {
  display: none;
  width: 100%;
  border: 0px solid #cfcfcf;
  padding: 1.17rem;
  font-size: 2rem;
  z-index: 99;
  background-color: unset;
}
.content .utilities-recharge-number-main .utilities-recharge-imges {
  text-align: center;
  padding-top: 2.9296875rem;
  padding-bottom: 2.9296875rem;
}
.content .utilities-recharge-number-main .utilities-recharge-imges img {
  width: 3.125rem;
  height: 3.125rem;
  float: right;
  margin-right: 1.953125rem;
}
.content .utilities-custom-css {
  border-top: 0.46875rem solid #f7f7f7;
  border-bottom: 1px solid #f7f7f7;
  height: 14rem;
}
.content .utilities-custom-css .utilities-recharge-number-main-1 {
  border-top: 1px solid #d7d7d7;
  background-color: #fff;
  margin: 0;
  padding: 0;
  list-style: none;
}
.content .utilities-custom-css .utilities-recharge-number-main-1 .utilities-recharge-yen5 {
  text-align: center;
  padding: 3.125rem;
}
.content .utilities-custom-css .utilities-recharge-number-main-1 .utilities-recharge-yen5 span {
  font-size: 1.875rem;
  color: #cccccc;
  padding-bottom: 1.953125rem;
  margin-top: 2.421875rem;
}
.content .utilities-custom-css .utilities-recharge-number-main-1 .utilities-recharge-yen10 {
  border-left: 0.1953125rem solid #f7f7f7;
  text-align: center;
  padding: 3.125rem;
}
.content .utilities-custom-css .utilities-recharge-number-main-1 .utilities-recharge-yen10 span {
  font-size: 1.875rem;
  color: #cccccc;
  margin-top: 2.421875rem;
  padding-bottom: 1.953125rem;
}
.content .utilities-custom-css .utilities-recharge-number-main-1 .utilities-recharge-yen20 {
  border-left: 0.1953125rem solid #f7f7f7;
  text-align: center;
  padding: 3.125rem;
}
.content .utilities-custom-css .utilities-recharge-number-main-1 .utilities-recharge-yen20 span {
  font-size: 1.875rem;
  color: #333333;
  margin-top: 2.421875rem;
  padding-bottom: 1.953125rem;
}
.content .utilities-custom-css .utilities-recharge-number-main-1 .active {
  border: 2px solid #c41411;
}
.content .utilities-custom-css .utilities-recharge-number-main-1 .active span {
  color: #c41411;
  font-size: 1.875rem;
}
.content .utilities-custom-css.utilities-custom-css-border {
  border-bottom: 0px solid #f7f7f7;
}
.content .utilities-recharge-total {
  border-top: 0.1953125rem solid #f7f7f7;
  background-color: #fff;
  margin: 0;
  padding: 0;
  list-style: none;
}
.content .utilities-recharge-total .utilities-recharge-yen30 {
  text-align: center;
  padding: 3.125rem;
}
.content .utilities-recharge-total .utilities-recharge-yen30 span {
  font-size: 1.875rem;
  color: #333333;
}
.content .utilities-recharge-total .utilities-recharge-yen50 {
  text-align: center;
  border-left: 0.1953125rem solid #f7f7f7;
  padding: 3.125rem;
}
.content .utilities-recharge-total .utilities-recharge-yen50 span {
  font-size: 1.875rem;
  color: #333333;
}
.content .utilities-recharge-total .utilities-recharge-yen100 {
  text-align: center;
  padding: 3.125rem;
  border-left: 0.1953125rem solid #f7f7f7;
}
.content .utilities-recharge-total .utilities-recharge-yen100 span {
  font-size: 1.875rem;
  color: #333333;
}
.content .utilities-recharge-total .custom_width {
  width: 33%;
  margin: 0;
  padding-bottom: 4.125rem;
}
.content .utilities-recharge-total .active {
  border: 2px solid #c41411;
}
.content .utilities-recharge-total .active span {
  color: #c41411;
  font-size: 1.875rem;
}
.main-bar {
  height: auto;
  background: #fff;
  border-top: 2px solid #ededed;
  width: 100%;
}
.main-bar .utilities-www-custom-width {
  width: 70%;
  float: left;
}
.main-bar .utilities-www-custom-width .tab-label-mobile-recharge {
  padding: 0;
  list-style: none;
  float: right;
  text-align: right;
  width: auto;
  white-space: nowrap;
}
.main-bar .utilities-www-custom-width .tab-label-mobile-recharge li {
  color: #c41411;
  font-size: 1.640625rem;
  padding: 0.390625rem;
  float: none;
  display: inline-block;
}
.main-bar .external-fourth {
  background-color: #ce0000;
  height: 5.46875rem;
  width: 27%;
  float: right;
}
.main-bar .external-fourth .tab-label-buy-now {
  color: #fff;
  font-size: 1.953125rem;
  vertical-align: middle;
  padding: 1.09375rem 0px 0 0rem;
  float: left;
  width: 100%;
  text-align: center;
}
/* -----------------------------------------------
 * Mobile Recharge-2 Start
 * --------------------------------------------- */
.content .utilities-recharge-number-main .utilities-recharge-number-changed span.utilities-mobile-recharge-number {
  color: #333;
  font-size: 2.8125rem;
  float: left;
  width: 85%;
  text-align: left;
  margin-left: 7%;
}
.content .utilities-recharge-number-main .utilities-recharge-number-changed label {
  font-size: 1.171875rem;
  color: #666666;
  float: left;
  width: 38%;
}
/* -----------------------------------------------
 * Mobile Recharge-2 Ended
 * --------------------------------------------- */
/* -----------------------------------------------
 * Water Electricity_gas Started
 * --------------------------------------------- */
.content .utilities-recharge-number-main-1 {
  background-color: #fff;
}
.content .utilities-recharge-number-main-1 .utilities-recharge-yen5 {
  text-align: center;
  padding-top: 2.9296875rem;
}
.content .utilities-recharge-number-main-1 .utilities-recharge-yen5 img {
  width: 5.78125rem;
  height: 5.4296875rem;
}
.content .utilities-recharge-number-main-1 .utilities-recharge-yen5 span {
  font-size: 1.40625rem;
  padding-bottom: 1.953125rem;
  color: #333333;
  width: 100%;
  display: inline-block;
  margin-top: 2.421875rem;
}
.content .utilities-recharge-number-main-1 .utilities-recharge-yen10 {
  border-left: 0.1953125rem solid #f7f7f7;
  text-align: center;
  padding-top: 2.125rem;
}
.content .utilities-recharge-number-main-1 .utilities-recharge-yen10 img {
  width: 3.984375rem;
  height: 6.1328125rem;
}
.content .utilities-recharge-number-main-1 .utilities-recharge-yen10 span {
  font-size: 1.40625rem;
  padding-bottom: 1.953125rem;
  color: #333333;
  width: 100%;
  display: inline-block;
  margin-top: 2.421875rem;
}
.content .utilities-recharge-number-main-1 .utilities-recharge-yen20 {
  border-left: 0.1953125rem solid #f7f7f7;
  text-align: center;
  padding-top: 2.734375rem;
}
.content .utilities-recharge-number-main-1 .utilities-recharge-yen20 img {
  width: 3.4375rem;
  height: 5.78125rem;
}
.content .utilities-recharge-number-main-1 .utilities-recharge-yen20 span {
  font-size: 1.40625rem;
  padding-bottom: 1.953125rem;
  color: #333333;
  width: 100%;
  display: inline-block;
  margin-top: 2.421875rem;
}
.content .utilities-recharge-number-main-1 .custom_width {
  width: 33%;
  margin-left: 0%;
}
/* -----------------------------------------------
 * water_electricity_gas Ended
 * --------------------------------------------- */
/* -----------------------------------------------
 * Water started
 * --------------------------------------------- */
.content .utilities-address-checkbox-row.utilities-top-row {
  padding: 1.171875rem 1.953125rem;
}
.content .utilities-address-checkbox-row {
  border-bottom: 0.1953125rem solid #ededed;
  padding: 1.953125rem;
  font-size: 1.5625rem;
  color: #666666;
  background: #fff;
}
.content .label-switch {
  width: 40%;
  border-radius: .8rem;
  height: 3.4375rem;
  display: inline;
  color: #999999;
  text-align: right;
}
.content .label-switch span {
  text-align: right;
  display: inline-block;
  width: 83%;
}
.content .product-detail-color {
  color: #cccccc;
}
.content .order-spec-text-changed {
  color: #999;
  margin-left: 5%;
}
.content .order-spec-text-changed-news {
  color: #999;
  margin-left: 5%;
}
.content .utilities-electricity,
.content .utilities-gas,
.content .utilities-mobile-recharge,
.content .utilities-water {
  width: 50%;
  border: 0px solid #cfcfcf;
  padding: 0.8rem;
  font-size: 1.5rem;
  z-index: 99;
  display: none;
  margin-left: 1%;
}
.content span.order-spec-text-changed-one {
  font-size: 1.2rem;
  width: 80%;
}
.content .order-spec-text-changed-three {
  color: #999;
  margin-left: 5%;
}
.content .order-spec-text-changed-area {
  color: #999;
}
.content img {
  width: 2.34375rem;
  height: 2.34375rem;
}
.utilities-bottom-fixed-btned {
  background: #dedede;
  color: #fff;
  font-size: 1.953125rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  text-align: center;
}
.utilities-bottom-fixed-btned a {
  display: block;
  color: #cccccc;
  padding: 1.40625rem 1.953125rem;
}
/* -----------------------------------------------
 * Water Ended
 * --------------------------------------------- */
/* -----------------------------------------------
 * Water-2 Start
 * --------------------------------------------- */
.utilities-bottom-fixed-btn {
  background: #c41411;
  color: #fff;
  font-size: 1.953125rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  text-align: center;
}
.utilities-bottom-fixed-btn a {
  display: block;
  color: #fff;
  padding: 1.40625rem 1.953125rem;
}
/* -----------------------------------------------
 * Water-2 Ended
 * --------------------------------------------- */
/* -----------------------------------------------
 * Water Confirm Start
 * --------------------------------------------- */
.content .user-address-checkbox-water {
  border-bottom: 0px;
}
.content .user-address-checkbox-water .sale-type-new {
  width: 30%;
  float: left;
  padding-top: 1.06210938rem;
}
.content .user-address-checkbox-water .sale-type-new p.sale-type {
  font-size: 1.875rem;
  color: #333333;
  padding-left: 1.734375rem;
  margin: 0;
  padding-bottom: 1.953125rem;
}
.content .user-address-checkbox-water .sale-type-new2 {
  float: left;
  width: 70%;
  padding-top: 1.06210938rem;
}
.content .user-address-checkbox-water .sale-type-new2 p.return-sale-type {
  color: #666;
  font-size: 1.875rem;
  margin: 0;
  padding-bottom: 1.953125rem;
}
.content .user-address-checkbox-water .sale-type-new2 p.active {
  color: #c41411;
}
.popup {
  top: auto;
  height: auto;
  bottom: 0;
  padding-bottom: 1.5625rem;
}
.popup .content-block {
  padding-top: 0.78125rem;
  padding-left: 1.796875rem;
  padding-right: 1.796875rem;
}
.popup .content-block p {
  font-size: 1.796875rem;
  color: #222;
  padding-bottom: 0.390625rem;
  margin-top: 0.1953125rem;
}
.popup .content-block ul {
  padding: 0;
  list-style: none;
}
.popup .content-block ul li {
  font-size: 1.5625rem;
  color: #666666;
  padding-top: 1.953125rem;
  padding-bottom: 1.953125rem;
  border-bottom: 1px solid #d7d7d7;
}
.popup .content-block li:last-child {
  border-bottom: 0px;
}
.popup .content-block-border {
  padding: 0;
}
.popup .content-block-border ul li.popup-vat-area {
  padding-left: 1.5625rem;
}
.popup .content-block-border ul li.popup-vat-area span.area-padding-rhgt {
  padding-right: 2.34375rem;
}
.popup a {
  text-align: center;
  width: 100%;
  display: inline-block;
  color: #c41411;
  border-top: 1px solid #d7d7d7;
  font-size: 1.5625rem;
  padding-top: 2.34375rem;
}
.popup .back-to-prev-btn {
  background-color: #c41411;
  padding-top: 1.34375rem;
  padding-bottom: 1.34375rem;
  font-size: 1.5625rem;
  width: 100%;
  display: inline-block;
  text-align: center;
}
.popup .back-to-prev-btn .icon {
  font-size: 2.734375rem;
  line-height: 6.140625rem;
  color: #fff;
  margin-left: 0.859375rem;
}
.popup .back-to-prev-btn p.popup-top-class {
  text-align: center;
  display: inline-block;
  color: #fff;
  font-size: 1.640625rem;
  margin-left: -1%;
}
.popup-area {
  top: -0.1171875rem;
}
.modal-overlay,
.popup-overlay,
.preloader-indicator-overlay {
  background: rgba(17, 17, 17, 0.5);
}
/* -----------------------------------------------
 * Water Confirm Ended
 * --------------------------------------------- */
/* -----------------------------------------------
 * No Result Start
 * --------------------------------------------- */
.content .no-inquiry {
  margin-top: 8.4765625rem;
  text-align: center;
  font-size: 1.875rem;
  color: #666666;
}
/* -----------------------------------------------
 * No Result Ended
 * --------------------------------------------- */
/* -----------------------------------------------
 * Fuel Card Start
 * --------------------------------------------- */
.content .utilities-custom-css .fuel_card_color .utilities-recharge-number {
  margin-left: 1%;
  width: 47%;
}
.content .utilities-custom-css .fuel_card_color .utilities-recharge-number span {
  color: #333;
  font-size: 1.875rem;
  margin-top: 3.046875rem;
  margin-bottom: 3.046875rem;
  float: left;
  padding-left: 13%;
}
.content .utilities-custom-css .fuel_card_color .product-list-price-value-inc {
  margin: 3rem 0rem 0rem 2rem;
  padding-bottom: 1.875rem;
  float: right;
  font-size: 0;
}
.content .utilities-custom-css .fuel_card_color .product-list-price-value-inc .decrement {
  background: url(../images/minus.png) no-repeat 0.8203125rem;
  border: 1px solid #f3f5f7;
  vertical-align: text-bottom;
  position: relative;
  padding: 1.5rem 1.5rem;
  background-size: 50%;
  background-color: #f3f5f7;
}
.content .utilities-custom-css .fuel_card_color .product-list-price-value-inc .number {
  font-size: 1.2rem;
  border: 1px solid #f3f5f7;
  position: relative;
  left: 0rem;
  padding: 0.79rem 0.8rem;
  margin: 0px;
  font-weight: bolder;
  vertical-align: text-bottom;
}
.content .utilities-custom-css .fuel_card_color .product-list-price-value-inc .increment {
  background: url(../images/plus.png) no-repeat 0.8203125rem;
  border: 1px solid #f3f5f7;
  position: relative;
  padding: 1.5rem 1.5rem;
  background-size: 50%;
  background-color: #f3f5f7;
  vertical-align: text-bottom;
}
/* -----------------------------------------------
 * Fuel Card Ended
 * --------------------------------------------- */
/* -----------------------------------------------
 * Fuel Card 2 Start
 * --------------------------------------------- */
.content .utilities-recharge-number-main .utilities-recharge-number span.fuel_card_2_color {
  font-size: 1.899375rem;
  color: #333;
}
.product-review-center {
  text-align: center;
  width: 100%;
  display: inline-block;
}
/* -----------------------------------------------
 * Fuel Card 2 Ended
 * --------------------------------------------- */
@media screen and (min-width: 768px) and (max-width: 1028px) {
  .content .label-switch.utilities-label-switch {
    width: 20%;
    margin-top: 1%;
  }
  .content .utilities-custom-css {
    height: 42rem;
  }
}
@media screen and (min-width: 250px) and (max-width: 450px) {
  .content .label-switch.utilities-label-switch {
    width: 20%;
    margin-top: 1%;
  }
}
