@import "../../common/css/variable";
@import "../../common/css/lesshat";



.content{
    .utilities-recharge-number-main{
        border-bottom: 2px solid #d7d7d7;
   .utilities-recharge-number{
       text-align: center;
       padding-top:75/@baseRem;
       padding-bottom: 75/@baseRem;
       span{
           font-size:72/@baseRem;
           color:#cccccc;
           
       }
      .utilities-input{
          display:none;width:100%;border:0px solid #cfcfcf;padding:1.17rem;font-size:2rem;z-index: 99; background-color:unset
      }
   }
   .utilities-recharge-imges{
       text-align: center;
        padding-top:75/@baseRem;
       padding-bottom: 75/@baseRem;
       img{
           width:80/@baseRem;
           height:80/@baseRem;
           float: right;
           margin-right:50/@baseRem;

       }
   }
    }
    .utilities-custom-css{
border-top:12/@baseRem solid #f7f7f7;
border-bottom: 1px solid #f7f7f7;
    height: 14rem;


    .utilities-recharge-number-main-1{
        border-top:1px solid #d7d7d7;
            background-color: #fff;
            margin:0;
            padding:0;
            list-style: none;
        .utilities-recharge-yen5{
            text-align: center;
            padding:(3.125*@oldBase) / @baseRem;
            span{
                font-size:48/@baseRem;
                color:#cccccc;
                padding-bottom: (1.953125*@oldBase) / @baseRem;
                 margin-top: (2.421875*@oldBase) / @baseRem;
            }

        }
        .utilities-recharge-yen10{
            border-left:5/@baseRem solid #f7f7f7;
            
            text-align: center;
            padding:3.125rem;
            span{
                font-size:48/@baseRem;
                color:#cccccc;
                    margin-top: (2.421875*@oldBase) / @baseRem;
                    padding-bottom: (1.953125*@oldBase) / @baseRem;
            }

        }
        .utilities-recharge-yen20{
             border-left:5/@baseRem solid #f7f7f7;
            
            text-align: center;
            padding:3.125rem;
            span{
                font-size:48/@baseRem;
                color:#333333;
                    margin-top: 2.421875rem;
                    padding-bottom: 1.953125rem;
            }

        }

        .active{
               border:2px solid #c41411;
               span{
                   color:#c41411;
                   font-size:48/@baseRem;
                   

               }
           }
    }
    }
    .utilities-custom-css.utilities-custom-css-border{
        border-bottom: 0px solid #f7f7f7;
    }
    .utilities-recharge-total{
        border-top:5/@baseRem solid #f7f7f7;
        background-color: #fff;
        margin:0;
        padding:0;
        list-style: none;

        
       .utilities-recharge-yen30 {
           text-align: center;
            padding:(3.125*@oldBase) / @baseRem;
           span{
                font-size:48/@baseRem;
                color:#333333;
                padding-bottom: (1.953125*@oldBase) / @baseRem;
                margin-top: (2.421875*@oldBase) / @baseRem;
                display: inline-block;
           }

        }
        .utilities-recharge-yen50 {
           text-align: center;
            border-left:5/@baseRem solid #f7f7f7;
            //border-top:5/@baseRem solid #c41411;
            padding:(3.125*@oldBase) / @baseRem;
            
           span{
                font-size:48/@baseRem;
                color:#333333;
                 padding-bottom: (1.953125*@oldBase) / @baseRem;
    margin-top: (2.421875*@oldBase) / @baseRem;
    display: inline-block;
           }
           

        }
        
        .utilities-recharge-yen100 {
           text-align: center;
            padding:(3.125*@oldBase) / @baseRem;
            border-left:5/@baseRem solid #f7f7f7;
           
           span{
                font-size:48/@baseRem;
                color:#333333;
                 padding-bottom: (1.953125*@oldBase) / @baseRem;
    margin-top: (2.421875*@oldBase) / @baseRem;
    display: inline-block;
           }

        }
        .custom_width{
            width:33%;
            margin: 0;
            padding: (3.125*@oldBase) / @baseRem;
        }
         .active{
               border:2px solid #c41411;
               span{
                   color:#c41411;
                   font-size:48/@baseRem;
                   padding-bottom: 1.953125rem;
    margin-top: (2.421875*@oldBase) / @baseRem;
    display: inline-block;


               }
           }
    }
}

.main-bar{
    height: auto;
    background: #fff;
    border-top: 2px solid #ededed;
    width:100%;
    
    .utilities-custom-width-fuel2{
            width: 70%;
    float: left;
   
    .tab-label-mobile-recharge{
           padding: 0;
    list-style: none;
    float: right;
    text-align: right;
    width: auto;
    white-space: nowrap;
       li{
           color:#c41411;
           font-size:42/@baseRem;
           padding:10/@baseRem;
           float:none;
           display: inline-block;
       } 

    
    }
    }
    .external-fourth {
    
    background-color: #ce0000;
    height: (5.46875*@oldBase) / @baseRem;
    width: 27%;
    
    float: right;
    .tab-label-buy-now {
    color: #fff;
    font-size: (1.953125*@oldBase) / @baseRem;
    vertical-align: middle;
    padding: (1.09375*@oldBase) / @baseRem 0px 0 0rem;
    float: left;
    width: 100%;
    text-align: center;

}
    }
}


/* -----------------------------------------------
 * Mobile Recharge-2 Start
 * --------------------------------------------- */

.content{
.utilities-recharge-number-main{
    .utilities-recharge-number-changed{
 span.utilities-mobile-recharge-number{
           color:#333;
           font-size:72/@baseRem;
           float: left;
           width: 85%;
           text-align: left;
           margin-left: 7%;       
       }
       label{
           font-size:30/@baseRem;
           color:#666666;
           float: left;
           width: 38%;
              
       }
    }
}
}


/* -----------------------------------------------
 * Mobile Recharge-2 Ended
 * --------------------------------------------- */

/* -----------------------------------------------
 * Water Electricity_gas Started
 * --------------------------------------------- */
.content{

    .utilities-recharge-number-main-1{
        background-color: #fff;
        .utilities-recharge-yen5{
            text-align:center;
            padding-top:75/@baseRem;
            
            img{
                width:148/@baseRem;
                height:139/@baseRem;
            }
            span{
                font-size:36/@baseRem;
                padding-bottom: 50/@baseRem;
                color:#333333;
                width: 100%;
                display: inline-block;
                margin-top:62/@baseRem;
            }
        }
        .utilities-recharge-yen10{
                border-left: 0.1953125rem solid #f7f7f7;
                text-align:center;
            padding-top:2.125rem;
             img{
               width:102/@baseRem;
               height:157/@baseRem;
            }
            span{
                font-size:36/@baseRem;
                padding-bottom: 50/@baseRem;
                color:#333333;
                width: 100%;
                display: inline-block;
                margin-top:62/@baseRem;
            }

        }
         .utilities-recharge-yen20{
                border-left: 0.1953125rem solid #f7f7f7;
                text-align:center;
            padding-top:70/@baseRem;
             img{
               width:88/@baseRem;
               height:148/@baseRem;
            }
            span{
                font-size:36/@baseRem;
                padding-bottom: 50/@baseRem;
                color:#333333;
                width: 100%;
                display: inline-block;
                margin-top:62/@baseRem;
            }

        }
        .custom_width{
            width:33%;
            margin-left:0%;
        }
    }
}



 /* -----------------------------------------------
 * water_electricity_gas Ended
 * --------------------------------------------- */


  /* -----------------------------------------------
 * Water started
 * --------------------------------------------- */

.content{
    
    .utilities-address-checkbox-row.utilities-top-row {
    //margin-top: 1.953125rem;
    padding: (1.171875*@oldBase) / @baseRem (1.953125 * @oldBase) / @baseRem;
    font-size: 80/@baseRem;
}
.utilities-address-checkbox-row {
    
   border-bottom: 5/@baseRem solid #ededed;
    padding: 1.953125rem;
    font-size: 1.5625rem;
    color: #666666;
    //margin-bottom: 1.953125rem;
    background: #fff;
}
.label-switch {
    width:40%;
    border-radius: .8rem;
    height: 3.4375rem;
    display: inline;
    color:#999999;
    text-align: right;
    span{
        text-align: right;
    display: inline-block;
    width: 83%;
    }
}
.product-detail-color {
    color: #cccccc;
}
.order-spec-text-changed {
    color:#999;
        margin-left: 5%;
}
.order-spec-text-changed-news{
    color:#999;
        margin-left: 5%;
}
.utilities-electricity, .utilities-gas, .utilities-water{
    width: 50%; border: 0px solid rgb(207, 207, 207); padding: (0.8 * @oldBase) / @baseRem; font-size: (1.5*@oldBase) / @baseRem; z-index: 99;display:none;margin-left: 1%;
}
.utilities-mobile-recharge
{
    width: 100%; border: 0px solid rgb(207, 207, 207); padding: (0.8*@oldBase) / @baseRem; font-size: (1.5*@oldBase) / @baseRem; z-index: 99;display:none;margin-left: 5%;background-color: unset;
}
span.order-spec-text-changed-one{
    font-size: (1.2*@oldBase) / @baseRem;
    width: 80%;
}
.order-spec-text-changed-three {
    color:#999;
        margin-left: 5%;
}
.order-spec-text-changed-area {
    color:#999;
        //margin-left: 5%;
}
img{
    width:60/@baseRem;
    height:60/@baseRem;
}

}
.utilities-bottom-fixed-btned {
    background: #dedede;
    color: #fff;
    font-size: 1.953125rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    text-align: center;
    a {
    display: block;
    color: #cccccc;
    padding: 1.40625rem 1.953125rem;
}
}

 /* -----------------------------------------------
 * Water Ended
 * --------------------------------------------- */


 /* -----------------------------------------------
 * Water-2 Start
 * --------------------------------------------- */


.utilities-bottom-fixed-btn {
    background: #c41411;
    color: #fff;
    font-size: 1.953125rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    text-align: center;
    a {
    display: block;
    color: #fff;
    padding: 1.40625rem 1.953125rem;
}
}

 /* -----------------------------------------------
 * Water-2 Ended
 * --------------------------------------------- */


 /* -----------------------------------------------
 * Water Confirm Start
 * --------------------------------------------- */

.content{
    .user-address-checkbox-water{
        border-bottom: 0px;
        .sale-type-new{
                width: 30%;
                float: left;
                padding-top: 1.06210938rem;
            p.sale-type{
                font-size: 48/@baseRem;
                color: #333333;
                padding-left: 1.734375rem;
                margin: 0;
                padding-bottom: 1.953125rem;

            }
        }
        .sale-type-new2{
                float: left;
                width: 70%;
                padding-top: 1.06210938rem;
                p.return-sale-type{
                color: #666;
                font-size: 48/@baseRem;
                margin: 0;
                padding-bottom: 1.953125rem;
                }
                p.active{
                    color:#c41411;
                }
        }
        
    }
}
.popup {
    top: auto;
    height: auto;
    bottom: 0;
    padding-bottom: 1.5625rem;
    
     .content-block {
    padding-top: 0.78125rem;
    padding-left: 1.796875rem;
    padding-right: 1.796875rem;
     p {
    font-size: 1.796875rem;
    color: #222;
    padding-bottom: 0.390625rem;
    margin-top: 0.1953125rem;
}
ul {
    padding: 0;
    list-style: none;
    li {
    font-size: 1.5625rem;
    color: #666666;
    padding-top: 1.953125rem;
    padding-bottom: 1.953125rem;
    border-bottom: 1px solid #d7d7d7;
}
}
li:last-child{
    border-bottom: 0px;
}
}
.content-block-border{
    padding:0;
    
    ul{
        li.popup-vat-area{
            padding-left:40/@baseRem;
        span.area-padding-rhgt{
            padding-right:60/@baseRem;
        }
        }

    }
}



a {
    text-align: center;
    width: 100%;
    display: inline-block;
    color: #c41411;
    border-top: 1px solid #d7d7d7;
    font-size: 1.5625rem;
    padding-top: 2.34375rem;
}
.back-to-prev-btn{
    background-color: #c41411;
    padding-top:1.34375rem;
    padding-bottom: 1.34375rem;
    font-size: 1.5625rem;
    width: 100%;
    display: inline-block;
    text-align: center;
    .icon {
    font-size: 2.734375rem;
    line-height: 6.140625rem;
    color: #fff;
    margin-left: 22/@baseRem;
}
        p.popup-top-class{
        //margin: 0;
        text-align: center;
        display: inline-block;
        color:#fff;
        font-size:42/@baseRem;
        margin-left:-1%;
        }
    
}
}
.popup-area{
    top:-3/@baseRem;
}
.modal-overlay, .popup-overlay, .preloader-indicator-overlay {
    background: rgba(17, 17, 17, 0.5);
}

 /* -----------------------------------------------
 * Water Confirm Ended
 * --------------------------------------------- */


 /* -----------------------------------------------
 * No Result Start
 * --------------------------------------------- */
.content{
    .no-inquiry{
        margin-top:217/@baseRem;
        text-align: center;
        font-size:48/@baseRem;
        color:#666666;
    }
}


 /* -----------------------------------------------
 * No Result Ended
 * --------------------------------------------- */


  /* -----------------------------------------------
 * Fuel Card Start
 * --------------------------------------------- */
.content{
    .utilities-custom-css{
        .fuel_card_color{
            .utilities-recharge-number{
                    margin-left: 1%;
                    width: 47%;
                span{
                    color:#333;
                    font-size:48/@baseRem;
                    margin-top:78/@baseRem;
                    margin-bottom: 78/@baseRem;
                    float: left;
                    padding-left: 13%;


                }
            }
            .product-list-price-value-inc{
            margin:3rem 0rem 0rem 2rem;
            padding-bottom: 1.875rem;
            float: right;
            font-size:0;
            //padding-left: 0.78125rem;

            .decrement {
               background: url(../images/minus.png) no-repeat 0.8203125rem;
       border: 1px solid #f3f5f7;
    vertical-align: text-bottom;
    position: relative;
    right: 0rem;
    padding: 1.5rem 1.5rem;
    background-size: 50%;
    background-color: #f3f5f7;
    left: 0rem;
    z-index: 999;
    height: 3.2rem;

    //left: 0.01rem;
            }
            .number {
                font-size: 1.2rem;
    border: 1px solid #f3f5f7;
    position: relative;
    left: 0rem;
    padding: 0.84rem 0.4rem;
    margin: 0px;
    vertical-align: text-bottom;
    height: 3.2rem;
    border-radius: 1px;
             }
             .increment {
                background: url(../images/plus.png) no-repeat 0.8203125rem;
  border: 1px solid #f3f5f7;
    position: relative;
    /* right: 0.1953125rem; */
    padding: 1.5rem 1.5rem;
    background-size: 50%;
    background-color: #f3f5f7;
    vertical-align: text-bottom;
    height: 3.2rem;
                }
            }
        }
    }
}

  /* -----------------------------------------------
 * Fuel Card Ended
 * --------------------------------------------- */


  /* -----------------------------------------------
 * Fuel Card 2 Start
 * --------------------------------------------- */

.content{
    .utilities-recharge-number-main{
        .utilities-recharge-number{
            span.fuel_card_2_color{
                font-size:1.899375rem;
                color:#333;
            }
        }
    }
}

.product-review-center{
    text-align: center;
    width:100%;
    display: inline-block;
}

  /* -----------------------------------------------
 * Fuel Card 2 Ended
 * --------------------------------------------- */


 @media screen and (min-width:768px) and (max-width:1028px)
 {

     .content .label-switch.utilities-label-switch{
         width:20%;
         margin-top:1%;
     }

     .content .utilities-custom-css{
             height: 41rem;
     }
     .content .utilities-custom-css.utilities-custom-css-border{
         height:25rem;
     }
 }

 @media screen and (min-width:250px) and (max-width:450px)
 {

     .content .label-switch.utilities-label-switch{
         width:20%;
         margin-top:1%;
     }
 }