@import "../../common/css/variable";
@import "../../common/css/lesshat";


.content{
  .buttons-tab{

    a.button{
      font-size: 46/@baseRem;
      padding: 44/@baseRem 30/@baseRem ;
      display: inline-block;
      height: auto;
      color: @baseTextColor;
      border-color: @tradeBorderColor;
      font-weight: normal;

      &.active{
        color: @baseColor;
        border-color: @baseColor;
        font-weight: normal;
        background-color: @activeTabColor;
      }
    }
  }
  .utilities-my-profile{
    background-color: @white;
    padding: 50/@baseRem 50/@baseRem 0 50/@baseRem;
    border-bottom: solid 2px @borderInternalColor;
    .no-padding{
      margin: 0;
    }
    .utilities-profile-img{
      border: 1px solid @borderInternalColor;
    }
    .utilities-profile-title{
      font-size: 1.7625rem;
    color: #666666;
    padding-left: 1.171875rem;
    display: inline-block;
    line-height: 2.1rem;


    }
    .utilities-star{
      padding: 40/@baseRem 0 0 30/@baseRem;
    }
    .utilities-profile-title-inner{
      color: #222222;
    font-size: 1.70625rem;
    padding: 1.171875rem 0 1.5625rem 0;
    display: inline-block;
    line-height: 2.5rem;
    }
    .utilities-inner-profile{
      width: 10.671875rem;
      height: 10.671875rem;
      border: 1px solid @borderInternalColor;
    }
    .ips2{
          margin-left: 1%;
      margin-top: 20/@baseRem;
    }
    .row {
    overflow: hidden;
    margin-left: 0%;
}
    .utilities-dt{
      ul{
        padding: 0;
        margin: 0;
        li{
          list-style-type: none;
          display: inline-block;
          font-size: 42/@baseRem;
          color: @footerTextColor;
          padding: 30/@baseRem 50/@baseRem 30/@baseRem 0;
        }
      }
    }
  }
}

.utilities-ps2{
  border-top: solid 2px @borderInternalColor;
  margin-top: 50/@baseRem;
}
.col-70{
  width: 70%;
}

@media (max-width: 767px){
  .utilities-star{
    img{
      width: 20px;
    }
  }
}
