/******************************************************
   *Variables START
******************************************************/
.user-change-password.sui-form.form-horizontal .control-label {
  width: 128px;
  margin-right: 18px;
  display: block;
}
.user-change-password .double-input input[type="text"],
.user-change-password .double-input input[type="password"] {
  width: 180px;
}
.user-change-password .sui-btn.btn-xlarge {
  border-radius: 0;
  padding: 6px 10px;
  margin-left: 12px;
}
.user-change-password .sui-text-left {
  font-size: 14px;
}
