@import "../../common/css/variable";

.user-enter-phone
{
  padding: 10px 20px;
  border:1px solid #dedede;
  background: #f2f2f2;
}

.sui-form-height
{
  height: 374px;
  position: relative;
}
 

.user-register-outr{
  float:left;
  width: 100%;
  border-bottom: 2px solid @darkBorderColor;

  .user-register-inr{
    float: none;
    margin: 0 auto;
    max-width: 660px;
    width: 100%;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .user-register-inr_new
  {
    padding-top: 38px;
    padding-bottom: 0px;
  }
 

  .user-register-holder{
    float: left;
    width: 100%;
  }
  .user-forget-password-height
  {
    height: 223px;
  }

.user-address-form.form-horizontal
{ 
.double-input input[type="text"].trade-long-input,.double-input input[type="password"].trade-long-input, .user-address-form.form-horizontal .double-input input[type="password"].trade-long-input {
    width: 300px;
    padding: 6px 9px;
    border-radius: 0px;
}
.user-forget-password2-border
  {
   border: none;
   box-shadow: none;
  }
}
.user-address-form.form-horizontal .control-label {
    white-space: nowrap;
    color: #999;
    min-width: 98px;
}
.user-address-form.form-horizontal .control-label em {
    font-style: italic;
    display: inline-block;
    height: 16px;
    font-size: 20px;
    width: 10px;
    text-align: left;
    vertical-align: middle;
    color: #d01716;
    text-indent: -2px;
}

.forget-password-height
{
  height: 199px;
}
.user-password-next
{
  position: absolute;
  left:21%;
}
#collapseTwo
{
  display: none;
}
.user-address-form.form-horizontal .controls {
    padding-left: 24px;
}
.user-address-form.form-horizontal .controls_new
{
padding-left: 10px;
}
 

.checkbox-pretty.checked > span:before, .radio-pretty.checked > span:before
{
      color: #666666;
}
.user-register-holder .user-captcha-image {
    margin-left: 7px;
}
.user-register-holder span {
    font-size: 12px;
    color: #999999;
    margin-left: 10px;
}
.user-register-holder span.medium{
      border: 1px solid #cccccc;
    padding: 9px;
    display: inline-block;
    height: 35.99px;
    vertical-align: middle;
}
.user-register-holder{
  .sui-form input[type="text"].input-medium
  {
        width: 108px;
        
  }
  .sui-form input[type="text"].input-large
  {
        width:181px;
        padding: 6px 9px;
        border-radius:0px;
  }
  .double-input input[type="text"]
  {
    padding: 6px 9px;
  }
  #auto-login
  {
   margin-left:10px;
  }
  .sui-btn.btn-xxlarge
  {
        width: 100%;
    margin-top: 20px;
    height: 35px;
    font-size: 18px;
    border: 0;
        min-width: 300px;
  }
  .sui-msg.msg-error .msg-con
  {
    text-align: left;
    height: 34.99px;
    margin-left:10px;
  }

}
  .user-address-form{
      .control-group{
        margin-bottom:30px;
      }  
  }
  

}


