@import "../../common/css/variable";
@import "../../common/css/lesshat";

.user-help-side-bar{
  width: 250px;
  background: @subFooterBG;
  padding:0px;

  & > h4{
    border:1px solid @avgBorderColor;
    border-left: 3px solid @textHoverColor;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 80px;
    margin: 0;
    font-size: 16px;
  }

  ul{
    list-style: none;

    li{
      a{
        display: block;
        border:1px solid @avgBorderColor;
        border-top: 0;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 83px;
        color: @baseTextColor;

        &:hover{
          color: @textHoverColor;
        }
        .icon-caret-down{
          display: none;
        }
      }

      &.active{
        background: @white;
         > a{
            color: @textHoverColor;


            .icon-caret-down{
              display: inline-block;
            }
            .icon-caret-right{
              display: none;
            }
          }
      }
    }
  }
}

.user-help-main{
  width: 970px;

  .user-inner-block{
    border:1px solid @avgBorderColor;
    padding: 20px;
  }

  .user-help-heading{
    margin: 0;
    color: @baseTextColorDark;
    font-size: @baseFontMedium;
    padding-bottom: 10px;
    border-bottom:3px solid @darkBorderColor;
    margin-bottom: 30px;
  }

  .user-question-block{
    .user-question-block-heading{
      font-size: @baseFontMedium;
      color: @baseTextColorDark;
      margin-bottom: 38px;

      i{
        color: @textHoverColor;
        font-size: 200%;
        vertical-align: middle;
        margin-right: 8px;
      }
    }

    ul{
      list-style: none;

      li{
        margin-bottom: 38px;
        span{
          display: block;
          margin-bottom: 15px;

          &.user-question{
            color: @baseTextColorDark;
            font-weight: bold;
          }
        }
      }
    }
  }

}