/******************************************************
   *Variables START
******************************************************/
.user-active-down-arrow {
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
}
/******************************************************
   *mail verify top section start
******************************************************/
.user-mail-verify-top-section .sui-form.form-horizontal .controls {
  padding-left: 0;
  width: auto;
}
.user-mail-verify-top-section .sui-form.form-horizontal .control-group {
  margin-bottom: 12px;
}
.user-mail-verify-top-section .sui-form.form-horizontal .control-group .control-label {
  margin-right: 18px;
  display: block;
  width: 70px;
}
.user-mail-verify-top-section span {
  font-size: 12px;
  color: #999999;
  margin-left: 10px;
}
.user-mail-verify-top-section .user-verify-detail {
  display: inline-block;
}
.user-mail-verify-top-section .user-verify-detail p {
  margin: 0;
}
.user-mail-verify-top-section .user-verify-detail p span {
  display: table;
  margin-left: 0;
  font-size: 14px;
  margin-bottom: 23px;
}
.user-mail-verify-top-section .user-verify-detail p span.user-sent-mail-to {
  color: #333333;
}
.user-mail-verify-top-section .user-verify-detail p span.user-verify-mail-message {
  color: #d01716;
}
.user-mail-verify-top-section .user-verify-detail p span.user-verify-mail-message2 {
  color: #999999;
}
.user-mail-verify-top-section .user-verify-detail p span.margin-bottom {
  margin-bottom: 0;
}
.user-mail-verify-top-section .user-captcha-image {
  margin-left: 7px;
}
.user-mail-verify-top-section .msg-con span {
  color: #ea4a36;
  margin-left: 0;
}
.user-mail-verify-btm-section {
  padding: 30px;
}
/******************************************************
   *mail verify top section end
******************************************************/
