/******************************************************
   *Variables START
******************************************************/
.user-my-collection-section {
  display: inline-block;
  /*--- products start ----*/
  /*--- products end ----*/
}
.user-my-collection-section .user-my-collection-sorting {
  font-size: 14px;
}
.user-my-collection-section .user-my-collection-sorting ul li {
  margin-bottom: 0;
  display: inline-block;
}
.user-my-collection-section .user-my-collection-sorting ul li label {
  margin-right: 2px ;
}
.user-my-collection-section .user-my-collection-sorting ul li *,
.user-my-collection-section .user-my-collection-sorting ul li .checkbox-pretty span::before,
.user-my-collection-section .user-my-collection-sorting ul li .radio-pretty span::before {
  display: inline-block;
  vertical-align: middle;
}
.user-my-collection-section .user-my-collection-sorting ul li a {
  color: #005aa0;
  margin-right: 7px;
  font-size: 14px;
}
.user-my-collection-section .sui-form {
  margin-top: 30px;
}
.user-my-collection-section .sui-form label {
  margin-right: 15px;
}
.user-my-collection-section .sui-form p a {
  margin-left: 0;
}
.user-my-collection-section .sui-form p span {
  margin-left: 10px;
  margin-right: 10px;
  color: #999999;
  font-size: 16px;
}
.user-my-collection-section .sui-form input[type="checkbox"] {
  background-color: #fff;
}
.user-my-collection-section .user-single-product {
  width: 225px;
  padding: 15px;
  border: 1px solid #dedede;
  margin-right: 30px;
  margin-bottom: 30px;
  background-color: #fff;
}
.user-my-collection-section .user-single-product.column:nth-child(5n+0) {
  clear: both;
}
.user-my-collection-section .user-single-product .user-single-product-image {
  width: 100%;
  height: 198px ;
  background-color: #e5e5e5;
  border: 1px solid #e5e5e5;
}
.user-my-collection-section .user-single-product .user-single-product-image img {
  width: 100%;
}
.user-my-collection-section .user-single-product h2 {
  color: #c41411;
  font-size: 20px;
  margin: 15px 0 10px;
  line-height: normal;
  font-weight: normal;
}
.user-my-collection-section .user-single-product h2 span {
  color: #999999;
  font-size: 14px;
  margin-left: 1px;
  margin-right: 1px;
  font-weight: normal;
}
.user-my-collection-section .user-single-product p {
  margin: 0;
  font-size: 12px;
  color: #666666;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-left: 2px;
}
.user-my-collection-section .user-single-product p input {
  margin-right: 5px;
}
.user-my-collection-section .user-single-product p span {
  display: block;
  margin-top: 3px;
}
.user-my-collection-section .user-single-product p label.checkbox-pretty {
  display: inline-block;
  width: 100%;
}
.user-my-collection-section .user-single-product:hover {
  border-color: #c41411;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
}
.user-my-collection-section .user-single-product .user-plus-text {
  font-family: 'Verdana';
  font-size: 20px;
}
.user-my-collection-section .user-single-product .user-collection-btns {
  margin-top: 15px;
}
.user-my-collection-section .user-single-product .user-collection-btns .user-add-to-cart-btn {
  padding: 6px 12px;
  background-color: #d01716;
  display: inline-block;
  color: #fff;
  border: 1px solid #d01716;
  font-size: 14px;
}
.user-my-collection-section .user-single-product .user-collection-btns .user-unfav-btn {
  padding: 6px 12px;
  background-color: #f2f2f2;
  display: inline-block;
  color: #999999;
  border: 1px solid #CCCCCC;
  margin-left: 10px;
  font-size: 14px;
}
.user-my-collection-section .user-single-product.user-last-product {
  margin-right: 0;
  float: right;
}
.user-my-collection-section .user-single-product.margin-bottom {
  margin-bottom: 0;
}
.user-my-collection-section .user-single-product .checkbox-pretty span,
.user-my-collection-section .user-single-product .radio-pretty span {
  overflow: hidden;
  text-overflow: ellipsis;
}
.user-my-collection-section .user-single-product .checkbox-pretty span:before,
.user-my-collection-section .user-single-product .radio-pretty span:before {
  margin-left: 0;
}
.user-my-collection-section .user-last-product {
  float: right;
  margin-right: 0;
}
.user-my-collection-section .user-my-collections {
  margin-top: 30px;
}
.user-my-collection-section .sui-pagination {
  margin-top: 30px;
}
.user-my-collection-section .user-my-collection-section .item-category-pagination .sui-pagination.pagination-large ul .prev.disabled a {
  background-color: #fff;
}
.user-no-collection {
  float: left;
  margin-top: 30px;
  text-align: center;
  padding-bottom: 170px;
  padding-top: 110px;
}
.user-no-collection p {
  font-size: 16px;
  color: #222222;
  margin: 0;
}
.user-no-collection a {
  color: #fff;
  padding: 8px 25px;
  display: inline-block;
  background-color: #d01716;
  margin-top: 30px;
}
.checkbox-pretty span::before,
.radio-pretty span::before {
  background: #fff;
  border: 1px solid #cccccc;
  border-radius: 2px;
  content: "";
  height: 14px;
  width: 14px;
  display: inline-block;
  vertical-align: -5px;
  margin-right: 10px;
}
.checkbox-pretty.checked span::before,
.radio-pretty.checked span::before {
  color: #da0000;
  content: "\e645";
  font-family: 'icon-tb';
  height: 14px;
  width: 14px;
  vertical-align: middle;
  font-size: 15px;
  line-height: 14px;
}
