@import "../../common/css/variable";

.user-register-outr{
  float:left;
  width: 100%;
  border-bottom: 2px solid @darkBorderColor;

  .user-register-inr{
    float: none;
    margin: 0 auto;
    max-width: 840px;
    width: 100%;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .user-register-holder{
    float: left;
    width: 100%;
  }
}