@import "../../common/css/variable";
@import "../../common/css/lesshat";

#top{
  background: #fff;
  ul{
    list-style: none;
    padding:0;
    li{
      color:#333333;
      font-size:44/@baseRem;
      border-bottom:3px solid #f8f8f8;
      padding-bottom: 50/@baseRem;
      padding-top:38/@baseRem;
      padding-left: 2rem;

      img{
        float:left;
        max-width: 325/@baseRem;
        width:100%;
      }
    .details{
      margin-left:42/@baseRem;
      max-height:330/@baseRem;
      .amount{
        min-height: 8.515625rem;
        line-height: 8.515625rem;
        color:@baseColorDark;
        font-size:50/@baseRem;
      }

    }
    }
  }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
#top ul li .details{
      margin-left: 6.640625rem;
}
}

