/******************************************************
   *Variables START
******************************************************/
#top {
  background: #fff;
}
#top ul {
  list-style: none;
  padding: 0;
}
#top ul li {
  color: #333333;
  font-size: 1.71875rem;
  border-bottom: 3px solid #f8f8f8;
  padding-bottom: 1.953125rem;
  padding-top: 1.484375rem;
  padding-left: 2rem;
}
#top ul li img {
  float: left;
  max-width: 12.6953125rem;
  width: 100%;
}
#top ul li .details {
  margin-left: 1.640625rem;
  max-height: 12.890625rem;
}
#top ul li .details .amount {
  min-height: 8.515625rem;
  line-height: 8.515625rem;
  color: #b0120f;
  font-size: 1.953125rem;
}
/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  #top ul li .details {
    margin-left: 6.640625rem;
  }
}
