@import "../../common/css/variable";
@import "../../common/css/lesshat";

.header-base-color {
  .bar-title{
    //margin: 0;
    width: 90%;
  }
  .right-side-link
  {
    line-height:2.734375rem;
    font-size: 1.796875rem;
  }
} 

#top{
  background: #fff;
  ul{
    list-style: none;
    padding:0;
    li{
      color:#333333;
      font-size:44/@baseRem;
      border-bottom:3px solid #f8f8f8;
      padding-bottom: 50/@baseRem;
      padding-top:38/@baseRem;
      padding-left: 0.5rem;

      img{
        float:left;
        max-width: 15.695313rem;
        width:100%;
      }
    .details{
      //margin-left:42/@baseRem;
      max-height:330/@baseRem;
      padding-top: 1.2rem;
      line-height: 2.1rem;
      padding-left: 0.4rem;

      .amount{
        min-height: 8.515625rem;
        line-height: 8.515625rem;
        color:@baseColorDark;
        font-size:50/@baseRem;
      }

    }
    }
  }
}


#top ul li.user-clearfix{
  padding-top: 0.284375rem;
}


/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 768px) {
#top ul li img{
  max-width: 9.695313rem;
      
}

}

@media only screen and (min-width:250px) and (max-width:600px)
{
  #top ul li img{
    max-width: 12.695313rem;
  }
}

@media screen and (max-width:5000px){
  #top ul li img{
  max-width: 9.695313rem;
      
}
#top ul li{
font-size: 1.275rem;
}
}

