@import "../../common/css/variable";
@import "../../common/css/lesshat";


#top{
  background: #fff;
  padding-top: 333/@baseRem;
  ul{
    list-style: none;
    padding:0;
    li{
      color:#333333;
      font-size:70/@baseRem;
      border-bottom:3px solid #f8f8f8;
      padding-bottom: 50/@baseRem;
      padding-top:38/@baseRem;
      padding-left: 50/@baseRem;

      img{
        float:left;
        max-width: 32%;
        width:100%;
      }
    .details{
      //margin-left:42/@baseRem;
      max-height:330/@baseRem;
      .amount{
        min-height: 850/@baseRem;
        line-height: 850/@baseRem;
        color:@baseColorDark;
        font-size:70/@baseRem;
      }

    }
    }
  }
}


#top ul li.user-clearfix{
  padding-top: 0.284375rem;
}


/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 768px) {
#top ul li img{
  max-width: 9.695313rem;
      
}
}

