@import "../../common/css/variable";
@import "../../common/css/lesshat";

.www-error-block{
  padding-top: 160/@baseRem;

  img{
    width: 242/@baseRem;
  }

  h2{
    margin-top: 154/@baseRem;
    font-size: 46/@baseRem;
    color: @fontLightColor;
    font-weight: normal;

    span{
      display: block;
      font-size: 36/@baseRem;
    }
  }
}

.www-server-upgrade-block{
  padding:0;
  position: relative;

  img{
    width: 100%;
  }
  h2.www-h2-content{
    font-size: 72/@baseRem;
    position: absolute;
    bottom: 9%;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    display: inline-block;
    color: @baseTextColor;
    margin: 0 auto;
    left: 0;
    right: 0;
    font-weight: bold;
    line-height: 120/@baseRem;

    span{
      font-size: 60/@baseRem;
    }
  }
}

 @media screen and (min-width:768px) and (max-width:1028px)
 {
.www-server-upgrade-block h2.www-h2-content{
      bottom: 19%;
}
 }