/******************************************************
   *Variables START
******************************************************/
.www-error-block {
  padding-top: 6.25rem;
}
.www-error-block img {
  width: 9.453125rem;
}
.www-error-block h2 {
  margin-top: 6.015625rem;
  font-size: 1.796875rem;
  color: #999999;
  font-weight: normal;
}
.www-error-block h2 span {
  display: block;
  font-size: 1.40625rem;
}
.www-server-upgrade-block {
  padding: 0;
  position: relative;
}
.www-server-upgrade-block img {
  width: 100%;
}
.www-server-upgrade-block h2.www-h2-content {
  font-size: 2.8125rem;
  position: absolute;
  bottom: 15%;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  display: inline-block;
  color: #666666;
  margin: 0 auto;
  left: 0;
  right: 0;
  font-weight: bold;
  line-height: 4.6875rem;
}
.www-server-upgrade-block h2.www-h2-content span {
  font-size: 2.34375rem;
}
@media screen and (min-width: 768px) and (max-width: 1028px) {
  .www-server-upgrade-block h2.www-h2-content {
    bottom: 20%;
  }
}
