@import "../../common/css/variable";
@import "../../common/css/lesshat";

.content{
  padding-top: 135/@baseRem;
}

ul#main-slider{
  margin: 0;
}
.bx-wrapper{
  .bx-pager {
    position: absolute;
    bottom: 20px;
  }
}


.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #c41411;
}
.bx-wrapper .bx-pager.bx-default-pager a {
  background: #d7d7d7;
  text-indent: -9999px;
  display: block;
  width: 26px;
  height: 26px;
  margin: 0 5px;
  outline: 0;
  margin: 0 8px;
  .border-radius(50%);
}

