@import "../../common/css/variable";
@import "../../common/css/lesshat";


.header-base-color {
  .bar-title{
    color: #fff;
    font-size: 1.796875rem;
    font-weight: 400;
   // margin: 1.890625rem 0;
    padding-left: 0rem;
  }
  .right-side-link{
    font-size: 1.796875rem;
    line-height: 2.1rem;
  }
}
#top{
  ul.first-row{
    list-style-type: none;
    border: 1px solid #d7d7d7;
    background: #fff;
    padding-top: 2.171875rem;
    padding-bottom: 2.171875rem;
    padding-left: 1.9rem;
    li{
      display: inline-block;
      vertical-align: middle;
      margin-right: 70/@baseRem;

      &:last-child{
        float:right;
        padding-top:22/@baseRem;
        color:#ccc;
        font-size: 30/@baseRem;
        a{
          color:#ccc;
          font-size: 1.171875rem;
        }
      }
      img{
        width:68/@baseRem;
      }
    }
    li:nth-child(2){
      font-size: 46/@baseRem;
    }

    li:nth-child(3){
      font-size: 40/@baseRem;
      color:@baseColorDark
    }

  }
  ul.second-row{
    li{

    }
    li:last-child{
      color:#222;
      
      vertical-align: middle;
      span{
        float:right;
        padding-top:22/@baseRem;
        color:#ccc;
        font-size: 30/@baseRem;
        padding: 5/@baseRem;
        padding-left: 48/@baseRem;
        padding-right:0;
      }
    }
  }
  .chat-box{
        padding-right: 3.10625rem;
    font-size: 1.825rem;
    padding-top: 2.0rem;
    img{
      vertical-align:middle;
      width:46/@baseRem;
    }
  }
}
