@import "../../common/css/variable";
@import "../../common/css/lesshat";

.content{
  padding-top: 135/@baseRem;
}


.www-product-list-row{
  padding: 0 10px;
  background: @white;
  border-bottom: 3px solid @borderColorXtraLight;

  .www-product-list-image{
    float: left;
    width: 35.822306238185256%;
  }
  .www-product-list-text{
    float: left;
    width: 100% - 35.822306238185256%;

    h2{
      color: @fontDarkColor;
      font-weight: normal;
      font-size: 44/@baseRem;
      margin-top: 40/@baseRem;
      min-height: 7.320313rem;
    }
    h3{
      color: @baseColor;
      font-weight: normal;
      font-size: 50/@baseRem;
      margin-bottom: 0;
      margin-top: 0;
    }
  }
}

.www-no-result-block{
  padding-top: 160/@baseRem;

  img{
    width: 242/@baseRem;
  }

  h2{
    margin-top: 154/@baseRem;
    font-size: 46/@baseRem;
    color: @fontLightColor;
    font-weight: normal;

    span{
      display: block;
      font-size: 36/@baseRem;
    }
  }
}