/******************************************************
   *Variables START
******************************************************/
/******************************************************
   *Detail page
******************************************************/
.item-breadcrumb-column {
  width: 980px;
}
.item-result-text-column {
  width: 240px;
  text-align: right;
  padding-right: 20px;
  padding-top: 15px;
}
/*--- topbar start ---*/
.item-top-heading-bar-left {
  margin: 0;
  padding: 0;
  float: left;
}
.item-top-heading-bar-left ul {
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
}
.item-top-heading-bar-left ul li {
  float: left;
}
.item-top-heading-bar-left ul li a {
  text-decoration: none;
  color: #666666;
  padding: 15px 20px;
  display: block;
  position: relative;
}
.item-top-heading-bar-left ul li a:hover {
  background-color: #c41411;
  color: #fff;
}
.item-top-heading-bar-left ul li a span {
  margin-left: 5px;
  float: right;
  position: absolute;
  right: 5px;
  top: 22px;
  height: 5px;
  line-height: 0px;
  width: 8px;
}
.item-top-heading-bar-left ul li a span.icon-sort-up {
  display: none;
}
.item-top-heading-bar-left ul li.active a {
  background-color: #c41411;
  color: #fff;
}
.item-top-heading-bar-left ul li.active a span.icon-sort-up {
  display: block;
  top: 27px;
}
.item-top-heading-bar-left ul li.active a span.icon-sort-down {
  display: none;
}
.item-top-heading-bar-right {
  margin: 0;
  padding: 0;
  float: right;
}
.item-top-heading-bar-right p {
  margin: 0;
  padding: 15px 20px 0 0;
  display: inline-block;
  color: #666666;
}
.item-top-heading-bar-right p .active-page {
  color: #c41411;
}
/*--- topbar end ---*/
/*--- products and pagination start --*/
.item-single-product {
  width: 240px;
  padding: 20px;
  border: 1px solid #dedede;
  margin-right: 6px;
  min-height: 360px;
  margin-bottom: 10px;
}
.item-single-product .item-single-product-image {
  width: 100%;
  height: 198px ;
  background-color: #e5e5e5;
  border: 1px solid #e5e5e5;
}
.item-single-product .item-single-product-image img {
  width: 100%;
}
.item-single-product h2 {
  color: #c41411;
  font-size: 20px;
  margin: 20px 0 30px;
  line-height: normal;
  font-weight: normal;
}
.item-single-product h2 span {
  color: #999999;
  font-size: 14px;
  margin-left: 1px;
  margin-right: 1px;
  font-weight: normal;
}
.item-single-product p {
  margin: 0;
  font-size: 12px;
  color: #666666;
  height: 36px;
  overflow: hidden;
}
.item-single-product p span {
  display: block;
  margin-top: 3px;
}
.item-single-product:hover {
  border-color: #c41411;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
}
.item-single-product .item-plus-text {
  font-family: 'Verdana';
  font-size: 20px;
}
.item-last-product {
  float: right;
  margin-right: 0;
}
/*--- products and pagination end ---*/
.item-digital-office-sidebar {
  border: 1px solid #dedede;
  margin-bottom: 20px;
}
.item-digital-office-sidebar .item-accordion-main-heading {
  margin: 0;
  padding: 11px 15px;
  font-size: 16px;
  line-height: normal;
  color: #666666;
}
.item-digital-office-sidebar .item-accordion-main-heading.item-accordion-main-heading-small {
  padding: 11px 8px;
}
.item-digital-office-sidebar .panel-heading {
  border-top: 1px solid #dedede;
  padding: 9px 15px;
}
.item-digital-office-sidebar .panel-heading span {
  display: block;
}
.item-digital-office-sidebar .panel-heading span.item-accordion-minus {
  display: none;
}
.item-digital-office-sidebar .panel-heading.active {
  background-color: #f7f7f7;
}
.item-digital-office-sidebar .panel-heading.active span {
  display: none;
}
.item-digital-office-sidebar .panel-heading.active span.item-accordion-minus {
  display: block;
}
.item-digital-office-sidebar .panel-body {
  padding: 15px 34px;
}
.item-digital-office-sidebar .panel-title {
  margin: 0;
}
.item-digital-office-sidebar #accordion {
  padding: 0;
}
.item-digital-office-sidebar .panel-title a {
  color: #666666;
  font-size: 14px;
  text-decoration: none;
}
.item-digital-office-sidebar .item-accordion-sub-list {
  list-style: none;
}
.item-digital-office-sidebar .item-accordion-sub-list li {
  display: block;
}
.item-digital-office-sidebar .item-accordion-sub-list li.active a,
.item-digital-office-sidebar .item-accordion-sub-list li a:hover,
.item-digital-office-sidebar .item-accordion-sub-list li a:focus {
  color: #c41411;
  text-decoration: none;
}
.item-digital-office-sidebar .item-accordion-sub-list li a {
  font-size: 12px;
  color: #666666;
  padding-bottom: 30px;
  display: block;
  text-decoration: none;
}
.item-digital-office-sidebar .item-accordion-sub-list li a.padding-bottom-zero {
  padding-bottom: 0;
}
.item-digital-office-sidebar .item-featured-products .item-single-product {
  margin: 0;
  padding: 0;
  border: 0;
  width: auto;
  border-top: 1px solid #dedede;
  min-height: 0;
}
.item-digital-office-sidebar .item-featured-products .item-single-product:hover {
  box-shadow: none;
}
.item-digital-office-sidebar .item-featured-products .item-single-product .item-featured-image {
  width: 100%;
  height: 188px;
  text-align: center;
}
.item-digital-office-sidebar .item-featured-products .item-single-product h2 {
  color: #c41411;
  font-size: 14px;
  margin: 0;
  line-height: normal;
  padding: 10px 13px;
  font-weight: normal;
}
.item-digital-office-sidebar .item-featured-products .item-single-product h2 span {
  color: #999999;
  font-size: 14px;
  margin-left: 1px;
  margin-right: 1px;
  font-weight: normal;
}
.item-digital-office-sidebar .item-featured-products .item-single-product h2 small {
  color: #c41411;
}
.item-digital-office-sidebar .panel-title span {
  border: 1px solid #dedede;
  color: #999999;
  font-size: 11px;
  padding: 0 3px;
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
  float: left;
  height: 14px;
  line-height: 13px;
  margin-right: 7px;
  margin-top: 3px;
  text-align: center;
  width: 14px;
}
.item-block-title-bar {
  padding: 16px 12px 16px 34px;
  background: #f2f2f2;
  color: #222222;
  font-size: 16px;
}
.item-block-title-bar a {
  color: #222222;
  font-size: 14px;
  vertical-align: middle;
}
.item-block-title-bar .back-arrow {
  background-image: url("../../common/images/spirit_icons.png");
  background-position: 385px 186px;
  display: inline-block;
  height: 14px;
  width: 20px;
  vertical-align: middle;
}
.item-hot-product-row {
  max-width: 837px;
  margin: 0 auto;
}
.item-hot-product {
  text-align: center;
  margin-top: 15px;
  max-width: 118px;
  float: left;
}
.item-hot-product h4 {
  font-size: 14px;
  font-weight: normal;
  margin-top: 15px;
}
.item-hot-product a {
  display: block;
  color: #222222;
  border: 1px solid #b0120a;
  font-size: 14px;
  padding: 7px;
}
.item-hot-product a:hover {
  background: #b0120a;
  color: #fff;
}
.item-hot-product + .item-hot-product {
  margin-left: 115px;
}
.item-nav-bar-detail {
  background: #f2f2f2;
  color: #222222;
  margin-top: 30px;
}
.item-nav-bar-detail ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.item-nav-bar-detail ul li {
  float: left;
}
.item-nav-bar-detail ul li a {
  font-size: 16px;
  color: #222222;
  display: block;
  padding: 16px;
  min-width: 154px;
  text-align: center;
}
.item-nav-bar-detail ul li + li {
  border-left: 2px solid #fff;
}
.item-nav-bar-detail ul li.active a {
  color: #fff;
  background: #b0120a;
}
.item-nav-bar-detail ul li.active + li {
  border-left: 0;
}
.item-detail-values {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}
.item-detail-values li {
  float: left;
  color: #222222;
  width: 25%;
  margin-bottom: 30px;
}
.item-may-like-block {
  border: 1px solid #f2f2f2;
  margin-top: 85px;
  padding: 20px 15px;
}
.item-may-like-block > h4 {
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  color: #222222;
  margin-bottom: 48px;
}
.item-may-like-products {
  width: 1109px;
  margin: 0 auto;
}
.item-may-like-products .item-may-like-products {
  width: 161px;
  text-align: center;
  font-size: 16px;
  float: left;
}
.item-may-like-products .item-may-like-products h4 {
  margin-top: 15px;
  color: #222222;
  font-weight: normal;
  margin-bottom: 18px;
  font-size: 16px;
}
.item-may-like-products .item-may-like-products span {
  color: #c41411;
}
.item-may-like-products + .item-may-like-products {
  margin-left: 76px;
}
.item-review-tab h4 {
  margin: 30px 0 20px;
  padding: 0 25px;
  font-weight: normal;
  color: #222222;
  font-size: 16px;
}
.item-review-tab h4 span {
  color: #c41411;
  margin-left: 20px;
  display: inline-block;
}
.item-review-tab .item-review-tabs {
  list-style: none;
  background: #f2f2f2;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 30px;
}
.item-review-tab .item-review-tabs:after {
  content: '';
  clear: both;
  position: relative;
  display: block;
}
.item-review-tab .item-review-tabs li {
  float: left;
}
.item-review-tab .item-review-tabs li a {
  color: #222222;
  padding: 6px 40px;
  display: block;
  font-size: 14px;
}
.item-review-tab .item-review-tabs li.active a,
.item-review-tab .item-review-tabs li:hover a {
  border-top: 3px solid #b0120a;
  padding-top: 3px;
  background: #fff;
}
.item-user-review-block {
  padding-bottom: 35px;
  margin-bottom: 30px;
  padding-left: 34px;
  padding-right: 34px;
  border-bottom: 1px solid #f2f2f2;
}
.item-user-review-block .item-user-image-name,
.item-user-review-block .item-user-comment {
  float: left;
}
.item-user-review-block .item-user-image-name {
  width: 46px;
  text-align: center;
  margin-right: 49px;
  font-size: 14px;
}
.item-user-review-block .item-user-image-name img {
  height: 43px;
  width: 43px;
  border: 1px solid #f2f2f2;
  display: block;
  margin: 0 auto;
}
.item-user-review-block .item-user-image-name span {
  display: block;
  margin-top: 10px;
  color: #222222;
}
.item-user-review-block .item-user-comment {
  padding-top: 5px;
  font-size: 14px;
  width: 817px;
}
.item-user-review-block .item-user-comment .item-user-comment-text {
  color: #222222;
  margin-bottom: 14px;
  line-height: 30px;
}
.item-user-review-block .item-user-comment .item-user-comment-reply {
  background: #f2f2f2;
  padding: 12px 18px;
  margin-top: 20px;
  margin-right: -34px;
}
.item-user-review-block .item-user-comment .item-user-comment-reply .item-reply-user-image-name {
  width: 37px;
  text-align: center;
  margin-right: 22px;
  font-size: 14px;
  float: left;
}
.item-user-review-block .item-user-comment .item-user-comment-reply .item-reply-user-image-name img {
  height: 35px;
  width: 35px;
  border: 1px solid #f2f2f2;
  display: block;
  margin: 0 auto;
}
.item-user-review-block .item-user-comment .item-user-comment-reply .item-reply-user-image-name span {
  display: block;
  margin-top: 5px;
  color: #222222;
}
.item-user-review-block .item-user-comment .item-reply-user-comment {
  color: #222222;
  padding-top: 3px;
  float: left;
  width: 722px;
}
.item-product-row {
  position: relative;
}
.item-product-row .item-success-added {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 100;
  top: 344px;
  display: block;
  margin: 0 auto;
}
.item-product-images-block {
  float: left;
  width: 450px;
}
.item-product-images-block .item-item-product-image {
  height: 450px;
  overflow: hidden;
  border: 2px solid #f6f6f6;
  margin-bottom: 20px;
  position: relative;
}
.item-product-images-block .item-item-product-image .item-zoom-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 16px;
  color: #868686;
}
.item-product-images-block .item-product-image-action {
  font-size: 14px;
  color: #222222;
}
.item-product-images-block .item-product-image-action i {
  color: #b0120a;
  font-size: 16px;
}
.item-product-images-block .item-item-product-thumbnail {
  margin-bottom: 15px;
  position: relative;
}
.item-product-images-block .item-item-product-thumbnail ul li a img {
  width: 64px;
  height: 64px;
}
.item-product-images-block .item-item-product-thumbnail ul li a.active img {
  border: 2px solid #000000;
}
.item-product-images-block .item-item-product-thumbnail .bx-wrapper .bx-prev {
  left: -31px;
}
.item-product-images-block .item-item-product-thumbnail .bx-wrapper .bx-next {
  right: -31px;
}
.item-product-detail-block {
  float: left;
  width: 558px;
  padding-left: 27px;
}
.item-product-detail-block > h2 {
  font-size: 20px;
  margin-top: 0;
  color: #222222;
  margin-bottom: 18px;
  font-weight: normal;
}
.item-product-detail-block > h3 {
  font-size: 14px;
  color: #b0120a;
  margin-bottom: 30px;
  font-weight: normal;
  margin-top: 0;
  line-height: 14px;
}
.item-product-detail-block .item-product-options-row {
  margin-bottom: 20px;
}
.item-product-detail-block .item-product-price {
  background: #f8f8f8;
  padding: 30px 15px;
  margin-bottom: 30px;
  color: #222222;
  font-size: 14px;
}
.item-product-detail-block .item-product-price span {
  font-size: 22px;
  color: #b0120a;
  font-family: 'arial';
}
.item-product-detail-block .item-product-price span span {
  font-size: 14px;
}
.item-product-detail-block .item-product-price span span.small {
  color: #222222;
}
.item-product-detail-block .item-product-price span span.plus {
  font-size: 22px;
  color: #666666;
}
.item-product-detail-block .item-product-options-label {
  float: left;
  width: 74px;
  color: #222222;
  font-size: 14px;
  margin-right: 6px;
  padding-top: 8px;
}
.item-product-detail-block .item-product-options-values {
  float: left;
  width: 420px;
  color: #222222;
}
.item-product-detail-block .item-checkbox-option {
  font-size: 0;
}
.item-product-detail-block .item-checkbox-option .checkbox-pretty > span:before,
.item-product-detail-block .item-checkbox-option .radio-pretty > span:before {
  display: none;
}
.item-product-detail-block .item-checkbox-option .checkbox-pretty {
  font-size: 14px;
  padding: 8px 16px;
  border: 1px solid #cccccc;
  display: inline-block;
  margin-left: 3px !important;
  margin-right: 3px;
  margin-bottom: 10px;
}
.item-product-detail-block .item-checkbox-option .checkbox-pretty.checked {
  border-color: #b0120a;
}
.item-product-detail-block .item-product-actions-btns a {
  display: inline-block;
  font-size: 22px;
  color: #222222;
  padding: 16px 60px;
  border: 1px solid #b0120a;
  margin-top: 40px;
}
.item-product-detail-block .item-product-actions-btns a + a {
  margin-left: 50px;
}
.item-product-detail-block .item-product-actions-btns a:hover {
  background: #b0120a;
  color: #fff;
}
.item-product-related-block {
  float: left;
  width: 186px;
  padding-left: 30px;
  padding-right: 13px;
}
.item-product-related-block h4 {
  font-size: 14px;
  margin-top: 0;
  font-weight: normal;
  text-align: center;
  margin-bottom: 22px;
}
.item-product-related-block .item-related-product-block {
  position: relative;
  border: 1px solid #d0d0d0;
}
.item-product-related-block .item-related-product-block img {
  width: 100%;
}
.item-product-related-block .item-related-product-block h5 {
  font-size: 14px;
  margin: 0;
  padding: 6px 10px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-weight: normal;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.item-product-related-block .item-related-product-block + .item-related-product-block {
  margin-top: 30px;
}
.item-product-related-block .item-move-to-bottom {
  font-size: 40px;
  color: #afafaf;
  float: right;
  margin-right: 15px;
  display: inline-block;
  margin-top: 20px;
}
.input-number {
  font-size: 0;
  vertical-align: middle;
  font-family: 'arial';
  border: 1px solid #cccccc;
  display: inline-block;
}
.input-number a {
  display: inline-block;
  background: #ededed;
  font-size: 14px;
  vertical-align: middle;
  padding: 6px 0;
  text-align: center;
  min-width: 30px;
  color: #222222;
}
.input-number input {
  font-size: 14px;
  vertical-align: middle;
  border: 0;
  line-height: 28px;
  outline: 0;
  text-align: center;
  width: 30px;
}
.input-number input:focus {
  box-shadow: none;
  outline: 0;
}
/*Overriding breadcrumb styling Start*/
.custom-breadcrumb li + li:before {
  padding: 0px 3px;
  padding-left: 0px;
}
.custom-breadcrumb li a,
.custom-breadcrumb li.active {
  font-size: 14px;
  color: #222222;
}
/*Overriding breadcrumb styling End*/
/******************************************************
   **Detail page
******************************************************/
