/******************************************************
   *Variables START
******************************************************/
/******************************************************
   *Detail page
******************************************************/
.item-breadcrumb-column {
  width: 980px;
}
.item-result-text-column {
  width: 240px;
  text-align: right;
  padding-right: 20px;
  padding-top: 15px;
}
/*--- topbar start ---*/
.item-top-heading-bar-left {
  margin: 0;
  padding: 0;
  float: left;
}
.item-top-heading-bar-left ul {
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
}
.item-top-heading-bar-left ul li {
  float: left;
}
.item-top-heading-bar-left ul li a {
  text-decoration: none;
  color: #666666;
  padding: 15px 20px;
  display: block;
  position: relative;
}
.item-top-heading-bar-left ul li a:hover {
  background-color: #c41411;
  color: #fff;
}
.item-top-heading-bar-left ul li a span {
  margin-left: 5px;
  float: right;
  position: absolute;
  right: 5px;
  top: 22px;
  height: 5px;
  line-height: 0px;
  width: 8px;
}
.item-top-heading-bar-left ul li a span.icon-sort-up {
  display: none;
}
.item-top-heading-bar-left ul li.active a {
  background-color: #c41411;
  color: #fff;
}
.item-top-heading-bar-left ul li.active a span.icon-sort-up {
  display: block;
  top: 27px;
}
.item-top-heading-bar-left ul li.active a span.icon-sort-down {
  display: none;
}
.item-top-heading-bar-right {
  margin: 0;
  padding: 0;
  float: right;
}
.item-top-heading-bar-right p {
  margin: 0;
  padding: 15px 20px 0 0;
  display: inline-block;
  color: #666666;
}
.item-top-heading-bar-right p .active-page {
  color: #c41411;
}
/*--- topbar end ---*/
/*--- products and pagination start --*/
.item-single-product {
  width: 240px;
  padding: 20px;
  border: 1px solid #dedede;
  margin-right: 6px;
  min-height: 360px;
  margin-bottom: 10px;
}
.item-single-product .item-single-product-image {
  width: 100%;
  height: 198px ;
  background-color: #e5e5e5;
  border: 1px solid #e5e5e5;
}
.item-single-product .item-single-product-image img {
  width: 100%;
}
.item-single-product h2 {
  color: #c41411;
  font-size: 20px;
  margin: 20px 0 30px;
  line-height: normal;
  font-weight: normal;
}
.item-single-product h2 span {
  color: #999999;
  font-size: 14px;
  margin-left: 1px;
  margin-right: 1px;
  font-weight: normal;
}
.item-single-product p {
  margin: 0;
  font-size: 12px;
  color: #666666;
  height: 36px;
  overflow: hidden;
}
.item-single-product p span {
  display: block;
  margin-top: 3px;
}
.item-single-product:hover {
  border-color: #c41411;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
}
.item-single-product .item-plus-text {
  font-family: 'Verdana';
  font-size: 20px;
}
.item-last-product {
  float: right;
  margin-right: 0;
}
/*--- products and pagination end ---*/
.item-digital-office-sidebar {
  border: 1px solid #dedede;
  margin-bottom: 20px;
}
.item-digital-office-sidebar .item-accordion-main-heading {
  margin: 0;
  padding: 11px 15px;
  font-size: 16px;
  line-height: normal;
  color: #666666;
}
.item-digital-office-sidebar .item-accordion-main-heading.item-accordion-main-heading-small {
  padding: 11px 8px;
}
.item-digital-office-sidebar .panel-heading {
  border-top: 1px solid #dedede;
  padding: 9px 15px;
}
.item-digital-office-sidebar .panel-heading span {
  display: block;
}
.item-digital-office-sidebar .panel-heading span.item-accordion-minus {
  display: none;
}
.item-digital-office-sidebar .panel-heading.active {
  background-color: #f7f7f7;
}
.item-digital-office-sidebar .panel-heading.active span {
  display: none;
}
.item-digital-office-sidebar .panel-heading.active span.item-accordion-minus {
  display: block;
}
.item-digital-office-sidebar .panel-body {
  padding: 15px 34px;
}
.item-digital-office-sidebar .panel-title {
  margin: 0;
}
.item-digital-office-sidebar #accordion {
  padding: 0;
}
.item-digital-office-sidebar .panel-title a {
  color: #666666;
  font-size: 14px;
  text-decoration: none;
}
.item-digital-office-sidebar .item-accordion-sub-list {
  list-style: none;
}
.item-digital-office-sidebar .item-accordion-sub-list li {
  display: block;
}
.item-digital-office-sidebar .item-accordion-sub-list li.active a,
.item-digital-office-sidebar .item-accordion-sub-list li a:hover,
.item-digital-office-sidebar .item-accordion-sub-list li a:focus {
  color: #c41411;
  text-decoration: none;
}
.item-digital-office-sidebar .item-accordion-sub-list li a {
  font-size: 12px;
  color: #666666;
  padding-bottom: 30px;
  display: block;
  text-decoration: none;
}
.item-digital-office-sidebar .item-accordion-sub-list li a.padding-bottom-zero {
  padding-bottom: 0;
}
.item-digital-office-sidebar .item-featured-products .item-single-product {
  margin: 0;
  padding: 0;
  border: 0;
  width: auto;
  border-top: 1px solid #dedede;
  min-height: 0;
}
.item-digital-office-sidebar .item-featured-products .item-single-product:hover {
  box-shadow: none;
}
.item-digital-office-sidebar .item-featured-products .item-single-product .item-featured-image {
  width: 100%;
  height: 188px;
  text-align: center;
}
.item-digital-office-sidebar .item-featured-products .item-single-product h2 {
  color: #c41411;
  font-size: 14px;
  margin: 0;
  line-height: normal;
  padding: 10px 13px;
  font-weight: normal;
}
.item-digital-office-sidebar .item-featured-products .item-single-product h2 span {
  color: #999999;
  font-size: 14px;
  margin-left: 1px;
  margin-right: 1px;
  font-weight: normal;
}
.item-digital-office-sidebar .item-featured-products .item-single-product h2 small {
  color: #c41411;
}
.item-digital-office-sidebar .panel-title span {
  border: 1px solid #dedede;
  color: #999999;
  font-size: 11px;
  padding: 0 3px;
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
  float: left;
  height: 14px;
  line-height: 13px;
  margin-right: 7px;
  margin-top: 3px;
  text-align: center;
  width: 14px;
}
.item-block-title-bar {
  padding: 16px 12px 16px 34px;
  background: #f2f2f2;
  color: #222222;
  font-size: 16px;
}
.item-block-title-bar a {
  color: #222222;
  font-size: 14px;
  vertical-align: middle;
}
.item-block-title-bar .back-arrow {
  background-image: url("../../common/images/spirit_icons.png");
  background-position: 385px 186px;
  display: inline-block;
  height: 14px;
  width: 20px;
  vertical-align: middle;
}
.item-hot-product-row {
  max-width: 837px;
  margin: 0 auto;
}
.item-hot-product {
  text-align: center;
  margin-top: 15px;
  max-width: 118px;
  float: left;
}
.item-hot-product h4 {
  font-size: 14px;
  font-weight: normal;
  margin-top: 15px;
}
.item-hot-product a {
  display: block;
  color: #222222;
  border: 1px solid #b0120a;
  font-size: 14px;
  padding: 7px;
}
.item-hot-product a:hover {
  background: #b0120a;
  color: #fff;
}
.item-hot-product + .item-hot-product {
  margin-left: 115px;
}
.item-nav-bar-detail {
  background: #f2f2f2;
  color: #222222;
  margin-top: 30px;
}
.item-nav-bar-detail ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.item-nav-bar-detail ul li {
  float: left;
}
.item-nav-bar-detail ul li a {
  font-size: 16px;
  color: #222222;
  display: block;
  padding: 16px;
  min-width: 154px;
  text-align: center;
}
.item-nav-bar-detail ul li + li {
  border-left: 2px solid #fff;
}
.item-nav-bar-detail ul li.active a {
  color: #fff;
  background: #b0120a;
}
.item-nav-bar-detail ul li.active + li {
  border-left: 0;
}
.item-detail-values {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}
.item-detail-values li {
  float: left;
  color: #222222;
  width: 25%;
  margin-bottom: 30px;
}
.item-may-like-block {
  border: 1px solid #f2f2f2;
  margin-top: 85px;
  padding: 20px 15px;
}
.item-may-like-block > h4 {
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  color: #222222;
  margin-bottom: 48px;
}
.item-may-like-products {
  width: 1109px;
  margin: 0 auto;
}
.item-may-like-products .item-may-like-products {
  width: 161px;
  text-align: center;
  font-size: 16px;
  float: left;
}
.item-may-like-products .item-may-like-products h4 {
  margin-top: 15px;
  color: #222222;
  font-weight: normal;
  margin-bottom: 18px;
  font-size: 16px;
}
.item-may-like-products .item-may-like-products span {
  color: #c41411;
}
.item-may-like-products + .item-may-like-products {
  margin-left: 76px;
}
/******************************************************
   **Detail page
******************************************************/
