/******************************************************
   *Variables START
******************************************************/
.header-base-color ~ .content {
  padding-top: 3.57rem;
}
.trade-error-block {
  padding-top: 1.6rem;
}
.trade-error-block img {
  width: 2.42rem;
}
.trade-error-block h2 {
  margin-top: 1.54rem;
  font-size: 0.46rem;
  color: #999999;
  font-weight: normal;
  margin-bottom: 0;
}
.trade-error-block a {
  display: block;
  margin-top: 0.3rem;
  font-size: 0.36rem;
}
.cash-deduction {
  z-index: 1;
}
.shopping-cart-header-secondary {
  top: 3.32rem;
  min-height: 1rem;
  padding: 0;
  border-bottom: 2px solid #cfcfcf;
  z-index: -10;
}
.shopping-cart-header-secondary .row .col-50 .shopping-cart-total {
  font-size: 0.7rem;
  font-weight: normal;
  padding-left: 0.5rem;
  color: #999999;
  margin-top: 0.2268rem;
}
.shopping-cart-header-secondary .row .col-50 .shopping-cart-total span {
  padding-left: 0.15rem;
  padding-right: 0.15rem;
  font-size: 0.7rem;
  color: #c41411;
}
.shopping-cart-header-secondary .row .col-50 .shopping-cart-edit {
  float: right;
  color: #c41411;
  font-weight: normal;
  padding-right: 0.356rem;
  font-size: 0.7rem;
  margin-top: 0.2268rem;
  margin-bottom: 0.2268rem;
}
.shopping-cart-tabs-footer-navigation {
  height: 11.520703rem !important;
}
.shopping-cart-list-products-container {
  border-top: 0px;
  padding-top: 0rem;
  padding: 0rem;
  margin-top: 0.9984rem;
  margin-bottom: 0.42rem;
  z-index: 99;
  margin-right: 0;
  margin-left: 0;
}
.shopping-cart-list-products-container .shopping-cart-list-products-container-new {
  padding-top: 4.5rem;
}
.shopping-cart-list-products-container .shopping-cart-border-bott {
  border-bottom: 0.390625rem solid #f7f7f7;
  padding-bottom: 1rem;
}
.shopping-cart-list-products-container .trade-large-products {
  border-top: 0.390625rem solid #f7f7f7;
}
.shopping-cart-list-products-container2 {
  margin-top: 0.4584rem;
}
.shopping-cart-header-secondary2 {
  top: 6rem;
  min-height: 1rem;
  padding: 0;
  padding-left: 0.5rem;
  padding-top: 0.25784rem;
  margin-bottom: 3rem;
  z-index: 3;
}
.shopping-cart-header-secondary2 label.label-checkbox .item-media {
  float: left;
}
.shopping-cart-header-secondary2 label.label-checkbox .item-media i.shopping-cart-form-checkbox-down {
  margin-top: 1.1rem;
}
.shopping-cart-header-secondary2 label.label-checkbox .item-media h2 {
  float: right;
  margin: 0;
  font-size: 0.7rem;
  padding-left: 0.2rem;
  font-weight: normal;
  color: #333;
  padding-top: 0.2rem;
}
.shopping-cart-header-secondary2 .shopping-cart-product-col {
  width: 37%;
  float: left;
  margin-left: 3%;
}
.shopping-cart-header-secondary2 .shopping-cart-product-col a .shopping-cart-product-price-tight {
  text-align: center;
  width: 81%;
  display: inline-block;
  color: #c41411;
  margin-top: 0.15rem;
  font-size: 0.7rem;
  font-weight: normal;
}
.shopping-cart-header-secondary2 .shopping-cart-product-list-product-col {
  width: 50%;
  float: left;
}
.shopping-cart-header-secondary2 .shopping-cart-product-list-product-col h4.shopping-cart-product-title {
  font-size: 1rem;
  margin-top: 0.12rem;
  margin-bottom: 0.7rem;
  font-weight: normal;
  line-height: 1.5rem;
}
.shopping-cart-header-secondary2 .shopping-cart-product-list-product-col h4.shopping-cart-product-price {
  font-size: 0.7rem;
  font-weight: normal;
  color: #999999;
  padding-left: 0.21rem;
  margin-bottom: 0.7rem;
}
.shopping-cart-header-secondary2 .shopping-cart-product-list-product-col h4.shopping-cart-product-price-yen {
  font-size: 0.8rem;
  font-weight: normal;
  color: #c41411;
  margin-top: 0.07rem;
  margin-left: 0.1rem;
  width: 50%;
  float: left;
  margin-bottom: 0;
}
.shopping-cart-header-secondary2 .shopping-cart-product-list-product-col h4.shopping-cart-product-price-x1 {
  float: right;
  font-size: 0.8rem;
  color: #333;
  margin: 0;
}
.shopping-cart-header-secondary2 .product-list-price-value-inc {
  margin: 0rem 0rem 0rem 0rem;
  padding-bottom: 0.48rem;
  padding-left: 0.2rem;
}
.shopping-cart-header-secondary2 .product-list-price-value-inc .decrement {
  font-size: 0.6rem;
  border: 1px solid #f3f5f7;
  padding: 0.06rem 0.4rem;
}
.shopping-cart-header-secondary2 .product-list-price-value-inc .number {
  font-size: 0.6rem;
  border: 1px solid #f3f5f7;
  padding: 0.06rem 0.2rem;
  position: relative;
  left: 0.02rem;
}
.shopping-cart-header-secondary2 .product-list-price-value-inc .increment {
  font-size: 0.6rem;
  border: 1px solid #f3f5f7;
  padding: 0.06rem 0.4rem;
  position: relative;
  right: 0.01rem;
}
.shopping-cart-header-secondary2 .product-list-price-value-inc .product-detail-stock {
  font-size: 0.36rem;
  color: #d7d7d7;
  margin-left: 0.5rem;
  vertical-align: middle;
}
.shopping-cart-header-secondary2 .product-list-price-value-inc .product-detail-stock .product-detail-stock-number {
  color: #666;
}
.shopping-cart-tabs-footer {
  padding-left: 0.5988rem;
  height: 2.7rem;
  width: auto;
  border-top: 1px solid #d7d7d7;
}
.shopping-cart-tabs-footer .custom-width {
  margin-left: 2%;
  margin-top: 1.5%;
  width: 35%;
  padding-left: 0.5rem;
}
.shopping-cart-tabs-footer .custom-width label.label-checkbox .item-media {
  float: left;
}
.shopping-cart-tabs-footer .custom-width label.label-checkbox .item-media i.shopping-cart-form-checkbox-down {
  margin-top: 0.1784rem;
  padding: 0.0512rem;
}
.shopping-cart-tabs-footer .custom-width label.label-checkbox .item-media h2 {
  float: right;
  margin-top: 0.46rem;
  font-size: 0.7rem;
  padding-left: 0.2rem;
  font-weight: normal;
  color: #333;
}
.shopping-cart-tabs-footer .shopping-cart-external-third {
  background-color: #ff5722;
  height: 2.7rem;
  height: 1.4rem;
}
.shopping-cart-tabs-footer .shopping-cart-external-third .shopping-cart-moved {
  color: #fff;
  font-size: 0.7rem;
  padding: 0.99rem 0 0 0rem;
  float: left;
  width: 100%;
  text-align: center;
}
.shopping-cart-tabs-footer .custom-width-second .external-third {
  float: left;
  width: 26%;
}
.shopping-cart-tabs-footer .custom-width-second .external-third .tab-label-shopping-cart {
  list-style: none;
  padding: 0;
  text-align: left;
  margin-top: 0.11rem;
  float: left;
}
.shopping-cart-tabs-footer .custom-width-second .external-third .shopping-cart-99 {
  font-size: 0.7rem;
  color: #999;
  float: left;
  padding-top: 0.4rem;
  width: 45%;
}
.shopping-cart-tabs-footer .custom-width-second .external-third .shopping-cart-cf {
  font-size: 0.7rem;
  float: right;
  color: #c41411;
  text-align: right;
  font-weight: bold;
  padding-top: 0.4rem;
  padding-right: 0.15rem;
  width: 50%;
}
.shopping-cart-tabs-footer .custom-width-second .external-fourth {
  float: left;
  background-color: #ce0000;
  height: 2.7rem;
  width: 25%;
  margin-left: 0%;
  float: right;
}
.shopping-cart-tabs-footer .custom-width-second .external-fourth .tab-label-buy-now {
  color: #fff;
  font-size: 0.7rem;
  vertical-align: middle;
  padding: 0.99rem 0px 0 0rem;
  float: left;
  width: 100%;
  text-align: center;
}
.shopping-cart-tabs-footer .custom-width-second .tab-label-buy-now-new {
  margin-left: 0;
  width: 26%;
}
label.label-checkbox input[type=checkbox]:checked + .item-media i.icon-form-checkbox,
label.label-checkbox input[type=radio]:checked + .item-media i.icon-form-checkbox {
  background-color: #ce0000;
}
label.label-checkbox input[type=checkbox]:checked + .item-media i.icon-form-checkbox:after,
label.label-checkbox input[type=radio]:checked + .item-media i.icon-form-checkbox:after {
  background-size: 1rem 1rem;
}
label.label-checkbox i.icon-form-checkbox:after {
  position: absolute;
  left: 39%;
  margin-left: -0.4rem;
  top: 0%;
  margin-top: -0.1rem;
  width: 1rem;
  height: 1.45rem;
}
.modal {
  top: 50%;
  position: absolute;
  left: 51%;
}
.modal .modal-inner {
  padding: 2.8rem .75rem;
  border-radius: 4px 4px 0 0;
  background: #fff;
  border: 1px solid #999999;
  border-bottom: 0;
  text-align: left;
}
.modal .modal-inner .modal-text {
  font-size: 0.7rem;
}
.modal-overlay,
.popup-overlay,
.preloader-indicator-overlay {
  background: rgba(0, 0, 0, 0.4);
}
@media (max-width: 480px) {
  .shopping-cart-header-secondary2 .shopping-cart-product-list-product-col {
    width: 48%;
    float: left;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .shopping-cart-tabs-footer .custom-width-second .external-third {
    margin-left: 7%;
  }
}
@media only screen and (min-device-width: 250px) and (max-device-width: 450px) {
  .shopping-cart-tabs-footer .custom-width-second .external-third {
    margin-left: 7%;
  }
}
