@import "../../common/css/variable";
@import "../../common/css/lesshat";


.trade-bottom-fixed-btn{
  background: @baseColor;
  color: @white;
  font-size: 50/@baseRem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  text-align: center;
  a{
    display: block;
    color: @white;
    padding:36/@baseRem 50/@baseRem;
     font-size: 50/@baseRem;
  }

  ~ .content{
    padding-bottom: 147/@baseRem;
  }
}

.buttons-tab{
  margin-bottom: 50/@baseRem;

  a.button{
    font-size: 46/@baseRem;
    padding: 44/@baseRem 30/@baseRem ;
    display: inline-block;
    height: auto;
    color: @baseTextColor;
    border-color: @tradeBorderColor;
    font-weight: normal;

    &.active{
      color: @baseColor;
      border-color: @baseColor;
      font-weight: normal;
    }
  }
}

.trade-address-checkbox-row{
  border-top:2px solid @tradeBorderColor;
  border-bottom:2px solid @tradeBorderColor;
  padding: 1.557813rem;
  font-size: 40/@baseRem;
  color: @baseTextColor;
  margin-bottom: 50/@baseRem;
  background: @white;

  label.label-checkbox{
    i{
      width: 68/@baseRem;
      height: 68/@baseRem;
      .border-radius(50%);
      border: 2px solid ;

      &:after{
        background-size: 30/@baseRem 3.45rem !important;
        top: 0;
        margin: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
      }
    }
    .item-inner{
      margin-left: 35/@baseRem;
      font-size: 46/@baseRem;
      color: @fontDarkColor;
      padding-left: 50/@baseRem;

      span{
        display: block;
        font-size: 34/@baseRem;
        color: @fontLightColor;
        margin-top: 13/@baseRem;
      }
    }
  }

  .trade-checkbox-block{
    width: 356/@baseRem;
    display: inline-block;
    vertical-align: middle;
  }
  label.label-checkbox span.item-inner{
    display: inline-block;
    margin-left: 0;
    vertical-align: middle;
    .calc(width,~'100% - 13.90625rem');
  }
  .trade-coupon-badge{
    background: @baseColor;
    color: @white;
    font-size: 37/@baseRem;
    display: inline-block;
    padding: 40/@baseRem 60/@baseRem;
    margin-left: 45/@baseRem;
  }
}

#tab2
{
  height:62.39375rem;
}
#tab1
{
  height:36.394rem;
}

@media screen and (min-width:768px) and (max-width:1028px){
.trade-address-checkbox-row label.label-checkbox .item-inner span{
  font-size:1.2rem;
}
}


@media screen and (max-width:380px){
.trade-address-checkbox-row .trade-coupon-badge{
 margin-left: 0rem;
}

}

@media screen and (max-width:3000px){
  .trade-address-checkbox-row label.label-checkbox span.item-inner{
   padding-left: 0.9rem;
  }
}