/******************************************************
   *Variables START
******************************************************/
.content {
  padding-top: 5.2734375rem;
}
.trade-bottom-fixed-btn {
  background: #c41411;
  color: #fff;
  font-size: 1.953125rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  text-align: center;
}
.trade-bottom-fixed-btn a {
  display: block;
  color: #fff;
  padding: 1.40625rem 1.953125rem;
}
.trade-bottom-fixed-btn ~ .content {
  padding-bottom: 5.7421875rem;
}
.trade-address-checkbox-row {
  border-top: 2px solid #d7d7d7;
  border-bottom: 2px solid #d7d7d7;
  padding: 1.953125rem;
  font-size: 1.5625rem;
  color: #666666;
  margin-bottom: 1.953125rem;
  background: #fff;
}
.trade-address-checkbox-row.trade-top-row {
  margin-top: 1.953125rem;
  padding: 1.171875rem 1.953125rem;
}
.trade-address-checkbox-row .trade-single-text {
  font-size: 1.796875rem;
  color: #333333;
  line-height: 3.4375rem;
}
.trade-address-checkbox-row .label-switch {
  width: 6.640625rem;
  border-radius: .8rem;
  height: 3.4375rem;
}
.trade-address-checkbox-row .label-switch .checkbox {
  width: 6.640625rem;
  border-radius: 1.640625rem;
  box-sizing: border-box;
  height: 3.4375rem;
  background: #d9d9d9;
}
.trade-address-checkbox-row .label-switch input[type=checkbox]:checked + .checkbox {
  background: #c41411;
}
.trade-address-checkbox-row .label-switch .checkbox:after {
  height: 3.125rem;
  width: 3.125rem;
  -webkit-border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50%;
  -moz-background-clip: padding;
  border-radius: 50%;
  background-clip: padding-box;
}
.trade-address-checkbox-row .label-switch .checkbox:before {
  width: 6.40625rem;
  border-radius: 1.796875rem;
  height: 3.2421875rem;
}
.trade-address-checkbox-row .label-switch input[type=checkbox]:checked + .checkbox:after {
  -webkit-transform: translateX(3.2421875rem);
  -moz-transform: translateX(3.2421875rem);
  -o-transform: translateX(3.2421875rem);
  -ms-transform: translateX(3.2421875rem);
  transform: translateX(3.2421875rem);
}
.trade-address-checkbox-row .trade-radio-btn-title {
  color: #333333;
  font-size: 1.796875rem;
}
.trade-address-checkbox-row .trade-input-hidden {
  font-size: 1.5625rem;
  position: relative;
  display: inline-block;
  margin-top: 1.171875rem;
}
.trade-address-checkbox-row .trade-input-hidden + .trade-input-hidden {
  margin-left: 1.5625rem;
}
.trade-address-checkbox-row .trade-input-hidden span {
  display: inline-block;
  padding: 1.09375rem 3.125rem;
  -webkit-border-radius: 0.3125rem;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0.3125rem;
  -moz-background-clip: padding;
  border-radius: 0.3125rem;
  background-clip: padding-box;
  border: 2px solid #dedede;
}
.trade-address-checkbox-row .trade-input-hidden input {
  position: absolute;
  z-index: 10;
  zoom: 1;
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.trade-address-checkbox-row .trade-input-hidden input:checked + span {
  border-color: #c41411;
  color: #c41411;
}
.trade-address-checkbox-row .trade-gap {
  margin-top: 1.484375rem;
  margin-bottom: 1.09375rem;
}
.trade-address-checkbox-row .trade-gap > div {
  margin-top: 1.171875rem;
}
.trade-address-checkbox-row .label-checkbox {
  display: inline-block;
}
.trade-address-checkbox-row .label-checkbox + .label-checkbox {
  margin-left: 3.125rem;
}
.trade-address-checkbox-row .label-checkbox input:checked ~ * {
  color: #c41411;
}
.trade-address-checkbox-row .label-checkbox i {
  width: 2.65625rem !important;
  height: 2.65625rem !important;
  -webkit-border-radius: 50% !important;
  -webkit-background-clip: padding-box !important;
  -moz-border-radius: 50% !important;
  -moz-background-clip: padding !important;
  border-radius: 50% !important;
  background-clip: padding-box !important;
  border: 2px solid ;
}
.trade-address-checkbox-row .label-checkbox i:after {
  background-size: 1.171875rem 3.45rem !important;
  top: 0 !important;
  margin: 0 !important;
  left: 0 !important;
  right: 0 !important;
  width: 100% !important;
  height: 100% !important;
}
.trade-address-checkbox-row .label-checkbox .item-inner {
  margin-left: 0.5859375rem;
}
.trade-address-checkbox-row .trade-input-small {
  width: 100%;
  border: 2px solid #cccccc;
  padding: 1.09375rem;
  font-size: 1.5625rem;
  color: #cccccc;
  -webkit-border-radius: 0.3125rem;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0.3125rem;
  -moz-background-clip: padding;
  border-radius: 0.3125rem;
  background-clip: padding-box;
}
.trade-address-checkbox-row .trade-input-small::-webkit-input-placeholder {
  color: #cccccc;
}
.trade-address-checkbox-row .trade-input-small:-moz-placeholder {
  color: #cccccc;
}
.trade-address-checkbox-row .trade-input-small::-moz-placeholder {
  color: #cccccc;
}
.trade-address-checkbox-row .trade-input-small:-ms-input-placeholder {
  color: #cccccc;
}
