@import "../../common/css/variable";
@import "../../common/css/lesshat";
//Order-Detail start


.header-base-color {
  .bar-title{
    margin: 1.890625rem 0;
  }
}
.product-review-center{
  display: inline-block;
  width:90%;
}
.content{
  .order-deatil-fixed-tab
  {
      padding-top: 30/@baseRem;
  }
  a.button.active{
    font-size:46/@baseRem;
    color:#ce0000;
    border-color:#ce0000;
    border-bottom: 2px solid;
    //width:20%;
    margin-left:45/@baseRem;
    height:66.87/@baseRem;
        padding: 0;
        margin-right:45/@baseRem;
  }
  a.button{
    font-size:46/@baseRem;
    color:#666666;
    padding:0;
    
  }
  
  .order-details-large-products  {
  border-top: 40/@baseRem solid #f3f5f7;
  
  .order-detail-content-block{
    background-color:#fff;
    margin:0;
    padding:1.9rem 0 0.6rem;
    border-top:1px solid #d7d7d7;
    .order-details-list{
    //margin-bottom:20/@baseRem;
    
  .order-deatils-total{
          margin-left:0.9rem;
          font-weight:normal;
          span{
            color:#ce0000;
            margin-left:10/@baseRem;
            vertical-align: middle;
            font-size: 2.2rem;
          }
        }
 
   .order-detail-complete{
     float: right;
     //padding-right:43/@baseRem;
     color:#ce0000;

   }
    }
    .order-refund-list{
      border-bottom: 0;
    }

    .order-detail-pull{
      float: right;
 width:50%;
 margin: 0;
   .order-detail-total-second{
   
        float: left;
        margin-left:0;
    
  }
  .order-detail-completed{
     float: right;
     padding-right:43/@baseRem;
    font-weight: normal;
  }
    }
  }
  .order-detail-content-block-new{
    border-bottom: 1px solid #d7d7d7;
  }
  .order-detail-content-block-button{
    float: left;
    width: 100%;
    //margin: 0;
    
    background-color: #fff;

    .order-detail-pull{
      float: right;
      width:50%;
      padding-top: 24/@baseRem;
      padding-bottom: 24/@baseRem;

    .order-detail-total-second{
    float: left;
    width: 44%;
    text-align: center;
    color: #222222;
    padding: 20/@baseRem;
    border-radius: 5px;
    border: 1px solid #999999;
    font-size:40/@baseRem;
    }
    .order-detail-completed {
    text-align: center;
    color: #ce0000;
    padding: 20/@baseRem;
    border-radius: 5px;
    border: 1px solid #ce0000;
    font-size:40/@baseRem;
    width: 44%;
    float: left;
    margin-left: 9%;
    }
    .order-detail-completed-second{
      float: right;
      margin-right: 43/@baseRem;
    }
    }
    
  }
  .order-details-list-products-container{
     margin-top:50/@baseRem;
     margin-bottom: 50/@baseRem;
     .order-detail-product-col{
      width: 25%;
      margin-left: 6.5%;
     }
   }
   .order-detail-product-list-product-col{
     width:62%;
     margin-left: 4%;
     h4.order-detail-product-title{
       font-size:40/@baseRem;
       margin-top: 4/@baseRem;
       font-weight:normal;
       margin-bottom: 10/@baseRem;
       line-height: 2.3rem;
     }
     h4.order-detail-product-price{
       color:#999999;
       font-size: 36/@baseRem;
       margin: 0;
       font-weight: normal;

     }
     h4.order-detail-product-price-yen{
       font-size: 36/@baseRem;
       margin: 20/@baseRem 0 0 0;
       font-weight: normal;
       color:#c41411;
       width: 50%;
       float: left;
     }
     h4.order-detail-product-price-x1{
       float: right;
       margin-top: 20/@baseRem;
       margin-bottom: 0;
       margin-right: 14/@baseRem;
       font-size: 40/@baseRem;
     }
   }
  }
 .order-detail-product-payment-method{
    width:100%;
    background-color:#fff;
    float: left;
    margin-bottom: 0;
    padding: 1.3rem;
    border-top:1px solid #d7d7d7;
     border-bottom:1px solid #d7d7d7;
    h4.order-detail-paid-pay{
    font-size:40/@baseRem;
    color:#222;
    float: left;
    margin-left: 4%;
    width: 34%;
    font-weight: normal;
    margin-top: 0.1rem;

    }
    label{
    margin-top: 0.1rem;
    float: left;
    color: #999999;
    font-size: 40/@baseRem;
    }
  }
  .order-detail-product-payment-method-second{
    width:100%;
    background-color:#fff;
    float: left;
    margin-bottom: 0;
    padding: 1.3rem;
    border-top:1px solid #d7d7d7;
    border-bottom:1px solid #d7d7d7;
    h4.order-detail-paid-pay{
    font-size:40/@baseRem;
    color:#222;
    float: left;
    margin-left: 4%;
    width: 34%;
    font-weight: normal;
    margin-top: 0.1rem;


    }
    label{
    margin-top: 0.1rem;
    float: left;
    color: #999999;
    font-size: 40/@baseRem;
    }
  }
  .product-detail-spec
{
  padding-top:1.5359375rem;
  //padding-bottom:1.5359375rem;
  padding-left:60/@baseRem;
  font-size:2.2rem;
  border-top: 1px solid #d7d7d7;
  
  color:#999999;
  height: 5.898438rem;
  display: inline-block;
  width:100%;
  background-color: #fff;
  background-repeat: no-repeat;
  padding-right: 1.5rem;
    span{
    font-size:2.0rem;
    color:#999999;
    padding-left: 0.9rem;
    //padding-left:25/@baseRem;
    }

    .product-detail-color{
        color:#cccccc;
        .icon-right{
         font-size: 1.6rem;
         margin-top: 0.4rem;

        }
    }

}

}

//Order-Detail End

//Order-Detail-Paid Start 
.content{
.order-details-large-products-new{
  border-top:0;
  .order-detail-content-block{
  .order-details-list{  
.order-detail-paid-complete{
  color:#999999;
  font-weight: normal;
}
  }
  }
  .order-details-paid-products-container{
  margin: 0;
  border-top: 1px solid #d7d7d7;
  border-bottom: 14/@baseRem solid #fff;
  height: 53.320313rem;
  .order-detail-paid-product-information{
    font-size: 46/@baseRem;
    font-weight:normal;
     padding-left:65.28/@baseRem;
         background-color: #fff;
         padding-top:50/@baseRem;
         padding-bottom: 50/@baseRem;
         margin-bottom: 47/@baseRem;
  }
}
.order-details-paid-products-container-completed{
      height: 60.320313rem;
}
.order-detail-completed-block{
  background: #fff;
  padding:70/@baseRem 60/@baseRem 60/@baseRem 60/@baseRem;
      margin-bottom: 20/@baseRem;
    float: left;
    width: 100%;
    .clearfix{
      list-style: none;
      float: right;
      padding: 0;
    }
    li{
      
      
      display: inline;
    }
    a{
      font-size: 40/@baseRem;
      color:#cccccc;
      background-color: #dedede;
      padding:26/@baseRem 40/@baseRem 26/@baseRem 40/@baseRem;
      border-radius: 5px;
          margin-right: 35px;
    }
    .order-completed-buy-again{
       font-size: 40/@baseRem;
       color: #ce0000;
       background-color: #ffffff;
           margin-right: 0;
       border:1px solid #ce0000;

    }
}



.order-detail-paid-content-block{
 // margin-top: 60/@baseRem;
  background-color: transparent;
  width: 89%;
  float: left;
    border: 1px solid #dedede;
    margin-left: 7%;
    border-radius: 8px;
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 0.3rem;
  .order-detail-paid-memo{
    padding-left:65.28/@baseRem;
    margin-top: 34.04/@baseRem;
    float: left;
    font-size: 40/@baseRem;
    margin-bottom: 34.04/@baseRem;
    color:#999999;
    padding-right:70/@baseRem;
    font-weight:normal;


  }
  label{
     margin-top: 34.04/@baseRem;
    float: left;
    color:#999999;
    font-size: 40/@baseRem;
  }
}

}
.order-detail-paid-container{
  border-top:15/@baseRem solid #f3f5f7;
  background-color: #fff;
  border-bottom: 1.953125rem solid #f3f5f7;
  padding-left: 0.9rem;
  .order-detail-paid-list{
    margin-top:50/@baseRem;
    margin-bottom: 27/@baseRem;
    .order-detail-paid-number{
      font-size:2.5rem;
      margin-left:62.72/@baseRem;
      color:#222222;
      float: left;

    }
    label{
       font-size:2.2rem;
       color:#ce0000;
       padding-left:25/@baseRem;
    }
  }
  .order-detail-paid-list-date{
    margin-bottom: 27/@baseRem;
    .order-detail-paid-date{
      font-size:2.2rem;
      color:#666666;
       margin-left:62.72/@baseRem;
       }
       label{
         font-size:2.2rem;
         color:#666666;
       }
    
  }
  .order-detail-paid-list-money{
padding-bottom: 27/@baseRem;
border-bottom: 1px solid #d7d7d7;
    .order-detail-paid-money{
      font-size:2.2rem;
      color:#666666;
      margin-left:62.72/@baseRem;
    }
     label{
        font-size:2.2rem;
         color:#ce0000;
         span{
           color:#666666;

         }
       }

  }
 
}
.order-detail-paid-wang{
   padding-left:65.28/@baseRem;
   border-top: 1px solid #d7d7d7;
   background-color: #fff;
   border-bottom: 1.953125rem solid #f3f5f7;
   padding-top: 1.9rem;
  .col-50{
    h2{
     
      color:#222222;
      font-size:46/@baseRem;
      font-weight: normal;
      margin-bottom: 13/@baseRem;
    }
    h2.order-detail-paid-wang-number{
      font-size:44/@baseRem;
      font-weight: normal;
       color:#222222;
       float:right;
       padding-right:45/@baseRem;
       margin-bottom: 13/@baseRem;

    }
  }
  .order-detail-paid-address{
        font-size: 1.6rem;
    color:#949494;
    float: left;
    margin-left: 1.9%;
    width:96%;
    padding-bottom: 50/@baseRem;
        line-height: 2.5rem;
    
   
  }
}
 

}
.product-detail-paid{
  a.external{
    background-color:#c41411;
    font-size:50/@baseRem;
    color:#fff;

  }
}
.product-detail-paid-payment{
  a.externals{
  background-color: #fff;
  font-size: 50/@baseRem;
  color:#222222;
  }
 
}

//Order-Detail-Paid Ended 


/* -----------------------------------------------
 * Timeline Start
 * --------------------------------------------- */

.timeline ul {
  //background: #456990;
  padding-top: 50/@baseRem;
  padding-left: 50/@baseRem;
}
.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6/@baseRem;
  margin-left: 36/@baseRem;
  padding-bottom: 50/@baseRem;
  background: #ccc;
}
 
.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 1.5984375rem;
  height: 1.5984375rem;
  border-radius: 50%;
  background: inherit;
  top: 0%;
}
.timeline ul li div {
  position: relative;
  bottom: 0;
  width:35.34375rem;
  padding: 0 20/@baseRem;
  margin-left: 65/@baseRem;
  font-size:30/@baseRem;
  color:#666;
  line-height: 2.2rem
  
}

.timeline ul li.timeline-container::after{
  background: url('../images/order-tracking.png') no-repeat;
      width: 80/@baseRem;
    height: 80/@baseRem;
        background-size: contain;
}

/* -----------------------------------------------
 * Timeline Ended
 * --------------------------------------------- */


/* -----------------------------------------------
 * Successfullu Started
 * --------------------------------------------- */
.content{
  .order-detail-border{
    border-bottom:3px solid #d7d7d7;
    padding-bottom: 185/@baseRem;
.order-detail-thankyou{
      padding-top: 218/@baseRem;
      width: 40%;
      display: inline-block;
      text-align: right;

      img{
        max-width:100%;
        width:120/@baseRem;
        height:110/@baseRem;
      }
      
}
.order-detail-successfully-thankyou-posted{
      width: 60%;
      //display: inline-block;
      float: right;
           
h3{
        font-size:60/@baseRem;
        color:#c41411;
        padding-top: 175/@baseRem;
        padding-left:38/@baseRem;
      }

}

}
.text-center{
a{
  margin-top:218/@baseRem;
  display: inline-block;
  padding:20/@baseRem 65/@baseRem;
  border-radius:5/@baseRem;
  color:#c41411;
  font-size:50/@baseRem;
  text-align: center;
  border:1px solid #c41411;
  margin-bottom: 50/@baseRem;
}
}
}
 /* -----------------------------------------------
 * Successfullu Ended
 * --------------------------------------------- */

 .order-detail_comment_delete{
   background-color: #000;
       height: 70rem;
   img{
     padding-top:450/@baseRem;
     max-width:100%;
     padding-bottom:450/@baseRem;

   }
 }
 .product-detail-dots {
    position: relative;
    top: 1.5625rem;
    right: 1.6796875rem;
    span{
      color:#fff;
      font-size:36/@baseRem!important;
      padding-right: .3rem!important;
    }
}

.content{
  .order-detail-list-products-container{
        margin: 0;
  }
  .shopping-cart-large-products {
    border-top: 50/@baseRem solid #f8f8f8;
    border-bottom: 1px solid #d7d7d7;
}

.order-detail-comment-main{
margin-top:50/@baseRem;
.shopping-cart-product-comment{
  padding-left:50/@baseRem;
  width:30%;
  //padding-right:45/@baseRem;
}
.shopping-cart-product-list-order-detail-comment{
  width:58%;
  .shopping-cart-product-price{
    border:1px solid #d7d7d7;
    margin: 0;
    padding:20/@baseRem 20/@baseRem 155.03/@baseRem 30/@baseRem;
    color:#999;
    font-size:40/@baseRem;
    font-weight: normal;
    background-color: #fff;
  }
}
}
.order-detail-comment-second{
  margin-top:100/@baseRem;
  border-bottom: 1px solid #d7d7d7;
ul{
  list-style: none;
  float: left;
  width: 96%;
  padding-left: 1.5rem;
  li{
    float: left;
    width: 22%;
    margin-left: 3%;
    border:1px solid #d7d7d7;
    padding-bottom:224/@baseRem;
    margin-bottom: 30/@baseRem;
    background-color: #fff;

  }
  li:last-child{
    border:0;
    padding-bottom: 0;
    background-color: transparent;
  }
  img{
    max-width:100%;
  }
}
}
.order-detail-comment-third{
  border-bottom: 1px solid #d7d7d7;
  margin-bottom: 50/@baseRem;
  background-color: #fff;
  padding-left:1.5rem;
.order-detail-comment-footer{
  padding-bottom:1.9rem;
  h2{
  margin-left:70/@baseRem;
  font-size:36/@baseRem;
  padding-top:50/@baseRem;
  margin-top:0;
  width: 35%;
  float: left;
  }
  img{
    padding-top:50/@baseRem;
    height:auto;
    width: 1.6015625rem;
  }
}
}
}


 /* -----------------------------------------------
 * Customer service list Started
 * --------------------------------------------- */

.content{
  .order-details-large-products{
  .order-details-customer-service-list{
    border-top: 1px solid #d7d7d7;
  }
}
.order-detail-content-block{
  .order-details-list{
    //border-bottom: 1px solid #d7d7d7;
    h2.customer-service-refund{
      margin-left:48/@baseRem;
      font-weight:normal;
      color:#c41411;
      font-size:36/@baseRem;
    }
    .order-detail-pull{
      .customer-service-list-right{
        float: right;
        width:58%;
        font-size:36/@baseRem;

      }
      .order-detail-customer-service-upload{
            text-align: center;
            color: #c41411;
            border:2px solid #c41411;
            padding:15/@baseRem 30/@baseRem 15/@baseRem 30/@baseRem; 
            border-radius:5px;
            //margin-top: 15/@baseRem;
           // display: inline-block;
           float: right;
           width:65%;
           margin-right: 15/@baseRem;
           margin-top:15/@baseRem;
            font-size:40/@baseRem;
      }
    }
  }
  .order-details-list-second{
    padding:25/@baseRem;
  }
}
}




  /* -----------------------------------------------
 * Customer service list Ended
 * --------------------------------------------- */


 
  /* -----------------------------------------------
 * Apply For Return Start
 * --------------------------------------------- */
.header-base-color{
  .bar {
.span_icon{
  padding:0;
  img{
    max-width:100%;
    width:68/@baseRem;
    height:68/@baseRem;
  }
}

  }
}


.content{
  .buttons-tab-apply{
    border-bottom: 1px solid #d7d7d7;
     padding-top: 60/@baseRem;
    a.button.active{
     font-size:46/@baseRem;
    color:#ce0000;
    border-color:#ce0000;
    border-bottom: 2px solid;
    //width:20%;
    margin-left:45/@baseRem;
    height:66.87/@baseRem;
        padding: 0;
        margin-right:45/@baseRem;
    }
    a.button{
      color:#222;
      font-size:46/@baseRem;
   
    padding:0;
    }
  }
  

  .order-details-apply-for-return{
      border-top: 12/@baseRem solid #f3f5f7;
        .order-details-customer-apply-list{ 
          background-color: #f8f8f8;

          .order-detail-apply-list-product-col{
            h4.order-detail-product-title{
              letter-spacing:4px;
              color: #222;
              margin-top:0;

            }
            h4.order-detail-product-price-x1{
              font-weight:normal;
              margin-right:29.36/@baseRem;
            }
          }
          .order-detail-apply-content-block{
            .order-details-list{
             
                .order-detail-pull{
                  span.order-detail-apply-zero{
                      font-size:36/@baseRem;
                      color: #222;
                      margin-top:32/@baseRem;
                      margin-bottom: 19/@baseRem;
                      float: left;

                  }
                  h2.customer-service-list-right{
                     width:68%;
                     margin-left:0/@baseRem;
                    span{
                     
                    }
                  }
                }
              
            }
          }
          .apply-product-detail-spec{
            color:#222;
          }
        }
  }
}



 
  /* -----------------------------------------------
 * Apply For Return  Ended
 * --------------------------------------------- */


  
  /* -----------------------------------------------
 * Return Reason  Start
 * --------------------------------------------- */

.content{
  .order-detail-reason-return{
    font-size:46/@baseRem;
    color:#222;
    background-color: #f3f5f7;
    border-bottom: 2px solid #d7d7d7;
    label{
      color:#ce0000;
    }
  }
  .order-detail-reason-return-spec{
    border-bottom: 2px solid #d7d7d7;
    .trade-input{
    display: none;
    width: 100%;
    border: 1px solid #cfcfcf;
    padding: 1.17rem;
    font-size: 1.17rem;
    z-index: 99;
    position: relative;
    top: -16/@baseRem;
    }
  }

  .order-detail-reason-comment-second{
    border-bottom: 0;
    margin-top:50/@baseRem;
        height: 21.95rem;
    ul{
       margin: 0;
       padding-left: 69/@baseRem;
       li{
         vertical-align: middle;
         text-align: center;
         padding-top:100/@baseRem;
         padding-bottom: 100/@baseRem;
       }
    }
    .order-detail-reason-comment-upload-certificate{
      color:#999999;
      float: left;
      margin-left: 9%;
      font-weight: normal;
      font-size:36/@baseRem;

    }
  }
  
}
.popup{
 
 
  top:auto;
  height:auto;
  bottom: 0;
  padding-bottom: 40/@baseRem;
  .content-block{
     padding-top:20/@baseRem;
  padding-left:46/@baseRem;
  padding-right:46/@baseRem;
    p{
     font-size:46/@baseRem;
      color:#222;
      padding-bottom: 10/@baseRem;
      margin-top:5/@baseRem;
      
    }
    #popupSelect{
    z-index: 1000;
    position: absolute;
    top: 130px;
    left: 50px;
}
    ul{
      padding:0;
      list-style: none;
      li{
        font-size:40/@baseRem;
        color:#666666;
        padding-top: 50/@baseRem;
        padding-bottom: 50/@baseRem;
        border-bottom: 1px solid #d7d7d7;
      }
      li:last-child{
        border-bottom: 0px;
      }
    }
    h2{
      font-size:40/@baseRem;
      color:#666666;
      font-weight: normal;
      border-bottom: 1px solid #d7d7d7;
      padding-bottom: 10/@baseRem;
    }
    
h2.mar_gaya{
    border-bottom: 0;
  }
  }
    a{
      text-align: center;
      width:100%;
      display: inline-block;
      color:#c41411;
      border-top:1px solid #d7d7d7;
      font-size: 40/@baseRem;
      padding-top: 60/@baseRem;


         }
  }

   

.modal-overlay, .popup-overlay, .preloader-indicator-overlay {
    background: rgba(17, 17, 17, 0.5);
}

   /* -----------------------------------------------
 * Return Reason  Ended
 * --------------------------------------------- */

    /* -----------------------------------------------
 * Return Information  start
 * --------------------------------------------- */

.content{
  .order-deatil-return-content-block{
    padding:0;
        background-color: #fff;
    margin: 0;
    padding-bottom:100/@baseRem;
    border-bottom: 2px solid #d7d7d7;
    
    h2.order-detail-return-process{
      padding-left:45/@baseRem;
      color:#222;
      font-size:46/@baseRem;
      font-weight: normal;
      border-bottom: 2px solid #d7d7d7;
      padding-bottom: 25/@baseRem;
      padding-top: 25/@baseRem;
      margin-top:0;
    }
    ul.order-detail-return-information-step{
      list-style: none;
      float: left;
      padding-left: 2.88/@baseRem;
      width: 100%;
      position: relative;
      text-align:center;
      li.order-detail-retun-information-step1{
            
        .label-checkbox{
        float: left;
        .item-media{
          i.icon-form-checkbox{
            width:70/@baseRem;
            height:70/@baseRem;
            background-color:#c41411;
            border-radius:50px;
            
          }
          i.icon-form-checkbox.shopping-cart-return-information{
            background-color: #d7d7d7;
          }
          
        }

        }

      }
      li{
    display: inline-block;
    margin: 0;
    padding: 0;
    a {
    display: block;
    padding: 23/@baseRem 4/@baseRem;
    span {
    display: block;
    width: 15/@baseRem;
    height: 15/@baseRem;
    background-color: #ce0000;
    border-radius: 100%;
    opacity: 0.6;
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    
}
}
a.selected span {
    opacity: 1;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}
a.Deselected span{
  background-color: #d7d7d7;
   opacity: 1;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}
span.color-change{
  background-color: #d7d7d7;
}

      }
     
    }
    .order-detail-return-info-main{
      width:90%;
      float:left;
      padding-left:4/@baseRem; 
      padding-right:12/@baseRem;
      border-bottom:2px dashed #d7d7d7;
      margin-left: 5%;
       padding-bottom: 40/@baseRem;
       position: relative;

       ul{
        list-style: none;
    width: 100%;
    float: left;
    padding-left:25/@baseRem;
    text-align: center;
         li{
           float: left;
           width:23%;
           margin-left:2%;
         
         a.selected{
           color:#c41411;
           font-size: 36/@baseRem;
         }
         a{
          color:#cccccc;
          font-size: 36/@baseRem;
         }
         }
         li:first-child{
           text-align: left;
           margin-left:0%;
         }
          
         li:last-child{
           text-align: right;
           margin-left:2%;
         }
       }
    
    }
    h3{
    float: left;
    padding-left: 60/@baseRem;
    font-size:44/@baseRem;
    font-weight: normal;
    color: #222;
    }
    div.order-detail-return{
      padding-top:0;
    height:auto;
    padding-bottom: 1.8359375rem;
  }
  p.order-detail-return{
    margin:0;
    padding-top:0;
    height:auto;
  }
  a.order-return-logistics{
    text-align: center;
    display: inline-block;
    width: 60%;
    padding: 36/@baseRem 85/@baseRem;
    border: 1px solid #d7d7d7;
    border-radius: 5px;
    margin-left:  18%;
    background-color: #c41411;
    margin-top: 2%;
    color:#fff;
    font-size:50/@baseRem;
  }
  
  }
  .order-detail-application-return{
    border-top: 1.953125rem solid #f3f5f7;
    background-color: #fff;

    .content-block{
     
        
      .sale-type-new{
        width:30%;
        float: left;
        padding-top:27.19/@baseRem;
        
      p.sale-type{
        font-size:44/@baseRem;
        color:#999;
        padding-left:70/@baseRem;
        margin:0;
        padding-bottom:50/@baseRem;

      }
     

    }
    .sale-type-new2{
      float: left;
      width:70%;
      padding-top:27.91/@baseRem;
      p.return-sale-type{
        color:#222;
        font-size:44/@baseRem;
        margin:0;
        padding-bottom:50/@baseRem;

      }
    }
    hr{
      width:86%;
          border-color: #d7d7d7;
         
    }
  }
  
}
.order-detail-return-content-block-approval{
  padding-bottom: 30.45/@baseRem;
}
  
}

label.label-checkbox input[type=checkbox]:checked + .item-media i.icon-form-checkbox:after, label.label-checkbox input[type=radio]:checked + .item-media i.icon-form-checkbox:after{
      background-size: 1.8rem 1.9rem;
}
label.label-checkbox i.icon-form-checkbox:after {
    position: absolute;
    left: 39%;
    margin-left: -0.4rem;
    top: 29%;
    margin-top: -0.1rem;
    width: 1.6rem;
    height: 1.45rem;
}



    /* -----------------------------------------------
 * Return Information  Ended
 
 * --------------------------------------------- */


   /* -----------------------------------------------
 * Apply For Refund  Start
 * --------------------------------------------- */


.content{
  #tab3{
    .order-details-apply-for-return{
      .order-details-apply-refunded{
        .order-detail-new-apply-refund{
          margin-left: 50/@baseRem;
          margin-right: 0;
          margin-top: 0;
          margin-bottom: 0;
          background-color: #fff;
          border: 1px solid #d7d7d7;
          width: 95.5%;
          float: left;
           
          }
        .order-detail-apply-refund{
          background-color: #fff;
          padding-left:60/@baseRem;
          padding-top:50/@baseRem;
           font-size:46/@baseRem;
           padding-bottom: 50/@baseRem;
          label{
            color:#c41411;
             font-size:46/@baseRem;
          }
          span{
            font-size:46/@baseRem;
            color:#c41411;
          }
        }
        .order-detail-apply-refunding{
          label{
             color:#c41411;
             font-size:46/@baseRem;
          }
          span{
            font-size:46/@baseRem;
            color:#222;
          }
        }
        
      }
    }
  }
}




   /* -----------------------------------------------
 * Apply For Refund  Ended
 * --------------------------------------------- */


    /* -----------------------------------------------
 * Apply For step1  Started
 * --------------------------------------------- */
.content{
  .order-deatil-return-content-block{
ul.order-detail-information-refund-1{
  text-align: center;
  
}
.order-return-info-main-refund{
    ul{
      text-align: center;
      //padding-left:100/@baseRem;
    
    li:first-child{
          margin-left: 12%;

    }
    }
  }
  }
  
}

    /* -----------------------------------------------
 * Apply For step1  Ended
 * --------------------------------------------- */

    /* -----------------------------------------------
 * Apply For Return Notice  Start
 * --------------------------------------------- */

.popup-create{
  top: 10%;
    width: 90%;
    height: 78%;
    left: 5%;
    background-color: #f7f7f7;
     p{
      text-align: center;
      font-size:42/@baseRem;
      color:#333333;
    }
  .content-block{
    width:90%;
    float: left;
    margin: 0;
    background-color:#fff;
    padding:50/@baseRem;
    margin-left:5%;
   
   span{
     font-size:30/@baseRem;
     color:#666666;
     line-height: 50/@baseRem;
     margin-bottom: 10px;
     float: left;
     
   } 
  }
  a.close-popup{
    font-size: 30/@baseRem;
    color: #666666;
    border: 2px solid #dedede;
    border-radius: 5px;
    position: relative;
    top: 5%;
    width: 50%;
    float: left;
    left: 25%;
    padding: 35/@baseRem 35/@baseRem;

    }
     
}



 

     /* -----------------------------------------------
 * Apply For Return Notice Ended
 * --------------------------------------------- */
.order-detail-apply-refunding{
          label{
             color:#c41411;
             font-size:46/@baseRem;
          }
         
        }

@media only screen and (orientation:landscape){
.timeline ul li div{
  width: 54rem;
}
}

@media only screen and (min-device-width: 768px) and (max-device-width : 1024px){
.timeline ul li div{
  width: 32rem;
}
}
.order-details-scroll{
  height:32rem;
}
.custom-row {
    width: 100%;
    z-index: 999;
    height: auto;
    background-color: #fff;
    .order-detail-content-block{
      .order-details-list-second{
        h2.customer-service-refund{
          margin-left:48/@baseRem;
      font-weight:normal;
      color:#c41411;
      font-size:36/@baseRem;
        }
        .order-detail-pull{
          a.order-detail-customer-service-upload{
            text-align: center;
            color: #c41411;
            border:2px solid #c41411;
            padding:15/@baseRem 30/@baseRem 15/@baseRem 30/@baseRem; 
            border-radius:5px;
            //margin-top: 15/@baseRem;
           // display: inline-block;
           float: right;
           width:65%;
           margin-right: 15/@baseRem;
           margin-top:15/@baseRem;
            font-size:40/@baseRem;
          }
        }
      }
    }
}

@media only screen and (min-device-width: 250px) and (max-device-width : 450px){
.custom-row .order-detail-content-block .order-details-list-second .order-detail-pull a.order-detail-customer-service-upload{
        width:80%;
}
.timeline ul li div{
      width: 33.34375rem;
      font-size: 1.71875rem;
}

}
@media only screen and (min-device-width: 768px) and (max-device-width : 1028px){
.custom-row .order-detail-content-block .order-details-list-second .order-detail-pull a.order-detail-customer-service-upload{
        width:80%;
}

}