@import "../../common/css/variable";
@import "../../common/css/lesshat";
//Order-Detail start
.content{
  .order-deatil-fixed-tab
  {
      padding-top: 30/@baseRem;
  }
  a.button.active{
    font-size:46/@baseRem;
    color:#ce0000;
    border-color:#ce0000;
    border-bottom: 2px solid;
    width:20%;
    margin-left:45/@baseRem;
    height:66.87/@baseRem;
        padding: 0;
        margin-right:45/@baseRem;
  }
  a.button{
    font-size:46/@baseRem;
    color:#666666;
    padding:0;
    
  }
  
  .order-details-large-products  {
  border-top: 40/@baseRem solid #f3f5f7;
  
  .order-detail-content-block{
    background-color:#fff;
    margin:0;
    padding:0/@baseRem 0 0 0;
    .order-details-list{
    //margin-bottom:20/@baseRem;
    
  .order-deatils-total{
          margin-left:45/@baseRem;
          font-weight:normal;
          span{
            color:#ce0000;
            margin-left:10/@baseRem;
          }
        }
 
   .order-detail-complete{
     float: right;
     padding-right:43/@baseRem;
     color:#ce0000;

   }
    }
    .order-detail-pull{
      float: right;
   .order-detail-total-second{
    width:50%;
        float: left;
    
  }
  .order-detail-completed{
     float: right;
     padding-right:43/@baseRem;
    font-weight: normal;
  }
    }
  }
  .order-detail-content-block-new{
    border-bottom: 1px solid #d7d7d7;
  }
  .order-detail-content-block-button{
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;

    .order-detail-pull{
      float: right;
      width:50%;
      padding-top: 24/@baseRem;

    .order-detail-total-second{
    float: left;
    width: 40%;
    text-align: center;
    color: #222222;
    padding: 20/@baseRem;
    border-radius: 5px;
    border: 1px solid #999999;
    font-size:40/@baseRem;
    }
    .order-detail-completed {
    text-align: center;
    color: #ce0000;
    padding: 20/@baseRem;
    border-radius: 5px;
    border: 1px solid #ce0000;
    font-size:40/@baseRem;
    width: 40%;
    float: left;
    margin-left: 12%;
    }
    .order-detail-completed-second{
      float: right;
      margin-right: 43/@baseRem;
    }
    }
    
  }
  .order-details-list-products-container{
     margin-top:50/@baseRem;
     margin-bottom: 50/@baseRem;
     .order-detail-product-col{
      width: 25%;
      margin-left: 6.5%;
     }
   }
   .order-detail-product-list-product-col{
     width:62%;
     margin-left: 4%;
     h4.order-detail-product-title{
       font-size:40/@baseRem;
       margin-top: -9/@baseRem;
       font-weight:normal;
       margin-bottom: 10/@baseRem;
     }
     h4.order-detail-product-price{
       color:#999999;
       font-size: 36/@baseRem;
       margin: 0;
       font-weight: normal;

     }
     h4.order-detail-product-price-yen{
       font-size: 36/@baseRem;
       margin: 30/@baseRem 0 0 0;
       font-weight: normal;
       color:#c41411;
       width: 50%;
       float: left;
     }
     h4.order-detail-product-price-x1{
       float: right;
       margin-top: 30/@baseRem;
       margin-bottom: 0;
       margin-right: 14/@baseRem;
       font-size: 40/@baseRem;
     }
   }
  }
 .order-detail-product-payment-method{
    width:100%;
    background-color:#fff;
    float: left;
        margin-bottom: 0;
    border-top:1px solid #d7d7d7;
    h4.order-detail-paid-pay{
font-size:40/@baseRem;
color:#222;
    float: left;
    margin-left: 4%;
        width: 34%;

    }
    label{
    margin-top:52.25/@baseRem;
    float: left;
    color: #999999;
    font-size: 40/@baseRem;
    }
  }
  .order-detail-product-payment-method-second{
    width:100%;
    background-color:#fff;
    float: left;
        margin-bottom: 0;
            margin-top: 0;
    border-top:1px solid #d7d7d7;
    h4.order-detail-paid-pay{
font-size:40/@baseRem;
color:#222;
    float: left;
    margin-left: 4%;
        width: 34%;

    }
    label{
    margin-top:52.25/@baseRem;
    float: left;
    color: #999999;
    font-size: 40/@baseRem;
    }
  }
  .product-detail-spec
{
  padding-top:47/@baseRem;
  padding-left:60/@baseRem;
  font-size:40/@baseRem;
  //background-color: #fff;
  color:#999999;
  height:151/@baseRem;
 // border-top:1px solid #d7d7d7;
  display: inline-block;
  //margin-bottom: 53/@baseRem;
  width:100%;
  //background-image: url(../image/product-detail-arrow.png);
  //background-repeat: no-repeat;
  //background-position: right 60px;
  background-color: #fff;
  //border-bottom: 1px solid #d7d7d7;
  //background-position: ~'calc(100% - 1.5rem)' center;
    background-repeat: no-repeat;
   // background-size: 0.7rem auto;
    padding-right: 1.5rem;
    span{
    font-size:40/@baseRem;
    color:#999999;
    padding-left:25/@baseRem;
    }

    .product-detail-color{
        color:#cccccc;
        .icon-right{
          font-size:40/@baseRem;
        }
    }

}

}

//Order-Detail End

//Order-Detail-Paid Start 
.content{
.order-details-large-products-new{
  border-top:0;
  .order-detail-content-block{
  .order-details-list{  
.order-detail-paid-complete{
  color:#999999;
  font-weight: normal;
}
  }
  }
  .order-details-paid-products-container{
  margin: 0;
  border-top: 1px solid #d7d7d7;
  border-bottom: 14/@baseRem solid #fff;
  height: 970px;
  .order-detail-paid-product-information{
    font-size: 46/@baseRem;
    font-weight:normal;
     padding-left:65.28/@baseRem;
         background-color: #fff;
         padding-top:50/@baseRem;
         padding-bottom: 50/@baseRem;
         margin-bottom: 47/@baseRem;
  }
}
.order-details-paid-products-container-completed{
      height: 846px;
}
.order-detail-completed-block{
  background: #fff;
  padding:50/@baseRem 60/@baseRem 60/@baseRem 60/@baseRem;
      margin: 0;
    float: left;
    width: 100%;
    .clearfix{
      list-style: none;
      float: right;
      padding: 0;
    }
    li{
      
      
      display: inline;
    }
    a{
      font-size: 40/@baseRem;
      color:#cccccc;
      background-color: #dedede;
      padding:26/@baseRem 40/@baseRem 26/@baseRem 40/@baseRem;
      border-radius: 5px;
          margin-right: 35px;
    }
    .order-completed-buy-again{
       font-size: 40/@baseRem;
       color: #ce0000;
       background-color: #ffffff;
           margin-right: 0;
       border:1px solid #ce0000;

    }
}



.order-detail-paid-content-block{
 // margin-top: 60/@baseRem;
  background-color: transparent;
  width: 89%;
  float: left;
    border: 1px solid #dedede;
    margin-left: 7%;
    border-radius: 8px;
    margin-top: 3%;
    margin-bottom: 3%;
  .order-detail-paid-memo{
    padding-left:65.28/@baseRem;
    margin-top: 34.04/@baseRem;
    float: left;
    font-size: 40/@baseRem;
    margin-bottom: 34.04/@baseRem;
    color:#999999;
    padding-right:70/@baseRem;
    font-weight:normal;


  }
  label{
     margin-top: 34.04/@baseRem;
    float: left;
    color:#999999;
    font-size: 40/@baseRem
  }
}

}
.order-detail-paid-container{
  border-top:15/@baseRem solid #f3f5f7;
  background-color: #fff;
     border-bottom: 1.953125rem solid #f3f5f7;
  .order-detail-paid-list{
    margin-top:50/@baseRem;
    margin-bottom: 27/@baseRem;
    .order-detail-paid-number{
      font-size:46/@baseRem;
      margin-left:76.72/@baseRem;
      color:#222222;
      float: left;

    }
    label{
       font-size:46/@baseRem;
       color:#ce0000;
       padding-left:25/@baseRem;
    }
  }
  .order-detail-paid-list-date{
    margin-bottom: 27/@baseRem;
    .order-detail-paid-date{
      font-size:36/@baseRem;
      color:#666666;
       margin-left:76.72/@baseRem;
       }
       label{
         font-size:36/@baseRem;
         color:#666666;
       }
    
  }
  .order-detail-paid-list-money{
padding-bottom: 27/@baseRem;
border-bottom: 1px solid #d7d7d7;
    .order-detail-paid-money{
      font-size:36/@baseRem;
      color:#666666;
      margin-left:76.72/@baseRem;
    }
     label{
         font-size:36/@baseRem;
         color:#ce0000;
         span{
           color:#666666;
         }
       }

  }
 
}
.order-detail-paid-wang{
   padding-left:65.28/@baseRem;
   border-top: 1px solid #d7d7d7;
       background-color: #fff;
   border-bottom: 1.953125rem solid #f3f5f7;
  .col-50{
    h2{
     
      color:#222222;
      font-size:46/@baseRem;
      font-weight: normal;
      margin-bottom: 13/@baseRem;
    }
    h2.order-detail-paid-wang-number{
      font-size:44/@baseRem;
      font-weight: normal;
       color:#222222;
       float:right;
       padding-right:45/@baseRem;
       margin-bottom: 13/@baseRem;

    }
  }
  .order-detail-paid-address{
    font-size: 37/@baseRem;
    color:#949494;
    float: left;
    margin-left: 1.9%;
    width:96%;
    padding-bottom: 50/@baseRem;
    
   
  }
}
 

}
.product-detail-paid{
  a.external{
    background-color:#c41411;
    font-size:50/@baseRem;
    color:#fff;

  }
}
.product-detail-paid-payment{
  a.externals{
  background-color: #fff;
  font-size: 50/@baseRem;
  color:#222222;
  }
 
}

//Order-Detail-Paid Ended 


/* -----------------------------------------------
 * Timeline Start
 * --------------------------------------------- */

.timeline ul {
  //background: #456990;
  padding-top: 50/@baseRem;
}
.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6/@baseRem;
  margin-left: 36/@baseRem;
  padding-bottom: 50/@baseRem;
  background: #ccc;
}
 
.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background: inherit;
  top: 0%;
}
.timeline ul li div {
  position: relative;
  bottom: 0;
  width:700px;
  padding: 0 20/@baseRem;
  margin-left: 65/@baseRem;
  font-size:30/@baseRem;
  color:#666;
  
}

.timeline ul li.timeline-container::after{
  background: url('../images/order-tracking.png') no-repeat;
      width: 50px;
    height: 50px;
}

/* -----------------------------------------------
 * Timeline Ended
 * --------------------------------------------- */


/* -----------------------------------------------
 * Successfullu Started
 * --------------------------------------------- */
.content{
  .order-detail-border{
    border-bottom:3px solid #d7d7d7;
    padding-bottom: 185/@baseRem;
.order-detail-thankyou{
      padding-top: 218/@baseRem;
      width: 40%;
      display: inline-block;
      text-align: right;

      img{
        max-width:100%;
      }
      
}
.order-detail-successfully-thankyou-posted{
      width: 60%;
      display: inline-block;
      float: right;
           
h3{
        font-size:60/@baseRem;
        color:#c41411;
        padding-top: 175/@baseRem;
        padding-left:38/@baseRem;
      }

}

}
.text-center{
a{
  margin-top:218/@baseRem;
  display: inline-block;
  padding:20px 65px;
  border-radius:5px;
  color:#c41411;
  font-size:50/@baseRem;
  text-align: center;
  border:1px solid #c41411;
  margin-bottom: 50/@baseRem;
}
}
}
 /* -----------------------------------------------
 * Successfullu Ended
 * --------------------------------------------- */

 .order-detail_comment_delete{
   background-color: #000;
   img{
     padding-top:450/@baseRem;
     max-width:100%;
     padding-bottom:450/@baseRem;

   }
 }
 .product-detail-dots {
    position: relative;
    top: 1.5625rem;
    right: 1.6796875rem;
    span{
      color:#fff;
      font-size:36/@baseRem;
    }
}

.content{
  .order-detail-list-products-container{
        margin: 0;
  }
  .shopping-cart-large-products {
    border-top: 50/@baseRem solid #f8f8f8;
    border-bottom: 1px solid #d7d7d7;
}

.order-detail-comment-main{
margin-top:50/@baseRem;
.shopping-cart-product-comment{
  padding-left:50/@baseRem;
  width:30%;
  padding-right:45/@baseRem;
}
.shopping-cart-product-list-order-detail-comment{
  width:61%;
  .shopping-cart-product-price{
    border:1px solid #d7d7d7;
    margin: 0;
    padding:20/@baseRem 20/@baseRem 155.03/@baseRem 30/@baseRem;
    color:#999;
    font-size:40/@baseRem;
    font-weight: normal;
    background-color: #fff;
  }
}
}
.order-detail-comment-second{
  margin-top:100/@baseRem;
  border-bottom: 1px solid #d7d7d7;
ul{
  list-style: none;
  float: left;
  width: 95%;
  li{
    float: left;
    width: 22%;
    margin-left: 3%;
    border:1px solid #d7d7d7;
    padding-bottom:224/@baseRem;
    margin-bottom: 30/@baseRem;
    background-color: #fff;

  }
  li:last-child{
    border:0;
    padding-bottom: 0;
    background-color: transparent;
  }
  img{
    max-width:100%;
  }
}
}
.order-detail-comment-third{
  border-bottom: 1px solid #d7d7d7;
  margin-bottom: 50/@baseRem;
  background-color: #fff;
.order-detail-comment-footer{
  h2{
  margin-left:70/@baseRem;
  font-size:36/@baseRem;
  padding-top:50/@baseRem;
  margin-top:0;
  width: 35%;
  float: left;
  }
  img{
    padding-top:56.32/@baseRem;
  }
}
}
}