@import "../../common/css/variable";
@import "../../common/css/lesshat";

.content{
  .order-deatil-fixed-tab
  {
      padding-top: 30/@baseRem;
  }
  a.button.active{
    font-size:46/@baseRem;
    color:#ce0000;
    border-color:#ce0000;
    border-bottom: 2px solid;
    width:20%;
    margin-left:45/@baseRem;
    height:66.87/@baseRem;
        padding: 0;
        margin-right:45/@baseRem;
  }
  a.button{
    font-size:46/@baseRem;
    color:#666666;
    padding:0;
    
  }
  
  .order-details-large-products  {
  border-top: 40/@baseRem solid #f3f5f7;
  
  .order-detail-content-block{
    background-color:#fff;
    margin:0;
    padding:0/@baseRem 0 0 0;
    .order-details-list{
    //margin-bottom:20/@baseRem;
    
  .order-deatils-total{
          margin-left:45/@baseRem;
          font-weight:normal;
          span{
            color:#ce0000;
            margin-left:10/@baseRem;
          }
        }
 
   .order-detail-complete{
     float: right;
     padding-right:43/@baseRem;
     color:#ce0000;

   }
    }
    .order-detail-pull{
      float: right;
   .order-detail-total-second{
    width:50%;
        float: left;
    
  }
  .order-detail-completed{
     float: right;
     padding-right:43/@baseRem;
    font-weight: normal;
  }
    }
  }
  .order-detail-content-block-new{
    border-bottom: 1px solid #d7d7d7;
  }
  .order-detail-content-block-button{
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;

    .order-detail-pull{
      float: right;
      width:50%;
      padding-top: 24/@baseRem;

    .order-detail-total-second{
    float: left;
    width: 40%;
    text-align: center;
    color: #222222;
    padding: 20/@baseRem;
    border-radius: 5px;
    border: 1px solid #999999;
    font-size:40/@baseRem;
    }
    .order-detail-completed {
    text-align: center;
    color: #ce0000;
    padding: 20/@baseRem;
    border-radius: 5px;
    border: 1px solid #ce0000;
    font-size:40/@baseRem;
    width: 40%;
    float: left;
    margin-left: 12%;
    }
    .order-detail-completed-second{
      float: right;
      margin-right: 43/@baseRem;
    }
    }
    
  }
  .order-details-list-products-container{
     margin-top:50/@baseRem;
     margin-bottom: 50/@baseRem;
     .order-detail-product-col{
      width: 25%;
      margin-left: 6.5%;
     }
   }
   .order-detail-product-list-product-col{
     width:62%;
     margin-left: 4%;
     h4.order-detail-product-title{
       font-size:40/@baseRem;
       margin-top: -9/@baseRem;
       font-weight:normal;
       margin-bottom: 10/@baseRem;
     }
     h4.order-detail-product-price{
       color:#999999;
       font-size: 36/@baseRem;
       margin: 0;
       font-weight: normal;

     }
     h4.order-detail-product-price-yen{
       font-size: 36/@baseRem;
       margin: 30/@baseRem 0 0 0;
       font-weight: normal;
       color:#c41411;
       width: 50%;
       float: left;
     }
     h4.order-detail-product-price-x1{
       float: right;
       margin-top: 30/@baseRem;
       margin-bottom: 0;
       margin-right: 14/@baseRem;
       font-size: 40/@baseRem;
     }
   }
  }
  
 
}


