/******************************************************
   *Variables START
******************************************************/
.trade-product-panel {
  background: #f8f8f8;
  border-top: 2px solid #dedede;
  border-bottom: 2px solid #dedede;
  margin-bottom: 1.953125rem;
}
.trade-product-panel .trade-product-panel-heading {
  font-size: 1.796875rem;
  color: #333333;
  background: #fff;
  padding: 1.484375rem;
}
.trade-product-list-row {
  padding: 1.953125rem;
  background: transparent;
  border-bottom: 10px solid #fff;
}
.trade-product-list-row:last-child {
  border-bottom: 0;
}
.trade-product-list-row .trade-product-list-image {
  float: left;
  width: 32.822306238185256%;
}
.trade-product-list-row .trade-product-list-text {
  float: left;
  width: 67.17769376%;
  padding-left: 2.1484375rem;
}
.trade-product-list-row .trade-product-list-text h2 {
  color: #333333;
  font-weight: normal;
  font-size: 1.5625rem;
  margin-top: 0;
  min-height: 7.320313rem;
  margin-bottom: 1.515625rem;
}
.trade-product-list-row .trade-product-list-text h2 span {
  display: block;
  font-size: 1.40625rem;
  color: #999999;
  margin-top: 1.328125rem;
  margin-left: 0.234375rem;
}
.trade-product-list-row .trade-product-list-text h3 {
  color: #c41411;
  font-weight: normal;
  font-size: 1.953125rem;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: -0.234375rem;
}
.trade-product-list-row .trade-product-list-text h3 span {
  font-size: 1.5625rem;
  float: right;
  color: #666666;
}
.trade-product-list-row .trade-product-footer {
  float: left;
  width: 100%;
  margin-top: 2.34375rem;
  background: #fff;
  padding: 1.171875rem;
}
.trade-product-list-row .trade-product-footer .trade-product-footer-text {
  font-size: 1.5625rem;
}
.trade-product-list-row .trade-product-footer .trade-product-footer-text span {
  color: #999999;
  display: inline-block;
  margin-left: 3.125rem;
}
.trade-styled-hr {
  height: 0.390625rem;
  background: #ededed;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  border-left: 0;
  margin: 1.171875rem -1.40625rem 1.953125rem;
}
.trade-top-order-header {
  background: #fff;
  margin: 1.953125rem 0;
  border-bottom: 2px solid #d7d7d7;
}
.trade-top-order-header > img {
  width: 100%;
  display: block;
}
.trade-top-order-header .trade-header-title-inner {
  padding: 1.7578125rem 2.34375rem;
  position: relative;
}
.trade-top-order-header .trade-header-title-row {
  margin-bottom: 0.5859375rem;
}
.trade-top-order-header .trade-header-title-row span {
  color: #222222;
  font-size: 1.796875rem;
}
.trade-top-order-header .trade-header-title-row .trade-header-title-right {
  float: right;
}
.trade-top-order-header .trade-header-sub-title {
  font-size: 1.40625rem;
  color: #666666;
  display: block;
  margin-bottom: 1.3671875rem;
}
.trade-top-order-header .trade-link {
  font-size: 1.5625rem;
  color: #c41411;
}
.trade-top-order-header .trade-header-right-arrow {
  font-size: 1.953125rem;
  color: #999999;
  top: 3.515625rem;
  right: 1.953125rem;
  position: absolute;
  display: block;
}
.trade-pricing-counting-block {
  background: #fff;
  border-top: 2px solid #dedede;
  margin-bottom: 1.953125rem;
}
.trade-pricing-counting-block .trade-pricing-counting-row {
  border-bottom: 2px solid #dedede;
  padding: 1.5625rem 1.953125rem;
  font-size: 1.5625rem;
}
.trade-pricing-counting-block .trade-pricing-counting-row .trade-label {
  color: #222222;
  float: left;
}
.trade-pricing-counting-block .trade-pricing-counting-row .trade-label.trade-padding-top {
  padding-top: 1.2109375rem;
}
.trade-pricing-counting-block .trade-pricing-counting-row .trade-label .trade-badge {
  font-size: 1.171875rem;
  background: #c41411;
  color: #fff;
  padding: 5px;
  margin-left: 0.5859375rem;
}
.trade-pricing-counting-block .trade-pricing-counting-row .trade-action {
  color: #666666;
  float: right;
  vertical-align: middle;
  text-align: right;
}
.trade-pricing-counting-block .trade-pricing-counting-row .trade-action span {
  color: #cccccc;
  vertical-align: middle;
  margin-left: 0.5859375rem;
}
.trade-pricing-total-block {
  background: #fff;
  border-top: 2px solid #dedede;
}
.trade-pricing-total-block .trade-text {
  font-size: 1.5625rem;
  padding: 1.953125rem;
  color: #222222;
}
.trade-pricing-total-block .trade-text .trade-total {
  font-size: 1.953125rem;
  color: #c41411;
}
.trade-pricing-total-block .trade-text .trade-extra {
  display: block;
  color: #c41411;
}
.trade-pricing-total-block .trade-text .trade-extra span {
  color: #222222;
}
.trade-pricing-total-block .trade-action-btn {
  background: #c41411;
  color: #fff;
  text-align: center;
  font-size: 1.953125rem;
  padding: 1.5625rem;
  display: block;
}
.trade-pricing-total-block .trade-action-btn.disable {
  background: #dedede;
  color: #cccccc;
}
.trade-header-sub-title-no-address {
  font-size: 1.40625rem;
  margin-bottom: 0 !important;
}
.trade-header-sub-title-no-address .trade-link {
  margin-bottom: 0.78125rem;
  font-size: 1.796875rem;
}
.trade-top-input-block {
  padding: 1.2890625rem 1.953125rem;
  background: #fff;
  margin: 1.953125rem 0;
  border-top: 2px solid #dedede;
  border-bottom: 2px solid #dedede;
  position: relative;
}
.trade-top-input-block input {
  font-size: 3.125rem;
  color: #cccccc;
  border: 0;
  background: transparent;
  padding: 0.3515625rem 0;
  padding-right: 4.6875rem;
  width: 100%;
}
.trade-top-input-block input::-webkit-input-placeholder {
  color: #cccccc;
}
.trade-top-input-block input:-moz-placeholder {
  color: #cccccc;
}
.trade-top-input-block input::-moz-placeholder {
  color: #cccccc;
}
.trade-top-input-block input:-ms-input-placeholder {
  color: #cccccc;
}
.trade-top-input-block button {
  position: absolute;
  right: 1.953125rem;
  background: transparent;
  border: 0;
  padding: 0;
  top: 1.2890625rem;
}
.trade-top-input-block button img {
  width: 4.21875rem;
  height: 4.21875rem;
}
@media (max-width: 992px) {
  .trade-checkbox-block .trade-checkboxes-row {
    max-height: 75px;
  }
}
@media (max-width: 767px) {
  .trade-checkbox-block .trade-checkboxes-row .trade-checkbox-column .trade-checkbox label {
    border-width: 1px;
  }
  .trade-checkbox-block .trade-checkboxes-row {
    max-height: 30px;
  }
}
