@import "../../common/css/variable";
@import "../../common/css/lesshat";

.content{
  padding-top: 135/@baseRem;
}


.trade-product-panel{
  background: @tradePanelBg;
  border-top: 2px solid @borderColorExtra;
  border-bottom: 2px solid @borderColorExtra;
  margin-bottom: 50/@baseRem;

  .trade-product-panel-heading{
    font-size: 46/@baseRem;
    color: @fontDarkColor;
    background: @white;
    padding: 38/@baseRem;
  }

}

.trade-product-list-row{
  padding:50/@baseRem;
  background: transparent;
  border-bottom: 10px solid @white;

  &:last-child{
    border-bottom: 0;
  }

  .trade-product-list-image{
    float: left;
    width: 32.822306238185256%;
  }
  .trade-product-list-text{
    float: left;
    width: 100% - 32.822306238185256%;
    padding-left: 55/@baseRem;

    h2{
      color: @fontDarkColor;
      font-weight: normal;
      font-size: 40/@baseRem;
      margin-top: 0;
      min-height: 7.320313rem;
      margin-bottom: 1.515625rem;


      span{
        display: block;
        font-size: 36/@baseRem;
        color: @fontLightColor;
        margin-top: 34/@baseRem;
      }
    }
    h3{
      color: @baseColor;
      font-weight: normal;
      font-size: 50/@baseRem;
      margin-bottom: 0;
      margin-top: 0;

      span{
        font-size: 40/@baseRem;
        float: right;
        color: @baseTextColor;
      }
    }
  }
  .trade-product-footer{
    float: left;
    width: 100%;
    margin-top: 60/@baseRem;
    background: @white;
    padding: 30/@baseRem;

    .trade-product-footer-text{
      font-size: 40/@baseRem;
      span{
        color: @fontLightColor;
        display: inline-block;
        margin-left: 80/@baseRem;
      }
    }

  }
}

.trade-styled-hr{
  height: 10/@baseRem;
  background: @bodyBackgroundColor;
  border-top: 1px solid @borderColorExtra;
  border-bottom: 1px solid @borderColorExtra;
  border-left: 0;
  margin: 30/@baseRem -36/@baseRem 50/@baseRem;
}

.trade-top-order-header{
  background: @white;
  margin: 50/@baseRem 0;
  border-bottom: 2px solid @tradeBorderColor;

  > img{
    width: 100%;
    display: block;
  }
  .trade-header-title-inner{
    padding: 45/@baseRem 60/@baseRem;
    position: relative;
  }
  .trade-header-title-row{
    margin-bottom: 15/@baseRem;
    span{
      color: #222222;
      font-size: 46/@baseRem;
    }
    .trade-header-title-right{
      float: right;
    }
  }
  .trade-header-sub-title{
    font-size: 36/@baseRem;
    color: @baseTextColor;
    display: block;
    margin-bottom: 35/@baseRem;
  }
  .trade-link{
    font-size: 40/@baseRem;
    color: @baseColor;
  }

  .trade-header-right-arrow{
    font-size: 50/@baseRem;
    color: @fontLightColor;
    position: absolute;
    top: 90/@baseRem;
    right: 50/@baseRem;
    position: absolute;
    display: block;
  }
}

.trade-pricing-counting-block{
  background: @white;
  border-top: 2px solid @borderColorExtra;
  margin-bottom: 50/@baseRem;

  .trade-pricing-counting-row{
    border-bottom: 2px solid @borderColorExtra;
    padding: 40/@baseRem 50/@baseRem;
    font-size: 40/@baseRem;

    .trade-label{
       color: #222222;
       float: left;

      &.trade-padding-top{
        padding-top: 31/@baseRem;
      }

        .trade-badge{
          font-size: 30/@baseRem;
          background: @baseColor;
          color: @white;
          padding: 5px;
          margin-left: 15/@baseRem;
        }
     }
    .trade-action{
      color: @baseTextColor;
      float: right;
      vertical-align: middle;
      text-align: right;

      span{
        color: #cccccc;
        vertical-align: middle;
        margin-left: 15/@baseRem;
      }
    }
  }
}

.trade-pricing-total-block{
  background: @white;
  border-top: 2px solid @borderColorExtra;


  .trade-text{
    font-size: 40/@baseRem;
    padding: 50/@baseRem;
    color: #222222;

    .trade-total{
      font-size: 50/@baseRem;
      color: @baseColor;
    }
    .trade-extra{
      display: block;
      color: @baseColor;
      span{
        color: #222222;
      }
    }
  }
  .trade-action-btn{
    background: @baseColor;
    color: @white;
    text-align: center;
    font-size: 50/@baseRem;
    padding: 40/@baseRem;
    display: block;

    &.disable{
      background: @borderColorExtra;
      color: @footerTextColor;
    }
  }
}



//no address//

.trade-header-sub-title-no-address{
  font-size:36/@baseRem;
  margin-bottom: 0 !important;
  .trade-link{
    margin-bottom: 20/@baseRem;
    font-size:46/@baseRem;
  }
}

@media(max-width: 992px){
  .trade-checkbox-block .trade-checkboxes-row{
    max-height: 75px;
  }
}
@media(max-width: 767px){
  .trade-checkbox-block .trade-checkboxes-row .trade-checkbox-column .trade-checkbox label{
    border-width: 1px;
  }
  .trade-checkbox-block .trade-checkboxes-row{
    max-height: 30px;
  }
}

