/******************************************************
   *Variables START
******************************************************/
.content .order-deatil-fixed-tab {
  padding-top: 1.171875rem;
}
.content a.button.active {
  font-size: 1.796875rem;
  color: #ce0000;
  border-color: #ce0000;
  border-bottom: 2px solid;
  width: 20%;
  margin-left: 1.7578125rem;
  height: 2.61210938rem;
  padding: 0;
  margin-right: 1.7578125rem;
}
.content a.button {
  font-size: 1.796875rem;
  color: #666666;
  padding: 0;
}
.content .order-details-large-products {
  border-top: 1.5625rem solid #f3f5f7;
}
.content .order-details-large-products .order-detail-content-block {
  background-color: #fff;
  margin: 0;
  padding: 0rem 0 0 0;
}
.content .order-details-large-products .order-detail-content-block .order-details-list .order-deatils-total {
  margin-left: 1.7578125rem;
  font-weight: normal;
}
.content .order-details-large-products .order-detail-content-block .order-details-list .order-deatils-total span {
  color: #ce0000;
  margin-left: 0.390625rem;
}
.content .order-details-large-products .order-detail-content-block .order-details-list .order-detail-complete {
  float: right;
  padding-right: 1.6796875rem;
  color: #ce0000;
}
.content .order-details-large-products .order-detail-content-block .order-detail-pull {
  float: right;
}
.content .order-details-large-products .order-detail-content-block .order-detail-pull .order-detail-total-second {
  width: 50%;
  float: left;
}
.content .order-details-large-products .order-detail-content-block .order-detail-pull .order-detail-completed {
  float: right;
  padding-right: 1.6796875rem;
  font-weight: normal;
}
.content .order-details-large-products .order-detail-content-block-new {
  border-bottom: 1px solid #d7d7d7;
}
.content .order-details-large-products .order-detail-content-block-button {
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
}
.content .order-details-large-products .order-detail-content-block-button .order-detail-pull {
  float: right;
  width: 50%;
  padding-top: 0.9375rem;
}
.content .order-details-large-products .order-detail-content-block-button .order-detail-pull .order-detail-total-second {
  float: left;
  width: 40%;
  text-align: center;
  color: #222222;
  padding: 0.78125rem;
  border-radius: 5px;
  border: 1px solid #999999;
  font-size: 1.5625rem;
}
.content .order-details-large-products .order-detail-content-block-button .order-detail-pull .order-detail-completed {
  text-align: center;
  color: #ce0000;
  padding: 0.78125rem;
  border-radius: 5px;
  border: 1px solid #ce0000;
  font-size: 1.5625rem;
  width: 40%;
  float: left;
  margin-left: 12%;
}
.content .order-details-large-products .order-detail-content-block-button .order-detail-pull .order-detail-completed-second {
  float: right;
  margin-right: 1.6796875rem;
}
.content .order-details-large-products .order-details-list-products-container {
  margin-top: 1.953125rem;
  margin-bottom: 1.953125rem;
}
.content .order-details-large-products .order-details-list-products-container .order-detail-product-col {
  width: 25%;
  margin-left: 6.5%;
}
.content .order-details-large-products .order-detail-product-list-product-col {
  width: 62%;
  margin-left: 4%;
}
.content .order-details-large-products .order-detail-product-list-product-col h4.order-detail-product-title {
  font-size: 1.5625rem;
  margin-top: -0.3515625rem;
  font-weight: normal;
  margin-bottom: 0.390625rem;
}
.content .order-details-large-products .order-detail-product-list-product-col h4.order-detail-product-price {
  color: #999999;
  font-size: 1.40625rem;
  margin: 0;
  font-weight: normal;
}
.content .order-details-large-products .order-detail-product-list-product-col h4.order-detail-product-price-yen {
  font-size: 1.40625rem;
  margin: 1.171875rem 0 0 0;
  font-weight: normal;
  color: #c41411;
  width: 50%;
  float: left;
}
.content .order-details-large-products .order-detail-product-list-product-col h4.order-detail-product-price-x1 {
  float: right;
  margin-top: 1.171875rem;
  margin-bottom: 0;
  margin-right: 0.546875rem;
  font-size: 1.5625rem;
}
.content .order-detail-product-payment-method {
  width: 100%;
  background-color: #fff;
  float: left;
  margin-bottom: 0;
  border-top: 1px solid #d7d7d7;
}
.content .order-detail-product-payment-method h4.order-detail-paid-pay {
  font-size: 1.5625rem;
  color: #222;
  float: left;
  margin-left: 4%;
  width: 34%;
}
.content .order-detail-product-payment-method label {
  margin-top: 2.04101563rem;
  float: left;
  color: #999999;
  font-size: 1.5625rem;
}
.content .order-detail-product-payment-method-second {
  width: 100%;
  background-color: #fff;
  float: left;
  margin-bottom: 0;
  margin-top: 0;
  border-top: 1px solid #d7d7d7;
}
.content .order-detail-product-payment-method-second h4.order-detail-paid-pay {
  font-size: 1.5625rem;
  color: #222;
  float: left;
  margin-left: 4%;
  width: 34%;
}
.content .order-detail-product-payment-method-second label {
  margin-top: 2.04101563rem;
  float: left;
  color: #999999;
  font-size: 1.5625rem;
}
.content .product-detail-spec {
  padding-top: 1.8359375rem;
  padding-left: 2.34375rem;
  font-size: 1.5625rem;
  color: #999999;
  height: 5.8984375rem;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  background-repeat: no-repeat;
  padding-right: 1.5rem;
}
.content .product-detail-spec span {
  font-size: 1.5625rem;
  color: #999999;
  padding-left: 0.9765625rem;
}
.content .product-detail-spec .product-detail-color {
  color: #cccccc;
}
.content .product-detail-spec .product-detail-color .icon-right {
  font-size: 1.5625rem;
}
.content .order-details-large-products-new {
  border-top: 0;
}
.content .order-details-large-products-new .order-detail-content-block .order-details-list .order-detail-paid-complete {
  color: #999999;
  font-weight: normal;
}
.content .order-details-large-products-new .order-details-paid-products-container {
  margin: 0;
  border-top: 1px solid #d7d7d7;
  border-bottom: 0.546875rem solid #fff;
  height: 970px;
}
.content .order-details-large-products-new .order-details-paid-products-container .order-detail-paid-product-information {
  font-size: 1.796875rem;
  font-weight: normal;
  padding-left: 2.55rem;
  background-color: #fff;
  padding-top: 1.953125rem;
  padding-bottom: 1.953125rem;
  margin-bottom: 1.8359375rem;
}
.content .order-details-large-products-new .order-details-paid-products-container-completed {
  height: 846px;
}
.content .order-details-large-products-new .order-detail-completed-block {
  background: #fff;
  padding: 1.953125rem 2.34375rem 2.34375rem 2.34375rem;
  margin: 0;
  float: left;
  width: 100%;
}
.content .order-details-large-products-new .order-detail-completed-block .clearfix {
  list-style: none;
  float: right;
  padding: 0;
}
.content .order-details-large-products-new .order-detail-completed-block li {
  display: inline;
}
.content .order-details-large-products-new .order-detail-completed-block a {
  font-size: 1.5625rem;
  color: #cccccc;
  background-color: #dedede;
  padding: 1.015625rem 1.5625rem 1.015625rem 1.5625rem;
  border-radius: 5px;
  margin-right: 35px;
}
.content .order-details-large-products-new .order-detail-completed-block .order-completed-buy-again {
  font-size: 1.5625rem;
  color: #ce0000;
  background-color: #ffffff;
  margin-right: 0;
  border: 1px solid #ce0000;
}
.content .order-details-large-products-new .order-detail-paid-content-block {
  background-color: transparent;
  width: 89%;
  float: left;
  border: 1px solid #dedede;
  margin-left: 7%;
  border-radius: 8px;
  margin-top: 3%;
  margin-bottom: 3%;
}
.content .order-details-large-products-new .order-detail-paid-content-block .order-detail-paid-memo {
  padding-left: 2.55rem;
  margin-top: 1.3296875rem;
  float: left;
  font-size: 1.5625rem;
  margin-bottom: 1.3296875rem;
  color: #999999;
  padding-right: 2.734375rem;
  font-weight: normal;
}
.content .order-details-large-products-new .order-detail-paid-content-block label {
  margin-top: 1.3296875rem;
  float: left;
  color: #999999;
  font-size: 1.5625rem;
}
.content .order-detail-paid-container {
  border-top: 0.5859375rem solid #f3f5f7;
  background-color: #fff;
  border-bottom: 1.953125rem solid #f3f5f7;
}
.content .order-detail-paid-container .order-detail-paid-list {
  margin-top: 1.953125rem;
  margin-bottom: 1.0546875rem;
}
.content .order-detail-paid-container .order-detail-paid-list .order-detail-paid-number {
  font-size: 1.796875rem;
  margin-left: 2.996875rem;
  color: #222222;
  float: left;
}
.content .order-detail-paid-container .order-detail-paid-list label {
  font-size: 1.796875rem;
  color: #ce0000;
  padding-left: 0.9765625rem;
}
.content .order-detail-paid-container .order-detail-paid-list-date {
  margin-bottom: 1.0546875rem;
}
.content .order-detail-paid-container .order-detail-paid-list-date .order-detail-paid-date {
  font-size: 1.40625rem;
  color: #666666;
  margin-left: 2.996875rem;
}
.content .order-detail-paid-container .order-detail-paid-list-date label {
  font-size: 1.40625rem;
  color: #666666;
}
.content .order-detail-paid-container .order-detail-paid-list-money {
  padding-bottom: 1.0546875rem;
  border-bottom: 1px solid #d7d7d7;
}
.content .order-detail-paid-container .order-detail-paid-list-money .order-detail-paid-money {
  font-size: 1.40625rem;
  color: #666666;
  margin-left: 2.996875rem;
}
.content .order-detail-paid-container .order-detail-paid-list-money label {
  font-size: 1.40625rem;
  color: #ce0000;
}
.content .order-detail-paid-container .order-detail-paid-list-money label span {
  color: #666666;
}
.content .order-detail-paid-wang {
  padding-left: 2.55rem;
  border-top: 1px solid #d7d7d7;
  background-color: #fff;
  border-bottom: 1.953125rem solid #f3f5f7;
}
.content .order-detail-paid-wang .col-50 h2 {
  color: #222222;
  font-size: 1.796875rem;
  font-weight: normal;
  margin-bottom: 0.5078125rem;
}
.content .order-detail-paid-wang .col-50 h2.order-detail-paid-wang-number {
  font-size: 1.71875rem;
  font-weight: normal;
  color: #222222;
  float: right;
  padding-right: 1.7578125rem;
  margin-bottom: 0.5078125rem;
}
.content .order-detail-paid-wang .order-detail-paid-address {
  font-size: 1.4453125rem;
  color: #949494;
  float: left;
  margin-left: 1.9%;
  width: 96%;
  padding-bottom: 1.953125rem;
}
.product-detail-paid a.external {
  background-color: #c41411;
  font-size: 1.953125rem;
  color: #fff;
}
.product-detail-paid-payment a.externals {
  background-color: #fff;
  font-size: 1.953125rem;
  color: #222222;
}
/* -----------------------------------------------
 * Timeline Start
 * --------------------------------------------- */
.timeline ul {
  padding-top: 1.953125rem;
}
.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 0.234375rem;
  margin-left: 1.40625rem;
  padding-bottom: 1.953125rem;
  background: #ccc;
}
.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background: inherit;
  top: 0%;
}
.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 700px;
  padding: 0 0.78125rem;
  margin-left: 2.5390625rem;
  font-size: 1.171875rem;
  color: #666;
}
.timeline ul li.timeline-container::after {
  background: url('../images/order-tracking.png') no-repeat;
  width: 50px;
  height: 50px;
}
/* -----------------------------------------------
 * Timeline Ended
 * --------------------------------------------- */
/* -----------------------------------------------
 * Successfullu Started
 * --------------------------------------------- */
.content .order-detail-border {
  border-bottom: 3px solid #d7d7d7;
  padding-bottom: 7.2265625rem;
}
.content .order-detail-border .order-detail-thankyou {
  padding-top: 8.515625rem;
  width: 40%;
  display: inline-block;
  text-align: right;
}
.content .order-detail-border .order-detail-thankyou img {
  max-width: 100%;
}
.content .order-detail-border .order-detail-successfully-thankyou-posted {
  width: 60%;
  display: inline-block;
  float: right;
}
.content .order-detail-border .order-detail-successfully-thankyou-posted h3 {
  font-size: 2.34375rem;
  color: #c41411;
  padding-top: 6.8359375rem;
  padding-left: 1.484375rem;
}
.content .text-center a {
  margin-top: 8.515625rem;
  display: inline-block;
  padding: 20px 65px;
  border-radius: 5px;
  color: #c41411;
  font-size: 1.953125rem;
  text-align: center;
  border: 1px solid #c41411;
  margin-bottom: 1.953125rem;
}
/* -----------------------------------------------
 * Successfullu Ended
 * --------------------------------------------- */
.order-detail_comment_delete {
  background-color: #000;
}
.order-detail_comment_delete img {
  padding-top: 17.578125rem;
  max-width: 100%;
  padding-bottom: 17.578125rem;
}
.product-detail-dots {
  position: relative;
  top: 1.5625rem;
  right: 1.6796875rem;
}
.product-detail-dots span {
  color: #fff;
  font-size: 1.40625rem;
}
.content .order-detail-list-products-container {
  margin: 0;
}
.content .shopping-cart-large-products {
  border-top: 1.953125rem solid #f8f8f8;
  border-bottom: 1px solid #d7d7d7;
}
.content .order-detail-comment-main {
  margin-top: 1.953125rem;
}
.content .order-detail-comment-main .shopping-cart-product-comment {
  padding-left: 1.953125rem;
  width: 30%;
  padding-right: 1.7578125rem;
}
.content .order-detail-comment-main .shopping-cart-product-list-order-detail-comment {
  width: 61%;
}
.content .order-detail-comment-main .shopping-cart-product-list-order-detail-comment .shopping-cart-product-price {
  border: 1px solid #d7d7d7;
  margin: 0;
  padding: 0.78125rem 0.78125rem 6.05585937rem 1.171875rem;
  color: #999;
  font-size: 1.5625rem;
  font-weight: normal;
  background-color: #fff;
}
.content .order-detail-comment-second {
  margin-top: 3.90625rem;
  border-bottom: 1px solid #d7d7d7;
}
.content .order-detail-comment-second ul {
  list-style: none;
  float: left;
  width: 95%;
}
.content .order-detail-comment-second ul li {
  float: left;
  width: 22%;
  margin-left: 3%;
  border: 1px solid #d7d7d7;
  padding-bottom: 8.75rem;
  margin-bottom: 1.171875rem;
  background-color: #fff;
}
.content .order-detail-comment-second ul li:last-child {
  border: 0;
  padding-bottom: 0;
  background-color: transparent;
}
.content .order-detail-comment-second ul img {
  max-width: 100%;
}
.content .order-detail-comment-third {
  border-bottom: 1px solid #d7d7d7;
  margin-bottom: 1.953125rem;
  background-color: #fff;
}
.content .order-detail-comment-third .order-detail-comment-footer h2 {
  margin-left: 2.734375rem;
  font-size: 1.40625rem;
  padding-top: 1.953125rem;
  margin-top: 0;
  width: 35%;
  float: left;
}
.content .order-detail-comment-third .order-detail-comment-footer img {
  padding-top: 2.2rem;
}
/* -----------------------------------------------
 * Customer service list Started
 * --------------------------------------------- */
.content .order-details-large-products .order-details-customer-service-list {
  border-top: 1px solid #d7d7d7;
}
.content .order-detail-content-block .order-details-list {
  border-bottom: 1px solid #d7d7d7;
}
.content .order-detail-content-block .order-details-list h2.customer-service-refund {
  margin-left: 1.875rem;
  font-weight: normal;
  color: #c41411;
  font-size: 1.40625rem;
}
.content .order-detail-content-block .order-details-list .order-detail-pull .customer-service-list-right {
  float: right;
  width: 58%;
  font-size: 1.40625rem;
}
.content .order-detail-content-block .order-details-list .order-detail-pull .order-detail-customer-service-upload {
  text-align: center;
  color: #c41411;
  border: 2px solid #c41411;
  padding: 0.5859375rem 1.171875rem 0.5859375rem 1.171875rem;
  border-radius: 5px;
  float: right;
  width: 61%;
  margin-right: 0.5859375rem;
  margin-top: 0.5859375rem;
  font-size: 1.5625rem;
}
.content .order-detail-content-block .order-details-list-second {
  padding: 0.9765625rem;
}
/* -----------------------------------------------
 * Customer service list Ended
 * --------------------------------------------- */
/* -----------------------------------------------
 * Apply For Return Start
 * --------------------------------------------- */
.header-base-color .bar .span_icon {
  padding: 0;
}
.header-base-color .bar .span_icon img {
  max-width: 100%;
}
.content .buttons-tab-apply {
  border-bottom: 1px solid #d7d7d7;
  padding-top: 1.171875rem;
}
.content .buttons-tab-apply a.button.active {
  font-size: 1.796875rem;
  color: #ce0000;
  border-color: #ce0000;
  border-bottom: 2px solid;
  width: 20%;
  margin-left: 1.7578125rem;
  height: 2.61210938rem;
  padding: 0;
  margin-right: 1.7578125rem;
}
.content .buttons-tab-apply a.button {
  color: #222;
  font-size: 1.796875rem;
  padding: 0;
}
.content .order-details-apply-for-return {
  border-top: 0.46875rem solid #f3f5f7;
}
.content .order-details-apply-for-return .order-details-customer-apply-list {
  background-color: #f8f8f8;
}
.content .order-details-apply-for-return .order-details-customer-apply-list .order-detail-apply-list-product-col h4.order-detail-product-title {
  letter-spacing: 4px;
  color: #222;
}
.content .order-details-apply-for-return .order-details-customer-apply-list .order-detail-apply-list-product-col h4.order-detail-product-price-x1 {
  font-weight: normal;
  margin-right: 1.146875rem;
}
.content .order-details-apply-for-return .order-details-customer-apply-list .order-detail-apply-content-block .order-details-list .order-detail-pull span.order-detail-apply-zero {
  font-size: 1.40625rem;
  color: #222;
  margin-top: 1.25rem;
  margin-bottom: 0.7421875rem;
  float: left;
}
.content .order-details-apply-for-return .order-details-customer-apply-list .order-detail-apply-content-block .order-details-list .order-detail-pull h2.customer-service-list-right {
  width: 68%;
}
.content .order-details-apply-for-return .order-details-customer-apply-list .apply-product-detail-spec {
  color: #222;
}
/* -----------------------------------------------
 * Apply For Return  Ended
 * --------------------------------------------- */
/* -----------------------------------------------
 * Return Reason  Start
 * --------------------------------------------- */
.content .order-detail-reason-return {
  font-size: 1.796875rem;
  color: #222;
  background-color: #f3f5f7;
  border-bottom: 2px solid #d7d7d7;
}
.content .order-detail-reason-return label {
  color: #ce0000;
}
.content .order-detail-reason-return-spec {
  border-bottom: 2px solid #d7d7d7;
}
.content .order-detail-reason-comment-second {
  border-bottom: 0;
  margin-top: 1.953125rem;
}
.content .order-detail-reason-comment-second ul {
  margin: 0;
  padding-left: 2.6953125rem;
}
.content .order-detail-reason-comment-second ul li {
  vertical-align: middle;
  text-align: center;
  padding-top: 3.90625rem;
  padding-bottom: 3.90625rem;
}
.content .order-detail-reason-comment-second .order-detail-reason-comment-upload-certificate {
  color: #999999;
  float: left;
  margin-left: 9%;
  font-weight: normal;
  font-size: 1.40625rem;
}
.popup {
  top: 33.203125rem;
}
.popup .content-block {
  padding-top: 1.953125rem;
  padding-left: 1.796875rem;
  padding-right: 1.796875rem;
}
.popup .content-block p {
  font-size: 1.796875rem;
  color: #222;
  padding-bottom: 1.953125rem;
}
.popup .content-block h2 {
  font-size: 1.5625rem;
  color: #666666;
  font-weight: normal;
  border-bottom: 1px solid #d7d7d7;
  padding-bottom: 1.953125rem;
}
.popup .content-block h2.mar_gaya {
  border-bottom: 0;
}
.popup a {
  text-align: center;
  width: 100%;
  display: inline-block;
  color: #c41411;
  border-top: 1px solid #d7d7d7;
  font-size: 1.5625rem;
  padding-top: 2.34375rem;
}
.popup .content-block .modal-overlay,
.popup-overlay,
.preloader-indicator-overlay {
  background: rgba(17, 17, 17, 0.5);
}
/* -----------------------------------------------
 * Return Reason  Ended
 * --------------------------------------------- */
/* -----------------------------------------------
 * Return Information  start
 * --------------------------------------------- */
.content .order-deatil-return-content-block {
  padding: 0;
  background-color: #fff;
  margin: 0;
  padding-bottom: 3.90625rem;
  border-bottom: 2px solid #d7d7d7;
}
.content .order-deatil-return-content-block h2.order-detail-return-process {
  padding-left: 1.7578125rem;
  color: #222;
  font-size: 1.796875rem;
  font-weight: normal;
  border-bottom: 2px solid #d7d7d7;
  padding-bottom: 0.9765625rem;
  padding-top: 0.9765625rem;
  margin-top: 0;
}
.content .order-deatil-return-content-block ul.order-detail-return-information-step {
  list-style: none;
  float: left;
  padding-left: 3.3203125rem;
  width: 100%;
  position: relative;
}
.content .order-deatil-return-content-block ul.order-detail-return-information-step li.order-detail-retun-information-step1 .label-checkbox {
  float: left;
}
.content .order-deatil-return-content-block ul.order-detail-return-information-step li.order-detail-retun-information-step1 .label-checkbox .item-media i.icon-form-checkbox {
  width: 2.734375rem;
  height: 2.734375rem;
  background-color: #c41411;
  border-radius: 50px;
}
.content .order-deatil-return-content-block ul.order-detail-return-information-step li.order-detail-retun-information-step1 .label-checkbox .item-media i.icon-form-checkbox.shopping-cart-return-information {
  background-color: #d7d7d7;
}
.content .order-deatil-return-content-block ul.order-detail-return-information-step li {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.content .order-deatil-return-content-block ul.order-detail-return-information-step li a {
  display: block;
  padding: 0.8984375rem 0.15625rem;
}
.content .order-deatil-return-content-block ul.order-detail-return-information-step li a span {
  display: block;
  width: 0.5859375rem;
  height: 0.5859375rem;
  background-color: #ce0000;
  border-radius: 100%;
  opacity: 0.6;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -webkit-transform: scale(0.6);
  transform: scale(0.6);
}
.content .order-deatil-return-content-block ul.order-detail-return-information-step li a.selected span {
  opacity: 1;
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}
.content .order-deatil-return-content-block ul.order-detail-return-information-step li a.Deselected span {
  background-color: #d7d7d7;
  opacity: 1;
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}
.content .order-deatil-return-content-block ul.order-detail-return-information-step li span.color-change {
  background-color: #d7d7d7;
}
.content .order-deatil-return-content-block .order-detail-return-info-main {
  width: 90%;
  float: left;
  padding-left: 0.15625rem;
  padding-right: 0.46875rem;
  border-bottom: 2px dashed #d7d7d7;
  margin-left: 5%;
  padding-bottom: 1.5625rem;
  position: relative;
}
.content .order-deatil-return-content-block .order-detail-return-info-main ul {
  list-style: none;
  width: 100%;
  float: left;
  padding: 0;
  text-align: center;
}
.content .order-deatil-return-content-block .order-detail-return-info-main ul li {
  float: left;
  width: 23%;
  margin-left: 2%;
}
.content .order-deatil-return-content-block .order-detail-return-info-main ul li a.selected {
  color: #c41411;
  font-size: 1.40625rem;
}
.content .order-deatil-return-content-block .order-detail-return-info-main ul li a {
  color: #cccccc;
  font-size: 1.40625rem;
}
.content .order-deatil-return-content-block .order-detail-return-info-main ul li:first-child {
  text-align: left;
  margin-left: 0%;
}
.content .order-deatil-return-content-block .order-detail-return-info-main ul li:last-child {
  text-align: right;
  margin-left: 4%;
}
.content .order-deatil-return-content-block h3 {
  float: left;
  padding-left: 2.34375rem;
  font-size: 1.71875rem;
  font-weight: normal;
  color: #222;
}
.content .order-deatil-return-content-block div.order-detail-return {
  padding-top: 0;
  height: auto;
  padding-bottom: 1.8359375rem;
}
.content .order-deatil-return-content-block p.order-detail-return {
  margin: 0;
  padding-top: 0;
  height: auto;
}
.content .order-deatil-return-content-block a.order-return-logistics {
  text-align: center;
  display: inline-block;
  width: 60%;
  padding: 1.40625rem 3.3203125rem;
  border: 1px solid #d7d7d7;
  border-radius: 5px;
  margin-left: 18%;
  background-color: #c41411;
  margin-top: 2%;
  color: #fff;
  font-size: 1.953125rem;
}
.content .order-detail-application-return {
  border-top: 1.953125rem solid #f3f5f7;
  background-color: #fff;
}
.content .order-detail-application-return .content-block .sale-type-new {
  width: 30%;
  float: left;
}
.content .order-detail-application-return .content-block .sale-type-new p.sale-type {
  font-size: 1.71875rem;
  color: #999;
  padding-left: 2.734375rem;
  margin: 0;
  padding-bottom: 1.953125rem;
}
.content .order-detail-application-return .content-block .sale-type-new2 {
  float: left;
  width: 70%;
}
.content .order-detail-application-return .content-block .sale-type-new2 p.return-sale-type {
  color: #222;
  font-size: 1.71875rem;
  margin: 0;
  padding-bottom: 1.953125rem;
}
.content .order-detail-return-content-block-approval {
  padding-bottom: 1.18945313rem;
}
label.label-checkbox input[type=checkbox]:checked + .item-media i.icon-form-checkbox:after,
label.label-checkbox input[type=radio]:checked + .item-media i.icon-form-checkbox:after {
  background-size: 1.8rem 1.9rem;
}
label.label-checkbox i.icon-form-checkbox:after {
  position: absolute;
  left: 39%;
  margin-left: -0.4rem;
  top: 29%;
  margin-top: -0.1rem;
  width: 1.6rem;
  height: 1.45rem;
}
/* -----------------------------------------------
 * Return Information  Ended
 
 * --------------------------------------------- */
