/******************************************************
   *Variables START
******************************************************/
.content {
  padding-top: 5.1171875rem !important;
}
.trade-bottom-fixed-btn {
  font-size: 1.953125rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  text-align: center;
  background: #fff;
}
.trade-bottom-fixed-btn .trade-text {
  font-size: 1.5625rem;
  padding: 1.953125rem;
  color: #222222;
}
.trade-bottom-fixed-btn .trade-text .trade-total {
  font-size: 1.953125rem;
  color: #c41411;
}
.trade-bottom-fixed-btn .trade-text .trade-extra {
  display: block;
  color: #c41411;
}
.trade-bottom-fixed-btn .trade-text .trade-extra span {
  color: #222222;
}
.trade-bottom-fixed-btn ~ .content {
  padding-bottom: 9.1796875rem;
}
.trade-success-row {
  border-top: 2px solid #d7d7d7;
  border-bottom: 2px solid #d7d7d7;
  padding: 1.953125rem;
  font-size: 1.796875rem;
  color: #666666;
  background: #fff;
}
.trade-success-row + .trade-success-row {
  border-top: 0;
}
.trade-success-row .trade-success-text {
  font-size: 1.40625rem;
  margin-top: 0.9765625rem;
}
.trade-success-row .trade-success-text span {
  margin-bottom: 0.1953125rem;
}
.trade-notify-block {
  background: #fff;
  text-align: center;
  padding-top: 4.296875rem;
  padding-bottom: 5.2734375rem;
}
.trade-notify-block .trade-notify-block-text {
  display: inline-block;
  position: relative;
  color: #333333;
  font-size: 2.34375rem;
}
.trade-notify-block .trade-notify-block-text img {
  position: absolute;
  top: 0;
  -lh-property: 0;
right:-webkit-calc(100% + 2.34375rem);
right:-moz-calc(100% + 2.34375rem);
right:calc(100% + 2.34375rem);
;
  width: 3.90625rem;
}
.trade-notify-block .trade-notify-block-text span {
  display: block;
  font-size: 1.875rem;
}
.trade-action-btns {
  padding: 20.3125rem 1.953125rem 1.953125rem;
}
.trade-action-btns a {
  display: inline-block;
  font-size: 1.953125rem;
  padding: 1.4453125rem 0.390625rem;
  background: #fff;
  width: 45%;
  text-align: center;
  -webkit-border-radius: 0.3125rem;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0.3125rem;
  -moz-background-clip: padding;
  border-radius: 0.3125rem;
  background-clip: padding-box;
  border: 1px solid #999999;
  color: #333333;
}
.trade-action-btns a.active {
  color: #c41411;
  border-color: #c41411;
}
.trade-action-btns a + a {
  margin-left: 10%;
}
