@import "../../common/css/variable";
@import "../../common/css/lesshat";


.header-base-color .bar-title{
        color: #fff;
    font-size: 1.796875rem;
    font-weight: 400;
    //margin: 1.890625rem 0;
    //padding-left: 3.390625rem;
    width: 92%;
}

.trade-error-block{
      padding-top: 6.25rem;
 img {
    width: 9.453125rem;
}
h2 {
    margin-top: 6.015625rem;
    font-size: 1.796875rem;
    color: #999999;
    font-weight: normal;
    margin-bottom: 0;
}
a {
    display: block;
    margin-top: 1.171875rem;
    font-size: 1.40625rem;
}
}
