/******************************************************
   *Variables START
******************************************************/
.trade-error-block {
  padding-top: 6.25rem;
}
.trade-error-block img {
  width: 9.453125rem;
}
.trade-error-block h2 {
  margin-top: 6.015625rem;
  font-size: 1.796875rem;
  color: #999999;
  font-weight: normal;
  margin-bottom: 0;
}
.trade-error-block a {
  display: block;
  margin-top: 1.171875rem;
  font-size: 1.40625rem;
}
.cash-deduction {
  z-index: 1;
}
.trade-shopping-cart-header-secondary {
  top: 5.15625rem;
  min-height: 3.90625rem;
  padding: 0;
  border-bottom: 2px solid #cfcfcf;
  z-index: -10;
}
.trade-shopping-cart-header-secondary .row .col-50 .trade-shopping-cart-total {
  font-size: 1.40625rem;
  font-weight: normal;
  padding-left: 1.953125rem;
  color: #999999;
  margin-top: 0.8859375rem;
}
.trade-shopping-cart-header-secondary .row .col-50 .trade-shopping-cart-total span {
  padding-left: 0.5859375rem;
  padding-right: 0.5859375rem;
  font-size: 1.40625rem;
  color: #c41411;
}
.trade-shopping-cart-header-secondary .row .col-50 .trade-shopping-cart-edit {
  float: right;
  color: #c41411;
  font-weight: normal;
  padding-right: 1.390625rem;
  font-size: 1.5625rem;
  margin-top: 0.8859375rem;
  margin-bottom: 0.8859375rem;
}
.shopping-cart-tabs-footer-navigation {
  height: 11.520703rem !important;
}
.trade-shopping-cart-list-products-container {
  border-top: 0px;
  padding-top: 0rem;
  padding: 0rem;
  margin-top: 3.9rem;
  margin-bottom: 4.640625rem;
  z-index: 99;
  margin-right: 0;
  margin-left: 0;
}
.trade-shopping-cart-list-products-container .trade-shopping-cart-large-products {
  border-top: 1.5625rem solid #f3f5f7;
}
.trade-shopping-cart-list-products-container .trade-shopping-cart-list-products-container-new {
  padding-top: 1.953125rem;
}
.trade-shopping-cart-list-products-container .trade-shopping-cart-border-bott {
  border-bottom: 0.390625rem solid #f7f7f7;
}
.trade-shopping-cart-list-products-container .trade-large-products {
  border-top: 0.390625rem solid #f7f7f7;
}
.trade-shopping-cart-header-secondary2 {
  top: 10.036719rem;
  min-height: 3.90625rem;
  padding: 0;
  padding-left: 1.953125rem;
  padding-top: 1.0071875rem;
  margin-bottom: 0;
  z-index: 3;
}
.trade-shopping-cart-header-secondary2 label.label-checkbox .item-media {
  float: left;
}
.trade-shopping-cart-header-secondary2 label.label-checkbox .item-media i.trade-shopping-cart-form-checkbox {
  width: 1.953125rem;
  height: 1.953125rem;
}
.trade-shopping-cart-header-secondary2 label.label-checkbox .item-media i.trade-shopping-cart-form-checkbox-down {
  margin-top: 4.296875rem;
}
.trade-shopping-cart-header-secondary2 label.label-checkbox .item-media h2 {
  float: right;
  margin: 0;
  font-size: 1.40625rem;
  padding-left: 0.78125rem;
  font-weight: normal;
  color: #333;
}
.trade-shopping-cart-header-secondary2 .trade-shopping-cart-product-col {
  width: 37%;
  float: left;
  margin-left: 3%;
}
.trade-shopping-cart-header-secondary2 .trade-shopping-cart-product-col a .trade-shopping-cart-product-price-tight {
  text-align: center;
  width: 81%;
  display: inline-block;
  color: #c41411;
  margin-top: 0.5859375rem;
  font-size: 1.40625rem;
  font-weight: normal;
}
.trade-shopping-cart-header-secondary2 .trade-shopping-cart-product-list-product-col {
  width: 50%;
  float: left;
}
.trade-shopping-cart-header-secondary2 .trade-shopping-cart-product-list-product-col h4.trade-shopping-cart-product-title {
  font-size: 1.5625rem;
  margin-top: -0.46875rem;
  font-weight: normal;
}
.trade-shopping-cart-header-secondary2 .trade-shopping-cart-product-list-product-col h4.trade-shopping-cart-product-price {
  font-size: 1.40625rem;
  font-weight: normal;
  color: #999999;
  padding-left: 0.8203125rem;
}
.trade-shopping-cart-header-secondary2 .trade-shopping-cart-product-list-product-col h4.trade-shopping-cart-product-price-yen {
  font-size: 1.953125rem;
  font-weight: normal;
  color: #c41411;
  margin-top: -0.2734375rem;
  margin-left: -0.390625rem;
  width: 50%;
  float: left;
  margin-bottom: 0;
  padding-left: 0.8203125rem;
}
.trade-shopping-cart-header-secondary2 .trade-shopping-cart-product-list-product-col h4.trade-shopping-cart-product-price-x1 {
  float: right;
  font-size: 1.5625rem;
  color: #333;
  margin: 0;
  padding-right: 0.390625rem;
}
.trade-shopping-cart-header-secondary2 .trade-product-list-price-value-inc {
  margin: 0rem 0rem 0rem 0rem;
  padding-bottom: 1.875rem;
  padding-left: 0.78125rem;
  font-size: 0;
}
.trade-shopping-cart-header-secondary2 .trade-product-list-price-value-inc .decrement {
  background: url(../images/minus.png) no-repeat 0.8203125rem;
  border: 1px solid #f3f5f7;
  vertical-align: text-bottom;
  position: relative;
  right: 0.1953125rem;
  padding: 1.5rem 1.5rem;
  background-size: 50%;
  background-color: #f3f5f7;
  left: 0.078125rem;
}
.trade-shopping-cart-header-secondary2 .trade-product-list-price-value-inc .number {
  font-size: 1.2rem;
  border: 1px solid #f3f5f7;
  position: relative;
  left: 0rem;
  padding: 0.79rem 0.8rem;
  margin: 0px;
  vertical-align: text-bottom;
}
.trade-shopping-cart-header-secondary2 .trade-product-list-price-value-inc .increment {
  background: url(../images/plus.png) no-repeat 0.8203125rem;
  border: 1px solid #f3f5f7;
  position: relative;
  right: 0.1953125rem;
  padding: 1.5rem 1.5rem;
  background-size: 50%;
  background-color: #f3f5f7;
  vertical-align: text-bottom;
}
.trade-shopping-cart-header-secondary2 .trade-product-list-price-value-inc .product-detail-stock {
  font-size: 1.40625rem;
  color: #d7d7d7;
  margin-left: 1.953125rem;
  vertical-align: middle;
}
.trade-shopping-cart-header-secondary2 .trade-product-list-price-value-inc .product-detail-stock .product-detail-stock-number {
  color: #666;
}
.trade-shopping-cart-header-secondary1 {
  background-color: #fff;
}
.shopping-cart-tabs-footer {
  padding-left: 2.3390625rem;
  height: 5.5rem;
  width: auto;
  border-top: 1px solid #d7d7d7;
}
.shopping-cart-tabs-footer .custom-width {
  margin-left: 2%;
  margin-top: 1.5%;
  width: 35%;
}
.shopping-cart-tabs-footer .custom-width label.label-checkbox .item-media {
  float: left;
}
.shopping-cart-tabs-footer .custom-width label.label-checkbox .item-media i.shopping-cart-form-checkbox {
  width: 1.953125rem;
  height: 1.953125rem;
}
.shopping-cart-tabs-footer .custom-width label.label-checkbox .item-media i.shopping-cart-form-checkbox-down {
  margin-top: 0.696875rem;
  padding: 0.2rem;
}
.shopping-cart-tabs-footer .custom-width label.label-checkbox .item-media h2 {
  float: right;
  margin-top: 0.625rem;
  font-size: 1.40625rem;
  padding-left: 0.78125rem;
  font-weight: normal;
  color: #333;
}
.shopping-cart-tabs-footer .shopping-cart-external-third {
  background-color: #ff5722;
  height: 5.46875rem;
}
.shopping-cart-tabs-footer .shopping-cart-external-third .shopping-cart-moved {
  color: #fff;
  font-size: 1.5625rem;
  padding: 1.3671875rem 0 0 0.78125rem;
  float: left;
  width: 100%;
  text-align: center;
}
.shopping-cart-tabs-footer .custom-width-second .external-third {
  float: left;
  width: 26%;
  margin-left: 12%;
}
.shopping-cart-tabs-footer .custom-width-second .external-third .tab-label-shopping-cart {
  list-style: none;
  padding: 0;
  text-align: left;
  margin-top: 0.4296875rem;
  float: left;
}
.shopping-cart-tabs-footer .custom-width-second .external-third .shopping-cart-99 {
  font-size: 1.5625rem;
  color: #999;
  display: inline;
  float: left;
  width: 45%;
}
.shopping-cart-tabs-footer .custom-width-second .external-third .shopping-cart-cf {
  font-size: 1.5625rem;
  float: right;
  color: #c41411;
  text-align: right;
  font-weight: bold;
  padding-right: 0.5859375rem;
  width: 50%;
}
.shopping-cart-tabs-footer .custom-width-second .external-fourth {
  float: left;
  background-color: #ce0000;
  height: 5.46875rem;
  width: 25%;
  margin-left: 0%;
  float: right;
}
.shopping-cart-tabs-footer .custom-width-second .external-fourth .tab-label-buy-now {
  color: #fff;
  font-size: 1.953125rem;
  vertical-align: middle;
  padding: 1.09375rem 0px 0 0rem;
  float: left;
  width: 100%;
  text-align: center;
}
.shopping-cart-tabs-footer .custom-width-second .tab-label-buy-now-new {
  margin-left: 0;
  width: 26%;
}
label.label-checkbox input[type=checkbox]:checked + .item-media i.icon-form-checkbox,
label.label-checkbox input[type=radio]:checked + .item-media i.icon-form-checkbox {
  background-color: #ce0000;
}
label.label-checkbox input[type=checkbox]:checked + .item-media i.icon-form-checkbox:after,
label.label-checkbox input[type=radio]:checked + .item-media i.icon-form-checkbox:after {
  background-size: 1.5rem 1.5rem;
}
label.label-checkbox i.icon-form-checkbox:after {
  position: absolute;
  left: 29%;
  margin-left: -0.4rem;
  top: 20%;
  margin-top: -0.1rem;
  width: 1.6rem;
  height: 1.45rem;
}
.modal {
  top: 42%;
  position: absolute;
  left: 51%;
}
.modal .modal-inner {
  padding: 5.859375rem;
}
@media (max-width: 480px) {
  .shopping-cart-header-secondary2 .shopping-cart-product-list-product-col {
    width: 48%;
    float: left;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .shopping-cart-tabs-footer .custom-width-second .external-third {
    margin-left: 12%;
  }
  .shopping-cart-list-products-container22 {
    margin-bottom: 11.640625rem;
  }
  .shopping-cart-tabs-footer .shopping-cart-external-third .shopping-cart-moved {
    padding-left: 0;
  }
}
.shopping-cart-tabs-footer .custom-width-second .external-third.trade-external-third {
  margin-left: 0%;
}
