@import "../../common/css/variable";
@import "../../common/css/lesshat";

.trade-error-block{
  padding-top: 160/@baseRem;

  img{
    width: 242/@baseRem;
  }

  h2{
    margin-top: 154/@baseRem;
    font-size: 46/@baseRem;
    color: @fontLightColor;
    font-weight: normal;
    margin-bottom: 0;
}
    a{
      display: block;
      margin-top:30/@baseRem;
      font-size: 36/@baseRem;

    }
  
}
.cash-deduction{
  z-index:1;
}

.shopping-cart-header-secondary{
  top:132/@baseRem;
  min-height:100/@baseRem;
  padding: 0;
  border-bottom: 2px solid #cfcfcf;
      z-index: -10;
      .row
      {
        .col-50{
          .shopping-cart-total{
            font-size:36/@baseRem;
            font-weight:normal;
            padding-left:50/@baseRem;
            color:#999999;
            margin-top:22.68/@baseRem;
            span{
              padding-left:15/@baseRem;
              padding-right:15/@baseRem;
              font-size:36/@baseRem;
              color:#c41411;

            }
          }
          .shopping-cart-edit
          {
            float: right;
            color:#c41411;
             font-weight:normal;
             padding-right:35.6/@baseRem;
             font-size:40/@baseRem;
             margin-top:22.68/@baseRem;
             margin-bottom: 22.68/@baseRem;
          }
        }
        
      }
}
.shopping-cart-tabs-footer-navigation{
  height:11.520703rem !important;
}

.shopping-cart-list-products-container{
    border-top: 0px;
    padding-top: 0rem;
    padding: 0rem;
    margin-top: 99.84/@baseRem;
    margin-bottom: 4.640625rem;
    z-index: 99;
    margin-right: 0;
    margin-left: 0;
    .shopping-cart-large-products
        {
              border-top: 40/@baseRem solid #f3f5f7;
        }

    .shopping-cart-list-products-container-new {
  padding-top:50/@baseRem;
}
.shopping-cart-border-bott{
  border-bottom: 0.390625rem solid #f7f7f7;
}
.trade-large-products {
    border-top: 0.390625rem solid #f7f7f7;
}
}
.shopping-cart-list-products-container2{
  margin-top: 45.84/@baseRem;
}

.shopping-cart-header-secondary2{
  top:272.3/@baseRem;
  min-height:100/@baseRem;
  padding: 0;
  padding-left:50/@baseRem;
  padding-top:25.784/@baseRem;
  //padding-bottom: 35/@baseRem;
  margin-bottom: 0;
      z-index: 3;

  label.label-checkbox{
    
      .item-media{
        float: left;
        i.shopping-cart-form-checkbox{
          width:50/@baseRem;
          height:50/@baseRem;
         
        }
        i.shopping-cart-form-checkbox-down{
          margin-top:110/@baseRem;
        }
        h2{
          float: right;
          margin: 0;
          font-size: 36/@baseRem;
          padding-left: 20/@baseRem;
          font-weight: normal;
          color: #333;
        }
      }
    
  }
  .shopping-cart-product-col{
    width:37%;
    float: left;
    margin-left:3%;
    a{
      .shopping-cart-product-price-tight{
        text-align: center;
        width: 81%;
        display: inline-block;
        color:#c41411;
        margin-top:15/@baseRem;
        font-size: 36/@baseRem;
        font-weight: normal;
      }

    }
  }
  .shopping-cart-product-list-product-col
  {
    width:50%;
    float: left;
    h4.shopping-cart-product-title{
      font-size:40/@baseRem;
      margin-top:-12/@baseRem;
      font-weight: normal;
    }
    h4.shopping-cart-product-price{
      font-size:36/@baseRem;
      font-weight: normal;
      color:#999999;
      padding-left:21/@baseRem;

    }
    h4.shopping-cart-product-price-yen{
      font-size:50/@baseRem;
      font-weight: normal;
      color:#c41411;
      margin-top: -7/@baseRem;
      margin-left: -10/@baseRem;
      width: 50%;
      float: left;
      margin-bottom: 0;
      padding-left:21/@baseRem;
    }
    h4.shopping-cart-product-price-x1{
      float: right;
      font-size:40/@baseRem;
      color:#333;
          margin: 0;
          padding-right:10/@baseRem;
    }
  }

.product-list-price-value-inc
{
  margin: 0/@baseRem 0/@baseRem 0/@baseRem 0/@baseRem;
  padding-bottom: 48/@baseRem;
  padding-left:20/@baseRem;
  font-size: 0;
  .decrement
  {
        background: url(../images/minus.png) no-repeat 0.8203125rem;
    border: 1px solid #f3f5f7;
    vertical-align: text-bottom;
    position: relative;
    right: 0.1953125rem;
    padding: 1.5rem 1.5rem;
    background-size: 50%;
    background-color: #f3f5f7;
    left: 0.078125rem;

  }
  .number
  {
   font-size: 1.2rem;
    border: 1px solid #f3f5f7;
    position: relative;
    left: 0rem;
    padding: 0.79rem 0.8rem;
    margin: 0px;
    vertical-align: text-bottom;
  }
  .increment
  {
        background: url(../images/plus.png) no-repeat 0.8203125rem;
    border: 1px solid #f3f5f7;
    position: relative;
    right: 0.1953125rem;
    padding: 1.5rem 1.5rem;
    background-size: 50%;
    background-color: #f3f5f7;
    vertical-align: text-bottom;
  }
  .product-detail-stock
  {
    font-size:36/@baseRem;
    color:#d7d7d7;
    margin-left:50/@baseRem;
    vertical-align: middle;
    .product-detail-stock-number
    {
            color:#666;
    }
  }
}

}

.shopping-cart-tabs-footer
{
  padding-left:59.88/@baseRem;
  height:5.5rem;
      width: auto;
      border-top:1px solid #d7d7d7;
  
  .custom-width{
    margin-left: 2%;
    margin-top: 1.5%;
    width: 35%;
  
  label.label-checkbox{
    
      .item-media{
        float: left;
        i.shopping-cart-form-checkbox{
          width:50/@baseRem;
          height:50/@baseRem;
        }
        i.shopping-cart-form-checkbox-down{
          margin-top:17.84/@baseRem;
          padding:5.12/@baseRem;
        }
        h2{
           float: right;
          margin-top: 16/@baseRem;
          font-size: 36/@baseRem;
          padding-left: 20/@baseRem;
          font-weight: normal;
          color: #333;
        }
        
      }
    
  }
  }
  .shopping-cart-external-third{
 background-color: #ff5722;
 height: 140/@baseRem;
    .shopping-cart-moved{
      color:#fff;
      font-size:40/@baseRem;
      padding:35/@baseRem 0 0 20/@baseRem;
      float: left;
      width:100%;
      text-align: center;

    
   }

  }
.custom-width-second{
  //float: left;
  //width:30%;
  .external-third
  {
   float: left;
   width:25%;
   margin-left: 12%;
   
   .tab-label-shopping-cart
   {
     list-style: none;
     padding:0;
     text-align: left;
     margin-top:11/@baseRem;
     float:left;
   }
   .shopping-cart-99{
     font-size:40/@baseRem;
     color:#999;
         display: inline;
    float: left;
        width: 45%;
   }
   
   .shopping-cart-cf{
     font-size:40/@baseRem;
         float: right;
    color: #c41411;
    text-align: right;
    font-weight: bold;
        padding-right: 15/@baseRem;
            width: 50%;

   }

  }
  .external-fourth{
    float: left;
    background-color:#ce0000;
    height:140/@baseRem;
       width: 25%;
    margin-left: 1%;
    float: right;
   .tab-label-buy-now{
      color:#fff;
      font-size:50/@baseRem;
      vertical-align: middle;
    text-align: center;
    padding: 28/@baseRem 0px 0 0/@baseRem;
    float: left;
    //margin-left: 85/@baseRem;
    width:100%;
      text-align: center;

   }
   
  }
  .tab-label-buy-now-new
   {
     margin-left:0;
     width:26%;
     
   }


}

}

label.label-checkbox input[type=checkbox]:checked+.item-media i.icon-form-checkbox, label.label-checkbox input[type=radio]:checked+.item-media i.icon-form-checkbox{
  background-color:#ce0000;
}
label.label-checkbox input[type=checkbox]:checked+.item-media i.icon-form-checkbox:after, label.label-checkbox input[type=radio]:checked+.item-media i.icon-form-checkbox:after{
  background-size: 1.5rem 1.5rem;
}
label.label-checkbox i.icon-form-checkbox:after{
      position: absolute;
    left: 29%;
    margin-left: -.4rem;
    top: 20%;
    margin-top: -.1rem;
    width: 1.6rem;
    height: 1.45rem;
}
.modal{
      top: 42%;
      //width: 70%;
    position: absolute;
   left:51%;
.modal-inner{
  padding:150/@baseRem;

.modal-text{

}
}
}


@media(max-width:480px){
  .shopping-cart-header-secondary2 .shopping-cart-product-list-product-col {
    width: 48%;
    float: left;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width : 1024px){
  .shopping-cart-tabs-footer .custom-width-second .external-third{
    margin-left:12%;
      
  }
  .shopping-cart-tabs-footer .shopping-cart-external-third .shopping-cart-moved{
    padding-left:0;
  }
}

.shopping-cart-tabs-footer .custom-width-second .external-third.trade-external-third{
  margin-left:0%;
}

