/******************************************************
   *Variables START
******************************************************/
.trade-error-block {
  padding-top: 6.25rem;
}
.trade-error-block img {
  width: 9.453125rem;
}
.trade-error-block h2 {
  margin-top: 6.015625rem;
  font-size: 1.796875rem;
  color: #999999;
  font-weight: normal;
  margin-bottom: 0;
}
.trade-error-block a {
  display: block;
  margin-top: 1.171875rem;
  font-size: 1.40625rem;
}
