@import "../../common/css/variable";
@import "../../common/css/lesshat";

.content{
.trade-error-block{
  padding-top: 160/@baseRem;

  img{
    width: 242/@baseRem;
  }

  h2{
    margin-top: 154/@baseRem;
    font-size: 46/@baseRem;
    color: @fontLightColor;
    font-weight: normal;
    margin-bottom: 0;
}
    a{
      display: block;
      margin-top:30/@baseRem;
      font-size: 36/@baseRem;

    }
  
}
}









