/******************************************************
   *Variables START
******************************************************/
.service-block .service-description {
  width: 179px;
}
.trade-register-inr {
  float: none;
  margin: 0 auto;
  max-width: 660px;
  width: 100%;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}
.trade-register-holder {
  float: left;
  width: 100%;
  text-align: center;
}
.trade-new-shopping-cart {
  padding: 15px;
}
.trade-new-shopping-cart2 {
  color: #2D8FCC;
  text-align: left;
  padding: 15px;
}
.trade-width50 {
  margin-top: 80px;
  margin-bottom: 200px;
}
/*orders listing heading bar start*/
.trade-order-headings-outr {
  background-color: #fff;
  padding: 10px 20px;
  display: table;
  width: 100%;
  font-size: 0;
}
.trade-order-headings-outr h2 {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #666666;
  font-weight: normal;
  line-height: normal;
}
.trade-order-headings-outr h2.trade-product-order-detail-heading {
  width: 489px;
  text-align: center;
  margin-right: 10px;
}
.trade-order-headings-outr h2.trade-product-reciver-heading {
  width: 110px;
  text-align: center;
  margin-right: 10px;
}
.trade-order-headings-outr h2.trade-product-price-heading {
  width: 110px;
  text-align: center;
  margin-right: 10px;
}
.trade-order-headings-outr h2.trade-product-all-states-heading {
  width: 110px;
  text-align: center;
  margin-right: 10px;
}
.trade-order-headings-outr h2.trade-product-all-states-heading a.dropdown-toggle {
  color: #666666;
}
.trade-order-headings-outr h2.trade-product-operations-heading {
  width: 95px;
  text-align: center;
}
.trade-order-headings-outr h2 .sui-dropup.dropdown-bordered .dropdown-inner,
.trade-order-headings-outr h2 .sui-dropdown.dropdown-bordered .dropdown-inner {
  border: 0;
}
/*orders listing heading bar end*/
/* product order detail row start*/
.trade-single-order-detail-row {
  margin-top: -25px;
  margin-bottom: 5px;
  border: 1px solid #cccccc;
  position: relative;
}
.trade-single-order-detail-row .trade-single-order-baisc-detail {
  background-color: #fff;
  padding: 15px 20px;
}
.trade-single-order-detail-row .trade-single-order-baisc-detail p {
  display: inline-block;
  margin: 0;
  margin-right: 30px;
  font-size: 14px;
  color: #999999;
}
.trade-single-order-detail-row .trade-single-order-baisc-detail p span {
  color: #666666;
}
.trade-single-order-detail-row .trade-single-order-baisc-detail .trade-del-col {
  color: #333333;
  font-size: 14px;
}
.trade-single-order-detail-row .trade-product-data {
  padding: 25px 20px;
  display: inline-table;
  font-size: 0;
  width: 100%;
}
.trade-single-order-detail-row .trade-product-data * {
  font-size: 14px;
}
.trade-single-order-detail-row .trade-product-data .trade-name-new {
  width: 44.5%;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}
.trade-single-order-detail-row .trade-product-data .trade-name-new p {
  color: #333333;
  width: 195px;
  margin-left: 18px;
}
.trade-single-order-detail-row .trade-product-data .trade-name-new span {
  margin-left: 30px;
  color: #666666;
}
.trade-single-order-detail-row .trade-product-data .trade-name-new span.trade-extra-margin-new {
  margin-left: 35px;
  position: absolute;
  margin-top: 5px;
}
.trade-single-order-detail-row .trade-product-data .trade-operation-value {
  width: 95px;
  display: inline-block;
  color: #999999;
  text-align: center;
  vertical-align: middle;
  padding: 0 2px;
}
.trade-single-order-detail-row .trade-product-data .trade-operation-value a {
  display: inline-table;
  margin-bottom: 16px;
  vertical-align: top;
}
.trade-single-order-detail-row .trade-product-data .trade-operation-value a.margin-bottom-0 {
  margin-bottom: 0;
}
.trade-single-order-detail-row .trade-product-data p {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
  font-size: 14px;
  margin-left: 22px;
}
/* product order detail row end*/
.trade-normal-a {
  color: #333333;
}
.trade-normal-a:hover {
  color: #333333;
}
.after-login-sections-padding .trade-btn-evaluate {
  padding: 6px 16px;
}
.trade-order-none-block {
  padding-top: 173px;
}
.trade-order-none-block h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 16px;
}
.trade-order-none-block a.btn-primary {
  padding: 7px 22px;
  margin-top: 27px;
}
/* Middle header START */
.middle-header .trade-shopping-cart-column {
  position: relative;
  top: 20px;
}
.trade-shopping-cart-middle-header {
  margin: 22px 0 22px 0;
}
.sui-table.table-bordered-simple th {
  background-color: #ebebeb;
  padding: 15px;
}
.sui-table th {
  padding: 15px;
}
.sui-table tr {
  padding: 15px;
}
.trade-product-data-border:first-child {
  border-bottom: 1px solid #ccc;
}
.trade-margin {
  margin-top: 30px;
  margin-bottom: 30px;
}
.trade-single-product {
  width: 19%;
  padding: 15px;
  border: 1px solid #dedede;
  margin-right: 15px;
  margin-bottom: 0px;
  background-color: #fff;
}
.trade-my-collections {
  margin-top: 30px;
}
.trade-single-product-image {
  width: 100%;
  height: 195px;
  background-color: #e5e5e5;
  border: 1px solid #e5e5e5;
}
.sub-footer {
  float: left;
  margin-top: 40px;
  width: 100%;
}
.trade-single-product h2 {
  color: #c41411;
}
.trade-color {
  color: #666666;
}
.trade-best-products-listing {
  float: left;
  width: 102%;
}
.clear-fix {
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 20px;
}
.trade-ima {
  background: url('../../trade/images/up-1.png') no-repeat 41px 1px;
}
.margin-top-10 {
  padding-right: 19px;
}
.sui-table.table-bordered-simple.trade-margin th {
  line-height: 11px;
}
.sui-table.table-bordered-simple.trade-margin span {
  color: red;
}
/* Middle header END */
