/******************************************************
   *Variables START
******************************************************/
.content {
  padding-top: 5.1171875rem;
}
.gateway-bottom-fixed-btn {
  font-size: 1.953125rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  text-align: center;
  background: #fff;
}
.gateway-bottom-fixed-btn .gateway-text {
  font-size: 1.5625rem;
  padding: 1.953125rem;
  color: #222222;
}
.gateway-bottom-fixed-btn .gateway-text .gateway-total {
  font-size: 1.953125rem;
  color: #c41411;
}
.gateway-bottom-fixed-btn .gateway-text .gateway-extra {
  display: block;
  color: #c41411;
}
.gateway-bottom-fixed-btn .gateway-text .gateway-extra span {
  color: #222222;
}
.gateway-bottom-fixed-btn ~ .content {
  padding-bottom: 9.1796875rem;
}
.gateway-success-row {
  border-top: 2px solid #d7d7d7;
  border-bottom: 2px solid #d7d7d7;
  padding: 1.953125rem;
  font-size: 1.796875rem;
  color: #666666;
  background: #fff;
}
.gateway-success-row + .gateway-success-row {
  border-top: 0;
}
.gateway-success-row .gateway-success-text {
  font-size: 1.90625rem;
  margin-top: 0.9765625rem;
  line-height: 2.3rem;
}
.gateway-success-row .gateway-success-text span {
  margin-bottom: 0.1953125rem;
}
.gateway-notify-block {
  background: #fff;
  text-align: center;
  padding-top: 4.296875rem;
  padding-bottom: 5.2734375rem;
}
.gateway-notify-block .gateway-notify-block-text {
  display: inline-block;
  position: relative;
  color: #333333;
  font-size: 2.34375rem;
}
.gateway-notify-block .gateway-notify-block-text img {
  position: absolute;
  top: 0;
  -lh-property: 0;
right:-webkit-calc(100% + 2.34375rem);
right:-moz-calc(100% + 2.34375rem);
right:calc(100% + 2.34375rem);
;
  width: 3.90625rem;
}
.gateway-notify-block .gateway-notify-block-text span {
  display: block;
  font-size: 1.875rem;
  padding-top: 0.9rem;
}
.gateway-action-btns {
  position: absolute;
  top: auto;
  bottom: 2.5rem;
  width: 100%;
  /* height: .45rem; */
  padding: 0 2.15rem;
  overflow: hidden;
  clear: both;
}
.gateway-action-btns a {
  display: inline-block;
  font-size: 1.953125rem;
  padding: 1.4453125rem 0.390625rem;
  background: #fff;
  width: 45%;
  text-align: center;
  -webkit-border-radius: 0.3125rem;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0.3125rem;
  -moz-background-clip: padding;
  border-radius: 0.3125rem;
  background-clip: padding-box;
  border: 1px solid #999999;
  color: #333333;
}
.gateway-action-btns a.active {
  color: #c41411;
  border-color: #c41411;
}
.gateway-action-btns a + a {
  margin-left: 10%;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .gateway-action-btns {
    padding: 5.859375rem 1.953125rem 1.953125rem;
  }
  .gateway-action-btns {
    bottom: 0.5rem;
  }
}
@media only screen and (min-device-width: 1025px) and (max-device-width: 1350px) {
  .gateway-action-btns {
    bottom: 0.5rem;
  }
}
