/******************************************************
   *Variables START
******************************************************/
.header-base-color .bar-title {
  color: #fff;
  font-size: 1.796875rem;
  font-weight: 400;
  margin: 1.890625rem 0;
}
.header-base-color .right-side-link {
  font-size: 1.796875rem;
  line-height: 2.1rem;
}
.gateway-bottom-fixed-btn {
  font-size: 1.953125rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  text-align: center;
  background: #fff;
}
.gateway-bottom-fixed-btn .gateway-text {
  font-size: 1.5625rem;
  padding: 1.953125rem;
  color: #222222;
}
.gateway-bottom-fixed-btn .gateway-text .gateway-total {
  font-size: 1.953125rem;
  color: #c41411;
  margin-bottom: 0.5rem;
  display: inline-block;
}
.gateway-bottom-fixed-btn .gateway-text .gateway-extra {
  display: block;
  color: #c41411;
}
.gateway-bottom-fixed-btn .gateway-text .gateway-extra span {
  color: #222222;
}
.gateway-bottom-fixed-btn ~ .content {
  padding-bottom: 9.1796875rem;
}
.gateway-address-checkbox-row {
  border-bottom: 2px solid #d7d7d7;
  padding: 1.953125rem;
  font-size: 1.5625rem;
  color: #666666;
  background: #fff;
}
.gateway-address-checkbox-row + .gateway-address-checkbox-row {
  border-top: 0;
}
.gateway-address-checkbox-row .gateway-single-text {
  font-size: 1.796875rem;
  color: #333333;
  line-height: 3.4375rem;
  vertical-align: middle;
}
.gateway-address-checkbox-row .gateway-single-text * {
  vertical-align: middle;
}
.gateway-address-checkbox-row .gateway-single-text img {
  width: 2.734375rem;
  height: 2.734375rem;
}
.gateway-address-checkbox-row .gateway-single-text label {
  margin-left: 1.953125rem;
}
.gateway-address-checkbox-row .gateway-single-text .icon {
  float: right;
  color: #999999;
}
