/******************************************************
   *Variables START
******************************************************/
.content {
  padding-top: 1.8rem !important;
}
.gateway-bottom-fixed-btn {
  font-size: 0.5rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  text-align: center;
  background: #fff;
}
.gateway-bottom-fixed-btn .gateway-text {
  font-size: 0.4rem;
  padding: 0.5rem;
  color: #222222;
}
.gateway-bottom-fixed-btn .gateway-text .gateway-total {
  font-size: 0.5rem;
  color: #c41411;
}
.gateway-bottom-fixed-btn .gateway-text .gateway-extra {
  display: block;
  color: #c41411;
}
.gateway-bottom-fixed-btn .gateway-text .gateway-extra span {
  color: #222222;
}
.gateway-bottom-fixed-btn ~ .content {
  padding-bottom: 2.35rem;
}
.gateway-address-checkbox-row {
  border-top: 2px solid #d7d7d7;
  border-bottom: 2px solid #d7d7d7;
  padding: 0.5rem;
  font-size: 0.4rem;
  color: #666666;
  background: #fff;
}
.gateway-address-checkbox-row + .gateway-address-checkbox-row {
  border-top: 0;
}
.gateway-address-checkbox-row .gateway-single-text {
  font-size: 0.46rem;
  color: #333333;
  line-height: 0.88rem;
  vertical-align: middle;
}
.gateway-address-checkbox-row .gateway-single-text * {
  vertical-align: middle;
}
.gateway-address-checkbox-row .gateway-single-text img {
  width: 0.7rem;
  height: 0.7rem;
}
.gateway-address-checkbox-row .gateway-single-text label {
  margin-left: 0.5rem;
}
.gateway-address-checkbox-row .gateway-single-text .icon {
  float: right;
  color: #999999;
}
