/******************************************************
   *Variables START
******************************************************/
.header-base-color .bar .item-icon {
  position: absolute;
  font-size: 2.98046875rem;
  top: 1.609375rem;
  color: #fff;
  margin-left: 1.25rem;
}
.header-base-color .bar .item-searchbar .item-search-input input {
  width: 92%;
  border-radius: 5px;
  background-color: #fff;
  margin-left: 3.5546875rem;
  color: #333333;
}
.content .bar {
  height: 5.08203125rem;
  position: static;
}
.content .bar a.item-external {
  padding-top: 0.78125rem;
}
.content .bar-tab-category-border {
  border-top: 2px solid #dedede;
}
.bar-tab .tab-item.active,
.bar-tab .tab-item:active {
  color: #c41411;
  padding-top: 0.5078125rem;
  padding-bottom: 0.5078125rem;
}
.bar-tab .tab-item.active .item-label {
  font-size: 1.40625rem;
}
.content .bar-tab .tab-item .product-item-label {
  font-size: 1.796875rem;
  margin-left: -3rem;
}
.content .bar-tab .tab-item .item-label {
  font-size: 1.796875rem;
}
.bar-tab .tab-item .icon.item-icon-me img {
  height: 1.484375rem;
  width: 1.484375rem;
}
.bar-tab .tab-item .icon.item-icon-settings img {
  height: 1.484375rem;
  width: 1.484375rem;
}
.row .item-left {
  width: 25%;
  margin-bottom: 0.8984375rem;
}
.row ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  float: left;
}
.row ul li a {
  padding: 2.6171875rem 1.7578125rem 2.6171875rem 2.1484375rem;
  float: left;
  font-size: 1.384375rem;
  color: #c41411;
  text-align: center;
}
.row .item-right {
  width: 70%;
  margin-left: 0%;
}
.row .item-right .item-right-banner {
  margin-top: 1.953125rem;
}
.row .item-right .item-right-banner img {
  max-width: 100%;
}
.row .item-right .content-block {
  margin: 2.34375rem 0rem 1.25rem 0rem;
  padding: 0rem;
  font-size: 1.40625rem;
  color: #333333;
}
.row .item-right .item-bg-white {
  background-color: #fff;
}
.row .item-right .item-bg-white .item-img-container {
  margin-left: 1.171875rem;
  margin-top: 2.109375rem;
  float: left;
  height: 30.6vw;
}
.row .item-right .item-bg-white .item-img-container a h3 {
  color: #666666;
}
.item-border {
  border: 2px solid #dedede;
  float: left;
}
.row ul li.item-border a {
  color: #333333;
  background-color: #fff;
}
.item-www-products-container .item-www-product-col .item-www-product-title-list {
  margin-bottom: 0.78125rem;
}
.product-list-products-container {
  border-top: 0px;
  padding-top: 0rem;
  padding: 0rem;
  margin-top: 3.9296875rem;
  margin-bottom: 1.640625rem;
  z-index: 99;
}
.content .product-list-products-container_we {
  margin-top: 3.9296875rem;
}
.content .product-list-products-container_we .item-www-product-col-list {
  padding-top: 5.859375rem;
}
.content .product-list-products-container_we .item-www-product-col-list .img-responsive-product {
  width: 19.6484375rem;
  height: 18.3984375rem;
  display: block;
}
.content .product-list-products-container_we .item-www-product-col-product-list {
  padding: 0 0 0.78125rem;
}
.content .product-list-products-container_we .item-www-product-col-list-height {
  height: 35.15625rem;
}
.product-list-bar-tab {
  background-color: #fff;
  padding-top: 0.534375rem;
  z-index: 10;
  height: 4.0625rem;
  border-bottom: 0.390625rem solid #eeeeee;
}
.product-list-up-down {
  position: relative;
  top: 0;
  margin-left: 0.78125rem;
  width: 0.78125rem;
  height: 1.1328125rem;
}
.content .product-list-products-container .item-www-large-products .product-list-laterally-product-col:nth-child(1) {
  padding-right: 0rem;
  float: left;
  width: 43%;
  margin-left: 1.5625rem;
  padding: 0;
}
.content .product-list-products-container .item-www-large-products .product-list-laterally-product-col:nth-child(1) img {
  padding: 1.5625rem;
}
.content .product-list-products-container .item-www-large-products .product-list-laterally-product-col:nth-child(1) img.product-list-added-new {
  background-size: contain;
  float: left;
  position: absolute;
}
.content .product-list-products-container .item-www-large-products .product-list-laterally-product-col {
  border-left: 0rem;
  width: 43%;
  float: left;
}
.content .product-list-products-container .item-www-large-products .product-list-laterally-product-col .product-list-laterally-product-title {
  margin-bottom: 4.4rem;
  margin-top: 1.5625rem;
  line-height: 2.3rem;
}
.content .product-list-products-container .item-www-large-products .product-list-laterally-product-col .product-list-laterally-product-price {
  font-size: 1.953125rem;
}
.content .buttons-tab {
  width: 100%;
  text-align: center;
}
.content .buttons-tab a.active {
  color: #c41411;
  border-bottom: 4px solid #c41411;
}
.content .buttons-tab a {
  padding: 1.953125rem 1.5625rem;
  color: #666666;
  font-size: 1.71875rem;
  display: inline-block;
  border-bottom: 4px solid #d7d7d7;
}
.content .buttons-tab a .product-detail-photo {
  vertical-align: top;
  position: relative;
  top: -0.9375rem;
}
.content .product-detail-content-block {
  margin: 0rem;
  padding: 0rem;
}
.content .product-detail-content-block .list-block ul li {
  padding: 0 12px 25px 12px;
}
.product-detail-bar-tab {
  height: 5.24964844rem;
}
.product-detail-bar-tab .product-detail-tab-item {
  width: 5.859375rem;
  border-top: 2px solid #d7d7d7;
}
.list-block .product-detail-item-title.label {
  width: 27%;
}
.tabs #tab2 .product-detail-content-block {
  margin: 0rem;
  padding: 0rem;
  position: relative;
  top: -1.7578125rem;
}
.item-input ::-webkit-input-placeholder {
  color: #333333;
}
.item-input input[type=text] {
  color: #333333;
}
.product-detail-dots {
  position: relative;
  top: 1.5625rem;
  right: 1.6796875rem;
}
.product-detail-tabs-footer {
  height: 6.4453125rem;
}
.product-detail-tabs-footer a.external-first {
  padding: .6rem 1.5625rem 0 1.5625rem;
  border: 3px solid #d7d7d7;
  height: 56px;
  border-left: none;
  display: inline-block;
  width: 50%;
  vertical-align: top;
}
.product-detail-tabs-footer a.external-first .icon.icon-collect {
  background: url("../image/product-detail-heart.png") no-repeat;
  width: 2.65625rem;
  height: 2.3828125rem;
  background-size: contain;
}
.product-detail-tabs-footer a.external-first span.tab-label-collect {
  margin-top: 0.78125rem;
  font-size: 1.09375rem !important;
  padding-bottom: 3.671875rem;
}
.product-detail-tabs-footer a.external-second {
  padding: 0.7rem 1.5625rem 0 1.5625rem;
  border: 3px solid #d7d7d7;
  height: 56px;
  border-left: none;
  display: inline-block;
  width: 50%;
  vertical-align: top;
}
.product-detail-tabs-footer a.external-second .icon-customer-service {
  background: url("../image/product-detail-customer-service.png") no-repeat;
  width: 2.65625rem;
  height: 2.3828125rem;
  background-size: contain;
}
.product-detail-tabs-footer a.external-second span.tab-customer-service {
  margin-top: 0.78125rem;
  font-size: 1.09375rem !important;
  padding-bottom: 3.671875rem;
}
.product-detail-tabs-footer a.external-third {
  background-color: #ff4200;
  color: #fff;
  height: auto;
  padding: 0.234375rem 0rem;
  padding-bottom: 1.3671875rem;
}
.product-detail-tabs-footer a.external-third .icon {
  top: 0rem;
  height: auto;
  line-height: 0rem;
}
.product-detail-tabs-footer a.external-third span.tab-label-shopping-cart {
  font-size: 2.34375rem !important;
}
.product-detail-tabs-footer a.external-fourth {
  background-color: #c41411;
  color: #fff;
  height: auto;
  padding: 0.234375rem 0rem;
  padding-bottom: 1.3671875rem;
}
.product-detail-tabs-footer a.external-fourth .icon {
  top: 0rem;
  height: auto;
  line-height: 0rem;
}
.product-detail-tabs-footer a.external-fourth span.tab-label-buy-now {
  font-size: 2.34375rem !important;
}
.product-detail-tabs-footer .custom-width {
  width: 27.77777777777778%;
  margin: 0rem;
  float: left;
  white-space: nowrap;
  font-size: 0;
}
.product-detail-tabs-footer .custom-width-second {
  width: 72.22%;
  float: left;
  margin: 0rem;
}
.custom-row {
  width: 100%;
}
.product-detail-price {
  color: #c41411;
  padding-left: 1.9921875rem;
  padding-bottom: 1.953125rem;
  margin-bottom: 0rem;
  font-size: 1.953125rem;
  background-color: #fff;
  margin-top: 0;
}
.product-title-heading {
  color: #333333;
  font-weight: normal;
  margin-top: 0;
  font-size: 1.71875rem;
  padding-top: 2.109375rem;
  padding-left: 1.9921875rem;
  padding-right: 1.3671875rem;
  padding-bottom: 1.953125rem;
  margin-bottom: 0rem;
  background-color: #fff;
}
.product-detail-content-block {
  margin: 3.6328125rem 0;
  padding: 0rem;
  background: #fff;
}
.product-detail-content-block:first-child {
  margin: 0;
}
.item-www-large-products {
  border-top: 0.390625rem solid #f7f7f7;
}
.product-detail-spec {
  padding-top: 1.8359375rem;
  padding-left: 1.953125rem;
  font-size: 1.796875rem;
  background-color: #fff;
  color: #333;
  display: inline-block;
  padding-bottom: 1.8359375rem;
}
.item-www-custom-row {
  margin-left: -0.5rem;
}
.item-www-products-container .item-www-large-products .item-www-product-col:nth-child(1) {
  padding-left: 0;
  padding-right: 2.1484375rem;
  margin-left: 2%;
}
.item-www-products-container {
  background: #fff;
  margin: 0;
  padding: .5rem;
  border-bottom: 1px solid #e8e8e8;
  border-top: 1px solid #e8e8e8;
  margin-top: 1.5625rem;
  padding-top: 1.5625rem;
  padding-bottom: 0.9765625rem;
}
.product-list-products-container {
  border-top: 0px;
  padding-top: 0rem;
  padding: 0rem;
  margin-top: 3.9296875rem;
  margin-bottom: 1.640625rem;
  z-index: 99;
}
.item-www-products-container .item-www-large-products {
  border-top: 0.390625rem solid #f7f7f7;
}
.content .product-list-products-container_we .item-www-product-col-list .img-responsive-product {
  width: 19.6484375rem;
  height: 18.3984375rem;
  display: block;
}
.item-www-products-container .item-www-product-col .item-www-product-title {
  color: #333333;
  font-size: 1.6015625rem;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 1.7578125rem;
  min-height: 4.765625rem;
  padding-left: 1rem;
}
.item-www-products-container .item-www-product-col .item-www-product-price {
  font-size: 1.5625rem;
  color: #c41411;
  font-weight: normal;
  margin: 0;
  padding-left: 1rem;
}
.item-www-products-container .item-www-large-products .item-www-product-col + .item-www-product-col {
  border-left: 0.390625rem solid #f7f7f7;
}
.item-www-products-container .item-www-product-col .item-www-product-title {
  color: #333333;
  font-size: 1.6015625rem;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 1.7578125rem;
  min-height: 4.765625rem;
}
/*--- best products end ----*/
.item-products-container .item-large-products {
  border-top: 0.390625rem solid #f7f7f7;
}
.content .product-list-products-container .item-large-products .product-list-laterally-product-col:nth-child(1) {
  padding-right: 0rem;
  float: left;
  width: 43%;
  padding: 0;
}
.content .product-list-products-container .item-large-products .product-list-laterally-product-col {
  border-left: 0rem;
  width: 43%;
  float: left;
}
.content .product-list-products-container .item-large-products .product-list-laterally-product-col:nth-child(1) img {
  padding: 1.5625rem 0.4rem;
}
.item-products-container .item-large-products .item-product-col {
  padding: 0.78125rem;
}
.item-products-container .item-product-col + .item-product-col {
  border-left: 0.5859375rem solid #f7f7f7;
  margin-left: 2%;
}
.content .product-list-products-container .item-large-products .product-list-laterally-product-col .product-list-laterally-product-title {
  margin-bottom: 4.4rem;
  margin-top: 1.5625rem;
}
.item-products-container .item-product-col .item-product-title {
  color: #333333;
  font-size: 1.6015625rem;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 1.7578125rem;
  min-height: 4.765625rem;
}
.content .product-list-products-container .item-large-products .product-list-laterally-product-col .product-list-laterally-product-price {
  font-size: 1.953125rem;
}
.item-products-container .item-product-col .item-product-price {
  font-size: 1.5625rem;
  color: #c41411;
  font-weight: normal;
  margin: 0;
}
.content .product-list-products-container .item-large-products .product-list-laterally-product-col:nth-child(1) img.product-list-added-new {
  background-size: contain;
  float: left;
  position: absolute;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .header-base-color .bar .searchbar .search-input {
    width: 83.75%;
  }
  .header-base-color .bar .searchbar .message-notification {
    width: 16.2%;
  }
}
