@import "../../common/css/variable";
@import "../../common/css/lesshat";

@import "../../common/css/variable";
@import "../../common/css/lesshat";

.content{
  padding-top: 135/@baseRem;
}

ul#main-slider{
  margin: 0;
}
.bx-wrapper{
  .bx-pager {
    position: absolute;
    bottom: 20/@baseRem;
  }
}


.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #c41411;
}
.bx-wrapper .bx-pager.bx-default-pager a {
  background: #d7d7d7;
  text-indent: -9999px;
  display: block;
  width: 30px;
  height: 30px;
  outline: 0;
  margin: 0 8px;
  .border-radius(50%);
}

.item-main-options{
  background: @white;
  margin: 0;
  padding: .5rem;
  padding-top: 40/@baseRem;
  padding-bottom: 25/@baseRem;
  border-bottom: 1px solid @borderColor;

  h2{
    color: @fontLightColor;
    font-size: 36/@baseRem;
    font-weight: normal;
    margin-top: 30/@baseRem;
    margin-bottom: 40/@baseRem;
  }
}

.item-products-container{
  background: @white;
  margin: 0;
  padding: .5rem;
  border-bottom: 1px solid @borderColor;
  border-top: 1px solid @borderColor;
  margin-top: 40/@baseRem;
  padding-top: 40/@baseRem;
  padding-bottom: 25/@baseRem;

  .item-block-title{
    font-weight: normal;
    font-size: 42/@baseRem;
    margin-top: 0;
    margin-bottom: 40/@baseRem;
  }
  .item-custom-row{
    border-top: 15/@baseRem solid @borderColorLight;

    &.item-border-small{
      border-top-width: 2px;
    }
  }

  .item-product-col{
    h2{
      font-weight: bold;
      font-size: 40/@baseRem;
      margin-top: 30/@baseRem;
      margin-bottom: 0;
    }
    h3{
      font-size: 36/@baseRem;
      margin-top: 0;
      color: @fontLightColor;
      font-weight: 400;
      margin-bottom: 0;
    }

    & + .item-product-col{
      border-left: 15/@baseRem solid @borderColorLight;
      margin-left:2%;
    }

    &:nth-child(1){
      padding-right: 15/@baseRem;
      h2{
        color: @baseColor;
      }
    }
    &:nth-child(2){
      h2{
        color: @baseGreenColor;
      }
    }
    &:nth-child(3){
      h2{
        color: @baseBlueColor;
      }
    }

    .item-product-title{
      color: @fontDarkColor;
      font-size: 41/@baseRem;
      font-weight: normal;
      margin-top: 0;
      margin-bottom: 45/@baseRem;
      min-height: 122/@baseRem;
    }
    .item-product-price{
      font-size: 40/@baseRem;
      color: @baseColor;
      font-weight: normal;
      margin: 0;
    }
  }

  .item-large-products{
    border-top: 10/@baseRem solid @borderColorLight;

    .item-product-col{
      padding: 20/@baseRem;

      &:nth-child(1){
        padding-left: 0;
        padding-right: 55/@baseRem;
      }

      & + .item-product-col {
        border-left: 10/@baseRem solid @borderColorLight;
      }
    }
  }

  &.item-products-container-flat{
    .text-left{
      text-align: left;
    }


    .item-product-col{
      h2{
        font-weight: 400;
        color: @fontDarkColor;
      }
      h3.margin-bottom{
        margin-bottom: 60px;
      }

      & + .item-product-col{
        border-left: 0;
      }

    }
  }

  hr{
    border-top: 15/@baseRem solid @borderColorLight;
    margin: 0 -.5rem;

    &.item-meduim{
      border-top-width: 10/@baseRem;
    }
  }

}

.item-border-left-bottom{
  border-bottom: 2px solid @borderColorLight;
  border-left: 2px solid @borderColorLight;
}

.border-right{
  border-right:1px solid #dedede;
}
.small-size{
  max-width:80%;
}

.item-custom-row{
  margin-left: -.5rem;
  margin-right: -.5rem;
}

.item-img-container {
  height: 32.6vw;
  max-height: 352px;
  display: table-cell;
  vertical-align: middle;

  .img-responsive {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
  }
}

.item-brands-row{
  margin-left: -.5rem;
  margin-right: -.5rem;
  background: @borderColorLight;

  ul{
    padding: 17/@baseRem 16rem/@baseRem 1/@baseRem;
    list-style: none;
    margin: 0;

    li{
      float: left;
      width: 33.33%;
      padding: 0 8/@baseRem;

      a{
        display: block;
        background: @white;
        border: 1px solid @borderColor;
        text-align: center;
        margin-bottom: 16/@baseRem;

        img{
          max-width: 100%;
        }
      }
    }
  }
}

.item-more-link{
  font-size: 36/@baseRem;
  color: @fontMediumDark;
  padding: 30/@baseRem 30/@baseRem 5/@baseRem;
  display: inline-block;
}

@media only screen and (min-width: 992px){
  .bx-wrapper .bx-pager.bx-default-pager a{
    width: 30px;
    height: 30px;
  }
}

.header-base-color{
  .bar{
    .item-icon {
            position: absolute;
            font-size:76.3/@baseRem;
            top: 41.2/@baseRem;
            color:@white;
           margin-left:32/@baseRem;
           
    }
    .item-searchbar{
      .item-search-input{
        input{
          //width:767/@baseRem;
              width: 92%;
          border-radius: 5px;
          background-color: @white;
           margin-left:91/@baseRem;
           color: @fontDarkColor;

        }
      }
    }

  }

}

.content{
.bar{
   height:130.1/@baseRem;
       position: static;
  
   
  a.item-external{
    padding-top:20/@baseRem;
    //padding-bottom: 18/@baseRem;
  } 
  

}
.bar-tab-category-border{
  border-top:2px solid #dedede;
}
}
.bar-tab 
.tab-item.active, 
.bar-tab
.tab-item:active
{
  color:@baseColor;
  padding-top:13/@baseRem;
  padding-bottom: 13/@baseRem;
}
.bar-tab 
.tab-item.active .item-label 
  {
    font-size:36/@baseRem;
  }
  .bar-tab .tab-item .icon
  {
     //font-size:38/@baseRem;
  }
.content .bar-tab 
 .tab-item .product-item-label 
  {
    font-size:46/@baseRem;
    margin-left:-76.8/@baseRem;
  }
  .content .bar-tab 
 .tab-item .item-label 
  {
    font-size:46/@baseRem;
    //margin-left:-76.8/@baseRem;
  }
.bar-tab .tab-item .icon.item-icon-me img{
     //background: url("../image/item-search.png") no-repeat;
    height: 38/@baseRem;
    width: 38/@baseRem;
}
.bar-tab .tab-item .icon.item-icon-settings img
{
//background: url("../image/item-people.png") no-repeat;
    height: 38/@baseRem;
    width: 38/@baseRem;
}

  .row
  {
    .item-left
    {
         width: 25%;
      //height: 1592/@baseRem;
      margin-bottom: 23/@baseRem;
    }
    ul{
      list-style-type: none;
      margin: 0px;
          padding: 0px;

    
    li{

      display: block;
      margin-right:10/@baseRem;
      text-align: center;
   
    a{
    /*  padding:67/@baseRem 45/@baseRem 67/@baseRem 55/@baseRem;
      float: left;
      font-size:35.44/@baseRem;
       color:@baseColor;
       text-align:center;*/
      display: block;
      text-align: center;
      border: 2px solid #dedede;
      padding: 67/@baseRem;
      font-size: 35.44/@baseRem;
     }
     }
    }
    .item-right
    {
     // width:770/@baseRem;
     width:70%;
      margin-left:0%;
     // padding-right:27/@baseRem;

      .item-right-banner
      {
              margin-top:50/@baseRem;
              //margin-bottom: 60/@baseRem;
      
      img{
        max-width:100%;
        //width:760/@baseRem;
        //height:260/@baseRem;
      }
      }
      .content-block
      {
        margin:60/@baseRem 0/@baseRem 32/@baseRem 0/@baseRem;
        padding: 0/@baseRem;
        font-size:36/@baseRem;
        color:@fontDarkColor;

      } 
      .item-bg-white
      {
        background-color: @baseColorLogin;

        .item-img-container
        {
          margin-left:15/@baseRem;
          margin-right: 15/@baseRem;
          margin-top:54/@baseRem;
          float: left;
          height: 30.6vw;
            a{
              h3{
                color:@baseTextColor;
              }
            }
        }
      }
    }
  }

.item-border{
      /*
      border:2px solid @baseColorGrey;

      float: left;*/
}
.row ul li.item-border a{
  color:@fontDarkColor;
  background-color: #fff;
}

.product_list-product-col
{
  //background:url("../image/product_list-new.png") no-repeat;
 
   
}
.item-products-container{
  .item-product-col{
.item-product-title-list{
  margin-bottom: 20/@baseRem;
}
  }
}

.product_list-large-products
{
  //background:url("../image/product_list_hot.png") no-repeat;
   
}
.product-list-products-container
{
  border-top:0px;
  padding-top:0/@baseRem;
  padding:0/@baseRem;
  margin-top:100.6/@baseRem;
  margin-bottom: 42/@baseRem;
  z-index: 99;
}
.content{
.product-list-products-container_we{
  margin-top:100.6/@baseRem;
  .item-product-col-list{
    padding-top:150/@baseRem;

  
  .img-responsive-product{
    width:503/@baseRem;
    height:471/@baseRem;
        display: block;
  }
  }
  .item-product-col-product-list{
    padding:0 0 20/@baseRem;
 // .product-list-added{
  //width:100/@baseRem;
  //height: 100/@baseRem;
//}
 
  }
  .item-product-col-list-height{
    height: 900/@baseRem;
  }
}
}
.product-list-bar-tab
{
  background-color: #fff;
  padding-top:6/@baseRem;
      z-index: 10;
  height:124/@baseRem;
}
.product-list-up-down
{
  position: relative;
  top:0;
  margin-left:20/@baseRem;
  width:20/@baseRem;
  height:29/@baseRem;
}
.content{
.product-list-products-container{
.item-large-products{
  
.product-list-laterally-product-col:nth-child(1)
{
padding-right:0/@baseRem;
float: left;
width:43%;
margin-left:40/@baseRem;
padding: 0;

img{
  //width:503/@baseRem;
  //height:471/@baseRem;
  padding:40/@baseRem;
}
img.product-list-added-new
{
  
  padding:0/@baseRem 40/@baseRem;
    background-size: contain;
    float: left;

}
}
.product-list-laterally-product-col{
  border-left:0/@baseRem;
  width:43%;
  float:left;

  .product-list-laterally-product-title

  {
    margin-bottom: 112.64/@baseRem;
    margin-top:40/@baseRem;
  }
  .product-list-laterally-product-price
  {
    font-size:50/@baseRem;
  }
}

}
}
}



.content{
.buttons-tab {
    width: 100%;
    text-align: center;
   

a.active {
    color: #c41411;
  
    border-bottom: 4px solid #c41411;
    //padding-bottom: 50/@baseRem;
}
a {
    padding:50/@baseRem 40/@baseRem;
    color: #666666;
    font-size: 44/@baseRem;
    display: inline-block;
    border-bottom: 4px solid #d7d7d7;
    //margin-bottom: 50/@baseRem;
    .product-detail-photo
    {
      
      vertical-align: top;
      position: relative;
      top:-24/@baseRem;
    }
}
}
}
.content{
.product-detail-content-block
{
  margin:0/@baseRem;
  padding:0/@baseRem;
}
}

.product-detail-bar-tab {
    height: 134.391/@baseRem;

    .product-detail-tab-item{
        width:150/@baseRem;
        border-top:2px solid #d7d7d7;
    }
    
}
.list-block .product-detail-item-title.label
{
  width:27%;  
}
.tabs{
  #tab2{
    
    .product-detail-content-block{
          margin: 0/@baseRem;
          padding: 0/@baseRem;
          position: relative;
          top:-45/@baseRem;
    }
    
  }
}

.item-input ::-webkit-input-placeholder {
 color: @fontDarkColor;
}
.item-input input[type=text]
{
color: @fontDarkColor;
}
.product-detail-dots
{
  position: relative;
  top:40/@baseRem;
  right:43/@baseRem;

}

.product-detail-tabs-footer
{
  height: 165/@baseRem;
  a.external-first
  {
   // width:151/@baseRem;
      //  display: inline-block;
       // padding-top: 21/@baseRem;
       padding:30/@baseRem 40/@baseRem 20/@baseRem 40/@baseRem; 
        //margin-bottom: 73/@baseRem;
        border:3px solid #d7d7d7;
        height:auto;
        border-left: none;
  
  .icon.icon-collect
  {
    background:url("../image/product-detail-heart.png") no-repeat;
    
    width:68/@baseRem; 
    height: 61/@baseRem;
    background-size: contain;
  }
 
  
  span.tab-label-collect
  {
    
    margin-top:20/@baseRem;
    font-size:28/@baseRem !important;
    padding-bottom: 94/@baseRem;
  }
  }
   a.external-second
  {
   // width:151/@baseRem;
     //   display: inline-block;
        //padding-top: 21/@baseRem;
        padding:30/@baseRem 40/@baseRem 20/@baseRem 40/@baseRem;  
        //margin-bottom: 73/@baseRem;
        border:3px solid #d7d7d7;
        height:auto;
        border-left: none;
       // position: relative;
       // left: -6/@baseRem;

   .icon-customer-service
  {
background:url("../image/product-detail-customer-service.png") no-repeat;
   
    width:68/@baseRem; 
    height: 61/@baseRem; 
    background-size: contain;
  }
   span.tab-customer-service
  {
    
    margin-top:20/@baseRem;
   font-size:28/@baseRem !important;
    padding-bottom: 94/@baseRem;
  }
  }

 a.external-third
 {
   // width:389/@baseRem;
   // display: inline-block;
    background-color: #ff4200;
    color:#fff;
        height:auto;
   //     left: -14px;
  //  top: -2px;
   //padding-bottom: 55/@baseRem;
   // padding:45/@baseRem 45/@baseRem 51/@baseRem 48/@baseRem;
      padding: 6/@baseRem 0/@baseRem;
    padding-bottom: 35/@baseRem;
   
    .icon
  {
top:0/@baseRem;
height: auto;
line-height: 0/@baseRem;
  }
span.tab-label-shopping-cart
{
font-size:60/@baseRem !important;
}
 }
 a.external-fourth
 {
   // width:390/@baseRem;
   // display: inline-block;
    background-color: #c41411;
    color:#fff;
        height:auto;
    //    left: -1/@baseRem;
    //top: -180/@baseRem;
    //float: right;
   //padding-bottom: 55/@baseRem;
   //padding:45/@baseRem 45/@baseRem 51/@baseRem 48/@baseRem;
       padding: 6/@baseRem 0/@baseRem;
    padding-bottom: 35/@baseRem;
   
    .icon
  {
top:0/@baseRem;
height: auto;
line-height: 0/@baseRem;
  }
span.tab-label-buy-now
{
font-size:60/@baseRem !important;
}
 }
.custom-width
{
width: 27.77777777777778%;
    margin: 0/@baseRem;
    float: left;
}
.custom-width-second
{
width: 72.22%;
    float: left;
    margin: 0/@baseRem;
}

}
.custom-row
{
  width:100%;
}
.product-detail-border-bottom
{
 // border:1px solid #d7d7d7;
}
.product-detail-price
{
  color:#c41411;
  padding-left:51/@baseRem;
  padding-bottom: 50/@baseRem;
   margin-bottom: 0/@baseRem;
   font-size:50/@baseRem;
   background-color: #fff;
   margin-top: 0;
}
.product-title-heading
{
  color: #333333;
  font-weight: normal;
    margin-top: 0;
    font-size:44/@baseRem;
    padding-top:54/@baseRem;
    padding-left:51/@baseRem;
    padding-right:35/@baseRem;
    padding-bottom: 50/@baseRem;
    margin-bottom: 0/@baseRem;
    background-color: #fff;

}
.product-detail-content-block{
   padding:0rem;
   margin: 93/@baseRem 0  ;
   padding: 0rem;
   
    background:#fff;
}
.product-detail-content-block:first-child
{
  margin: 0;
}
.item-large-products {
    border-top: 0.390625rem solid #f7f7f7;
}
.product-detail-spec
{
  padding-top:47/@baseRem;
  padding-left:50/@baseRem;
  font-size:46/@baseRem;
  background-color: #fff;
  color:#333;
  //height:151/@baseRem;
  //border-top:1px solid #d7d7d7;
  display: inline-block;
  padding-bottom: 47/@baseRem;
}
.item-custom-row {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
}



/*--- best products end ----*/








@import "../../common/css/variable";
@import "../../common/css/lesshat";

.content{
  padding-top: 135/@baseRem;
}

ul#main-slider{
  margin: 0;
}
.bx-wrapper{
  .bx-pager {
    position: absolute;
    bottom: 20/@baseRem;
  }
}


.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #c41411;
}
.bx-wrapper .bx-pager.bx-default-pager a {
  background: #d7d7d7;
  text-indent: -9999px;
  display: block;
  width: 30px;
  height: 30px;
  outline: 0;
  margin: 0 8px;
  .border-radius(50%);
}

.www-main-options{
  background: @white;
  margin: 0;
  padding: .5rem;
  padding-top: 40/@baseRem;
  padding-bottom: 25/@baseRem;
  border-bottom: 1px solid @borderColor;

  h2{
    color: @fontLightColor;
    font-size: 36/@baseRem;
    font-weight: normal;
    margin-top: 30/@baseRem;
    margin-bottom: 40/@baseRem;
  }
}

.www-products-container{
  background: @white;
  margin: 0;
  padding: .5rem;
  border-bottom: 1px solid @borderColor;
  border-top: 1px solid @borderColor;
  margin-top: 40/@baseRem;
  padding-top: 40/@baseRem;
  padding-bottom: 25/@baseRem;

  .www-block-title{
    font-weight: normal;
    font-size: 42/@baseRem;
    margin-top: 0;
    margin-bottom: 40/@baseRem;
  }
  .www-custom-row{
    border-top: 15/@baseRem solid @borderColorLight;

    &.www-border-small{
      border-top-width: 2px;
    }
  }

  .www-product-col{
    h2{
      font-weight: bold;
      font-size: 40/@baseRem;
      margin-top: 30/@baseRem;
      margin-bottom: 0;
    }
    h3{
      font-size: 36/@baseRem;
      margin-top: 0;
      color: @fontLightColor;
      font-weight: 400;
      margin-bottom: 0;
    }

    & + .www-product-col{
      border-left: 15/@baseRem solid @borderColorLight;
      margin-left:2%;
    }

    &:nth-child(1){
      padding-right: 15/@baseRem;
      h2{
        color: @baseColor;
      }
    }
    &:nth-child(2){
      h2{
        color: @baseGreenColor;
      }
    }
    &:nth-child(3){
      h2{
        color: @baseBlueColor;
      }
    }

    .www-product-title{
      color: @fontDarkColor;
      font-size: 41/@baseRem;
      font-weight: normal;
      margin-top: 0;
      margin-bottom: 45/@baseRem;
      min-height: 122/@baseRem;
    }
    .www-product-price{
      font-size: 40/@baseRem;
      color: @baseColor;
      font-weight: normal;
      margin: 0;
    }
  }

  .www-large-products{
    border-top: 10/@baseRem solid @borderColorLight;

    .www-product-col{
      padding: 20/@baseRem;

      &:nth-child(1){
        padding-left: 0;
        padding-right: 55/@baseRem;
      }

      & + .www-product-col {
        border-left: 10/@baseRem solid @borderColorLight;
      }
    }
  }

  &.www-products-container-flat{
    .text-left{
      text-align: left;
    }


    .www-product-col{
      h2{
        font-weight: 400;
        color: @fontDarkColor;
      }
      h3.margin-bottom{
        margin-bottom: 60px;
      }

      & + .www-product-col{
        border-left: 0;
      }

    }
  }

  hr{
    border-top: 15/@baseRem solid @borderColorLight;
    margin: 0 -.5rem;

    &.www-meduim{
      border-top-width: 10/@baseRem;
    }
  }

}

.www-border-left-bottom{
  border-bottom: 2px solid @borderColorLight;
  border-left: 2px solid @borderColorLight;
}

.border-right{
  border-right:1px solid #dedede;
}
.small-size{
  max-width:80%;
}

.www-custom-row{
  margin-left: -.5rem;
  margin-right: -.5rem;
}

.www-img-container {
  height: 32.6vw;
  max-height: 352px;
  display: table-cell;
  vertical-align: middle;

  .img-responsive {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
  }
}

.www-brands-row{
  margin-left: -.5rem;
  margin-right: -.5rem;
  background: @borderColorLight;

  ul{
    padding: 17/@baseRem 16rem/@baseRem 1/@baseRem;
    list-style: none;
    margin: 0;

    li{
      float: left;
      width: 33.33%;
      padding: 0 8/@baseRem;

      a{
        display: block;
        background: @white;
        border: 1px solid @borderColor;
        text-align: center;
        margin-bottom: 16/@baseRem;

        img{
          max-width: 100%;
        }
      }
    }
  }
}

.www-more-link{
  font-size: 36/@baseRem;
  color: @fontMediumDark;
  padding: 30/@baseRem 30/@baseRem 5/@baseRem;
  display: inline-block;
}

@media only screen and (min-width: 992px){
  .bx-wrapper .bx-pager.bx-default-pager a{
    width: 30px;
    height: 30px;
  }
}
