@import "../../common/css/variable";
@import "../../common/css/lesshat";

.header-base-color{
  .bar{
    .item-icon {
            position: absolute;
            font-size:76.3/@baseRem;
            top: 41.2/@baseRem;
            color:@white;
           margin-left:32/@baseRem;
           
    }
    .item-searchbar{
      .item-search-input{
        input{
          width:767/@baseRem;
          border-radius: 8px;
          background-color: @white;
           margin-left:91/@baseRem;
           color: @fontDarkColor;

        }
      }
    }

  }

}

.content{
.bar{
   height:124.813/@baseRem;
       position: static;
  
   
  a.item-external{
    padding-top:20/@baseRem;
    padding-bottom: 18/@baseRem;
  } 
  

}
}
.bar-tab 
.tab-item.active, 
.bar-tab
.tab-item:active
{
  color:@baseColor;
}
.bar-tab 
.tab-item.active .item-label 
  {
    font-size:36/@baseRem;
  }
  .bar-tab .tab-item .icon
  {
     font-size:38/@baseRem;
  }
.content .bar-tab 
 .tab-item .product-item-label 
  {
    font-size:46/@baseRem;
    margin-left:-76.8/@baseRem;
  }
  .content .bar-tab 
 .tab-item .item-label 
  {
    font-size:46/@baseRem;
    //margin-left:-76.8/@baseRem;
  }
.bar-tab .tab-item .icon.item-icon-me{
     background: url("../image/item-search.png") no-repeat;
    height: 38px;
    width: 38px;
}
.bar-tab .tab-item .icon.item-icon-settings
{
background: url("../image/item-people.png") no-repeat;
    height: 38px;
    width: 38px;
}

  .row
  {
    .item-left
    {
      width:280.594/@baseRem;
      height: 1592/@baseRem;
    }
    ul{
      list-style-type: none;
      margin: 0px;
      padding: 0px;
      float: left;
    
    li{


   
    a{
      padding:70/@baseRem 51/@baseRem 67/@baseRem 51/@baseRem;
      float: left;
      font-size:35.44/@baseRem;
       color:@baseColor;
    
   
    }
     }
    }
    .item-right
    {
      width:770/@baseRem;
      margin-left:0%;

      .item-right-banner
      {
              margin-top:40/@baseRem;
              //margin-bottom: 60/@baseRem;
      
      img{
        max-width:100%;
      }
      }
      .content-block
      {
        margin:60/@baseRem 0/@baseRem 32/@baseRem 0/@baseRem;
        padding: 0/@baseRem;
        font-size:36/@baseRem;
        color:@fontDarkColor;

      } 
      .item-bg-white
      {
        background-color: @baseColorLogin;

        .item-img-container
        {
          margin-left:30/@baseRem;
          margin-top:54/@baseRem;
          float: left;
          height: 30.6vw;
            a{
              h3{
                color:@baseTextColor;
              }
            }
        }
      }
    }
  }

.item-border{
      border:3px solid @baseColorGrey;
      float: left;
}
.row ul li.item-border a{
  color:@fontDarkColor;
}

.product_list-product-col
{
  background:url("../image/product_list-new.png") no-repeat;
}
.product_list-large-products
{
  background:url("../image/product_list_hot.png") no-repeat;
}
.product-list-products-container
{
  border-top:0px;
  padding-top:0/@baseRem;
  padding:0/@baseRem;
  margin-top:67.6/@baseRem;
  margin-bottom: 42/@baseRem;
      z-index: 99;
}
.product-list-bar-tab
{
  background-color: #fff;
  //margin-top:40/@baseRem;
      z-index: 10;
  height:124/@baseRem;
}
.product-list-up-down
{
  position: relative;
  top:3px;
  margin-left:20/@baseRem;
}
.content{
.product-list-products-container{
.www-large-products{
  
.product-list-laterally-product-col:nth-child(1)
{
padding-right:0/@baseRem;
width:332.797/@baseRem;
margin-left:45/@baseRem;

}
.product-list-laterally-product-col{
  border-left:0/@baseRem;
  width:697/@baseRem;

  .product-list-laterally-product-title

  {
    margin-bottom: 112.64/@baseRem;
  }
  .product-list-laterally-product-price
  {
    font-size:50/@baseRem;
  }
}

}
}
}



.content{
.buttons-tab {
    width: 100%;
    text-align: center;
   

a.active {
    color: #c41411;
  
    border-bottom: 4px solid #c41411;
    //padding-bottom: 50/@baseRem;
}
a {
    padding:50/@baseRem 40/@baseRem;
    color: #666666;
    font-size: 44/@baseRem;
    display: inline-block;
    border-bottom: 4px solid #d7d7d7;
    //margin-bottom: 50/@baseRem;
    .product-detail-photo
    {
      
      vertical-align: top;
      position: relative;
      top:-24/@baseRem;
    }
}
}
}

.product-detail-content-block
{
  margin:0/@baseRem;
  padding:0/@baseRem;
}

.product-detail-bar-tab {
    height: 134.391/@baseRem;

    .product-detail-tab-item{
        width:150/@baseRem;
        border-top:2px solid #d7d7d7;
    }
    
}
.list-block .product-detail-item-title.label
{
  width:27%;  
}
.tabs{
  #tab2{
    
    .product-detail-content-block{
          margin: 0/@baseRem;
          padding: 0/@baseRem;
          position: relative;
          top:-45/@baseRem;
    }
    
  }
}

.item-input ::-webkit-input-placeholder {
 color: @fontDarkColor;
}
.item-input input[type=text]
{
color: @fontDarkColor;
}
.product-detail-dots
{
  position: relative;
  top:40/@baseRem;
  right:43/@baseRem;

}

.product-detail-tabs-footer
{
  height: 165/@baseRem;
  a.external-first
  {
   // width:151/@baseRem;
      //  display: inline-block;
       // padding-top: 21/@baseRem;
       padding:30/@baseRem 40/@baseRem 20/@baseRem 40/@baseRem; 
        //margin-bottom: 73/@baseRem;
        border:3px solid #d7d7d7;
        height:auto;
        border-left: none;
  
  .icon.icon-collect
  {
    background:url("../image/product-detail-heart.png") no-repeat;
    height: 61px;
    width:68px; 
  }
 
  
  span.tab-label-collect
  {
    
    margin-top:20/@baseRem;
    font-size:28/@baseRem !important;
    padding-bottom: 94/@baseRem;
  }
  }
   a.external-second
  {
   // width:151/@baseRem;
     //   display: inline-block;
        //padding-top: 21/@baseRem;
        padding:30/@baseRem 40/@baseRem 20/@baseRem 40/@baseRem;  
        //margin-bottom: 73/@baseRem;
        border:3px solid #d7d7d7;
        height:auto;
        border-left: none;
       // position: relative;
       // left: -6/@baseRem;

   .icon-customer-service
  {
background:url("../image/product-detail-customer-service.png") no-repeat;
    height: 61px;
    width:68px; 
  }
   span.tab-customer-service
  {
    
    margin-top:20/@baseRem;
   font-size:28/@baseRem !important;
    padding-bottom: 94/@baseRem;
  }
  }

 a.external-third
 {
   // width:389/@baseRem;
   // display: inline-block;
    background-color: #ff4200;
    color:#fff;
        height:auto;
   //     left: -14px;
  //  top: -2px;
   //padding-bottom: 55/@baseRem;
   // padding:45/@baseRem 45/@baseRem 51/@baseRem 48/@baseRem;
      padding: 6/@baseRem 0/@baseRem;
    padding-bottom: 35/@baseRem;
   
    .icon
  {
top:0/@baseRem;
height: auto;
line-height: 0/@baseRem;
  }
span.tab-label-shopping-cart
{
font-size:60/@baseRem !important;
}
 }
 a.external-fourth
 {
   // width:390/@baseRem;
   // display: inline-block;
    background-color: #c41411;
    color:#fff;
        height:auto;
    //    left: -1/@baseRem;
    //top: -180/@baseRem;
    //float: right;
   //padding-bottom: 55/@baseRem;
   //padding:45/@baseRem 45/@baseRem 51/@baseRem 48/@baseRem;
       padding: 6/@baseRem 0/@baseRem;
    padding-bottom: 35/@baseRem;
   
    .icon
  {
top:0/@baseRem;
height: auto;
line-height: 0/@baseRem;
  }
span.tab-label-buy-now
{
font-size:60/@baseRem !important;
}
 }
.custom-width
{
width: 27.77777777777778%;
    margin: 0/@baseRem;
    float: left;
}
.custom-width-second
{
width: 72.22%;
    float: left;
    margin: 0/@baseRem;
}

}
.custom-row
{
  width:102%;
}
.product-detail-border-bottom
{
 // border:1px solid #d7d7d7;
}
.product-detail-price
{
  color:#c41411;
  padding-left:51/@baseRem;
  padding-bottom: 50/@baseRem;
   margin-bottom: 0/@baseRem;
   font-size:50/@baseRem;
   background-color: #fff;
   margin-top: 0;
   border-bottom: 1px solid #d7d7d7;
}
.product-title-heading
{
  color: #333333;
  font-weight: normal;
    margin-top: 0;
    font-size:44/@baseRem;
    padding-top:54/@baseRem;
    padding-left:51/@baseRem;
    padding-right:35/@baseRem;
    padding-bottom: 50/@baseRem;
    margin-bottom: 0/@baseRem;
    background-color: #fff;

}
.product-detail-content-block{
   padding:0rem;
        margin: 93/@baseRem 0  ;
            padding: 0rem;
    //margin: 3.6328125rem 0;
    //margin-bottom: 0;
    //height: calc(100vh - 3.6328125rem );
    background:#fff;
}
.product-detail-content-block:first-child
{
  margin: 0;
}
.www-large-products {
    border-top: 0.390625rem solid #f7f7f7;
}
.product-detail-spec
{
  padding-top:47/@baseRem;
  padding-left:50/@baseRem;
  font-size:46/@baseRem;
  //background-color: #fff;
  color:#333;
  height:151/@baseRem;
 // border-top:1px solid #d7d7d7;
  display: inline-block;
  margin-bottom: 53/@baseRem;
  width:100%;
  background-image: url(../image/product-detail-arrow.png);
  //background-repeat: no-repeat;
  //background-position: right 60px;
  background-color: #fff;
  border-bottom: 1px solid #d7d7d7;
  background-position: ~'calc(100% - 1.5rem)' center;
    background-repeat: no-repeat;
   // background-size: 0.7rem auto;
    padding-right: 1.5rem;

}
.www-custom-row {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
}
hr.www-meduim {
    //border-top-width:52/@baseRem;
    margin: 0/@baseRem;
    //background-color: #f3f5f7;
        border-top: 52/@baseRem solid #f3f5f7;
        border-bottom: 1px solid #d7d7d7;
}
.product-details-text-left
{
  height: 680/@baseRem;
}
.item-after {
    color: #999999;
    //display: flex;
    flex-shrink: 0;
    margin-left: 0.25rem;
    max-height: 1.4rem;
    white-space: nowrap;
}
.product-detail-continue-more-link
{
  color:#333333;
  padding:30/@baseRem 30/@baseRem 30/@baseRem 50/@baseRem;
  font-size:36/@baseRem;
  
}

.content-block-title {
    color: #222222;
    font-size: 46/@baseRem;
   
    margin: 50/@baseRem 0/@baseRem 45/@baseRem 52/@baseRem;
   padding-left:15/@baseRem;
    width: 90%;
    border-bottom: 2px solid #d7d7d7;
    padding-bottom:45/@baseRem;
}

ul {
    margin:0;
    padding-left:45/@baseRem;
    list-style: none;
}
ul li {
    float: left;
    width: 24%;
    padding: 0 0.78125rem;
}
ul li a {
    font-size: 36/@baseRem;
    display: block;
    width: 100%;
    padding-top:20/@baseRem;
    padding-bottom: 20/@baseRem;
    text-align: center;
    color: #666666;
    background-color: #f3f5f7;
    margin-bottom: 48/@baseRem;
    border-radius: 8px;
   
   
}
ul li a.active{
  background-color: #c41411;
  color:#fff;
}

.product-list-price-value-inc
{
  margin: 50/@baseRem 0/@baseRem 0/@baseRem 52/@baseRem;
  padding-bottom: 48/@baseRem;
  padding-left:20/@baseRem;
  .decrement
  {
    font-size: 20/@baseRem;
    border: 1px solid #f3f5f7;
    padding:15/@baseRem 24/@baseRem 15/@baseRem 24/@baseRem;

  }
  .number
  {
    font-size: 20/@baseRem;
    border: 1px solid #f3f5f7;
    padding:15/@baseRem 24/@baseRem 15/@baseRem 24/@baseRem;
        position: relative;
    left: -7px;
  }
  .increment
  {
    font-size: 20/@baseRem;
    border: 1px solid #f3f5f7;
    padding:15/@baseRem 24/@baseRem 15/@baseRem 24/@baseRem;
        position: relative;
    right: 14px;
  }
  .product-detail-stock
  {
    font-size:36/@baseRem;
    color:#d7d7d7;
    margin-left:50/@baseRem;
    vertical-align: middle;
    .product-detail-stock-number
    {
            color:#666;
    }
  }
}
.product-detail-footer
{
  background-color: #c41411;
   padding: 50/@baseRem 0/@baseRem 45/@baseRem 52/@baseRem;
   text-align: center;
   font-size:50/@baseRem;
   
}
.product-detail-footer a{
  color:#fff;
}
.product-item-image{
background: rgba(17,17,17,0.5);
padding:100/@baseRem 50/@baseRem;
position: fixed;
.calc(top, ~'50% - 5.15625rem') ;
left: 0;
right: 0;
width:700/@baseRem;
margin: 0 auto;

}








/*--- best products end ----*/





