@import "../../common/css/variable";
@import "../../common/css/lesshat";


.header-base-color{
  .bar{
    .item-icon {
            position: absolute;
            font-size:76.3/@baseRem;
            top: 41.2/@baseRem;
            color:@white;
           margin-left:32/@baseRem;
           
    }
    .item-searchbar{
      .item-search-input{
        input{
          //width:767/@baseRem;
              width: 92%;
          border-radius: 5px;
          background-color: @white;
           margin-left:91/@baseRem;
           color: @fontDarkColor;

        }
      }
    }

  }

}

.content{
.bar{
   height:130.1/@baseRem;
       position: static;
  
   
  a.item-external{
    padding-top:20/@baseRem;
    //padding-bottom: 18/@baseRem;
  } 
  

}
.bar-tab-category-border{
  border-top:2px solid #dedede;
}
}
.bar-tab 
.tab-item.active, 
.bar-tab
.tab-item:active
{
  color:@baseColor;
  padding-top:13/@baseRem;
  padding-bottom: 13/@baseRem;
}
.bar-tab 
.tab-item.active .item-label 
  {
    font-size:36/@baseRem;
  }
  .bar-tab .tab-item .icon
  {
     //font-size:38/@baseRem;
  }
.content .bar-tab 
 .tab-item .product-item-label 
  {
    font-size:46/@baseRem;
    margin-left:-76.8/@baseRem;
  }
  .content .bar-tab 
 .tab-item .item-label 
  {
    font-size:46/@baseRem;
    //margin-left:-76.8/@baseRem;
  }
.bar-tab .tab-item .icon.item-icon-me img{
     //background: url("../image/item-search.png") no-repeat;
    height: 38/@baseRem;
    width: 38/@baseRem;
}
.bar-tab .tab-item .icon.item-icon-settings img
{
//background: url("../image/item-people.png") no-repeat;
    height: 38/@baseRem;
    width: 38/@baseRem;
}

  .row
  {
    .item-left
    {
         width: 25%;
      //height: 1592/@baseRem;
      margin-bottom: 23/@baseRem;
    }
    ul{
      list-style-type: none;
      margin: 0px;
          padding: 0px;
          float: left;
    
    li{


   
    a{
      padding:67/@baseRem 45/@baseRem 67/@baseRem 55/@baseRem;
      float: left;
      font-size:35.44/@baseRem;
       color:@baseColor;
       text-align:center;
    
   
    }
     }
    }
    .item-right
    {
     // width:770/@baseRem;
     width:70%;
      margin-left:0%;
     // padding-right:27/@baseRem;

      .item-right-banner
      {
              margin-top:50/@baseRem;
              //margin-bottom: 60/@baseRem;
      
      img{
        max-width:100%;
        //width:760/@baseRem;
        //height:260/@baseRem;
      }
      }
      .content-block
      {
        margin:60/@baseRem 0/@baseRem 32/@baseRem 0/@baseRem;
        padding: 0/@baseRem;
        font-size:36/@baseRem;
        color:@fontDarkColor;

      } 
      .item-bg-white
      {
        background-color: @baseColorLogin;

        .item-img-container
        {
          margin-left:30/@baseRem;
          margin-top:54/@baseRem;
          float: left;
          height: 30.6vw;
            a{
              h3{
                color:@baseTextColor;
              }
            }
        }
      }
    }
  }

.item-border{
      border:2px solid @baseColorGrey;
      float: left;
}
.row ul li.item-border a{
  color:@fontDarkColor;
  background-color: #fff;
}

.product_list-product-col
{
  //background:url("../image/product_list-new.png") no-repeat;
 
   
}
.item-www-products-container{
  .item-www-product-col{
.item-www-product-title-list{
  margin-bottom: 20/@baseRem;
}
  }
}

.product_list-large-products
{
  //background:url("../image/product_list_hot.png") no-repeat;
   
}
.product-list-products-container
{
  border-top:0px;
  padding-top:0/@baseRem;
  padding:0/@baseRem;
  margin-top:100.6/@baseRem;
  margin-bottom: 42/@baseRem;
  z-index: 99;
}
.content{
.product-list-products-container_we{
  margin-top:100.6/@baseRem;
  .item-www-product-col-list{
    padding-top:150/@baseRem;

  
  .img-responsive-product{
    width:503/@baseRem;
    height:471/@baseRem;
        display: block;
  }
  }
  .item-www-product-col-product-list{
    padding:0 0 20/@baseRem;
 // .product-list-added{
  //width:100/@baseRem;
  //height: 100/@baseRem;
//}
 
  }
  .item-www-product-col-list-height{
    height: 900/@baseRem;
  }
}
}
.product-list-bar-tab
{
  background-color: #fff;
  padding-top:0.534375rem;
      z-index: 10;
  height:104/@baseRem;
      border-bottom: 0.390625rem solid #eeeeee;
}
.product-list-up-down
{
  position: relative;
  top:0;
  margin-left:20/@baseRem;
  width:20/@baseRem;
  height:29/@baseRem;
}
.content{
.product-list-products-container{
.item-www-large-products{
  
.product-list-laterally-product-col:nth-child(1)
{
padding-right:0/@baseRem;
float: left;
width:43%;
margin-left:40/@baseRem;
padding: 0;

img{
  //width:503/@baseRem;
  //height:471/@baseRem;
  padding:40/@baseRem;
}
img.product-list-added-new
{
  
  //padding:0/@baseRem 40/@baseRem;
    background-size: contain;
    float: left;
    position: absolute;

}
}
.product-list-laterally-product-col{
  border-left:0/@baseRem;
  width:43%;
  float:left;

  .product-list-laterally-product-title

  {
    margin-bottom: 112.64/@baseRem;
    margin-top:40/@baseRem;
  }
  .product-list-laterally-product-price
  {
    font-size:50/@baseRem;
  }
}

}
}
}



.content{
.buttons-tab {
    width: 100%;
    text-align: center;
   

a.active {
    color: #c41411;
  
    border-bottom: 4px solid #c41411;
    //padding-bottom: 50/@baseRem;
}
a {
    padding:50/@baseRem 40/@baseRem;
    color: #666666;
    font-size: 44/@baseRem;
    display: inline-block;
    border-bottom: 4px solid #d7d7d7;
    //margin-bottom: 50/@baseRem;
    .product-detail-photo
    {
      
      vertical-align: top;
      position: relative;
      top:-24/@baseRem;
    }
}
}
}
.content{
.product-detail-content-block
{
  margin:0/@baseRem;
  padding:0/@baseRem;
  .list-block{
    ul{
      li{
            padding: 0 12px 25px 12px;
      }
    }
  }
}
}

.product-detail-bar-tab {
    height: 134.391/@baseRem;

    .product-detail-tab-item{
        width:150/@baseRem;
        border-top:2px solid #d7d7d7;
    }
    
}
.list-block .product-detail-item-title.label
{
  width:27%;  
}
.tabs{
  #tab2{
    
    .product-detail-content-block{
          margin: 0/@baseRem;
          padding: 0/@baseRem;
          position: relative;
          top:-45/@baseRem;
    }
    
  }
}

.item-input ::-webkit-input-placeholder {
 color: @fontDarkColor;
}
.item-input input[type=text]
{
color: @fontDarkColor;
}
.product-detail-dots
{
  position: relative;
  top:40/@baseRem;
  right:43/@baseRem;

}

.product-detail-tabs-footer
{
  height: 165/@baseRem;
  a.external-first
  {
       padding: .6rem 1.5625rem 0 1.5625rem;
    border: 3px solid #d7d7d7;
    height: 56px;
    border-left: none;
    display: inline-block;
    width: 50%;
    vertical-align: top;
  
  .icon.icon-collect
  {
    background:url("../image/product-detail-heart.png") no-repeat;
    
    width:68/@baseRem; 
    height: 61/@baseRem;
    background-size: contain;
  }
 
  
  span.tab-label-collect
  {
    
    margin-top:20/@baseRem;
    font-size:28/@baseRem !important;
    padding-bottom: 94/@baseRem;
  }
  }
   a.external-second
  {
      padding: 0.7rem 1.5625rem 0 1.5625rem;
    border: 3px solid #d7d7d7;
    height: 56px;
    border-left: none;
    display: inline-block;
    width: 50%;
    vertical-align: top;

   .icon-customer-service
  {
background:url("../image/product-detail-customer-service.png") no-repeat;
   
    width:68/@baseRem; 
    height: 61/@baseRem; 
    background-size: contain;
  }
   span.tab-customer-service
  {
    
    margin-top:20/@baseRem;
   font-size:28/@baseRem !important;
    padding-bottom: 94/@baseRem;
  }
  }

 a.external-third
 {
   // width:389/@baseRem;
   // display: inline-block;
    background-color: #ff4200;
    color:#fff;
        height:auto;
   //     left: -14px;
  //  top: -2px;
   //padding-bottom: 55/@baseRem;
   // padding:45/@baseRem 45/@baseRem 51/@baseRem 48/@baseRem;
      padding: 6/@baseRem 0/@baseRem;
    padding-bottom: 35/@baseRem;
   
    .icon
  {
top:0/@baseRem;
height: auto;
line-height: 0/@baseRem;
  }
span.tab-label-shopping-cart
{
font-size:60/@baseRem !important;
}
 }
 a.external-fourth
 {
   // width:390/@baseRem;
   // display: inline-block;
    background-color: #c41411;
    color:#fff;
        height:auto;
    //    left: -1/@baseRem;
    //top: -180/@baseRem;
    //float: right;
   //padding-bottom: 55/@baseRem;
   //padding:45/@baseRem 45/@baseRem 51/@baseRem 48/@baseRem;
       padding: 6/@baseRem 0/@baseRem;
    padding-bottom: 35/@baseRem;
   
    .icon
  {
top:0/@baseRem;
height: auto;
line-height: 0/@baseRem;
  }
span.tab-label-buy-now
{
font-size:60/@baseRem !important;
}
 }
.custom-width
{
width: 27.77777777777778%;
    margin: 0/@baseRem;
    float: left;
    white-space: nowrap;
    font-size: 0
}
.custom-width-second
{
width: 72.22%;
    float: left;
    margin: 0/@baseRem;
}

}
.custom-row
{
  width:100%;
}
.product-detail-border-bottom
{
 // border:1px solid #d7d7d7;
}
.product-detail-price
{
  color:#c41411;
  padding-left:51/@baseRem;
  padding-bottom: 50/@baseRem;
   margin-bottom: 0/@baseRem;
   font-size:50/@baseRem;
   background-color: #fff;
   margin-top: 0;
}
.product-title-heading
{
  color: #333333;
  font-weight: normal;
    margin-top: 0;
    font-size:44/@baseRem;
    padding-top:54/@baseRem;
    padding-left:51/@baseRem;
    padding-right:35/@baseRem;
    padding-bottom: 50/@baseRem;
    margin-bottom: 0/@baseRem;
    background-color: #fff;

}
.product-detail-content-block{
   padding:0rem;
   margin: 93/@baseRem 0  ;
   padding: 0rem;
   
    background:#fff;
}
.product-detail-content-block:first-child
{
  margin: 0;
}
.item-www-large-products {
    border-top: 0.390625rem solid #f7f7f7;
}
.product-detail-spec
{
  padding-top:47/@baseRem;
  padding-left:50/@baseRem;
  font-size:46/@baseRem;
  background-color: #fff;
  color:#333;
  //height:151/@baseRem;
  //border-top:1px solid #d7d7d7;
  display: inline-block;
  padding-bottom: 47/@baseRem;
}
.item-www-custom-row {
     margin-left: -0.5rem;
    // margin-right: -0.5rem;
}

.item-www-products-container .item-www-large-products .item-www-product-col:nth-child(1) {
    padding-left: 0;
    padding-right: 2.1484375rem;
    margin-left: 2%;
}
.item-www-products-container {
    background: #fff;
    margin: 0;
    padding: .5rem;
    border-bottom: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
    margin-top: 1.5625rem;
    padding-top: 1.5625rem;
    padding-bottom: 0.9765625rem;
}
.product-list-products-container {
    border-top: 0px;
    padding-top: 0rem;
    padding: 0rem;
    margin-top: 3.9296875rem;
    margin-bottom: 1.640625rem;
    z-index: 99;
   
}

.item-www-products-container .item-www-large-products {
    border-top: 0.390625rem solid #f7f7f7;
}
.content .product-list-products-container_we .item-www-product-col-list .img-responsive-product {
    width: 19.6484375rem;
    height: 18.3984375rem;
    display: block;
}
.item-www-products-container .item-www-product-col .item-www-product-title {
    color: #333333;
    font-size: 1.6015625rem;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 1.7578125rem;
    min-height: 4.765625rem;
    padding-left: 1rem;

}
.item-www-products-container .item-www-product-col .item-www-product-price {
    font-size: 1.5625rem;
    color: #c41411;
    font-weight: normal;
    margin: 0;
    padding-left: 1rem;

}
.item-www-products-container .item-www-large-products .item-www-product-col + .item-www-product-col {
    border-left: 0.390625rem solid #f7f7f7;
}

.item-www-products-container .item-www-product-col .item-www-product-title {
    color: #333333;
    font-size: 1.6015625rem;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 1.7578125rem;
    min-height: 4.765625rem;
}

/*--- best products end ----*/

.item-products-container .item-large-products {
    border-top: 0.390625rem solid #f7f7f7;
}

.content .product-list-products-container .item-large-products .product-list-laterally-product-col:nth-child(1) {
    padding-right: 0rem;
    float: left;
    width: 43%;
    //margin-left: 1.5625rem;
    padding: 0;
}
.content .product-list-products-container .item-large-products .product-list-laterally-product-col {
    border-left: 0rem;
    width: 43%;
    float: left;
}
.content .product-list-products-container .item-large-products .product-list-laterally-product-col:nth-child(1) img {
    padding: 1.5625rem 0.4rem;
}
.item-products-container .item-large-products .item-product-col {
    padding: 0.78125rem;
}
.item-products-container .item-product-col + .item-product-col {
    border-left: 0.5859375rem solid #f7f7f7;
    margin-left: 2%;
}
.content .product-list-products-container .item-large-products .product-list-laterally-product-col .product-list-laterally-product-title {
    margin-bottom: (4.4 * @oldBase) / @baseRem ;
    margin-top: (1.5625 * @oldBase ) @baseRem;
}
.item-products-container .item-product-col .item-product-title {
    color: #333333;
    font-size: (1.6015625* @oldBase) / @baseRem;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: (1.7578125 * @oldBase) / @baseRem;
    min-height: (4.765625 * @oldBase) / @baseRem;
}
.content .product-list-products-container .item-large-products .product-list-laterally-product-col .product-list-laterally-product-price {
    font-size: (1.953125 * @oldBase) / @baseRem;
}
.item-products-container .item-product-col .item-product-price {
    font-size: (1.5625 * @oldBase) / @baseRem;
    color: #c41411;
    font-weight: normal;
    margin: 0;
}
.content .product-list-products-container .item-large-products .product-list-laterally-product-col:nth-child(1) img.product-list-added-new {
    //padding: 0rem 1.5625rem;
    background-size: contain;
    float: left;
    position: absolute;
}


@media only screen and (min-device-width: 768px) and (max-device-width : 1024px){
.header-base-color .bar .searchbar .search-input{
     width: 83.75%;}
.header-base-color .bar .searchbar .message-notification{
  width: 16.2%;
}
}


