@import "../../common/css/variable";
@import "../../common/css/lesshat";

.header-base-color{
  .bar{
    .item-icon {
            position: absolute;
            font-size:76.3/@baseRem;
            top: 41.2/@baseRem;
            color:@white;
           margin-left:32/@baseRem;
           
    }
    .item-searchbar{
      .item-search-input{
        input{
          width:767/@baseRem;
          border-radius: 8px;
          background-color: @white;
           margin-left:91/@baseRem;
           color: @fontDarkColor;

        }
      }
    }

  }

}

.content{
.bar{
   height:124.813/@baseRem;
       position: static;
  
   
  a.item-external{
    padding-top:20/@baseRem;
    padding-bottom: 18/@baseRem;
  } 
  

}
}
.bar-tab 
.tab-item.active, 
.bar-tab
.tab-item:active
{
  color:@baseColor;
}
.bar-tab 
.tab-item.active .item-label 
  {
    font-size:36/@baseRem;
  }
  .bar-tab .tab-item .icon
  {
     font-size:38/@baseRem;
  }
.content .bar-tab 
 .tab-item .item-label 
  {
    font-size:36/@baseRem;
  }
.bar-tab .tab-item .icon.item-icon-me{
     background: url("../image/item-search.png") no-repeat;
    height: 38px;
    width: 38px;
}
.bar-tab .tab-item .icon.item-icon-settings
{
background: url("../image/item-people.png") no-repeat;
    height: 38px;
    width: 38px;
}

  .row
  {
    .item-left
    {
      width:280.594/@baseRem;
      height: 1592/@baseRem;
    }
    ul{
      list-style-type: none;
      margin: 0px;
          padding: 0px;
          float: left;
    
    li{


   
    a{
      padding:70/@baseRem 51/@baseRem 67/@baseRem 51/@baseRem;
      float: left;
      font-size:35.44/@baseRem;
       color:@baseColor;
    
   
    }
     }
    }
    .item-right
    {
      width:770/@baseRem;
      margin-left:0%;

      .item-right-banner
      {
              margin-top:40/@baseRem;
              //margin-bottom: 60/@baseRem;
      
      img{
        max-width:100%;
      }
      }
      .content-block
      {
        margin:60/@baseRem 0/@baseRem 32/@baseRem 0/@baseRem;
        padding: 0/@baseRem;
        font-size:36/@baseRem;
        color:@fontDarkColor;

      } 
      .item-bg-white
      {
        background-color: @baseColorLogin;

        .item-img-container
        {
          margin-left:30/@baseRem;
          margin-top:54/@baseRem;
          float: left;
          height: 30.6vw;
            a{
              h3{
                color:@baseTextColor;
              }
            }
        }
      }
    }
  }

.item-border{
      border:3px solid @baseColorGrey;
      float: left;
}
.row ul li.item-border a{
  color:@fontDarkColor;
}

/*--- best products end ----*/





