@import "../../common/css/variable";
@import "../../common/css/lesshat";

.content{
  padding-top: 135/@baseRem;
}


.item-product-list-row{
  padding: 0 10px;
  background: @white;
  border-bottom: 3px solid @borderColorXtraLight;

  .item-product-list-image{
    float: left;
    width: 35.822306238185256%;
  }
  .item-product-list-text{
    float: left;
    width: 100% - 35.822306238185256%;
    padding-left: 1.9rem;

    h2{
      color: @fontDarkColor;
      font-weight: normal;
      font-size: 44/@baseRem;
      margin-top: 40/@baseRem;
      min-height: 7.320313rem;
          line-height: 2.4rem;
    }
    h3{
      color: @baseColor;
      font-weight: normal;
      font-size: 50/@baseRem;
      margin-bottom: 0;
      margin-top: 0;
    }
  }
}

.item-no-result-block{
  padding-top: 160/@baseRem;

  img{
    width: 242/@baseRem;
  }

  h2{
    margin-top: 154/@baseRem;
    font-size: 46/@baseRem;
    color: @fontLightColor;
    font-weight: normal;

    span{
      display: block;
      font-size: 36/@baseRem;
    }
  }
}

.item-sidebar-inputs{
  position: relative;

  .item-input-minus{
    background: @fontLightColor;
    width: 40/@baseRem;
    height: 4px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 48%;
    .calc(top,~'48% - 2px');
  }
  &:after{
    content: '';
    display: block;
    clear: both;
    position: relative;
  }
  .item-input-block-1{
    width: 50%;
    padding-right: 30/@baseRem;
    float: left;
  }
  .item-input-block-2{
    width: 50%;
    padding-left: 30/@baseRem;
    float: left;
  }
  input{
    width: 100%;
    border: 2px solid @borderColorExtra;
    text-align: center;
    font-size: 42/@baseRem;
    .border-radius(4px);
    padding: 20/@baseRem;
  }
}
.item-styled-hr{
  height: 10/@baseRem;
  background: @bodyBackgroundColor;
  border-top: 1px solid @borderColorExtra;
  border-bottom: 1px solid @borderColorExtra;
  border-left: 0;
  margin: 30/@baseRem -36/@baseRem 50/@baseRem;
}
.item-checkbox-block{

  .item-checkbox-title{
    font-size: 46/@baseRem;
    color: @fontDarkColor;
  }

  .item-checkbox-title-small{
    font-size: 42/@baseRem;
    color: @baseTextColor;
  }

  .item-checkboxes-heading{
    margin-bottom: 45/@baseRem;
  }

  .item-checkbox-action{
    font-size: 46/@baseRem;
    line-height: 28/@baseRem;
    position: relative;
    top: 15/@baseRem;
    margin-left: 56/@baseRem;
    color: @footerTextColor;
    .transition(0.3s);
  }

  .item-checkboxes-row{
    margin-left: -15/@baseRem;
    margin-right: -15/@baseRem;
    margin-bottom: 15/@baseRem;
    max-height: 121/@baseRem;
    overflow: hidden;

    &:after{
      content: '';
      clear: both;
      position: relative;
      display: block;
    }
    .item-checkbox-column{
      float: left;
      width: 33%;
      padding-left: 15/@baseRem;
      padding-right: 15/@baseRem;
      margin-bottom: 30/@baseRem;

      .item-checkbox{
        position: relative;

        label{
          display: block;
          background: @borderColorLight;
          color: #333;
          text-align: center;
          font-size: 42/@baseRem;
          .border-radius(4px);
          padding: 12/@baseRem 10@baseRem;
          border: 2px solid @borderColorLight;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        input{
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          .opacity(0);

          &:checked + label{
            color: @baseColor;
            border-color: @baseColor;
            background: #fff;
          }
        }
      }
    }
  }

  &.open{
    .item-checkboxes-row{
      max-height: none;
    }
    .item-checkbox-action{
      .transform(rotate(180deg));
    }
  }
}

@media(max-width: 992px){
  .item-checkbox-block .item-checkboxes-row{
    max-height: 75px;
  }
}
@media(max-width: 767px){
  .item-checkbox-block .item-checkboxes-row .item-checkbox-column .item-checkbox label{
    border-width: 1px;
  }
  .item-checkbox-block .item-checkboxes-row{
    max-height: 30px;
  }
}