/******************************************************
   *Variables START
******************************************************/
.content {
  padding-top: 5.2734375rem;
}
.item-product-list-row {
  padding: 0 10px;
  background: #fff;
  border-bottom: 3px solid #eeeeee;
}
.item-product-list-row .item-product-list-image {
  float: left;
  width: 35.822306238185256%;
}
.item-product-list-row .item-product-list-text {
  float: left;
  width: 64.17769376%;
}
.item-product-list-row .item-product-list-text h2 {
  color: #333333;
  font-weight: normal;
  font-size: 1.71875rem;
  margin-top: 1.5625rem;
  min-height: 7.320313rem;
}
.item-product-list-row .item-product-list-text h3 {
  color: #c41411;
  font-weight: normal;
  font-size: 1.953125rem;
  margin-bottom: 0;
  margin-top: 0;
}
.item-no-result-block {
  padding-top: 6.25rem;
}
.item-no-result-block img {
  width: 9.453125rem;
}
.item-no-result-block h2 {
  margin-top: 6.015625rem;
  font-size: 1.796875rem;
  color: #999999;
  font-weight: normal;
}
.item-no-result-block h2 span {
  display: block;
  font-size: 1.40625rem;
}
