/******************************************************
   *Variables START
******************************************************/
.sso-page .sso-bar {
  background: #fff;
  height: auto;
  border-bottom: 1px solid #dedede;
}
.sso-page .sso-icon {
  font-size: 0.768rem;
  color: #666666;
  position: absolute;
  top: 0.512rem;
  padding: 0;
  line-height: 0.328rem;
}
.sso-page .sso-content {
  padding-top: 1.18rem;
}
.sso-page .sso-content-block {
  margin: 0.93rem 0;
  padding: 0rem;
  margin-bottom: 0;
  background: #fff;
}
.sso-page .sso-buttons-tab {
  width: 100%;
  text-align: center;
  display: inline-block;
}
.sso-page .sso-buttons-tab:after {
  background-color: unset;
}
.sso-page a {
  padding: 0.43rem 0.5rem;
  color: #666666;
  font-size: 0.42rem;
  display: inline-block;
  z-index: 999;
}
.sso-page a.active {
  color: #c41411;
  border-bottom: 4px solid #c41411;
}
.sso-page .sso-form {
  border-top: 1px solid #dedede;
}
.sso-page .sso-content-second {
  padding-top: 1.23rem;
}
.sso-page .list-block ul:before {
  background-color: unset;
}
.sso-page .list-block .item-inner:after {
  background-color: unset;
}
.sso-page .tabs .tab .sso-title {
  font-size: 0.46rem;
  width: 99%;
  margin-top: 0.52rem;
}
.sso-page .tabs .tab .sso-margin-bottom {
  margin-bottom: 0.53rem;
}
.sso-page .tabs .tab .sso-list-block {
  padding-top: 1.45rem;
  padding-left: 0.15rem;
  padding-right: 0.15rem;
}
.sso-page .tabs .tab .sso-list-block ul {
  padding: 0.15rem;
}
.sso-page .tabs .tab .sso-text {
  height: 1.5rem;
  color: #333333;
  border-radius: 0.03rem;
  border: 1px solid #dedede;
  padding-left: 0.5rem;
  font-size: 0.4rem;
  z-index: 999;
}
.sso-page .tabs .tab .sso-button {
  text-align: center;
  width: 100%;
  background-color: #dedede;
  color: #cccccc;
  font-size: 0.4rem;
}
.sso-page .tabs .tab .sso-incorrect {
  text-align: center;
  width: 100%;
  background-color: #333333;
  color: #e0e0e0;
  margin-bottom: 0.25rem;
  display: none;
  margin-top: 0.2rem;
}
.sso-page .tabs .tab .user-captcha-image {
  width: 45%;
  height: 1.5rem;
}
.sso-page .tabs .tab .sso-enable {
  background-color: #c41411;
  color: #fff;
}
.sso-page .tabs .tab .sso-pass-eye {
  position: absolute;
  top: 39%;
  right: 6%;
  width: 0.68rem;
  height: 0.41rem;
}
.sso-page .tabs .tab .input-large {
  width: 49%;
  margin-right: 0.53rem;
  float: left;
}
.sso-page .tabs .tab .medium {
  border: 1px solid #cccccc;
  padding-top: 0.4096rem;
  padding-bottom: 0.28rem;
  display: inline-block;
  height: 1.5rem;
  vertical-align: middle;
  color: #333;
  border-radius: 0.03rem;
  width: 45%;
  text-align: center;
  margin-bottom: 0.1rem;
  font-size: 0.4rem;
}
.sso-page .tabs .tab .auto-login {
  font-size: 0.36rem;
}
.sso-page .tabs .tab .sso-condition {
  color: #c41411;
  font-size: 0.36rem;
  padding: 0.54rem 0rem 0rem 0rem;
}
.sso-page .tabs .tab .input-error {
  width: 0.4rem;
  height: 0.301rem;
}
.sso-page .tabs .tab .sso-customer {
  text-align: right;
  padding: 0.43rem 0.5rem;
  color: #666666;
  font-size: 0.42rem;
  height: 6.09rem;
  width: 100%;
}
.sso-page input[type="checkbox"]:checked :before {
  background: #3d404e;
}
.sso-page input[type="checkbox"]:checked :after {
  background-color: #c41411;
}
.sso-page .sso-text ::-webkit-input-placeholder {
  color: #cccccc;
}
.sso-page .list-block ul:after {
  background-color: transparent;
}
.popup-create {
  top: 14%;
  width: 90%;
  left: 5%;
  height: 45%;
  background-color: #f7f7f7;
}
.popup-create p {
  text-align: center;
  font-size: 0.42rem;
  color: #333333;
  padding: 0.5rem;
}
.popup-create .content-block {
  width: 90%;
  float: left;
  margin: 0;
  background-color: #fff;
  padding: 0.5rem;
  margin-left: 5%;
}
.popup-create .content-block span {
  font-size: 0.3rem;
  color: #666666;
  line-height: 0.5rem;
  margin-bottom: 10px;
  float: left;
}
.popup-create a.close-popup {
  font-size: 0.3rem;
  color: #666666;
  border: 2px solid #dedede;
  border-radius: 5px;
  position: relative;
  top: 3%;
  width: 50%;
  float: left;
  left: 25%;
  padding: 0.35rem 0.35rem;
  margin-bottom: 0.15rem;
}
.popup a {
  text-align: center;
  width: 100%;
  display: inline-block;
  color: #c41411;
  border-top: 1px solid #d7d7d7;
  font-size: 0.4rem;
  padding-top: 0.6rem;
}
.popup .content-block .modal-overlay,
.popup-overlay,
.preloader-indicator-overlay {
  background: rgba(17, 17, 17, 0.5);
}
.list-block input[type=number] {
  -moz-appearance: textfield;
}
