/******************************************************
   *Variables START
******************************************************/
.sso-page .sso-bar {
  background: #fff;
  height: auto;
  border-bottom: 1px solid #dedede;
}
.sso-page .sso-icon {
  font-size: 3rem;
  color: #666666;
  position: absolute;
  top: 2rem;
}
.sso-page .sso-content {
  padding-top: 4.609375rem;
}
.sso-page .sso-content-block {
  margin: 3.6328125rem 0;
  padding: 0rem;
  margin-bottom: 0;
  height: calc(96.3671875vh);
  background: #fff;
}
.sso-page .sso-buttons-tab {
  width: 100%;
  text-align: center;
  display: inline-block;
}
.sso-page .sso-buttons-tab:after {
  background-color: unset;
}
.sso-page a {
  padding: 1.6796875rem 1.953125rem;
  color: #666666;
  font-size: 1.640625rem;
  display: inline-block;
}
.sso-page a.active {
  color: #c41411;
  border-bottom: 4px solid #c41411;
}
.sso-page .sso-form {
  border-top: 1px solid #dedede;
}
.sso-page .sso-content-second {
  padding-top: 4.8046875rem;
}
.sso-page .list-block ul:before {
  background-color: unset;
}
.sso-page .list-block .item-inner:after {
  background-color: unset;
}
.sso-page .tabs .tab .sso-title {
  font-size: 1.796875rem;
  width: 99%;
  margin-top: 2.03125rem;
}
.sso-page .tabs .tab .sso-margin-bottom {
  margin-bottom: 2.0703125rem;
}
.sso-page .tabs .tab .sso-list-block {
  padding-top: 5.6640625rem;
}
.sso-page .tabs .tab .sso-text {
  height: 3.125rem;
  color: #333333;
  border-radius: 3px;
  border: 1px solid #dedede;
  padding-left: 1.953125rem;
}
.sso-page .tabs .tab .sso-button {
  text-align: center;
  width: 100%;
  background-color: #dedede;
  color: #cccccc;
}
.sso-page .tabs .tab .sso-incorrect {
  text-align: center;
  width: 100%;
  background-color: #333333;
  color: #e0e0e0;
  margin-bottom: 0.9765625rem;
  display: none;
  margin-top: 20px;
}
.sso-page .tabs .tab .user-captcha-image {
  width: 20.3125rem;
  height: 3.125rem;
}
.sso-page .tabs .tab .sso-enable {
  background-color: #c41411;
  color: #fff;
}
.sso-page .tabs .tab .sso-pass-eye {
  position: absolute;
  top: 23%;
  right: 4%;
  width: 2.65625rem;
  height: 1.6015625rem;
}
.sso-page .tabs .tab .input-large {
  width: 21.80898437rem;
  margin-right: 2.0703125rem;
  float: left;
}
.sso-page .tabs .tab .medium {
  border: 1px solid #cccccc;
  padding-top: 0.9765625rem;
  padding-bottom: 1.09375rem;
  display: inline-block;
  height: 3.16914062rem;
  vertical-align: middle;
  color: #333;
  border-radius: 3px;
  width: 46%;
  text-align: center;
}
.sso-page .tabs .tab .auto-login {
  font-size: 1.40625rem;
}
.sso-page .tabs .tab .sso-condition {
  color: #c41411;
  font-size: 1.40625rem;
  padding: 2.109375rem 0rem 0rem 0rem;
}
.sso-page .tabs .tab .input-error {
  width: 1.5625rem;
  height: 1.17578125rem;
}
.sso-page .tabs .tab .sso-customer {
  text-align: right;
  padding: 1.6796875rem 1.953125rem;
  color: #666666;
  font-size: 1.640625rem;
  height: 23.7890625rem;
  width: 100%;
}
.sso-page input[type="checkbox"]:checked :before {
  background: #3d404e;
}
.sso-page input[type="checkbox"]:checked :after {
  background-color: #c41411;
}
.sso-page .sso-text ::-webkit-input-placeholder {
  color: #cccccc;
}
.sso-page .list-block ul:after {
  background-color: transparent;
}
