//Import all variables
@import "variable";
@import "lesshat";


/*index header START*/

.header-base-color{
  .bar{
    background: @baseColor;
    padding: 0 ;
    height: auto;
    min-height: 195/@baseRem;
    z-index:100;

    .searchbar{
      margin: 0;
      background: transparent;
      padding: .8rem 1.96rem;
      height: auto;

      .search-input{
        float: left;
        width: 87.75%;
      }

      .search-input input{
        .border-radius(2px);
        height: auto;
        font-size: 38/@baseRem;
        padding:  1rem 43/@baseRem;
        background: @baseColorDark;
        color: fadeout(@white,20%);
        position: relative;

        .placeholder(fadeout(@white,20%));
      }
      .search-input .icon{
        color: fadeout(@white,20%);
        font-size: 2.9rem;
        right: .3rem;
        left: auto;
      }
      .message-notification {
        float: left;
        width: 12.2%;
        text-align: right;

        a{
          display: inline-block;
          position: relative;
          top: (0.25 * @oldBase) /@baseRem;
          padding-left: 0.3rem;

          img{
            max-width: 20px;

            @media(min-width: 400px){
              max-width: 24px;
            }
            @media(min-width: 768px){
              max-width: 56px;
            }
            @media(min-width: 992px){
              max-width: 100%;
            }
          }

          .badge{
            background: #e51937;
            color: #fff;
            height: 96/@baseRem;
            width: 96/@baseRem;
            font-size: 50/@baseRem;
            border: 3/@baseRem solid #fff;
            line-height: (1.6 * @oldBase) / @baseRem;
            position: absolute;
            /*top: (15 * @oldBase) / @baseRem;
            right: (15 * @oldBase) / @baseRem;*/
            top: -72%;
            right: -55%;
            padding: 20/@baseRem 35/ @baseRem 15 /@baseRem;
          }
        }
      }

      &.with-arrow{
       // padding-left: 135/@baseRem;

        input{
          background: @white;
          color: @baseTextColor;
          font-size: 42/@baseRem;
          padding: 45/@baseRem 45/@baseRem;
          .placeholder(@baseTextColor);
          .border-radius(9/@baseRem);
        }

        .message-notification a{
          top: 25 /@baseRem;
        }
      }
    }
  }
  .back-to-prev-btn{
    position: absolute;
    color: @white;
    display: inline-block;
    left: 31/@baseRem;
    font-size: 42/@baseRem;

    .icon{
      font-size: 70/@baseRem;
      line-height: 306/@baseRem;
      padding:0;
    }
  }
  .bar-title{
    color: @white;
    font-size: 70/@baseRem;
    font-weight: 400;
    margin: 130/@baseRem 0;
    //     position: absolute;
    // left: 41%;
        padding-left: (3.390625*@oldBase) / @baseRem;
  }

  .sort-links{
    ul{
      margin: 0;
      padding: 0 50/@baseRem;
      list-style: none;
      background: @white;
      margin-bottom: -1px;
      border-bottom: 10/@baseRem solid @borderColorXtraLight;

      li{
        float: left;
        width: 25%;
        text-align: center;

        a{
          color: @baseTextColor;
          font-size: 46/@baseRem;
          display: block;
          padding: 28/@baseRem 0 ;
          text-align: center;

          img{
            max-height: 29/@baseRem;
          }
        }

        &:first-child{
          text-align: left;
        }
        &:last-child{
          text-align: right;
        }

        &.active{
          a{
            color: @baseColor;
          }
        }
      }
    }
  }

  .right-side-link{
    float: right;
    right: 50/@baseRem;
    position: absolute;
    color: @white;
    font-size: 36/@baseRem;
    line-height: 70/@baseRem;

    img{
      vertical-align: middle;
      height: 52/@baseRem;
    }
  }

  & ~ .content{
    padding-top: 133/@baseRem;
  }

  &.has-sort-menu ~ .content{
    padding-top: 370/@baseRem;
  }
}



/*index header END*/

/*Main bar Start*/
.main-bar{
  height: 190/@baseRem;
  background: @white;
  border-top: 2px solid @borderColorExtra;

  .tab-item .icon ~ .tab-label{
    font-size: 70/@baseRem;
    padding-bottom: 0.5/@baseRem;
    padding-top: 0.5/@baseRem;
  }
  .tab-item{
    height: (5.3 * @oldBase) / @baseRem;
  }
  .tab-item .icon {
    top: (.07 * @oldBase) / @baseRem;
    height: (3.2 * @oldBase) / @baseRem;
    line-height: (4.2 * @oldBase) / @baseRem;
    padding-top: 50/@baseRem;
    padding-bottom: 50/@baseRem;
    font-size: 70 / @baseRem;
    
  }
  .tab-item.active, .tab-item:active {
    color: @baseColor;
  }

  // &~.content {
  //   bottom: 5.9rem;
  // }

}
/*Main bar End*/

/*index Footer START*/
.footer{
  background: @baseTextColor;
  color: @footerTextColor;
  margin: 0;
  padding: 50/@baseRem 60/@baseRem 60/@baseRem;
  margin-top: 40/@baseRem;
  font-size: 31/@baseRem;
  font-weight: normal;
     height: (15 *@oldBase) /@baseRem;

  ul{
    margin: 0 -40/@baseRem 60/@baseRem;
    padding: 0;
    list-style: none;

    li{
      float: left;
      width: 25%;
      padding: 0 20/@baseRem;

      a{
        font-size: 36/@baseRem;
        display: block;
        width: 100%;
        padding: 30/@baseRem;
        text-align: center;
        color: @footerTextColor;
        .border-radius(8px);
        border: 2px solid;
      }
    }
  }
}
/*index Footer END*/


/*back to Top button START*/
a.back-to-top {
  position: fixed;
  top: 48%;
  right: 1.96rem;
  width: 104/@baseRem;
  display: block;
  .calc(top,~'50% - 2.03rem');
  z-index: 100;

  img{
    max-width: 100%;
  }
}
/*back to Top button END*/


/******** Sidebar **************/
.sidebar{
  width: 88%;
  background: @white;
  right: -88% !important;

  .content-block{
    padding: 50/@baseRem 36/@baseRem;
    margin: 0;
    height: 100%;
    overflow: auto;

    .side-bar-title{
      margin-top: 0;
      color: @fontDarkColor;
      margin-bottom: 50/@baseRem;
      font-weight: 400;
    }
  }
  .content-footer{
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    bottom: 0;
    z-index: 10;

    .btns{
      .btn{
        width: 50%;
        display: inline-block;
        font-size: 46/@baseRem;
        background: @white;
        color: @fontDarkColor;
        text-align: center;
        border-top: 1px solid @borderColorExtra;
        padding: 45/@baseRem 15/@baseRem;

        &.active{
          background: @baseColor;
          color: @white;
        }
      }
    }

    & + .content-block{
      padding-bottom: 124/@baseRem;
    }
  }
}
body.with-panel-right-cover .sidebar {
  -webkit-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
}
.with-panel-right-cover .content{
  overflow: hidden;
}

.list-block .sso-item-content {
    box-sizing: border-box;
    padding-left: .75rem;
    min-height: 2.2rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.list-block .sso-item-inner {
    padding-right: .75rem;
    position: relative;
    width: 100%;
    padding-top: .4rem;
    padding-bottom: .35rem;
    min-height: 2.2rem;
    overflow: hidden;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.list-block .sso-item-input {
    width: 100%;
    margin-top: -.4rem;
    margin-bottom: -.35rem;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    -webkit-flex-shrink: 1;
    -ms-flex: 0 1 auto;
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
}