/******************************************************
   *Variables START
******************************************************/
/*index header START*/
.header-base-color .bar {
  background: #c41411;
  padding: 0 ;
  height: auto;
  min-height: 5.1171875rem;
  z-index: 100;
}
.header-base-color .bar .searchbar {
  margin: 0;
  background: transparent;
  padding: .8rem 1.96rem;
  height: auto;
}
.header-base-color .bar .searchbar .search-input {
  float: left;
  width: 87.75%;
}
.header-base-color .bar .searchbar .search-input input {
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
  height: auto;
  font-size: 1.484375rem;
  padding: 1rem 1.6796875rem;
  background: #b0120f;
  color: rgba(255, 255, 255, 0.8);
  position: relative;
}
.header-base-color .bar .searchbar .search-input input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
.header-base-color .bar .searchbar .search-input input:-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
.header-base-color .bar .searchbar .search-input input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
.header-base-color .bar .searchbar .search-input input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
.header-base-color .bar .searchbar .search-input .icon {
  color: rgba(255, 255, 255, 0.8);
  font-size: 2.9rem;
  right: .3rem;
  left: auto;
}
.header-base-color .bar .searchbar .message-notification {
  float: left;
  width: 12.2%;
  text-align: right;
}
.header-base-color .bar .searchbar .message-notification a {
  display: inline-block;
  position: relative;
  top: 0.85rem;
  padding-left: 0.3rem;
}
.header-base-color .bar .searchbar .message-notification a img {
  max-width: 20px;
}
@media (min-width: 400px) {
  .header-base-color .bar .searchbar .message-notification a img {
    max-width: 24px;
  }
}
@media (min-width: 768px) {
  .header-base-color .bar .searchbar .message-notification a img {
    max-width: 56px;
  }
}
@media (min-width: 992px) {
  .header-base-color .bar .searchbar .message-notification a img {
    max-width: 100%;
  }
}
.header-base-color .bar .searchbar .message-notification a .badge {
  background: #e51937;
  color: #fff;
  height: 1.796875rem;
  width: 1.796875rem;
  font-size: 1.171875rem;
  border: 0.1171875rem solid #fff;
  line-height: 1.3rem;
  position: absolute;
  top: -1rem;
  right: -1rem;
}
.header-base-color .bar .searchbar.with-arrow {
  padding-left: 5.2734375rem;
}
.header-base-color .bar .searchbar.with-arrow input {
  background: #fff;
  color: #666666;
  font-size: 1.640625rem;
  padding: 0.8984375rem 1.640625rem;
  -webkit-border-radius: 0.3515625rem;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0.3515625rem;
  -moz-background-clip: padding;
  border-radius: 0.3515625rem;
  background-clip: padding-box;
}
.header-base-color .bar .searchbar.with-arrow input::-webkit-input-placeholder {
  color: #666666;
}
.header-base-color .bar .searchbar.with-arrow input:-moz-placeholder {
  color: #666666;
}
.header-base-color .bar .searchbar.with-arrow input::-moz-placeholder {
  color: #666666;
}
.header-base-color .bar .searchbar.with-arrow input:-ms-input-placeholder {
  color: #666666;
}
.header-base-color .bar .searchbar.with-arrow .message-notification a {
  top: 0.65rem;
}
.header-base-color .back-to-prev-btn {
  position: absolute;
  color: #fff;
  display: inline-block;
  left: 1.2109375rem;
  font-size: 1.640625rem;
}
.header-base-color .back-to-prev-btn .icon {
  font-size: 2.734375rem;
  line-height: 4.140625rem;
}
.header-base-color .bar-title {
  color: #fff;
  font-size: 1.796875rem;
  font-weight: 400;
  margin: 1.2890625rem 0;
}
.header-base-color .sort-links ul {
  margin: 0;
  padding: 0 1.953125rem;
  list-style: none;
  background: #fff;
  margin-bottom: -1px;
  border-bottom: 0.390625rem solid #eeeeee;
}
.header-base-color .sort-links ul li {
  float: left;
  width: 25%;
  text-align: center;
}
.header-base-color .sort-links ul li a {
  color: #666666;
  font-size: 1.796875rem;
  display: block;
  padding: 1.09375rem 0;
}
.header-base-color .sort-links ul li a img {
  max-height: 1.1328125rem;
}
.header-base-color .sort-links ul li:first-child {
  text-align: left;
}
.header-base-color .sort-links ul li:last-child {
  text-align: right;
}
.header-base-color .sort-links ul li.active a {
  color: #c41411;
}
.header-base-color .right-side-link {
  float: right;
  right: 1.953125rem;
  position: absolute;
  color: #fff;
  font-size: 1.40625rem;
  line-height: 2.734375rem;
}
.header-base-color .right-side-link img {
  vertical-align: middle;
  height: 2.03125rem;
}
.header-base-color ~ .content {
  padding-top: 5.1953125rem;
}
.header-base-color.has-sort-menu ~ .content {
  padding-top: 10.546875rem;
}
/*index header END*/
/*Main bar Start*/
.main-bar {
  height: auto;
  background: #fff;
  border-top: 2px solid #dedede;
}
.main-bar .tab-item .icon ~ .tab-label {
  font-size: 1.40625rem;
  padding-bottom: 0.5rem;
}
.main-bar .tab-item {
  height: 5.3rem;
}
.main-bar .tab-item .icon {
  top: .05rem;
  height: 3.2rem;
  line-height: 4.2rem;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 2.6rem;
}
.main-bar .tab-item.active,
.main-bar .tab-item:active {
  color: #c41411;
}
.main-bar ~ .content {
  bottom: 5.9rem;
}
/*Main bar End*/
/*index Footer START*/
.footer {
  background: #666666;
  color: #cccccc;
  margin: 0;
  padding: 1.953125rem 2.34375rem 2.34375rem;
  margin-top: 1.5625rem;
  font-size: 1.2109375rem;
  font-weight: normal;
}
.footer ul {
  margin: 0 -1.5625rem 2.34375rem;
  padding: 0;
  list-style: none;
}
.footer ul li {
  float: left;
  width: 25%;
  padding: 0 0.78125rem;
}
.footer ul li a {
  font-size: 1.40625rem;
  display: block;
  width: 100%;
  padding: 1.171875rem;
  text-align: center;
  color: #cccccc;
  -webkit-border-radius: 8px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 8px;
  -moz-background-clip: padding;
  border-radius: 8px;
  background-clip: padding-box;
  border: 2px solid;
}
/*index Footer END*/
/*back to Top button START*/
a.back-to-top {
  position: fixed;
  top: 48%;
  right: 1.96rem;
  width: 4.0625rem;
  display: block;
  -lh-property: 0;
top:-webkit-calc(50% - 2.03rem);
top:-moz-calc(50% - 2.03rem);
top:calc(50% - 2.03rem);
;
  z-index: 100;
}
a.back-to-top img {
  max-width: 100%;
}
/*back to Top button END*/
/******** Sidebar **************/
.sidebar {
  width: 88%;
  background: #fff;
  right: -88% !important;
}
.sidebar .content-block {
  padding: 1.953125rem 1.40625rem;
  margin: 0;
  height: 100%;
  overflow: auto;
}
.sidebar .content-block .side-bar-title {
  margin-top: 0;
  color: #333333;
  margin-bottom: 1.953125rem;
  font-weight: 400;
}
.sidebar .content-footer {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  bottom: 0;
  z-index: 10;
}
.sidebar .content-footer .btns .btn {
  width: 50%;
  display: inline-block;
  font-size: 1.796875rem;
  background: #fff;
  color: #333333;
  text-align: center;
  border-top: 1px solid #dedede;
  padding: 1.7578125rem 0.5859375rem;
}
.sidebar .content-footer .btns .btn.active {
  background: #c41411;
  color: #fff;
}
.sidebar .content-footer + .content-block {
  padding-bottom: 4.84375rem;
}
body.with-panel-right-cover .sidebar {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.with-panel-right-cover .content {
  overflow: hidden;
}
