@import "variable";
@import "lesshat";
//Import all variables
@baseRem:25.6rem;

/*index header START*/

.header-base-color{
  .bar{
    background: @baseColor;
    padding: 0 ;
    height: auto;

    .searchbar{
      margin: 0;
      background: transparent;
      padding: .8rem 1.96rem;
      height: auto;

      .search-input{
        float: left;
        width: 87.75%;
      }

      .search-input input{
        .border-radius(2px);
        height: auto;
        font-size: 38/@baseRem;
        padding:  1rem 43/@baseRem;
        background: @baseColorDark;
        color: fadeout(@white,20%);
        position: relative;

        .placeholder(fadeout(@white,20%));
      }
      .search-input .icon{
        color: fadeout(@white,20%);
        font-size: 2.9rem;
        right: .3rem;
        left: auto;
      }
      .message-notification {
        float: left;
        width: 12.2%;
        text-align: right;

        a{
          display: inline-block;
          position: relative;
          top: 0.85rem;
          padding-left: 0.3rem;

          img{
            max-width: 20px;

            @media(min-width: 400px){
              max-width: 24px;
            }
            @media(min-width: 768px){
              max-width: 56px;
            }
            @media(min-width: 992px){
              max-width: 100%;
            }
          }

          .badge{
            background: #e51937;
            color: #fff;
            height: 46/@baseRem;
            width: 46/@baseRem;
            font-size: 30/@baseRem;
            border: 3/@baseRem solid #fff;
            line-height: 1.3rem;
            position: absolute;
            top: -1.0rem;
            right: -1rem;
          }
        }
      }
    }
  }
  .back-to-prev-btn{
    position: absolute;
    color: @white;
    display: inline-block;
    left: 31/@baseRem;

    .icon{
      font-size: 70/@baseRem;
      line-height: 106/@baseRem;
    }
  }
  .bar-title{
    color: @white;
    font-size: 46/@baseRem;
    font-weight: 400;
    margin: 33px 0;
  }

  & ~ .content{
    padding-top: 135/@baseRem;
  }
}



/*index header END*/

/*Main bar Start*/
.main-bar{
  height: auto;
  background: @white;
  border-top: 2px solid @borderColorExtra;

  .tab-item .icon ~ .tab-label{
    font-size: 36/@baseRem;
    padding-bottom: 0.5rem;
  }
  .tab-item{
    height: 5.3rem;
  }
  .tab-item .icon {
    top: .05rem;
    height: 3.2rem;
    line-height: 4.2rem;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 2.6rem;
  }
  .tab-item.active, .tab-item:active {
    color: @baseColor;
  }

  &~.content {
    bottom: 5.9rem;
  }

}
/*Main bar End*/

/*index Footer START*/
.footer{
  background: @baseTextColor;
  color: @footerTextColor;
  margin: 0;
  padding: 50/@baseRem 60/@baseRem 60/@baseRem;
  margin-top: 40/@baseRem;
  font-size: 31/@baseRem;
  font-weight: normal;

  ul{
    margin: 0 -40/@baseRem 60/@baseRem;
    padding: 0;
    list-style: none;

    li{
      float: left;
      width: 25%;
      padding: 0 20/@baseRem;

      a{
        font-size: 36/@baseRem;
        display: block;
        width: 100%;
        padding: 30/@baseRem;
        text-align: center;
        color: @footerTextColor;
        .border-radius(8px);
        border: 2px solid;
      }
    }
  }
}
/*index Footer END*/


/*back to Top button START*/
a.back-to-top {
  position: fixed;
  top: 48%;
  right: 1.96rem;
  width: 104/@baseRem;
  display: block;
  .calc(top,~'50% - 2.03rem');

  img{
    max-width: 100%;
  }
}
/*back to Top button END*/
