/******************************************************
   *Variables START
******************************************************/
/*index header START*/
.header-base-color .bar {
  background: #c41411;
  padding: 0 ;
  height: auto;
  min-height: 1.95rem;
  z-index: 100;
}
.header-base-color .bar .searchbar {
  margin: 0;
  background: transparent;
  padding: .8rem 1.96rem;
  height: auto;
}
.header-base-color .bar .searchbar .search-input {
  float: left;
  width: 87.75%;
}
.header-base-color .bar .searchbar .search-input input {
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
  height: auto;
  font-size: 0.38rem;
  padding: 1rem 0.43rem;
  background: #b0120f;
  color: rgba(255, 255, 255, 0.8);
  position: relative;
}
.header-base-color .bar .searchbar .search-input input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
.header-base-color .bar .searchbar .search-input input:-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
.header-base-color .bar .searchbar .search-input input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
.header-base-color .bar .searchbar .search-input input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
.header-base-color .bar .searchbar .search-input .icon {
  color: rgba(255, 255, 255, 0.8);
  font-size: 2.9rem;
  right: .3rem;
  left: auto;
}
.header-base-color .bar .searchbar .message-notification {
  float: left;
  width: 12.2%;
  text-align: right;
}
.header-base-color .bar .searchbar .message-notification a {
  display: inline-block;
  position: relative;
  top: 0.064rem;
  padding-left: 0.3rem;
}
.header-base-color .bar .searchbar .message-notification a img {
  max-width: 20px;
}
@media (min-width: 400px) {
  .header-base-color .bar .searchbar .message-notification a img {
    max-width: 24px;
  }
}
@media (min-width: 768px) {
  .header-base-color .bar .searchbar .message-notification a img {
    max-width: 56px;
  }
}
@media (min-width: 992px) {
  .header-base-color .bar .searchbar .message-notification a img {
    max-width: 100%;
  }
}
.header-base-color .bar .searchbar .message-notification a .badge {
  background: #e51937;
  color: #fff;
  height: 0.96rem;
  width: 0.96rem;
  font-size: 0.5rem;
  border: 0.03rem solid #fff;
  line-height: 0.4096rem;
  position: absolute;
  /*top: (15 * @oldBase) / @baseRem;
            right: (15 * @oldBase) / @baseRem;*/
  top: -72%;
  right: -55%;
  padding: 0.2rem 0.35rem 0.15rem;
}
.header-base-color .bar .searchbar.with-arrow input {
  background: #fff;
  color: #666666;
  font-size: 0.42rem;
  padding: 0.45rem 0.45rem;
  -webkit-border-radius: 0.09rem;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0.09rem;
  -moz-background-clip: padding;
  border-radius: 0.09rem;
  background-clip: padding-box;
}
.header-base-color .bar .searchbar.with-arrow input::-webkit-input-placeholder {
  color: #666666;
}
.header-base-color .bar .searchbar.with-arrow input:-moz-placeholder {
  color: #666666;
}
.header-base-color .bar .searchbar.with-arrow input::-moz-placeholder {
  color: #666666;
}
.header-base-color .bar .searchbar.with-arrow input:-ms-input-placeholder {
  color: #666666;
}
.header-base-color .bar .searchbar.with-arrow .message-notification a {
  top: 0.25rem;
}
.header-base-color .back-to-prev-btn {
  position: absolute;
  color: #fff;
  display: inline-block;
  left: 0.31rem;
  font-size: 0.42rem;
}
.header-base-color .back-to-prev-btn .icon {
  font-size: 0.7rem;
  line-height: 3.06rem;
  padding: 0;
}
.header-base-color .bar-title {
  color: #fff;
  font-size: 0.7rem;
  font-weight: 400;
  margin: 1.3rem 0;
  padding-left: 0.868rem;
}
.header-base-color .sort-links ul {
  margin: 0;
  padding: 0 0.5rem;
  list-style: none;
  background: #fff;
  margin-bottom: -1px;
  border-bottom: 0.1rem solid #eeeeee;
}
.header-base-color .sort-links ul li {
  float: left;
  width: 25%;
  text-align: center;
}
.header-base-color .sort-links ul li a {
  color: #666666;
  font-size: 0.46rem;
  display: block;
  padding: 0.28rem 0;
  text-align: center;
}
.header-base-color .sort-links ul li a img {
  max-height: 0.29rem;
}
.header-base-color .sort-links ul li:first-child {
  text-align: left;
}
.header-base-color .sort-links ul li:last-child {
  text-align: right;
}
.header-base-color .sort-links ul li.active a {
  color: #c41411;
}
.header-base-color .right-side-link {
  float: right;
  right: 0.5rem;
  position: absolute;
  color: #fff;
  font-size: 0.7rem;
  line-height: 0.7rem;
}
.header-base-color .right-side-link img {
  vertical-align: middle;
  height: 0.52rem;
}
.header-base-color ~ .content {
  padding-top: 1.33rem;
}
.header-base-color.has-sort-menu ~ .content {
  padding-top: 3.7rem;
}
/*index header END*/
/*Main bar Start*/
.main-bar {
  height: 1.9rem;
  background: #fff;
  border-top: 2px solid #dedede;
}
.main-bar .tab-item .icon ~ .tab-label {
  font-size: 0.7rem;
  padding-bottom: 0.005rem;
  padding-top: 0.005rem;
}
.main-bar .tab-item {
  height: 1.3568rem;
}
.main-bar .tab-item .icon {
  top: 0.01792rem;
  height: 0.8192rem;
  line-height: 1.0752rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.7rem;
}
.main-bar .tab-item.active,
.main-bar .tab-item:active {
  color: #c41411;
}
/*Main bar End*/
/*index Footer START*/
.footer {
  background: #666666;
  color: #cccccc;
  margin: 0;
  padding: 0.5rem 0.6rem 0.6rem;
  margin-top: 0.4rem;
  font-size: 0.31rem;
  font-weight: normal;
  height: 3.84rem;
}
.footer ul {
  margin: 0 -0.4rem 0.6rem;
  padding: 0;
  list-style: none;
}
.footer ul li {
  float: left;
  width: 25%;
  padding: 0 0.2rem;
}
.footer ul li a {
  font-size: 0.36rem;
  display: block;
  width: 100%;
  padding: 0.3rem;
  text-align: center;
  color: #cccccc;
  -webkit-border-radius: 8px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 8px;
  -moz-background-clip: padding;
  border-radius: 8px;
  background-clip: padding-box;
  border: 2px solid;
}
/*index Footer END*/
/*back to Top button START*/
a.back-to-top {
  position: fixed;
  top: 48%;
  right: 1.96rem;
  width: 1.04rem;
  display: block;
  -lh-property: 0;
top:-webkit-calc(50% - 2.03rem);
top:-moz-calc(50% - 2.03rem);
top:calc(50% - 2.03rem);
;
  z-index: 100;
}
a.back-to-top img {
  max-width: 100%;
}
/*back to Top button END*/
/******** Sidebar **************/
.sidebar {
  width: 88%;
  background: #fff;
  right: -88% !important;
}
.sidebar .content-block {
  padding: 0.5rem 0.36rem;
  margin: 0;
  height: 100%;
  overflow: auto;
}
.sidebar .content-block .side-bar-title {
  margin-top: 0;
  color: #333333;
  margin-bottom: 0.5rem;
  font-weight: 400;
}
.sidebar .content-footer {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  bottom: 0;
  z-index: 10;
}
.sidebar .content-footer .btns .btn {
  width: 50%;
  display: inline-block;
  font-size: 0.46rem;
  background: #fff;
  color: #333333;
  text-align: center;
  border-top: 1px solid #dedede;
  padding: 0.45rem 0.15rem;
}
.sidebar .content-footer .btns .btn.active {
  background: #c41411;
  color: #fff;
}
.sidebar .content-footer + .content-block {
  padding-bottom: 1.24rem;
}
body.with-panel-right-cover .sidebar {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.with-panel-right-cover .content {
  overflow: hidden;
}
.list-block .sso-item-content {
  box-sizing: border-box;
  padding-left: .75rem;
  min-height: 2.2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.list-block .sso-item-inner {
  padding-right: .75rem;
  position: relative;
  width: 100%;
  padding-top: .4rem;
  padding-bottom: .35rem;
  min-height: 2.2rem;
  overflow: hidden;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.list-block .sso-item-input {
  width: 100%;
  margin-top: -0.4rem;
  margin-bottom: -0.35rem;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  -ms-flex: 0 1 auto;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
}
