@import "variable";
@import "lesshat";

body{
  background: @bodyBackgroundColor;
  font-family: ~'Arial, "Microsoft Yahei", STXihei, sans-serif;';
}


html {
  font-size: 8px;
}


@media only screen and (min-width: 400px){
  html {
    font-size: 9px!important;
  }
}

@media only screen and (min-width: 768px){
  html {
    font-size: 20px!important;
  }
}

@media only screen and (min-width: 992px){
  html {
    font-size: 25.6px!important;
  }
}
/*Helper classes START*/

.img-responsive{
  max-width: 100%;
}
.padding-bottom-0{
  padding-bottom: 0 !important;
}
.margin-0{
  margin: 0 !important;
}
.center-block{
  display: block;
  margin: 0 auto;
}
.white-bg{
  background: @white;
}
.base-color{
  color: @baseColor !important;
}
.text-right{
  text-align: right;
}
.inline-block{
  display: inline-block;
}
.text-left{
  text-align: left;
}
.base-dark-color{
  color: @fontDarkColor;
}
.buttons-tab .button.active {
  z-index: 99;
}
/*Helper classes END*/


/*modal styling START*/

.modal-overlay, .popup-overlay, .preloader-indicator-overlay{
  background: rgba(255, 255, 255, 0.79);
}
.modal {
 width: 31.5rem;
    position: absolute;
    margin-left: -15.75rem;
    top: 50%;
}
.modal-inner {
  padding: 4.8rem .75rem;
  border-radius: 4px 4px 0 0;
  background: @white;
  border: 1px solid @fontLightColor;
  border-bottom: 0;
}
.modal-inner:after{
  background: @fontLightColor;
}
.modal-button{
  background: #fff;
  border: 1px solid @fontLightColor;
  border-top: 0;
  box-shadow: none;
  font-size: 40/@baseRem;
  color: @baseTextColor;
  padding: 65/@baseRem 20/@baseRem;
  display: inline-block;
  line-height: 50/@baseRem;
  height: auto;

  &:after{
    display: none;
  }
}
.modal-button.modal-button-bold{
  border-radius: 0 0 4px  0;
  background: @baseColor;
  color: @white;
}
.modal-button:first-child {
  border-radius: 0 0 0 4px;
  border-right: 0;
}
.modal-buttons{
  height: auto;
}


.modal-text{
  font-size: 46/@baseRem;
}
/*modal styling END*/



/*Radio buttons style*/
label.label-checkbox input[type=checkbox]:checked+.item-media i.icon-form-checkbox, label.label-checkbox input[type=radio]:checked+.item-media i.icon-form-checkbox {

  background-color: @baseColor;
}
.center-block-second {
    position: absolute;
    right: 7%;
    max-width: 25%;
    padding: 0 2%;
    margin-left: auto;
    margin-right: auto;
}
