html {
  font-size: 8px;
}


@media only screen and (min-width: 400px){
  html {
    font-size: 9px!important;
  }
}

@media only screen and (min-width: 768px){
  html {
    font-size: 20px!important;
  }
}

@media only screen and (min-width: 992px){
  html {
    font-size: 25.6px!important;
  }
}