/******************************************************
   *Variables START
******************************************************/

@baseColor:#c41411;                   //Base Color Currently Like Red
@baseColorDark:#b0120f;               //Base Dark Color Currently Like Dark Red
@primaryColor:#f2f2f2;                //Top Nav bar background Color
@baseTextColor:#666666;               //Common used text Color
@bodyBackgroundColor:#ededed;         //body background color
@white:#fff;
@baseRem:25.6rem;


