/******************************************************
   *Variables START
******************************************************/

@baseColor:#c41411;                   //Base Color Currently Like Red
@baseColorDark:#b0120f;               //Base Dark Color Currently Like Dark Red
@primaryColor:#f2f2f2;                //Top Nav bar background Color
@baseTextColor:#666666;               //Common used text Color
@bodyBackgroundColor:#ededed;         //body background color
@white:#fff;                          //color white
@baseRem:25.6rem;                     //base REM size
@fontLightColor:#999999;              //Font light color
@fontDarkColor:#333333;               //Font Dark color
@borderColor:#e8e8e8;                 //avg Used border color
@borderColorLight:#f7f7f7;            //avg Used Light border color
@baseGreenColor:#39af6f;              //Green color for headings
@baseBlueColor:#2eafdf;               //Blue color for headings

//sso pages 
@baseColorLogin:#fff;
@baseColorPlaceholderText:#cccccc;
@baseColorPlacholderWrite:#333333;



