/******************************************************
   *Variables START
******************************************************/
.trade-evaluate-form.sui-form.form-horizontal {
  background: #fff;
  padding: 32px 20px;
  display: none;
}
.trade-evaluate-form.sui-form.form-horizontal .control-group {
  margin-bottom: 30px;
}
.trade-evaluate-form.sui-form.form-horizontal .control-label {
  width: 60px;
}
.trade-evaluate-form.sui-form.form-horizontal .control-label em {
  font-style: italic;
  display: inline-block;
  height: 16px;
  font-size: 20px;
  width: 10px;
  text-align: left;
  vertical-align: middle;
  color: #d01716;
  text-indent: -2px;
}
.trade-evaluate-form.sui-form.form-horizontal .control-label,
.trade-evaluate-form.sui-form.form-horizontal .controls {
  vertical-align: top;
}
.trade-evaluate-form.sui-form.form-horizontal textarea {
  width: 620px;
  border-radius: 0;
  min-height: 120px;
  padding: 10px;
  font-size: 14px;
}
.trade-evaluate-form.sui-form.form-horizontal .btn-primary {
  padding: 8px 21px;
  margin-top: 0;
}
.trade-evaluate-form.sui-form.form-horizontal .trade-placeholder-column {
  position: relative;
}
.trade-evaluate-form.sui-form.form-horizontal .trade-placeholder-column .sui-msg {
  position: absolute;
  top: 24px;
  left: 91px;
}
.trade-evaluate-form.sui-form.form-horizontal .trade-absolute-tip {
  position: relative;
}
.trade-evaluate-form.sui-form.form-horizontal .trade-absolute-tip .tip {
  position: absolute;
  top: 127px;
  left: 555px;
}
.br-wrapper {
  display: inline-block;
  vertical-align: middle;
}
.br-widget a {
  font-family: 'icon-tb';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-left: 1px;
  font-size: 14px;
  color: #999999;
}
.br-widget a:after {
  content: "\e64c";
}
.br-widget a.br-selected:after,
.br-widget a.br-active:after {
  content: "\e64b";
}
.br-widget .br-current-rating {
  display: none;
}
.trade-file-placeholder {
  width: 82px;
  height: 82px;
  border: 1px solid #dedede;
  display: inline-block;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  text-align: center;
  padding-top: 33px;
}
.trade-file-placeholder input[type=file] {
  cursor: pointer;
  zoom: 1;
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  height: 100%;
  width: 200%;
  left: -100%;
}
.trade-file-placeholder .trade-file-label {
  cursor: pointer;
  z-index: 1;
}
