@import "../../common/css/variable";
@import "../../common/css/lesshat";

.trade-evaluate-form.sui-form.form-horizontal{
  background: #fff;
  padding: 32px 20px;
  display: none;

  .control-group{
    margin-bottom: 30px;
  }
  .control-label{
    width: 60px;

    em {
      font-style: italic;
      display: inline-block;
      height: 16px;
      font-size: 20px;
      width: 10px;
      text-align: left;
      vertical-align: middle;
      color: @textHoverColor;
      text-indent: -2px;
    }
  }
  .control-label,.controls{
    vertical-align: top;
  }
  textarea{
    width: 620px;
    border-radius: 0;
    min-height: 120px;
    padding: 10px;
    font-size: @baseFontLarge;
  }
  .btn-primary {
    padding: 8px 21px;
    margin-top: 0;
  }
  .trade-placeholder-column{
    position: relative;

    .sui-msg{
      position: absolute;
      top: 24px;
      left: 91px;
    }
  }
  .trade-absolute-tip{
    position: relative;

    .tip{
      position: absolute;
      top: 127px;
      left: 555px;
    }
  }
}


.br-wrapper{
  display: inline-block;
  vertical-align: middle;
}
.br-widget{

  a {
    font-family: 'icon-tb';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: 1px;
    font-size: @baseFontLarge;
    color: @primaryColorLight;

    &:after {
      content: "\e64c";
    }

    &.br-selected,&.br-active{
      &:after{
        content: "\e64b";
      }
    }
  }
  .br-current-rating{
    display: none;
  }
}
.trade-file-placeholder{
  width: 82px;
  height: 82px;
  border:1px solid @avgBorderColor;
  display: inline-block;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  text-align: center;
  padding-top: 33px;

  input[type=file]{
    cursor: pointer;
    .opacity(0);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    height: 100%;
    width: 200%;
    left: -100%;
  }

  .trade-file-label{
    cursor: pointer;
    z-index: 1;
  }
}