/******************************************************
   *Variables START
******************************************************/
.trade-table {
  display: table;
  width: 100%;
}
.trade-table .trade-table-row {
  display: table-row;
}
.trade-table .trade-table-row .trade-table-column {
  vertical-align: middle;
  display: table-cell;
}
.trade-table .trade-table-row .trade-table-column hr {
  border-color: #dedede;
  border-bottom: 0;
}
.trade-base-btn {
  background: #c41411;
  border-color: #c41411;
  color: #fff;
  padding: 5px 17px;
}
.trade-base-btn:hover {
  background: #c41411;
  border-color: #c41411;
  color: #fff;
}
.trade-steps {
  width: 874px;
  margin: 0 auto 60px;
  position: relative;
}
.trade-steps:after {
  content: '';
  display: block;
  position: relative;
  clear: both;
}
.trade-steps.trade-steps-4 .trade-step {
  width: 281px;
}
.trade-steps.trade-steps-3 .trade-step {
  width: 421px;
}
.trade-steps .trade-step {
  float: left;
  position: relative;
}
.trade-steps .trade-step.last {
  width: 32px;
  position: absolute;
  right: 0;
}
.trade-steps .trade-step .trade-step-label {
  display: inline-block;
  position: relative;
  margin-bottom: 10px;
  white-space: nowrap;
  font-size: 14px;
}
.trade-steps .trade-step .trade-round {
  -webkit-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.35), inset 0px 3px 1px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.35), inset 0px 3px 1px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.35), inset 0px 3px 1px 0px rgba(0, 0, 0, 0.08);
  border: 1px solid transparent;
  color: #cccccc;
  font-size: 24px;
  height: 32px;
  line-height: 30px;
  width: 32px;
  -webkit-border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50%;
  -moz-background-clip: padding;
  border-radius: 50%;
  background-clip: padding-box;
  text-align: center;
  position: relative;
  z-index: 1;
  background: #f2f2f2;
  font-family: 'arial black', 'arial';
}
.trade-steps .trade-step .trade-bar {
  height: 8px;
  position: absolute;
  left: 25px;
  width: 100%;
  background: #f2f2f2;
  padding: 2px 0;
  -webkit-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.35), inset 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.35), inset 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.35), inset 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  top: 41px;
}
.trade-steps .trade-step .trade-bar .trade-bar-progress {
  height: 4px;
  position: relative;
  z-index: 1;
}
.trade-steps .trade-step .trade-bar.trade-half-progress .trade-bar-progress {
  width: 50%;
}
.trade-steps .trade-step.trade-step-done .trade-round {
  padding: 4px;
}
.trade-steps .trade-step.trade-step-done .trade-round i {
  background: #c41411;
  display: block;
  -webkit-border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50%;
  -moz-background-clip: padding;
  border-radius: 50%;
  background-clip: padding-box;
  color: #fff;
  height: 22px;
  width: 22px;
  font-size: 17px;
  padding-top: 2px;
}
.trade-steps .trade-step.trade-step-done .trade-bar-progress {
  background: #c41411;
}
.trade-steps .trade-step.trade-current-step .trade-round {
  padding: 4px;
}
.trade-steps .trade-step.trade-current-step .trade-round i {
  background: #c41411;
  display: block;
  -webkit-border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50%;
  -moz-background-clip: padding;
  border-radius: 50%;
  background-clip: padding-box;
  color: #fff;
  height: 22px;
  width: 22px;
  font-size: 17px;
  padding-top: 2px;
}
.trade-steps .trade-mid-step.trade-step-done .trade-round,
.trade-steps .trade-mid-step.trade-current-step .trade-round {
  position: relative;
}
.trade-steps .trade-mid-step.trade-step-done .trade-round:before,
.trade-steps .trade-mid-step.trade-current-step .trade-round:before {
  content: '';
  height: 4px;
  z-index: 1;
  display: block;
  position: absolute;
  width: 6px;
  background: #c41411;
  left: -1px;
  top: 14px;
}
.trade-products-table {
  border: 1px solid #dedede;
  border-bottom: 0;
}
.trade-products-table .trade-table-column {
  border-bottom: 1px solid #dedede;
  border-right: 1px solid #dedede;
  padding: 9px 20px;
}
.trade-products-table .trade-table-column:last-child {
  border-right: 0;
}
.trade-products-table .trade-table-thead {
  background: #eaf7fc;
}
.trade-products-table .trade-table-thead .trade-table-column {
  border-right: 0;
  padding: 3px 20px;
}
.trade-products-table .btn-default {
  background: #f2f2f2;
  border-color: #dedede;
  color: #666666;
  padding: 3px 14px;
}
.trade-products-table .btn-default:hover {
  background: #c41411;
  color: #fff;
  border: #c41411;
}
.trade-total-block {
  margin-top: 50px;
  min-width: 204px;
  text-align: center;
}
.trade-total-block label.trade-label {
  min-width: 78px;
  text-align: right;
  display: inline-block;
}
.trade-total-block span.trade-label {
  display: inline-block;
  min-width: 43px;
  text-align: left;
}
.trade-total-block hr {
  margin: 10px 0;
}
.trade-total-block strong {
  vertical-align: middle;
}
.trade-total-block .trade-large {
  color: #c41411;
  font-size: 24px;
}
