@import "../../common/css/variable";
@import "../../common/css/lesshat";


.trade-refund-listing-block{

  .item-category-pagination{
    float: none;
    text-align: right;

    .sui-pagination{
      margin: 0;
    }

    .sui-pagination ul li{
      &.prev.disabled a{
        background-color: @white;
        color: #cccccc;
      }

      &.active a{
        border-color: transparent;
      }
    }
  }
}

.trade-nav,.trade-nav.sui-nav.nav-tabs{
  margin-bottom: 25px;
  padding: 0;
  border: 0;
  li{
    line-height: 30px;
    padding: 0 40px;
    margin: 0;

    a{
      font-size: 16px;
      color: @tradeNavColor;
      border-bottom: 1px solid transparent;
      padding: 6px 0;


      &:hover{
        color: @loginSidebarLinkHover;
        border-bottom: 1px solid;
        background: transparent;
      }
    }
    &.active{
      a{
        border: 1px solid transparent;
        color: @loginSidebarLinkHover;
        border-bottom: 1px solid;
        background: transparent;
        font-weight: 400;
      }
    }

    &:first-child{
      padding-left: 0;
    }

    & + li{
      border-left: 1px solid @white;
    }
  }
}



