@import "../../common/css/variable";
@import "../../common/css/lesshat";


.trade-refund-listing-block{

  .item-category-pagination{
    float: none;
    text-align: right;

    .sui-pagination{
      margin: 0;
    }

    .sui-pagination ul li{
      &.prev.disabled a{
        background-color: @white;
        color: #cccccc;
      }

      &.active a{
        border-color: transparent;
      }
    }
  }
}

.trade-nav{
  margin-bottom: 25px;
  li{
    line-height: 30px;
    padding: 0 40px;

    a{
      font-size: 16px;
      color: @tradeNavColor;
      border-bottom: 1px solid transparent;
      padding: 6px 0;

      &:hover{
        color: @loginSidebarLinkHover;
        border-bottom: 1px solid;
      }
    }
    &.active{
      a{
        color: @loginSidebarLinkHover;
        border-bottom: 1px solid;
      }
    }
  }
}



