@import "../../common/css/variable";
@import "../../common/css/lesshat";

/*orders listing heading bar start*/
.trade-order-headings-outr{
  background-color: @white;
  padding: 10px 20px;
  display: table;
  width: 100%;
  font-size: 0;

  h2{
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: @baseFontLarge;
    color: @baseTextColor;
    font-weight: normal;
    line-height: normal;

    &.trade-product-order-detail-heading{
      width: 489px;
      text-align: center;
      margin-right:10px;
    }

    &.trade-product-reciver-heading{
      width: 115px;
      text-align: center;
      margin-right: 10px;
    }

    &.trade-product-price-heading{
      width: 115px;
      text-align: center;
      margin-right: 10px;
    }

    &.trade-product-all-states-heading{
      width: 110px;
      text-align: center;
      margin-right: 10px;

      a.dropdown-toggle{
        color: @baseTextColor;
      }
    }

    &.trade-product-operations-heading{
      width: 95px;
      text-align: center;
    }

    .sui-dropup.dropdown-bordered .dropdown-inner, .sui-dropdown.dropdown-bordered .dropdown-inner{
      border: 0;
    }

  }

}
/*orders listing heading bar end*/

/* product order detail row start*/
.trade-single-order-detail-row{
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px solid #cccccc;

  .trade-single-order-baisc-detail{
    background-color: @white;
    padding: 15px 20px;

    p{
      display: inline-block;
      margin: 0;
      margin-right: 30px;
      font-size: @baseFontLarge;
      color: @primaryColorLight;

      span{
        color: @baseTextColor;
      }
    }
    .trade-del-col{
      color: @baseTextColorDark;
      font-size: @baseFontLarge;
    }
  }
  .trade-product-data{
    padding: 25px 20px;
    display: inline-table;
    font-size: 0;
    width: 100%;
    *{
      font-size: @baseFontLarge;
    }

    .trade-name{
      width: 489px;
      margin-right: 10px;
      display: inline-block;
      vertical-align: middle;

      p{
        color: @baseTextColorDark;
        width: 195px;
        margin-left: 18px;
      }

      span{
        margin-left: 30px;
        color: @baseTextColor;

        &.trade-extra-margin{
          margin-left: 66px;
        }
      }
    }

    .trade-receiver-value{
      width: 115px;
      margin-right: 10px;
      display: inline-block;
      text-align: center;
      vertical-align: middle;
    }

    .trade-price-value{
      width: 115px;
      margin-right: 10px;
      display: inline-block;
      color: @primaryColorLight;
      text-align: center;
      vertical-align: middle;
    }

    .trade-status-value{
      width: 110px;
      margin-right: 10px;
      display: inline-block;
      color: @primaryColorLight;
      text-align: center;
      vertical-align: middle;
    }

    .trade-operation-value{
      width: 95px;
      display: inline-block;
      color: @primaryColorLight;
      text-align: center;
      vertical-align: middle;
      padding: 0 2px;

      a{
        display: inline-table;
        margin-bottom: 16px;
        vertical-align: top;

        &.margin-bottom-0{
          margin-bottom: 0;
        }
      }
    }

    p{
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 0;
      font-size: @baseFontLarge;
      margin-left: 22px;
    }
  }
}
/* product order detail row end*/


.trade-normal-a{
 color:@tradeNavColor;

  &:hover{
    color:@tradeNavColor;
  }
}
.after-login-sections-padding .trade-btn-evaluate{
  padding: 6px 16px;
}